$govuk-assets-path: "/api-reference/assets/govuk/assets/";

@import "govuk_tech_docs";

.technical-documentation pre {
  font-family: monospace;
}

.technical-documentation pre code {
  font-size: 14px;
}

@include govuk-media-query(desktop) {
  .flexbox {
    .app-pane__toc {
      width: 400px;
    }
  }
}
