<div class="govuk-grid-row">
  <h2 class="govuk-heading-m confirmed-banner">Your school is registered</h2>
  <div class="govuk-grid-column-two-thirds">
    <p>You can now use your email address to sign in. No password required.</p>
    <p>Sign in to your registered account for more guidance and next steps.</p>
    <%= govuk_link_to "Continue", dashboard_path, button: true %>
  </div>
</div>
