<h3 class="govuk-heading-s">Not mentoring or being mentored</h3>

<% if participants.no_longer_training.any? %>
  <%= govuk_summary_list(actions: false, borders: nil) do |list| %>
    <% participants.no_longer_training.sort_by(&:full_name).each do |participant| %>
      <% list.with_row do |row| %>
        <% row.with_key(text: govuk_link_to(participant.full_name,
                                            path_to_participant(participant.participant_profile, school, index_filter: filter.filtered_by.to_s),
                                            no_visited_state: true),
                   classes: ["govuk-!-font-weight-regular", "govuk-\!-padding-bottom-static-0"]) %>
        <% row.with_value(
               text: render(StatusTags::SchoolParticipantStatusTag.new(
                   participant_profile: participant.participant_profile,
                   induction_record: participant.induction_record,
                   display_description: false)),
               classes: ["govuk-\!-padding-bottom-static-0"]) %>
      <% end %>
    <% end %>
  <% end %>
<% else %>
  <p class="govuk-body">No early career teachers not in training.</p>
<% end %>
