<%= render ::SchoolInformation::Details::BreadcrumbComponent.new(selected_cohort: @selected_cohort) %>

<main class="govuk-main-wrapper govuk-main-wrapper--auto-spacing" id="main-content" role="main">
  <%= render ::SchoolInformation::Details::HeadComponent.new(school: @school, selected_cohort: @selected_cohort) %>
  <%= render ::SchoolInformation::Details::MainInfoComponent.new(school: @school) %>
</main>
