<% content_for :title, t("finance.choose_programme") %>
<% content_for :before_content, govuk_back_link(text: "Back", href: finance_landing_page_path) %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <%= form_for @choose_provider_form, url: finance_banding_tracker_provider_choice_path(programme_choice_id: @choose_provider_form.id) do |f| %>
      <%= f.govuk_error_summary %>
      <h1 class="govuk-heading-xl">Choose provider</h1>
      <%= f.govuk_collection_radio_buttons(
        :id,
        @providers,
        :id,
        :name,
        legend: { hidden: true },
      ) %>
      <%= f.govuk_submit "Continue" %>
    <% end %>
  </div>
</div>
