<% content_for :title, "Add early career teacher or mentor - participant details" %>

<% content_for :before_content, govuk_back_link(
  text: "Back",
  href: schools_cohort_participants_path)
%>

<span class="govuk-caption-l"><%= @school.name %>, <%= @cohort.display_name %> cohort</span>
<h1 class="govuk-heading-l">Enter their personal details</h1>
