<h1 class="govuk-heading-xl">School name</h1>

<h2 class="govuk-heading-l">2021 recruitment</h2>
<p>Number below indicate what the school has entered</p>


<div class="govuk-grid-row">
  <div class="govuk-grid-column-one-third">
    <div class="card">
      <p>11 participants</p>
    </div>
  </div>
  <div class="govuk-grid-column-one-third">
    <div class="card">
      <p>8 Early Career teachers</p>
    </div>
  </div>
  <div class="govuk-grid-column-one-third">
    <div class="card">
      <p>3 mentors</p>
    </div>
  </div>
</div>


<div class="govuk-grid-row">
  <div class="govuk-grid-column-three-quarters">
    <table class="govuk-table">
      <caption class="govuk-table__caption govuk-table__caption--l">School information</caption>
      <tbody class="govuk-table__body">
        <tr class="govuk-table__row">
          <th scope="row" class="govuk-table__header">Local authority</th>
          <td class="govuk-table__cell">Camden</td>
        </tr>
        <tr class="govuk-table__row">
          <th scope="row" class="govuk-table__header">Establishment group</th>
          <td class="govuk-table__cell">XYZ Academy Trust</td>
        </tr>
        <tr class="govuk-table__row">
          <th scope="row" class="govuk-table__header">Characteristics</th>
          <td class="govuk-table__cell">Pupil premium</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
