<% content_for :title, "Delete user" %>
<h1>Do you want to delete this user?</h1>
<p class="govuk-!-font-weight-bold">Supplier user: <span class="govuk-!-font-weight-regular"><%= @lead_provider_user.full_name %></span></p>
<%= form_for :confirmation, url: admin_lead_provider_user_path(@lead_provider_user), method: :delete do |f| %>
  <div class="govuk-button-group">
    <%= f.govuk_submit "Delete", classes: "govuk-button--warning", "data-test": "delete-button" %>
    <%= govuk_button_link_to "Back", edit_admin_lead_provider_user_path(@lead_provider_user), class: "govuk-button--secondary" %>
  </div>
<% end %>
