<%
summary_list.with_row do |row|
  row.with_key(text: 'GOV.UK Notify Template')
  row.with_value(text: govuk_link_to_notify("Not added ECTs yet", "19b5a258-e615-4371-9e55-f9cc58187448"))
end

summary_list.with_row do |row|
  row.with_key(text: 'Recipient criteria')
  row.with_value do %>
    School induction tutors who:
    <ul>
      <li>SITs receive one per relevant school</li>
      <li>School selected FIP or CIP for the current academic year</li>
      <li>No ECTs have been registered for the current year</li>
    </ul>
  <% end %>
<% end %>
