<h1 class="govuk-heading-l">Appropriate bodies</h1>

<%= render SubnavComponent.new do |component| %>
  <%= component.nav_item(path: admin_appropriate_bodies_users_path) do %>
    All users
  <% end %>
<% end %>
