<% content_for :title, "Error: induction tutor nominated" %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-header-xl">An induction tutor has already been nominated</h1>

    <p class="govuk-body">Your school has already nominated an induction tutor to use our service.</p>
    <p class="govuk-body">We have sent links to schools using their email address on our register, Get Information about Schools (GIAS). </p>
    <p class="govuk-body">It will be an administration email, for example, office@, admin@ or head@.</p>
    <h2 class="govuk-heading-m">
      What you can do
    </h2>
    <ul class="govuk-list govuk-list--bullet">
      <li>if you were nominated, <%= govuk_link_to "sign in", new_user_session_path %></li>
      <li>if you were not nominated, check with your colleagues first
      <li>if you don’t know where the email was sent, <%= govuk_link_to "sign in to DfE ", "https://interactions.signin.education.gov.uk//b1563ae6-e207-4f09-857f-a3817c852520/usernamepassword?clientid=services&redirect_uri=https://services.signin.education.gov.uk:443/auth/cb@" %> and check your GIAS email address</li
    </ul>
  </div>
</div>
