<% content_for :title, "Error: induction tutor nominated" %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-header-xl">An induction lead/tutor has already been nominated</h1>

    <p class="govuk-body">Your school has already nominated an induction lead or tutor to use our service.</p>
    <p class="govuk-body">An email would have been sent to your school, with a link to nominate someone.</p>
    <p class="govuk-body">We cannot disclose the email address. It will be an administration email, for example, office@, admin@ or head@</p>

    <h2 class="govuk-heading-m">
      What you can do
    </h2>
    <ul class="govuk-list govuk-list--bullet">
      <li>check with your colleagues</li>
      <li>if you are still not sure, contact: <%= render MailToSupportComponent.new %></li>
    </ul>
  </div>
</div>
