<% content_for :title, "Send induction tutor link" %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-xl">Send your school a link to nominate an induction tutor</h1>
    <p>Your induction tutor is someone at your school who manages statutory inductions for early career teachers.</p>
    <p>They coordinate the training, support and assessment these new teachers receive.
      <p>Induction tutors will use our online service to:
</p>
    <ul class="govuk-list govuk-list--bullet">
      <li>choose how your school wants to run their induction for early career teachers</li>
      <li>complete some steps to set up a programme</li>
    </ul>
    <p>Or</p>
    <ul class="govuk-list govuk-list--bullet govuk-!-margin-bottom-8">
      <li>use the DfE accredited materials</li>
    </ul>
    <h2 class="govuk-heading-m">How to nominate your induction tutor</h2>
    <ul class="govuk-list govuk-list--bullet">
      <li>enter a few details to find your school</li>
      <li>we will send a nomination link to your school's email address on our register, Get Information about Schools (GIAS)</li>
    </ul>
    <%= form_with model: @nomination_request_form, url: choose_location_request_nomination_invite_path, method: :post do |f| %>
      <%= f.govuk_error_summary %>
      <div class="govuk-input--width-30">
        <%= f.govuk_collection_select(
              :local_authority_id,
              @local_authorities,
              :id,
              :name,
              label: { text: "What is your school’s local authority?", class: "govuk-label govuk-label--m" },
              hint: -> { tag.span do
                concat("This is the authority or council in your area. For example, Gloucestershire or Barnet. Not sure? ")
                concat(govuk_link_to("Find your school on our register", "https://get-information-schools.service.gov.uk/"))
              end },
              options: { include_blank: true },
              class: ["js-location-select"]) %>
      </div>
      <%= f.govuk_submit "Continue" %>
    <% end %>
  </div>
</div>
