<% content_for :title, "What’s the name of your school?" %>
<% content_for :before_content, govuk_back_link(text: "Back", href: choose_location_request_nomination_invite_path(continue: true)) %>

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

        <%= form_with model: @nomination_request_form, url: choose_school_request_nomination_invite_path, method: :post do |f| %>

            <%= f.govuk_error_summary %>
            <div class="govuk-form-group">
                <%= f.govuk_collection_select(
                :school_id,
                @nomination_request_form.available_schools,
                :id,
                :name_with_address,
                label: { text: "What’s the name of your school?", tag: 'h1', size: 'xl'  },
                options: { include_blank: true },
                width: 'two-thirds',
                class: ["js-school-select"]) %>
            </div>

        <%= f.govuk_submit "Continue" %>
        <% end %>
    </div>
</div>
