<% content_for :title, "School eligibility" %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-header-xl">
      Your school is only eligible for 2 of our programmes
    </h1>

    <p class="govuk-body">Your school is only eligible to:</p>
    <ul class="govuk-list govuk-list--bullet">
      <li>use the DfE accredited materials</li>
    </ul>
    <p class="govuk-body">Or</p>
    <ul class="govuk-list govuk-list--bullet">
      <li>design and deliver your programme based on the early career framework</li>
    </ul>

    <p class="govuk-body">Your school is not eligible for a programme led by an approved training provider. This
      programme is only open to state funded schools.</p>

    <h2 class="govuk-heading-m">What happens next</h2>
    <p class="govuk-body">You will receive an email shortly. If you have decided to use the DfE accredited materials, we
      will invite you to nominate your induction lead/tutor and access the service.</p>
  </div>
</div>
