<% content_for :title, "Error: email limit" %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-header-xl">You can only send <%= @limit[:max] %> <%= "email".pluralize(@limit[:max]) %> per <%= @limit[:within].inspect %></h1>
    <p>You can try again later.</p>

    <h2 class="govuk-heading-m">If your school has not received this email</h2>
    <p> <%= govuk_link_to "Sign in to DfE", "https://www.get-information-schools.service.gov.uk/" %> and make sure that your GIAS email address is up to date.
    </p>
  </div>
</div>
