<% content_for :title, "Error: school not eligible" %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-header-xl">
      Sorry, teachers cannot serve statutory induction at your school
    </h1>

    <p class="govuk-body">It is only possible for teachers to serve statutory induction at certain institutions.</p>
    <p class="govuk-body">For more details about eligibility,
      <%= govuk_link_to(
            "see our statutory guidance on inductions for early career teachers",
            "https://www.gov.uk/government/publications/induction-for-early-career-teachers-england") %>.</p>
  </div>
</div>
