<% content_for :title, "Send induction tutor link" %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <h1 class="govuk-heading-xl">Send your school a link to use this service</h1>

    <p>We need some information to help us find your school in the Get Information about Schools (GIAS) register.</p>
    <p>We’ll then send a link to the email address held in the register.</p>

    <p>You can <a href="https://services.signin.education.gov.uk/">sign in to the DfE</a> to check that your school’s email address is up to date before you start.</p>

    <%= govuk_button_link_to "Continue", choose_location_request_nomination_invite_path %>
  </div>
</div>
