<% content_for :title, "Request access to this service" %>
<% content_for :before_content, govuk_back_link(text: "Back", href: :back) %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <h1 class="govuk-heading-l">Request access to this service</h1>
    <p class="govuk-body">We send a link to your school's email in the Get Information about Schools (GIAS) register.</p>

    <p class="govuk-body"><%= govuk_button_link_to "Continue", choose_location_request_nomination_invite_path %></p>
    <p class="govuk-body"><%= govuk_link_to "Check your school's email is up to date", "https://services.signin.education.gov.uk/", class: "govuk-link govuk-link--no-visited-state" %></p>

  </div>
</div>
