<% content_for :title, "Send induction tutor link" %>
<% content_for :before_content, govuk_back_link(text: "Back", href: :back) %>

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

        <h1 class="govuk-heading-xl">Send your school a link to use this service</h1>

        <p class="govuk-body">We need some information to help us find your school in the Get Information about Schools (GIAS) register.</p>
        <p class="govuk-body">We’ll then send a link to the email address held in the register.</p>
        <p class="govuk-body govuk-!-margin-bottom-7 govuk-inset-text">You can <%= govuk_link_to "sign in to the DfE", "https://services.signin.education.gov.uk/", class: "govuk-link govuk-link--no-visited-state" %> to check that your school’s email address is up to date before you start.</p>

        <%= govuk_button_link_to "Continue", choose_location_request_nomination_invite_path %>

    </div>
</div>
