<% content_for :title, "Send induction tutor link" %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <h1 class="govuk-heading-xl">Send your school a link to nominate an induction tutor</h1>
    <p>You need to nominate an ‘induction tutor’ to set up your induction programme for early career teachers. 
</p>
    <p>This is someone who can:</p>
    <ul class="govuk-list govuk-list--bullet">
      <li>confirm details about your induction programme</li>
      <li>add information about your early career teachers and mentors</li>
    </ul>
    <p>Schools are sent a unique link to nominate someone but you can send a new link if this has expired or if the email is lost.</p>
    <h2 class="govuk-heading-m">How does this work?</h2>
    <ul class="govuk-list govuk-list--bullet">
      <li>enter a few details to find your school</li>
      <li>we will send a nomination link to your school's email address on our register, Get Information about Schools
        (GIAS)
      </li>
    </ul>
    <%= govuk_link_to "Continue", choose_location_request_nomination_invite_path, button: true %>
  </div>
</div>
