<% content_for :title, "New link sent" %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <%= govuk_panel title: "Your school has been sent a link", body: nil, classes: "govuk-!-margin-bottom-8" %>

    <h2 class="govuk-heading-m">What happens next</h2>
    <ul class="govuk-list govuk-list--bullet">
      <li>your school will receive an email with a link to nominate an induction tutor</li>
      <li>this link will expire in 7 days</li>
      <li>
        we cannot disclose the email address. It will be an administration email, for example, office@, admin@ or head@
      </li>
      <li>
        if your school does not receive this email, ensure your school email address is correct on our register,
        <%= govuk_link_to "Get information about schools", "https://www.get-information-schools.service.gov.uk/" %>
      </li>
      <li>if your school does not receive this email, contact: <%= render MailToSupportComponent.new %></li>
    </ul>
  </div>
</div>
