<% content_for :title, "New link sent" %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <%= govuk_panel title: "Your school has been sent a link", body: nil, classes: "govuk-!-margin-bottom-8" %>

    <h2 class="govuk-heading-m">What happens next</h2>
    <ul class="govuk-list govuk-list--bullet">
      <li>sent to the email address your school has listed on our register, <%= govuk_link_to "Get information about schools", "https://www.get-information-schools.service.gov.uk/" %></li>
      <li>
        your school must follow this link to nominate an induction lead or tutor
      </li>
    </ul>
  </div>
</div>
