<% content_for :title, "New link sent" %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <%= govuk_panel title_text: "Your school has been sent a link", text: nil, classes: "govuk-!-margin-bottom-7" %>

    <p class="govuk-body">We’ve sent a link to the school’s email address at</p>

    <p><strong><%= EmailDecorator::new(@school_email) %></strong></p>

    <h2 class="govuk-heading-m">What happens next</h2>
    <ol class="govuk-list govuk-list--number">
      <li>Check you have received the email.</li>
      <li>Sign in to the service using the link in the email.</li>
      <li>Nominate a new school induction tutor.</li>
      <li>The new induction tutor will get an email with a link to sign in and start using the service.</li>
    </ol>

  </div>
</div>
