<% content_for :title, "Check your school email" %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

  <h1 class="govuk-heading-l">Check your school email</h1>

    <p class="govuk-body">
      We’ve sent an email to
      <strong><%= EmailDecorator::new(@school_email).partial_email %></strong> (redacted for privacy reasons).
    </p>

    <p class="govuk-body">If the email does not arrive within 5 minutes, check the spam or junk folder.</p>
    <p class="govuk-body">You can also
      <%= govuk_link_to "request another link", resend_email_request_nomination_invite_path %>
    </p>
    <p class="govuk-body">If you still need help, contact us:
      <a class="govuk-link govuk-link--no-visited-state" href="mailto:continuing-professional-development@digital.education.gov.uk">
        continuing-professional-development@digital.education.gov.uk
      </a>
    </p>
  </div>
</div>
