<% content_for :title, "New link sent" %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <%= govuk_panel title: "Your school has been sent a link", body: nil, classes: "govuk-!-margin-bottom-8" %>

    <h2 class="govuk-heading-m">What happens next</h2>
    <ul class="govuk-list govuk-list--bullet">
      <li>we have sent a link to your school’s email address on our register, Get information about schools (GIAS)
gister, </li>
      <li>
       it will be an administration email, for example, office@, admin@ or head@
      </li>
       <li>If you don't receive an email, <%= govuk_link_to "sign in to DfE", "https://services.signin.education.gov.uk/" %> and make sure that your GIAS email address is up to date. Then <%= govuk_link_to "send a new link", choose_location_request_nomination_invite_path %></li>
    </ul>
  </div>
</div>
