<main class="govuk-main-wrapper dfe-main-wrapper" id="main-content" role="main">
  <article>
    <div id="course-results">
      <% @course_years.each do |course| %>
        <h1 class="entry-title"><%= course.title %></h1>
        <div class="card">
          <div class="govuk-grid-row">
            <p><%= link_to "Go to self-directed study materials", cip_years_modules_url(course) %></p>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</article>
