<% content_for :title, "Privacy policy" %>

<% if !current_user&.induction_coordinator? ||current_user.privacy_policy_acceptance %>
  <% content_for :before_content, govuk_back_link(text: "Back", href: :back) %>
  <h1 class="govuk-heading-xl">How we look after your personal data</h1>
<% else %>
  <h1 class="govuk-heading-xl">Privacy policy</h1>
  <p>Before you continue, please check our privacy policy</p>
  <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">

  <h2 class="govuk-heading-xl">How we look after your personal data</h2>
<% end %>

<% if current_user&.induction_coordinator? && current_user.privacy_policy_acceptance.blank? %>
  <%= form_tag({ action: :update }, method: :put) do %>
    <%= hidden_field_tag :pp_version, '1.0' %>

    <%= submit_tag "Continue", class: "govuk-button" %>
  <% end %>
<% end %>
