<% content_for :title, "Privacy policy" %>

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

        <h1 class="govuk-heading-l">Privacy policy</h1>

        <% if !@policy.acceptance_required?(current_user) %>
            <% content_for :before_content, govuk_back_link(text: "Back", href: :back) %>
        <% end %>

        <%= sanitize(@policy.html) %>

        <% if @policy.acceptance_required?(current_user) %>
            <%= form_with(url: privacy_policy_path, method: :put) do |f| %>
              <%= hidden_field_tag :policy_id, @policy.id %>

              <%= f.govuk_submit %>
            <% end %>
        <% end %>

    </div>
</div>
