<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    <% if current_user.lead_provider? %>
      <div class="govuk-grid-column-two-thirds">
        <%= render partial: "navigation" %>
        <h1 class="govuk-heading-xl"><%= @lead_provider.name %></h1>
        <h2 class="govuk-heading-m">
          <%= govuk_link_to "Confirm your schools", start_lead_providers_report_schools_path %>
        </h2>
        <p>Tell the Department for Education (DfE) which schools you have confirmed an agreement with.</p>        
      </div>
    <% else %>
      <h1 class="govuk-heading-l">User dashboard</h1>
      <p class="govuk-body"> You are logged in</p>
    <% end %>
  </div>
</div>
