<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    <h1 class="govuk-heading-l">User dashboard</h1>
    <p class="govuk-body"> You are logged in</p>

    <% if @current_user.lead_provider? %>
      <%= govuk_link_to "Go to school search", school_search_path %>
    <% end %>

    <% if @current_user.early_career_teacher? %>
      <h2 class="govuk-heading-l">Your Core Induction Programme</h2>
      <% if @current_user.course_years.each do |course_year| %>
        <p><%= govuk_link_to course_year.title, cip_year_url(course_year) %></p>
      <% end.empty? %>
        <p>You have not been enrolled in Core Induction Programme yet!</p>
      <% end %>
    <% end %>

  </div>
</div>
