<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    <h1 class="govuk-heading-l">User dashboard</h1>
    <div class="govuk-tabs" data-module="govuk-tabs">
      <p> You are logged in</p>
    </div>
  </div>
</div>
