<%= f.govuk_collection_radio_buttons(:body_id,
  appropriate_bodies,
  :id,
  :name,
  legend: { text: title, tag: :h1, size: 'xl' },
  caption: { text: appropriate_body_school_name, size: 'xl' }) do %>

  <div class="govuk-inset-text">
    Remember to contact the appropriate body directly to appoint them for your ECTs, if you have not done so already.
  </div>
<% end %>
