<% appropriate_bodies = @appropriate_body_form.body_choices %>

<% title = "Which type of appropriate body have you appointed?" %>
<% content_for :title, title %>

<% content_for :before_content, govuk_back_link(text: "Back", href: url_for(action: :appropriate_body_type)) %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <%= form_for @appropriate_body_form, url: { action: :update_appropriate_body }, method: :put do |f| %>
      <%= f.govuk_error_summary %>

      <div class="govuk-form-group">
        <h1 class="govuk-label-wrapper">
          <span class="govuk-caption-l">FIX: Cohortless Empty School FIP</span>
          <label class="govuk-label govuk-label--l" for="whichTSH">
            Which type of appropriate body have you appointed?
          </label>
        </h1>

        <div class="govuk-radios" data-module="govuk-radios">
          <div class="govuk-radios__item">
            <input class="govuk-radios__input" id="typeOfBody" name="typeOfBody" type="radio" value="Teaching school hub (TSH)" aria-controls="conditional-[tshOrNot]" aria-expanded="true">
            <label class="govuk-label govuk-radios__label" for="typeOfBody">
              Teaching school hub
            </label>
          </div>

          <div class="govuk-radios__conditional" id="conditional-[tshOrNot]">
            <div class="govuk-form-group">
              <%= f.govuk_collection_select(:body_id,
                                            appropriate_bodies,
                                            :id,
                                            :name,
                                            label: { text: "Which teaching school hub have you appointed?", size: 's' },
                                            options: { include_blank: true },
                                            class: "autocomplete") %>
            </div>
          </div>

          <div class="govuk-radios__item">
            <input class="govuk-radios__input" id="typeOfBody-2" name="typeOfBody" type="radio" value="Educational Success Partners (ESP)">
            <label class="govuk-label govuk-radios__label" for="typeOfBody-2">
              FIX: Educational Success Partners (ESP)
            </label>
          </div>

        </div>
      </div>

      <p class="govuk-body">If any of your ECTs will work with a different appropriate body, you can tell us when you register them later.</p>

      <%= f.govuk_submit "Continue" %>
    <% end %>
  </div>
</div>
