<h3 class="govuk-heading-s"><%= t("finance.ecf.bands.#{band}") %></h3>

<% if band == 3 %>
  <p>Participants over the original band C target up to the new target.</p>
<% end %>

<table class="govuk-table payment-breakdown-table">
  <tbody>
    <tr class="govuk-table__row">
      <th scope="row" class="govuk-table__cell govuk-!-font-weight-regular">Fee per participant</th>
      <td class="govuk-table__cell govuk-table__cell--numeric"><%= number_to_pounds per_participant %></td>
    </tr>
    <tr class="govuk-table__row">
      <th scope="row" class="govuk-table__cell govuk-!-font-weight-regular">Current participants</th>
      <td class="govuk-table__cell govuk-table__cell--numeric"><%= participants %></td>
    </tr>
    <tr class="govuk-table__row">
      <!-- TODO: Add back payments -->
      <th scope="row" class="govuk-table__cell govuk-!-font-weight-regular">Back payment participants</th>
      <td class="govuk-table__cell govuk-table__cell--numeric">0</td>
    </tr>
    <tr class="govuk-table__row">
      <th scope="row" class="govuk-table__cell">Payment</th>
      <td class="govuk-table__cell govuk-table__cell--numeric govuk-!-font-weight-bold"><%= number_to_pounds subtotal %></td>
    </tr>
  </tbody>
</table>
