<tr class="govuk-table__row">
  <td class="govuk-table__cell"><%= band %></td>
  <td class="govuk-table__cell govuk-table__cell--numeric"><%= participants %></td>
  <td class="govuk-table__cell govuk-table__cell--numeric"><%= number_to_pounds per_participant %></td>
  <td class="govuk-table__cell govuk-table__cell--numeric"><%= number_to_pounds subtotal %></td>
</tr>
