<%= render Finance::ECF::OutputPaymentRow.with_collection(output_payments) %>

<h3 class="govuk-heading-s">Participants</h3>
<table class="govuk-table ">
  <thead>
    <tr class="govuk-table__row">
      <th class="govuk-table__header"></th>
      <th class="govuk-table__header"></th>
    </tr>
  </thead>
  <tbody>
    <tr class="govuk-table__row">
      <td class="govuk-table__cell">Total participants paid</td>
      <td class="govuk-table__cell govuk-table__cell--numeric"><%= participants %></td>
    </tr>
    <!--TODO: Add not accepted participants-->
    <tr class="govuk-table__row">
      <td class="govuk-table__cell">Total participants not accepted </td>
      <td class="govuk-table__cell govuk-table__cell--numeric">0</td>
    </tr>
  </tbody>
</table>
