<h1 class="govuk-heading-xl govuk-!-margin-bottom-9">Ambition Institute's handbooks and training outlines</h1>

<h2 class="govuk-heading-l govuk-!-margin-bottom-3">Handbooks</h2>

<p>The programme handbook outlines how Ambition Institute’s coaching and mentoring programme works.</p>
<%= govuk_link_to "ECF Programme Handbook (PDF, 107 KB, 10 pages)",
                      "https://www.early-career-framework.education.gov.uk/ambition/wp-content/uploads/sites/3/2020/08/Ambition-EarlyCareerTeachers_2020_ProgrammeHandbook.pdf" %>

<p>The lead handbook provides an overview of your role and responsibilities.</p>
<%= govuk_link_to "ECF Lead Handbook (PDF, 102 KB, 12 pages)",
                      "https://www.early-career-framework.education.gov.uk/ambition/wp-content/uploads/sites/3/2020/09/Ambition-EarlyCareerTeachers_2020_LeadHandbook_Guidebook_Edit-1-1.pdf" %>

<h2 class="govuk-heading-l govuk-!-margin-top-9 govuk-!-margin-bottom-3">Training outlines</h2>
<p class="govuk-!-margin-bottom-3">
  These training outlines show what early career teachers will learn in each module during their induction.
</p>
