<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-xl">You can only confirm schools for the cohort that starts in the next academic year
      (<%= Cohort.current.display_name %>).</h1>

    <%= govuk_link_to "Continue", '#', button: true%>
  </div>
</div>
