<tr class="govuk-table__row nhsuk-table__row">
  <td class="govuk-table__cell nhsuk-table__cell">
    <%= declaration_state.state %>
  </td>
  <td class="govuk-table__cell nhsuk-table__cell">
    <%= declaration_state.created_at.to_s(:govuk) %>
  </td>
  <td class="govuk-table__cell nhsuk-table__cell">
    <%= declaration_state.state_reason || 'N/A' %>
  </td>
</tr>
