<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <%= govuk_panel title_text: "Your school’s induction tutor has been changed", text: nil, classes: "govuk-!-margin-bottom-8" %>

    <h2 class="govuk-heading-m">What happens next</h2>
    <p class="govuk-body">We'll email <%= @induction_tutor_form.full_name %> and let them know that you nominated
      them.</p>
    <p class="govuk-body">They can now use this service to:</p>
    <ul class="govuk-list--bullet">
      <li>manage how your school runs your ECT training programme</li>
      <li>add information about your ECTs and mentors</li>
      <li>tell us if things change at your school, for example if ECTs join or not</li>
    </ul>
    <p class="govuk-body">This person is now our contact for ECT training at your school.</p>

    <%= govuk_link_to "Return to manage your training", schools_dashboard_path, class: "govuk-link govuk-link--no-visited-state" %>
  </div>
</div>
