{
  "openapi": "3.0.1",
  "info": {
    "version": "3.0.0",
    "title": "Lead provider API - 3.0.0 (Draft)",
    "contact": {
      "name": "DfE",
      "email": "continuing-professional-development@digital.education.gov.uk"
    },
    "description": "The lead provider API for DfE's manage teacher CPD service. You cannot make calls to this version in any environment. We are sharing as a spec only now - your feedback is welcome"
  },
  "servers": [
    {
      "url": "https://ecf-sandbox.london.cloudapps.digital",
      "description": "Sandbox"
    },
    {
      "url": "/",
      "description": "Current environment"
    },
    {
      "url": "https://manage-training-for-early-career-teachers.education.gov.uk",
      "description": "Production"
    }
  ],
  "paths": {
    "/api/v3/delivery-partners": {
      "get": {
        "summary": "<b>Note, this endpoint is new.</b><br/>Retrieve delivery partners",
        "operationId": "delivery_patrners_get",
        "tags": [
          "delivery partners"
        ],
        "security": [
          {
            "bearerAuth": [

            ]
          }
        ],
        "parameters": [
          {
            "name": "filter",
            "in": "query",
            "schema": {
              "$ref": "#/components/schemas/DeliveryPartnersFilter"
            },
            "style": "deepObject",
            "explode": true,
            "required": false,
            "description": "Refine delivery partners to return.",
            "example": "filter[cohort]=2021"
          },
          {
            "name": "page",
            "in": "query",
            "schema": {
              "$ref": "#/components/schemas/Pagination"
            },
            "style": "deepObject",
            "explode": true,
            "required": false,
            "example": "page[page]=1&page[per_page]=5",
            "description": "Pagination options to navigate through the list of delivery partners."
          },
          {
            "name": "sort",
            "in": "query",
            "schema": {
              "$ref": "#/components/schemas/DeliveryPartnersSort"
            },
            "style": "form",
            "explode": false,
            "required": false,
            "description": "Sort delivery partners being returned.",
            "example": "sort=-updated_at"
          }
        ],
        "responses": {
          "200": {
            "description": "Successfully return a list of delivery partners",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DeliveryPartnersResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UnauthorisedResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/v3/delivery-partners/{id}": {
      "get": {
        "summary": "<b>Note, this endpoint is new.</b><br/>Retrieve a specific delivery partner",
        "operationId": "delivery_patrner_get",
        "tags": [
          "delivery partners"
        ],
        "security": [
          {
            "bearerAuth": [

            ]
          }
        ],
        "parameters": [
          {
            "name": "id",
            "description": "The unique ID of the delivery partner",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            },
            "example": "00acafd3-e6f6-41e7-a770-3207be94f755"
          }
        ],
        "responses": {
          "200": {
            "description": "Successfully return a specific delivery partner",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DeliveryPartnerResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UnauthorisedResponse"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/NotFoundResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/v3/partnerships/ecf": {
      "get": {
        "summary": "<b>Note, this endpoint is new.</b><br/>Retrieve multiple ECF partnerships",
        "operationId": "partnerships_ecf_get",
        "tags": [
          "ECF partnerships"
        ],
        "security": [
          {
            "bearerAuth": [

            ]
          }
        ],
        "parameters": [
          {
            "name": "filter",
            "schema": {
              "$ref": "#/components/schemas/PartnershipsFilter"
            },
            "in": "query",
            "style": "deepObject",
            "explode": true,
            "required": false,
            "description": "Refine partnerships to return.",
            "example": "filter[cohort]=2021,2022"
          },
          {
            "name": "page",
            "in": "query",
            "schema": {
              "$ref": "#/components/schemas/Pagination"
            },
            "style": "deepObject",
            "explode": true,
            "required": false,
            "example": "page[page]=1&page[per_page]=5",
            "description": "Pagination options to navigate through the list of partnerships."
          },
          {
            "name": "sort",
            "in": "query",
            "schema": {
              "$ref": "#/components/schemas/PartnershipsSort"
            },
            "style": "form",
            "explode": false,
            "required": false,
            "description": "Sort partnerships being returned.",
            "example": "sort=-updated_at"
          }
        ],
        "responses": {
          "200": {
            "description": "A list of ECF partnerships",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MultipleECFPartnershipsResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UnauthorisedResponse"
                }
              }
            }
          }
        }
      },
      "post": {
        "summary": "<b>Note, this endpoint is new.</b><br/>Create an ECF partnership with a school and delivery partner",
        "operationId": "partnerships_ecf_post",
        "tags": [
          "ECF partnerships"
        ],
        "security": [
          {
            "bearerAuth": [

            ]
          }
        ],
        "parameters": [

        ],
        "responses": {
          "200": {
            "description": "Create an ECF partnership",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ECFPartnershipResponse"
                },
                "examples": {
                  "success": {
                    "value": {
                      "data": {
                        "id": "cd3a12347-7308-4879-942a-c4a70ced400a",
                        "type": "partnership",
                        "attributes": {
                          "cohort": 2021,
                          "urn": "123456",
                          "school_id": "dd4a11347-7308-4879-942a-c4a70ced400v",
                          "delivery_partner_id": "db2fbf67-b7b7-454f-a1b7-0020411e2314",
                          "delivery_partner_name": "Delivery Partner Example",
                          "status": "active",
                          "challenged_reason": null,
                          "challenged_at": null,
                          "induction_tutor_name": "John Doe",
                          "induction_tutor_email": "john.doe@example.com",
                          "updated_at": "2021-05-31T02:22:32.000Z",
                          "created_at": "2021-05-31T02:22:32.000Z"
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UnauthorisedResponse"
                }
              }
            }
          },
          "422": {
            "description": "Unprocessable entity",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ECFPartnershipRequestErrorResponse"
                }
              }
            }
          }
        },
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ECFPartnershipRequest"
              }
            }
          },
          "required": true
        }
      }
    },
    "/api/v3/partnerships/ecf/{id}": {
      "get": {
        "summary": "<b>Note, this endpoint is new.</b><br/>Get a single ECF partnership",
        "operationId": "partnerships_ecf_get",
        "tags": [
          "ECF partnerships"
        ],
        "security": [
          {
            "bearerAuth": [

            ]
          }
        ],
        "parameters": [
          {
            "name": "id",
            "description": "The unique ID of the partnership",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            },
            "example": "00acafd3-e6f6-41e7-a770-3207be94f755"
          }
        ],
        "responses": {
          "200": {
            "description": "A single partnership",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ECFPartnershipResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UnauthorisedResponse"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/NotFoundResponse"
                }
              }
            }
          }
        }
      },
      "put": {
        "summary": "<b>Note, this endpoint is new.</b><br/>Update a partnership’s delivery partner in an existing partnership in a cohort",
        "operationId": "partnerships_ecf_put",
        "tags": [
          "ECF partnerships"
        ],
        "security": [
          {
            "bearerAuth": [

            ]
          }
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "example": "28c461ee-ffc0-4e56-96bd-788579a0ed75",
            "description": "The ID of the partnership to update",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Update an ECF partnership",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ECFPartnershipResponse"
                },
                "examples": {
                  "success": {
                    "value": {
                      "data": {
                        "id": "cd3a12347-7308-4879-942a-c4a70ced400a",
                        "type": "partnership",
                        "attributes": {
                          "cohort": 2021,
                          "urn": "123456",
                          "school_id": "dd4a11347-7308-4879-942a-c4a70ced400v",
                          "delivery_partner_id": "db2fbf67-b7b7-454f-a1b7-0020411e2314",
                          "delivery_partner_name": "Delivery Partner Example",
                          "status": "active",
                          "challenged_reason": null,
                          "challenged_at": null,
                          "induction_tutor_name": "John Doe",
                          "induction_tutor_email": "john.doe@example.com",
                          "updated_at": "2021-05-31T02:22:32.000Z",
                          "created_at": "2021-05-31T02:22:32.000Z"
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UnauthorisedResponse"
                }
              }
            }
          },
          "422": {
            "description": "Unprocessable entity",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ECFPartnershipRequestErrorResponse"
                }
              }
            }
          }
        },
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ECFPartnershipUpdateRequest"
              }
            }
          },
          "required": true
        }
      }
    },
    "/api/v3/schools/ecf": {
      "get": {
        "summary": "<b>Note, this endpoint is new.</b><br/>Retrieve multiple ECF schools scoped to cohort",
        "operationId": "school_ecf_get",
        "tags": [
          "ECF schools"
        ],
        "security": [
          {
            "bearerAuth": [

            ]
          }
        ],
        "parameters": [
          {
            "name": "filter",
            "schema": {
              "$ref": "#/components/schemas/ECFSchoolsFilter"
            },
            "in": "query",
            "style": "deepObject",
            "explode": true,
            "required": true,
            "description": "Refine schools to return.",
            "example": "filter[cohort]=2021&filter[urn]=106286"
          },
          {
            "name": "page",
            "in": "query",
            "schema": {
              "$ref": "#/components/schemas/Pagination"
            },
            "style": "deepObject",
            "explode": true,
            "required": false,
            "example": "page[page]=1&page[per_page]=5",
            "description": "Pagination options to navigate through the list of schools."
          },
          {
            "name": "sort",
            "in": "query",
            "schema": {
              "$ref": "#/components/schemas/ECFSchoolsSort"
            },
            "style": "form",
            "explode": false,
            "required": false,
            "description": "Sort schools being returned.",
            "example": "sort=-updated_at"
          }
        ],
        "responses": {
          "200": {
            "description": "A list of schools for the given cohort",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MultipleECFSchoolsResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UnauthorisedResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/v3/schools/ecf/{id}": {
      "get": {
        "summary": "<b>Note, this endpoint is new.</b><br/>Get a single ECF school scoped to cohort",
        "operationId": "school_ecf_get",
        "tags": [
          "ECF schools"
        ],
        "security": [
          {
            "bearerAuth": [

            ]
          }
        ],
        "parameters": [
          {
            "name": "filter",
            "schema": {
              "$ref": "#/components/schemas/ECFSchoolsFilter"
            },
            "in": "query",
            "style": "deepObject",
            "explode": true,
            "required": true,
            "description": "Refine schools to return.",
            "example": "filter[cohort]=2021"
          }
        ],
        "responses": {
          "200": {
            "description": "A single school",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ECFSchoolResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UnauthorisedResponse"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/NotFoundResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/v3/npq-applications": {
      "get": {
        "summary": "Retrieve multiple NPQ applications",
        "operationId": "npq_applications",
        "tags": [
          "NPQ applications"
        ],
        "security": [
          {
            "bearerAuth": [

            ]
          }
        ],
        "parameters": [
          {
            "name": "filter",
            "in": "query",
            "schema": {
              "$ref": "#/components/schemas/NPQApplicationsFilter"
            },
            "style": "deepObject",
            "explode": true,
            "required": false,
            "description": "Refine NPQ applications to return.",
            "example": "filter[cohort]=2021,2022&filter[participant_id]=7e5bcdbf-c818-4961-8da5-439cab1984e0,c2a7ef98-bbfc-48c5-8f02-d484071d2165&filter[updated_since]=2020-11-13T11:21:55Z"
          },
          {
            "name": "page",
            "in": "query",
            "schema": {
              "$ref": "#/components/schemas/Pagination"
            },
            "style": "deepObject",
            "explode": true,
            "required": false,
            "example": "page[page]=1&page[per_page]=5",
            "description": "Pagination options to navigate through the list of NPQ applications."
          },
          {
            "name": "sort",
            "in": "query",
            "schema": {
              "$ref": "#/components/schemas/NPQApplicationsSort"
            },
            "style": "form",
            "explode": false,
            "required": false,
            "description": "Sort NPQ applications being returned.",
            "example": "sort=-updated_at"
          }
        ],
        "responses": {
          "200": {
            "description": "A list of NPQ applications",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MultipleNPQApplicationsResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UnauthorisedResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/v3/npq-applications/{id}": {
      "get": {
        "summary": "Get a single NPQ application",
        "operationId": "npq_application",
        "tags": [
          "NPQ applications"
        ],
        "security": [
          {
            "bearerAuth": [

            ]
          }
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "example": "28c461ee-ffc0-4e56-96bd-788579a0ed75",
            "description": "The ID of the NPQ application.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "A single NPQ application",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/NPQApplicationResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UnauthorisedResponse"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/NotFoundResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/v3/npq-applications/{id}/accept": {
      "post": {
        "summary": "Accept an NPQ application",
        "operationId": "npq_applications_accept",
        "tags": [
          "NPQ applications"
        ],
        "security": [
          {
            "bearerAuth": [

            ]
          }
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "example": "28c461ee-ffc0-4e56-96bd-788579a0ed75",
            "description": "The ID of the NPQ application to accept.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The NPQ application being accepted",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/NPQApplicationResponse"
                },
                "examples": {
                  "success": {
                    "value": {
                      "data": {
                        "id": "db3a7848-7308-4879-942a-c4a70ced400a",
                        "type": "npq_application",
                        "attributes": {
                          "participant_id": "7a8fef46-3c43-42c0-b3d5-1ba5904ba562",
                          "full_name": "Isabelle MacDonald",
                          "email": "isabelle.macdonald2@some-school.example.com",
                          "email_validated": true,
                          "teacher_reference_number": "1234567",
                          "teacher_reference_number_validated": true,
                          "works_in_school": true,
                          "employer_name": "Some Company Ltd",
                          "employment_role": "Director",
                          "school_urn": "106286",
                          "private_childcare_provider_urn": "EY944860",
                          "school_ukprn": "10079319",
                          "headteacher_status": "no",
                          "eligible_for_funding": true,
                          "funding_choice": "trust",
                          "course_identifier": "npq-leading-teaching",
                          "status": "accepted",
                          "created_at": "2021-05-31T02:21:32.000Z",
                          "updated_at": "2021-05-31T02:22:32.000Z",
                          "ineligible_for_funding_reason": "establishment-ineligible",
                          "cohort": "2022",
                          "targeted_delivery_funding_eligibility": true,
                          "teacher_catchment": true,
                          "teacher_catchment_country": "France",
                          "teacher_catchment_iso_country_code": "FRA",
                          "lead_mentor": true,
                          "itt_provider": "University of Southampton"
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UnauthorisedResponse"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/NotFoundResponse"
                }
              }
            }
          },
          "422": {
            "description": "Unprocessable Entity",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/NPQApplicationAcceptErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/v3/npq-applications/{id}/reject": {
      "post": {
        "summary": "Reject an NPQ application",
        "operationId": "npq_applications_reject",
        "tags": [
          "NPQ applications"
        ],
        "security": [
          {
            "bearerAuth": [

            ]
          }
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "example": "14b1b4ab-fa81-4f7a-b4b5-f632412e8c5c",
            "description": "The ID of the NPQ application to reject.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The NPQ application being rejected",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/NPQApplicationResponse"
                },
                "examples": {
                  "success": {
                    "value": {
                      "data": {
                        "id": "db3a7848-7308-4879-942a-c4a70ced400a",
                        "type": "npq_application",
                        "attributes": {
                          "participant_id": "7a8fef46-3c43-42c0-b3d5-1ba5904ba562",
                          "full_name": "Isabelle MacDonald",
                          "email": "isabelle.macdonald2@some-school.example.com",
                          "email_validated": true,
                          "teacher_reference_number": "1234567",
                          "teacher_reference_number_validated": true,
                          "works_in_school": true,
                          "employer_name": "Some Company Ltd",
                          "employment_role": "Director",
                          "school_urn": "106286",
                          "private_childcare_provider_urn": "EY944860",
                          "school_ukprn": "10079319",
                          "headteacher_status": "no",
                          "eligible_for_funding": true,
                          "funding_choice": "trust",
                          "course_identifier": "npq-leading-teaching",
                          "status": "rejected",
                          "created_at": "2021-05-31T02:21:32.000Z",
                          "updated_at": "2021-05-31T02:22:32.000Z",
                          "ineligible_for_funding_reason": "establishment-ineligible",
                          "cohort": "2022",
                          "targeted_delivery_funding_eligibility": true,
                          "teacher_catchment": true,
                          "teacher_catchment_country": "France",
                          "teacher_catchment_iso_country_code": "FRA",
                          "lead_mentor": true,
                          "itt_provider": "University of Southampton"
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UnauthorisedResponse"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/NotFoundResponse"
                }
              }
            }
          },
          "422": {
            "description": "Unprocessable Entity",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/NPQApplicationRejectErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/v3/participants/npq/outcomes": {
      "get": {
        "summary": "<b>Note, this endpoint includes updated specifications.</b><br/>List all participant NPQ outcomes",
        "operationId": "participant_outcomes",
        "tags": [
          "Participants Outcomes"
        ],
        "security": [
          {
            "bearerAuth": [

            ]
          }
        ],
        "parameters": [
          {
            "name": "filter",
            "in": "query",
            "schema": {
              "$ref": "#/components/schemas/ListFilter"
            },
            "style": "deepObject",
            "explode": true,
            "required": false,
            "description": "Refine participant outcomes to return.",
            "example": "filter[cohort]=2022&filter[created_since]=2020-11-13T11:21:55Z"
          },
          {
            "name": "page",
            "in": "query",
            "schema": {
              "$ref": "#/components/schemas/Pagination"
            },
            "style": "deepObject",
            "explode": true,
            "required": false,
            "example": "page[page]=1&page[per_page]=5",
            "description": "Pagination options to navigate through the list of participant NPQ outcomes."
          }
        ],
        "responses": {
          "200": {
            "description": "A list of participant outcomes",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/NPQOutcomesResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UnauthorisedResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/v3/participants/npq/{participant_id}/outcomes": {
      "get": {
        "summary": "Retrieve NPQ outcomes for the specified participant",
        "operationId": "npq_outcome_get",
        "tags": [
          "outcomes"
        ],
        "security": [
          {
            "bearerAuth": [

            ]
          }
        ],
        "parameters": [
          {
            "name": "participant_id",
            "description": "The unique ID of the participant",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            },
            "example": "70885c85-f52b-45fe-b969-e09a93ffc6ee"
          }
        ],
        "responses": {
          "200": {
            "description": "Successfully return NPQ outcomes",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/NPQOutcomesResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UnauthorisedResponse"
                }
              }
            }
          }
        }
      },
      "post": {
        "summary": "Submit an NPQ outcome",
        "operationId": "npq_outcome_post",
        "tags": [
          "outcomes"
        ],
        "security": [
          {
            "bearerAuth": [

            ]
          }
        ],
        "parameters": [
          {
            "name": "participant_id",
            "description": "The unique ID of the participant",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            },
            "example": "70885c85-f52b-45fe-b969-e09a93ffc6ee"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/NPQOutcomeRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successfully submit an NPQ outcome",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/NPQOutcomeResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UnauthorisedResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/v3/participants/npq": {
      "get": {
        "summary": "<b>Note, this endpoint includes updated specifications.</b><br/>Retrieve multiple NPQ participants",
        "operationId": "npq_participants",
        "tags": [
          "NPQ participants"
        ],
        "security": [
          {
            "bearerAuth": [

            ]
          }
        ],
        "parameters": [
          {
            "name": "filter",
            "in": "query",
            "schema": {
              "$ref": "#/components/schemas/ListFilter"
            },
            "style": "deepObject",
            "explode": true,
            "required": false,
            "description": "Refine NPQ participants to return.",
            "example": "updated_since=2020-11-13T11:21:55Z"
          },
          {
            "name": "page",
            "in": "query",
            "schema": {
              "$ref": "#/components/schemas/Pagination"
            },
            "style": "deepObject",
            "explode": true,
            "required": false,
            "example": "page[page]=1&page[per_page]=5",
            "description": "Pagination options to navigate through the list of NPQ participants."
          },
          {
            "name": "sort",
            "in": "query",
            "schema": {
              "$ref": "#/components/schemas/NPQParticipantsSort"
            },
            "style": "form",
            "explode": false,
            "required": false,
            "description": "Sort NPQ participants being returned.",
            "example": "sort=-updated_at"
          }
        ],
        "responses": {
          "200": {
            "description": "A list of NPQ participants",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MultipleNPQParticipantsResponse"
                },
                "examples": {
                  "success": {
                    "value": {
                      "data": [
                        {
                          "id": "ac3d1243-7308-4879-942a-c4a70ced400a",
                          "type": "npq-participant",
                          "attributes": {
                            "full_name": "Isabelle MacDonald",
                            "teacher_reference_number": "1234567",
                            "updated_at": "2021-05-31T02:22:32.000Z",
                            "npq_enrolments": [
                              {
                                "email": "isabelle.macdonald2@some-school.example.com",
                                "course_identifier": "npq-senior-leadership",
                                "schedule_identifier": "npq-leadership-autumn",
                                "cohort": "2021",
                                "npq_application_id": "db3a7848-7308-4879-942a-c4a70ced400a",
                                "eligible_for_funding": true,
                                "training_status": "active",
                                "school_urn": "123456",
                                "targeted_delivery_funding_eligibility": true,
                                "withdrawal": null,
                                "deferral": null,
                                "created_at": "2021-05-31T02:22:32.000Z"
                              }
                            ]
                          }
                        }
                      ]
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UnauthorisedResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/v3/participants/npq/{id}": {
      "get": {
        "summary": "<b>Note, this endpoint includes updated specifications.</b><br/>Get a single NPQ participant",
        "operationId": "npq_participant",
        "tags": [
          "NPQ participants"
        ],
        "security": [
          {
            "bearerAuth": [

            ]
          }
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "example": "28c461ee-ffc0-4e56-96bd-788579a0ed75",
            "description": "The ID of the NPQ participant.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "A single NPQ participant",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/NPQParticipantResponse"
                },
                "examples": {
                  "success": {
                    "value": {
                      "data": {
                        "id": "db3a7848-7308-4879-942a-c4a70ced400a",
                        "type": "npq-participant",
                        "attributes": {
                          "full_name": "Isabelle MacDonald",
                          "teacher_reference_number": "1234567",
                          "updated_at": "2021-05-31T02:22:32.000Z",
                          "npq_enrolments": [
                            {
                              "email": "isabelle.macdonald2@some-school.example.com",
                              "course_identifier": "npq-senior-leadership",
                              "schedule_identifier": "npq-leadership-autumn",
                              "cohort": "2021",
                              "npq_application_id": "db3a7848-7308-4879-942a-c4a70ced400a",
                              "eligible_for_funding": true,
                              "training_status": "deferred",
                              "school_urn": "123456",
                              "targeted_delivery_funding_eligibility": true,
                              "withdrawal": null,
                              "deferral": null,
                              "created_at": "2021-05-31T02:22:32.000Z"
                            }
                          ]
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UnauthorisedResponse"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/NotFoundResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/v3/participants/npq/{id}/change-schedule": {
      "put": {
        "summary": "<b>Note, this endpoint includes updated specifications.</b><br/>Notify that an NPQ participant is changing training schedule",
        "operationId": "npq_participant",
        "tags": [
          "NPQ Participant"
        ],
        "security": [
          {
            "bearerAuth": [

            ]
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/NPQParticipantChangeScheduleRequest"
              }
            }
          }
        },
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "example": "28c461ee-ffc0-4e56-96bd-788579a0ed75",
            "description": "The ID of the participant",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The NPQ participant changing schedule",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/NPQParticipantResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/v3/participants/npq/{id}/defer": {
      "put": {
        "summary": "<b>Note, this endpoint includes updated specifications.</b><br/>Notify that an NPQ participant is taking a break from their course",
        "operationId": "npq_participant",
        "tags": [
          "NPQ Participant"
        ],
        "security": [
          {
            "bearerAuth": [

            ]
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/NPQParticipantDeferRequest"
              }
            }
          }
        },
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "example": "28c461ee-ffc0-4e56-96bd-788579a0ed75",
            "description": "The ID of the participant to defer",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The NPQ participant being deferred",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/NPQParticipantResponse"
                },
                "examples": {
                  "success": {
                    "value": {
                      "data": {
                        "id": "db3a7848-7308-4879-942a-c4a70ced400a",
                        "type": "npq-participant",
                        "attributes": {
                          "full_name": "Isabelle MacDonald",
                          "teacher_reference_number": "1234567",
                          "updated_at": "2021-05-31T02:22:32.000Z",
                          "npq_enrolments": [
                            {
                              "email": "isabelle.macdonald2@some-school.example.com",
                              "course_identifier": "npq-senior-leadership",
                              "schedule_identifier": "npq-leadership-autumn",
                              "cohort": "2021",
                              "npq_application_id": "db3a7848-7308-4879-942a-c4a70ced400a",
                              "eligible_for_funding": true,
                              "training_status": "deferred",
                              "school_urn": "123456",
                              "targeted_delivery_funding_eligibility": true,
                              "withdrawal": null,
                              "deferral": {
                                "reason": "other",
                                "date": "2022-12-09T16:07:38Z"
                              },
                              "created_at": "2021-05-31T02:22:32.000Z"
                            }
                          ]
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/v3/participants/npq/{id}/resume": {
      "put": {
        "summary": "<b>Note, this endpoint includes updated specifications.</b><br/>Notify that an NPQ participant is resuming their course",
        "operationId": "npq_participant",
        "tags": [
          "NPQ Participant"
        ],
        "security": [
          {
            "bearerAuth": [

            ]
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/NPQParticipantResumeRequest"
              }
            }
          }
        },
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "example": "28c461ee-ffc0-4e56-96bd-788579a0ed75",
            "description": "The ID of the participant to resume",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The NPQ participant being resumed",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/NPQParticipantResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/v3/participants/npq/{id}/withdraw": {
      "put": {
        "summary": "<b>Note, this endpoint includes updated specifications.</b><br/>Withdrawn a participant from a course",
        "operationId": "npq_participants",
        "tags": [
          "NPQ Participant"
        ],
        "security": [
          {
            "bearerAuth": [

            ]
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/NPQParticipantWithdrawRequest"
              }
            }
          }
        },
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "example": "28c461ee-ffc0-4e56-96bd-788579a0ed75",
            "description": "The ID of the participant to withdraw",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The NPQ participant being withdrawn",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/NPQParticipantResponse"
                },
                "examples": {
                  "success": {
                    "value": {
                      "data": {
                        "id": "db3a7848-7308-4879-942a-c4a70ced400a",
                        "type": "npq-participant",
                        "attributes": {
                          "full_name": "Isabelle MacDonald",
                          "teacher_reference_number": "1234567",
                          "updated_at": "2021-05-31T02:22:32.000Z",
                          "npq_enrolments": [
                            {
                              "email": "isabelle.macdonald2@some-school.example.com",
                              "course_identifier": "npq-senior-leadership",
                              "schedule_identifier": "npq-leadership-autumn",
                              "cohort": "2021",
                              "npq_application_id": "db3a7848-7308-4879-942a-c4a70ced400a",
                              "eligible_for_funding": true,
                              "training_status": "withdrawn",
                              "school_urn": "123456",
                              "targeted_delivery_funding_eligibility": true,
                              "withdrawal": {
                                "reason": "insufficient-capacity",
                                "date": "2022-12-09T16:07:38Z"
                              },
                              "deferral": null,
                              "created_at": "2021-05-31T02:22:32.000Z"
                            }
                          ]
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "422": {
            "description": "Unprocessable entity",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/v3/participant-declarations": {
      "post": {
        "summary": "<b>Note, this endpoint includes updated specifications.</b><br/>Declare a participant has reached a milestone. Idempotent endpoint - submitting exact copy of a request will return the same response body as submitting it the first time.",
        "operationId": "participant_declarations",
        "tags": [
          "Participant declarations"
        ],
        "security": [
          {
            "bearerAuth": [

            ]
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ParticipantDeclarationRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SingleParticipantDeclarationResponse"
                },
                "examples": {
                  "success_ecf": {
                    "value": {
                      "data": {
                        "id": "db3a7848-7308-4879-942a-c4a70ced400a",
                        "type": "participant-declaration",
                        "attributes": {
                          "participant_id": "08d78829-f864-417f-8a30-cb7655714e28",
                          "declaration_type": "started",
                          "declaration_date": "2020-11-13T11:21:55Z",
                          "course_identifier": "ecf-induction",
                          "state": "eligible",
                          "updated_at": "2020-11-13T11:21:55Z",
                          "created_at": "2020-11-13T11:21:55Z",
                          "delivery_partner_id": "99ca2223-8c1f-4ac8-985d-a0672e97694e",
                          "statement_id": "99ca2223-8c1f-4ac8-985d-a0672e97694e",
                          "clawback_statement_id": null,
                          "ineligible_for_funding_reason": null,
                          "mentor_id": "907f61ed-5770-4d38-b22c-1a4265939378",
                          "uplift_paid": true,
                          "evidence_held": "other",
                          "has_passed": null
                        }
                      }
                    }
                  },
                  "success_npq": {
                    "value": {
                      "data": {
                        "id": "db3a7848-7308-4879-942a-c4a70ced400a",
                        "type": "participant-declaration",
                        "attributes": {
                          "participant_id": "bf3c6251-f2a0-4690-a859-0fbecc6ed151",
                          "declaration_type": "started",
                          "declaration_date": "2020-11-13T11:21:55Z",
                          "course_identifier": "npq-leading-teaching",
                          "state": "eligible",
                          "updated_at": "2020-11-13T11:21:55Z",
                          "created_at": "2020-11-13T11:21:55Z",
                          "delivery_partner_id": null,
                          "statement_id": "1cceffd7-0efd-432a-aedc-7be2d6cc72a2",
                          "clawback_statement_id": null,
                          "ineligible_for_funding_reason": null,
                          "mentor_id": null,
                          "uplift_paid": true,
                          "evidence_held": null,
                          "has_passed": null
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "422": {
            "description": "Bad or Missing parameter",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UnauthorisedResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BadRequestResponse"
                }
              }
            }
          }
        }
      },
      "get": {
        "summary": "<b>Note, this endpoint includes updated specifications.</b><br/>List all participant declarations",
        "operationId": "participant_declarations",
        "tags": [
          "participants declarations"
        ],
        "security": [
          {
            "bearerAuth": [

            ]
          }
        ],
        "parameters": [
          {
            "name": "filter",
            "in": "query",
            "schema": {
              "$ref": "#/components/schemas/ParticipantDeclarationsFilter"
            },
            "style": "deepObject",
            "explode": true,
            "required": false,
            "description": "Refine participant declarations to return.",
            "example": "participant_id=ab3a7848-1208-7679-942a-b4a70eed400a&updated_since=2020-11-13T11:21:55Z"
          },
          {
            "name": "page",
            "in": "query",
            "schema": {
              "$ref": "#/components/schemas/Pagination"
            },
            "style": "deepObject",
            "explode": true,
            "required": false,
            "example": "page[page]=1&page[per_page]=5",
            "description": "Pagination options to navigate through the list of participant declarations."
          }
        ],
        "responses": {
          "200": {
            "description": "A list of participant declarations",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MultipleParticipantDeclarationsResponse"
                },
                "examples": {
                  "success": {
                    "value": {
                      "data": [
                        {
                          "id": "db3a7848-7308-4879-942a-c4a70ced400a",
                          "type": "participant-declaration",
                          "attributes": {
                            "participant_id": "08d78829-f864-417f-8a30-cb7655714e28",
                            "declaration_type": "started",
                            "declaration_date": "2020-11-13T11:21:55Z",
                            "course_identifier": "ecf-induction",
                            "state": "eligible",
                            "updated_at": "2020-11-13T11:21:55Z",
                            "created_at": "2020-11-13T11:21:55Z",
                            "delivery_partner_id": "99ca2223-8c1f-4ac8-985d-a0672e97694e",
                            "statement_id": "99ca2223-8c1f-4ac8-985d-a0672e97694e",
                            "clawback_statement_id": null,
                            "ineligible_for_funding_reason": null,
                            "mentor_id": "907f61ed-5770-4d38-b22c-1a4265939378",
                            "uplift_paid": true,
                            "evidence_held": "other",
                            "has_passed": null
                          }
                        },
                        {
                          "id": "db3a7848-7308-4879-942a-c4a70ced400a",
                          "type": "participant-declaration",
                          "attributes": {
                            "participant_id": "bf3c6251-f2a0-4690-a859-0fbecc6ed151",
                            "declaration_type": "started",
                            "declaration_date": "2020-11-13T11:21:55Z",
                            "course_identifier": "npq-leading-teaching",
                            "state": "eligible",
                            "updated_at": "2020-11-13T11:21:55Z",
                            "created_at": "2020-11-13T11:21:55Z",
                            "delivery_partner_id": null,
                            "statement_id": "1cceffd7-0efd-432a-aedc-7be2d6cc72a2",
                            "clawback_statement_id": null,
                            "ineligible_for_funding_reason": null,
                            "mentor_id": null,
                            "uplift_paid": true,
                            "evidence_held": null,
                            "has_passed": null
                          }
                        }
                      ]
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UnauthorisedResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/v3/participant-declarations/{id}": {
      "get": {
        "summary": "<b>Note, this endpoint includes updated specifications.</b><br/>Get single participant declaration",
        "operationId": "participant_declarations",
        "tags": [
          "participants declaration"
        ],
        "security": [
          {
            "bearerAuth": [

            ]
          }
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "example": "9ed4612b-f8bd-44d9-b296-38ab103fadd2",
            "description": "The ID of the participant declaration ID",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "A single participant declaration",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SingleParticipantDeclarationResponse"
                },
                "examples": {
                  "success_ecf": {
                    "value": {
                      "data": {
                        "id": "db3a7848-7308-4879-942a-c4a70ced400a",
                        "type": "participant-declaration",
                        "attributes": {
                          "participant_id": "08d78829-f864-417f-8a30-cb7655714e28",
                          "declaration_type": "started",
                          "declaration_date": "2020-11-13T11:21:55Z",
                          "course_identifier": "ecf-induction",
                          "state": "eligible",
                          "updated_at": "2020-11-13T11:21:55Z",
                          "created_at": "2020-11-13T11:21:55Z",
                          "delivery_partner_id": "99ca2223-8c1f-4ac8-985d-a0672e97694e",
                          "statement_id": "99ca2223-8c1f-4ac8-985d-a0672e97694e",
                          "clawback_statement_id": null,
                          "ineligible_for_funding_reason": null,
                          "mentor_id": "907f61ed-5770-4d38-b22c-1a4265939378",
                          "uplift_paid": true,
                          "evidence_held": "other",
                          "has_passed": null
                        }
                      }
                    }
                  },
                  "success_npq": {
                    "value": {
                      "data": {
                        "id": "db3a7848-7308-4879-942a-c4a70ced400a",
                        "type": "participant-declaration",
                        "attributes": {
                          "participant_id": "bf3c6251-f2a0-4690-a859-0fbecc6ed151",
                          "declaration_type": "started",
                          "declaration_date": "2020-11-13T11:21:55Z",
                          "course_identifier": "npq-leading-teaching",
                          "state": "eligible",
                          "updated_at": "2020-11-13T11:21:55Z",
                          "created_at": "2020-11-13T11:21:55Z",
                          "delivery_partner_id": null,
                          "statement_id": "1cceffd7-0efd-432a-aedc-7be2d6cc72a2",
                          "clawback_statement_id": null,
                          "ineligible_for_funding_reason": null,
                          "mentor_id": null,
                          "uplift_paid": true,
                          "evidence_held": null,
                          "has_passed": null
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UnauthorisedResponse"
                }
              }
            }
          },
          "404": {
            "description": "Not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/NotFoundResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/v3/participant-declarations/{id}/void": {
      "put": {
        "summary": "<b>Note, this endpoint includes updated specifications.</b><br/>Void a declaration - it will not be soft-deleted",
        "operationId": "participant_declarations",
        "tags": [
          "Participant declarations"
        ],
        "security": [
          {
            "bearerAuth": [

            ]
          }
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "example": "28c461ee-ffc0-4e56-96bd-788579a0ed75",
            "description": "The ID of the declaration to void",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SingleParticipantDeclarationResponse"
                },
                "examples": {
                  "success_ecf": {
                    "value": {
                      "data": {
                        "id": "db3a7848-7308-4879-942a-c4a70ced400a",
                        "type": "participant-declaration",
                        "attributes": {
                          "participant_id": "08d78829-f864-417f-8a30-cb7655714e28",
                          "declaration_type": "started",
                          "declaration_date": "2020-11-13T11:21:55Z",
                          "course_identifier": "ecf-induction",
                          "state": "voided",
                          "updated_at": "2020-11-13T11:21:55Z",
                          "created_at": "2020-11-13T11:21:55Z",
                          "delivery_partner_id": "99ca2223-8c1f-4ac8-985d-a0672e97694e",
                          "statement_id": "99ca2223-8c1f-4ac8-985d-a0672e97694e",
                          "clawback_statement_id": null,
                          "ineligible_for_funding_reason": null,
                          "mentor_id": "907f61ed-5770-4d38-b22c-1a4265939378",
                          "uplift_paid": true,
                          "evidence_held": "other",
                          "has_passed": null
                        }
                      }
                    }
                  },
                  "success_npq": {
                    "value": {
                      "data": {
                        "id": "db3a7848-7308-4879-942a-c4a70ced400a",
                        "type": "participant-declaration",
                        "attributes": {
                          "participant_id": "bf3c6251-f2a0-4690-a859-0fbecc6ed151",
                          "declaration_type": "started",
                          "declaration_date": "2020-11-13T11:21:55Z",
                          "course_identifier": "npq-leading-teaching",
                          "state": "voided",
                          "updated_at": "2020-11-13T11:21:55Z",
                          "created_at": "2020-11-13T11:21:55Z",
                          "delivery_partner_id": null,
                          "statement_id": "1cceffd7-0efd-432a-aedc-7be2d6cc72a2",
                          "clawback_statement_id": null,
                          "ineligible_for_funding_reason": null,
                          "mentor_id": null,
                          "uplift_paid": true,
                          "evidence_held": null,
                          "has_passed": null
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/v3/participants/ecf": {
      "get": {
        "summary": "<b>Note, this endpoint includes updated specifications.</b><br/>Retrieve multiple participants, replaces <code>/api/v3/participants</code>",
        "operationId": "participants",
        "tags": [
          "ECF participants"
        ],
        "security": [
          {
            "bearerAuth": [

            ]
          }
        ],
        "parameters": [
          {
            "name": "filter",
            "in": "query",
            "schema": {
              "$ref": "#/components/schemas/ListFilter"
            },
            "style": "deepObject",
            "explode": true,
            "required": false,
            "description": "Refine ECF participants to return.",
            "example": "filter[cohort]=2022&filter[updated_since]=2020-11-13T11:21:55Z"
          },
          {
            "name": "page",
            "in": "query",
            "schema": {
              "$ref": "#/components/schemas/Pagination"
            },
            "style": "deepObject",
            "explode": true,
            "required": false,
            "example": "page[page]=1&page[per_page]=5",
            "description": "Pagination options to navigate through the list of ECF participants."
          },
          {
            "name": "sort",
            "in": "query",
            "schema": {
              "$ref": "#/components/schemas/ECFParticipantsSort"
            },
            "style": "form",
            "explode": false,
            "required": false,
            "description": "Sort ECF participants being returned.",
            "example": "sort=-updated_at"
          }
        ],
        "responses": {
          "200": {
            "description": "A list of ECF participants",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MultipleECFParticipantsResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UnauthorisedResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/v3/participants/ecf/{id}": {
      "get": {
        "summary": "<b>Note, this endpoint includes updated specifications.</b><br/>Get a single ECF participant",
        "operationId": "ecf_participant",
        "tags": [
          "ECF participants"
        ],
        "security": [
          {
            "bearerAuth": [

            ]
          }
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "example": "28c461ee-ffc0-4e56-96bd-788579a0ed75",
            "description": "The ID of the ECF participant.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "A single ECF participant",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ECFParticipantResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UnauthorisedResponse"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/NotFoundResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/v3/participants/ecf/transfers": {
      "get": {
        "summary": "<b>Note, this endpoint is new.</b><br/>Retrieve multiple ECF participant transfers",
        "operationId": "participants",
        "tags": [
          "participant transfers"
        ],
        "security": [
          {
            "bearerAuth": [

            ]
          }
        ],
        "parameters": [
          {
            "name": "filter",
            "in": "query",
            "schema": {
              "$ref": "#/components/schemas/ListFilter"
            },
            "style": "deepObject",
            "explode": true,
            "required": false,
            "description": "Refine participant transfers to return.",
            "example": "filter[updated_since]=2020-11-13T11:21:55Z"
          },
          {
            "name": "page",
            "in": "query",
            "schema": {
              "$ref": "#/components/schemas/Pagination"
            },
            "style": "deepObject",
            "explode": true,
            "required": false,
            "example": "page[page]=1&page[per_page]=5",
            "description": "Pagination options to navigate through the list of participant transfers."
          }
        ],
        "responses": {
          "200": {
            "description": "A list of ECF participant transfers",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MultipleECFParticipantTransferResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UnauthorisedResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/v3/participants/ecf/{id}/transfers": {
      "get": {
        "summary": "<b>Note, this endpoint is new.</b><br/>Get a single participant's transfers",
        "operationId": "participant_transfers",
        "tags": [
          "participant transfers"
        ],
        "security": [
          {
            "bearerAuth": [

            ]
          }
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "example": "28c461ee-ffc0-4e56-96bd-788579a0ed75",
            "description": "The ID of the ECF participant.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "A single participant's transfers",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ECFParticipantTransferResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UnauthorisedResponse"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/NotFoundResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/v3/participants/ecf/{id}/defer": {
      "put": {
        "summary": "<b>Note, this endpoint includes updated specifications.</b><br/>Notify that an ECF participant is taking a break from their course",
        "operationId": "ecf_participant_defer",
        "tags": [
          "ECF Participant"
        ],
        "security": [
          {
            "bearerAuth": [

            ]
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ECFParticipantDeferRequest"
              }
            }
          }
        },
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "example": "28c461ee-ffc0-4e56-96bd-788579a0ed75",
            "description": "The ID of the participant to defer",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The ECF participant being deferred",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ECFParticipantResponse"
                },
                "examples": {
                  "success": {
                    "value": {
                      "data": {
                        "id": "db3a7848-7308-4879-942a-c4a70ced400a",
                        "type": "participant",
                        "attributes": {
                          "full_name": "Jane Smith",
                          "teacher_reference_number": "1234567",
                          "updated_at": "2021-05-31T02:22:32.000Z",
                          "ecf_enrolments": [
                            {
                              "training_record_id": "000a97ff-d2a9-4779-a397-9bfd9063072e",
                              "email": "jane.smith@some-school.example.com",
                              "mentor_id": "bb36d74a-68a7-47b6-86b6-1fd0d141c590",
                              "school_urn": "106286",
                              "participant_type": "ect",
                              "cohort": "2021",
                              "training_status": "deferred",
                              "participant_status": "active",
                              "teacher_reference_number_validated": true,
                              "eligible_for_funding": true,
                              "pupil_premium_uplift": true,
                              "sparsity_uplift": true,
                              "schedule_identifier": "ecf-standard-january",
                              "delivery_partner_id": "cd3a12347-7308-4879-942a-c4a70ced400a",
                              "withdrawal": null,
                              "deferral": {
                                "reason": "other",
                                "date": "2021-06-31T02:22:32.000Z"
                              },
                              "created_at": "2021-05-31T02:22:32.000Z"
                            }
                          ]
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/v3/participants/ecf/{id}/resume": {
      "put": {
        "summary": "<b>Note, this endpoint includes updated specifications.</b><br/>Notify that an ECF participant is resuming their course",
        "operationId": "ecf_participant_resume",
        "tags": [
          "ECF Participant"
        ],
        "security": [
          {
            "bearerAuth": [

            ]
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ECFParticipantResumeRequest"
              }
            }
          }
        },
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "example": "28c461ee-ffc0-4e56-96bd-788579a0ed75",
            "description": "The ID of the participant to resume",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The ECF participant being resumed",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ECFParticipantResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/v3/participants/ecf/{id}/withdraw": {
      "put": {
        "summary": "<b>Note, this endpoint includes updated specifications.</b><br/>Notify that an ECF participant has withdrawn from their course",
        "operationId": "participant",
        "tags": [
          "ECF Participant"
        ],
        "security": [
          {
            "bearerAuth": [

            ]
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ECFParticipantWithdrawRequest"
              }
            }
          }
        },
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "example": "28c461ee-ffc0-4e56-96bd-788579a0ed75",
            "description": "The ID of the participant to withdraw",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The ECF participant being withdrawn",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ECFParticipantResponse"
                },
                "examples": {
                  "success": {
                    "value": {
                      "data": {
                        "id": "db3a7848-7308-4879-942a-c4a70ced400a",
                        "type": "participant",
                        "attributes": {
                          "full_name": "Jane Smith",
                          "teacher_reference_number": "1234567",
                          "updated_at": "2021-05-31T02:22:32.000Z",
                          "ecf_enrolments": [
                            {
                              "training_record_id": "000a97ff-d2a9-4779-a397-9bfd9063072e",
                              "email": "jane.smith@some-school.example.com",
                              "mentor_id": "bb36d74a-68a7-47b6-86b6-1fd0d141c590",
                              "school_urn": "106286",
                              "participant_type": "ect",
                              "cohort": "2021",
                              "training_status": "withdrawn",
                              "participant_status": "active",
                              "teacher_reference_number_validated": true,
                              "eligible_for_funding": true,
                              "pupil_premium_uplift": true,
                              "sparsity_uplift": true,
                              "schedule_identifier": "ecf-standard-january",
                              "delivery_partner_id": "cd3a12347-7308-4879-942a-c4a70ced400a",
                              "deferral": null,
                              "withdrawal": {
                                "reason": "other",
                                "date": "2021-06-31T02:22:32.000Z"
                              },
                              "created_at": "2021-05-31T02:22:32.000Z"
                            }
                          ]
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/v3/participants/ecf/{id}/change-schedule": {
      "put": {
        "summary": "<b>Note, this endpoint includes updated specifications.</b><br/>Notify that an ECF Participant is changing training schedule",
        "operationId": "ecf_participant_change_schedule",
        "tags": [
          "ECF Participant"
        ],
        "security": [
          {
            "bearerAuth": [

            ]
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ECFParticipantChangeScheduleRequest"
              }
            }
          }
        },
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "example": "28c461ee-ffc0-4e56-96bd-788579a0ed75",
            "description": "The ID of the participant",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The ECF Participant changing schedule",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ECFParticipantResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/v3/unfunded-mentors/ecf": {
      "get": {
        "summary": "<b>Note, this endpoint is new.</b><br/>Retrieve multiple unfunded mentors",
        "operationId": "participants",
        "tags": [
          "unfunded mentors"
        ],
        "security": [
          {
            "bearerAuth": [

            ]
          }
        ],
        "parameters": [
          {
            "name": "filter",
            "in": "query",
            "schema": {
              "$ref": "#/components/schemas/ListFilter"
            },
            "style": "deepObject",
            "explode": true,
            "required": false,
            "description": "Refine unfunded mentors to return.",
            "example": "filter[updated_since]=2020-11-13T11:21:55Z"
          },
          {
            "name": "page",
            "in": "query",
            "schema": {
              "$ref": "#/components/schemas/Pagination"
            },
            "style": "deepObject",
            "explode": true,
            "required": false,
            "example": "page[page]=1&page[per_page]=5",
            "description": "Pagination options to navigate through the list of unfunded mentors."
          },
          {
            "name": "sort",
            "in": "query",
            "schema": {
              "$ref": "#/components/schemas/ECFUnfundedMentorsSort"
            },
            "style": "form",
            "explode": false,
            "required": false,
            "description": "Sort unfunded mentors being returned.",
            "example": "sort=-updated_at"
          }
        ],
        "responses": {
          "200": {
            "description": "A list of unfunded mentors",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MultipleUnfundedMentorsResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UnauthorisedResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/v3/unfunded-mentors/ecf/{id}": {
      "get": {
        "summary": "<b>Note, this endpoint is new.</b><br/>Get a single unfunded mentor",
        "operationId": "unfunded_mentors",
        "tags": [
          "unfunded mentors"
        ],
        "security": [
          {
            "bearerAuth": [

            ]
          }
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "example": "28c461ee-ffc0-4e56-96bd-788579a0ed75",
            "description": "The ID of the unfunded mentor.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "A single unfunded mentor",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UnfundedMentorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UnauthorisedResponse"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/NotFoundResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/v3/statements": {
      "get": {
        "summary": "<b>Note, this endpoint is new.</b><br/>Retrieve financial statements",
        "operationId": "statements_get",
        "tags": [
          "statements"
        ],
        "security": [
          {
            "bearerAuth": [

            ]
          }
        ],
        "parameters": [
          {
            "name": "filter",
            "in": "query",
            "schema": {
              "$ref": "#/components/schemas/StatementsFilter"
            },
            "style": "deepObject",
            "explode": true,
            "required": false,
            "description": "Refine statements to return.",
            "example": "filter[cohort]=2021,2022&filter[type]=ecf"
          },
          {
            "name": "page",
            "in": "query",
            "schema": {
              "$ref": "#/components/schemas/Pagination"
            },
            "style": "deepObject",
            "explode": true,
            "required": false,
            "example": "page[page]=1&page[per_page]=5",
            "description": "Pagination options to navigate through the list of statements."
          }
        ],
        "responses": {
          "200": {
            "description": "A list of statements as part of which the DfE will make output payments for ecf or npq participants",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/StatementsResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UnauthorisedResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/v3/statements/{id}": {
      "get": {
        "summary": "<b>Note, this endpoint is new.</b><br/>Retrieve specific financial statement",
        "operationId": "statement_get",
        "tags": [
          "statements"
        ],
        "security": [
          {
            "bearerAuth": [

            ]
          }
        ],
        "parameters": [
          {
            "name": "id",
            "description": "The unique ID of the statement",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            },
            "example": "fe82db5d-a7ff-42b4-9eb7-19a87bf0ce5f"
          }
        ],
        "responses": {
          "200": {
            "description": "A specific financial statement",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/StatementResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UnauthorisedResponse"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/NotFoundResponse"
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "bearerAuth": {
        "bearerFormat": "string",
        "type": "http",
        "scheme": "bearer"
      }
    },
    "schemas": {
      "BadOrMissingParametersResponse": {
        "description": "Request was missing data or contained invalid data",
        "type": "object",
        "required": [
          "bad_or_missing_parameters"
        ],
        "properties": {
          "bad_or_missing_parameters": {
            "description": "An error message for each bad or missing attribute describing the problems",
            "type": "array",
            "minItems": 1,
            "items": {
              "type": "string"
            },
            "uniqueItems": true,
            "example": [
              "participant_id",
              "declaration_date",
              "declaration_type",
              "course_identifier"
            ]
          }
        }
      },
      "BadRequestResponse": {
        "description": "Bad Request",
        "type": "object",
        "example": {
          "errors": [
            {
              "title": "Bad request",
              "detail": "correct json data structure required. See API docs for reference"
            }
          ]
        },
        "properties": {
          "bad_request": {
            "description": "An error message for bad request",
            "type": "string"
          }
        }
      },
      "DeliveryPartner": {
        "description": "A delivery partner",
        "type": "object",
        "required": [
          "id",
          "type",
          "attributes"
        ],
        "properties": {
          "id": {
            "description": "The unique identifier of the delivery partner",
            "type": "string",
            "format": "uuid",
            "example": "cd3a12347-7308-4879-942a-c4a70ced400a"
          },
          "type": {
            "description": "The data type",
            "type": "string",
            "example": "delivery-partner"
          },
          "attributes": {
            "$ref": "#/components/schemas/DeliveryPartnerAttributes"
          }
        }
      },
      "DeliveryPartnerAttributes": {
        "description": "The data attributes associated with a delivery partner",
        "type": "object",
        "required": [
          "name",
          "created_at",
          "updated_at"
        ],
        "properties": {
          "name": {
            "description": "The name of the delivery partner you are working with",
            "type": "string",
            "nullable": false,
            "example": "Awesome Delivery Partner Ltd"
          },
          "cohort": {
            "description": "The cohorts for which you may report school partnerships with this delivery partner",
            "type": "array",
            "items": {
              "type": "string"
            },
            "example": [
              "2021",
              "2022"
            ]
          },
          "created_at": {
            "description": "The date the delivery partner was created",
            "type": "string",
            "format": "date-time",
            "example": "2021-05-31T02:22:32.000Z"
          },
          "updated_at": {
            "description": "The date the delivery partner was last updated",
            "type": "string",
            "format": "date-time",
            "example": "2021-05-31T02:22:32.000Z"
          }
        }
      },
      "DeliveryPartnerCohortError": {
        "description": "Not a delivery partner you have a relationship with for this cohort",
        "type": "object",
        "properties": {
          "title": {
            "description": "Title of error message",
            "type": "string",
            "enum": [
              "Not a delivery partner you have a relationship with for this cohort"
            ],
            "example": "Not a delivery partner you have a relationship with for this cohort"
          },
          "detail": {
            "description": "Additional info on which cohorts are available",
            "type": "string",
            "example": "Delivery partner is available for 2021 cohort only"
          }
        }
      },
      "DeliveryPartnerResponse": {
        "description": "A delivery partner",
        "type": "object",
        "required": [
          "data"
        ],
        "properties": {
          "data": {
            "$ref": "#/components/schemas/DeliveryPartner"
          }
        }
      },
      "DeliveryPartnersFilter": {
        "description": "Filter delivery partners to return more specific results",
        "type": "object",
        "properties": {
          "cohort": {
            "description": "Return delivery partners from the specified cohort or cohorts. This is a comma delimited string of years.",
            "type": "string",
            "example": [
              20212022
            ]
          }
        }
      },
      "DeliveryPartnersResponse": {
        "description": "A list of delivery partners",
        "type": "object",
        "required": [
          "data"
        ],
        "properties": {
          "data": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/DeliveryPartner"
            }
          }
        }
      },
      "DeliveryPartnersSort": {
        "description": "Sort delivery partners being returned",
        "type": "array",
        "items": {
          "type": "string",
          "enum": [
            "created_at",
            "-created_at",
            "updated_at",
            "-updated_at"
          ]
        }
      },
      "ECFDeferral": {
        "description": "The details of an ECF Participant deferral",
        "type": "object",
        "required": [
          "reason",
          "date"
        ],
        "properties": {
          "reason": {
            "description": "The reason a participant was deferred",
            "type": "string",
            "example": null,
            "enum": [
              "bereavement",
              "long-term-sickness",
              "parental-leave",
              "career-break",
              "other"
            ]
          },
          "date": {
            "description": "The date and time the participant was deferred",
            "type": "string",
            "format": "date-time",
            "example": "2021-05-31T02:22:32.000Z"
          }
        }
      },
      "ECFEnrolment": {
        "description": "The details of an ECF Participant enrolment",
        "type": "object",
        "required": [
          "training_record_id",
          "email",
          "school_urn",
          "participant_type",
          "cohort",
          "training_status",
          "participant_status",
          "teacher_reference_number_validated",
          "eligible_for_funding",
          "pupil_premium_uplift",
          "sparsity_uplift",
          "schedule_identifier",
          "delivery_partner_id",
          "created_at"
        ],
        "properties": {
          "training_record_id": {
            "description": "The unique identifier of the participant training record. Should the DfE dedupe a participant, this value will not change.",
            "type": "string",
            "format": "uuid",
            "example": "000a97ff-d2a9-4779-a397-9bfd9063072e"
          },
          "email": {
            "description": "The email address registered for this ECF participant",
            "type": "string",
            "example": "jane.smith@some-school.example.com"
          },
          "mentor_id": {
            "description": "The unique identifier of this ECF participants mentor",
            "type": "string",
            "nullable": true,
            "example": "bb36d74a-68a7-47b6-86b6-1fd0d141c590",
            "format": "uuid"
          },
          "school_urn": {
            "description": "The Unique Reference Number (URN) of the school that submitted this ECF participant",
            "type": "string",
            "example": "106286"
          },
          "participant_type": {
[...]
