{
  "openapi": "3.0.1",
  "info": {
    "version": "3.0.0",
    "title": "Lead provider API - 3.0.0 (Draft)",
    "contact": {
      "name": "DfE",
      "email": "continuing-professional-development@digital.education.gov.uk"
    },
    "description": "The lead provider API for DfE's manage teacher CPD service. You cannot make calls to this version in any environment. We are sharing as a spec only now - your feedback is welcome"
  },
  "servers": [
    {
      "url": "https://ecf-sandbox.london.cloudapps.digital",
      "description": "Sandbox"
    },
    {
      "url": "/",
      "description": "Current environment"
    },
    {
      "url": "https://manage-training-for-early-career-teachers.education.gov.uk",
      "description": "Production"
    }
  ],
  "paths": {
    "/api/v3/delivery-partners": {
      "get": {
        "summary": "Retrieve delivery partners",
        "operationId": "delivery_patrners_get",
        "tags": [
          "delivery partners"
        ],
        "security": [
          {
            "bearerAuth": [

            ]
          }
        ],
        "parameters": [
          {
            "name": "filter",
            "in": "query",
            "schema": {
              "$ref": "#/components/schemas/DeliveryPartnersFilter"
            },
            "style": "deepObject",
            "explode": true,
            "required": false,
            "description": "Refine delivery partners to return.",
            "example": "filter[cohort]=2021"
          }
        ],
        "responses": {
          "200": {
            "description": "Successfully return a list of delivery partners",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DeliveryPartnersResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UnauthorisedResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/v3/delivery-partners/{id}": {
      "get": {
        "summary": "Retrieve a specific delivery partner",
        "operationId": "delivery_patrner_get",
        "tags": [
          "delivery partners"
        ],
        "security": [
          {
            "bearerAuth": [

            ]
          }
        ],
        "parameters": [
          {
            "name": "id",
            "description": "The unique ID of the delivery partner",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            },
            "example": "00acafd3-e6f6-41e7-a770-3207be94f755"
          }
        ],
        "responses": {
          "200": {
            "description": "Successfully return a specific delivery partner",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DeliveryPartnerResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UnauthorisedResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/v3/partnerships/ecf": {
      "get": {
        "summary": "Retrieve multiple ECF partnerships",
        "operationId": "partnerships_ecf_get",
        "tags": [
          "ECF partnerships"
        ],
        "security": [
          {
            "bearerAuth": [

            ]
          }
        ],
        "parameters": [
          {
            "name": "filter",
            "schema": {
              "$ref": "#/components/schemas/PartnershipsFilter"
            },
            "in": "query",
            "style": "deepObject",
            "explode": true,
            "required": false,
            "description": "Refine partnerships to return.",
            "example": "filter[cohort]=2021,2022"
          }
        ],
        "responses": {
          "200": {
            "description": "A list of ECF partnerships",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MultipleECFPartnershipsResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UnauthorisedResponse"
                }
              }
            }
          }
        }
      },
      "post": {
        "summary": "Create an ECF partnership with a school and delivery partner",
        "operationId": "partnerships_ecf_post",
        "tags": [
          "ECF partnerships"
        ],
        "security": [
          {
            "bearerAuth": [

            ]
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ECFPartnershipRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Create an ECF partnership",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ECFPartnershipResponse"
                },
                "examples": {
                  "create_partnership": {
                    "value": {
                      "data": {
                        "id": "cd3a12347-7308-4879-942a-c4a70ced400a",
                        "type": "partnership",
                        "attributes": {
                          "cohort": 2021,
                          "urn": "123456",
                          "delivery_partner_id": "cd3a12347-7308-4879-942a-c4a70ced400a",
                          "status": "active",
                          "challenged_reason": null,
                          "induction_tutor_name": "John Doe",
                          "induction_tutor_email": "john.doe@example.com",
                          "updated_at": "2021-05-31T02:22:32.000Z",
                          "created_at": "2021-05-31T02:22:32.000Z"
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UnauthorisedResponse"
                }
              }
            }
          },
          "422": {
            "description": "Unprocessable entity",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ECFPartnershipRequestErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/v3/npq-applications": {
      "get": {
        "summary": "Retrieve multiple NPQ applications",
        "operationId": "npq_applications",
        "tags": [
          "NPQ applications"
        ],
        "security": [
          {
            "bearerAuth": [

            ]
          }
        ],
        "parameters": [
          {
            "name": "filter",
            "in": "query",
            "schema": {
              "$ref": "#/components/schemas/NPQApplicationsFilter"
            },
            "style": "deepObject",
            "explode": true,
            "required": false,
            "description": "Refine NPQ applications to return.",
            "example": "filter[cohort]=2021,2022&filter[participant_id]=7e5bcdbf-c818-4961-8da5-439cab1984e0,c2a7ef98-bbfc-48c5-8f02-d484071d2165&filter[updated_since]=2020-11-13T11:21:55Z"
          },
          {
            "name": "page",
            "in": "query",
            "schema": {
              "$ref": "#/components/schemas/Pagination"
            },
            "style": "deepObject",
            "explode": true,
            "required": false,
            "example": "page[page]=1&page[per_page]=5",
            "description": "Pagination options to navigate through the list of NPQ applications."
          },
          {
            "name": "sort",
            "in": "query",
            "schema": {
              "$ref": "#/components/schemas/NPQApplicationsSort"
            },
            "style": "form",
            "explode": false,
            "required": false,
            "description": "Sort NPQ applications being returned.",
            "example": "sort=-updated_at"
          }
        ],
        "responses": {
          "200": {
            "description": "A list of NPQ applications",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MultipleNPQApplicationsResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UnauthorisedResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/v3/npq-applications/{id}/accept": {
      "post": {
        "summary": "Accept an NPQ application",
        "operationId": "npq_applications_accept",
        "tags": [
          "NPQ applications"
        ],
        "security": [
          {
            "bearerAuth": [

            ]
          }
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "example": "28c461ee-ffc0-4e56-96bd-788579a0ed75",
            "description": "The ID of the NPQ application to accept.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The NPQ application being accepted",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/NPQApplicationResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UnauthorisedResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/v3/npq-applications/{id}/reject": {
      "post": {
        "summary": "Reject an NPQ application",
        "operationId": "npq_applications_reject",
        "tags": [
          "NPQ applications"
        ],
        "security": [
          {
            "bearerAuth": [

            ]
          }
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "example": "14b1b4ab-fa81-4f7a-b4b5-f632412e8c5c",
            "description": "The ID of the NPQ application to reject.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The NPQ application being rejected",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/NPQApplicationResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UnauthorisedResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/v3/participants/npq/{id}/outcomes": {
      "get": {
        "summary": "Retrieve NPQ outcomes for the specified participant",
        "operationId": "npq_outcome_get",
        "tags": [
          "outcomes"
        ],
        "security": [
          {
            "bearerAuth": [

            ]
          }
        ],
        "parameters": [
          {
            "name": "id",
            "description": "The unique ID of the participant",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            },
            "example": "70885c85-f52b-45fe-b969-e09a93ffc6ee"
          }
        ],
        "responses": {
          "200": {
            "description": "Successfully return NPQ outcomes",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/NPQOutcomesResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UnauthorisedResponse"
                }
              }
            }
          }
        }
      },
      "post": {
        "summary": "Submit an NPQ outcome",
        "operationId": "npq_outcome_post",
        "tags": [
          "outcomes"
        ],
        "security": [
          {
            "bearerAuth": [

            ]
          }
        ],
        "parameters": [
          {
            "name": "id",
            "description": "The unique ID of the participant",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            },
            "example": "70885c85-f52b-45fe-b969-e09a93ffc6ee"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/NPQOutcomeRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successfully submit an NPQ outcome",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/NPQOutcomeResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UnauthorisedResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/v3/participants/npq": {
      "get": {
        "summary": "Retrieve multiple NPQ participants",
        "operationId": "npq_participants",
        "tags": [
          "NPQ participants"
        ],
        "security": [
          {
            "bearerAuth": [

            ]
          }
        ],
        "parameters": [
          {
            "name": "filter",
            "in": "query",
            "schema": {
              "$ref": "#/components/schemas/ListFilter"
            },
            "style": "deepObject",
            "explode": true,
            "required": false,
            "description": "Refine NPQ participants to return.",
            "example": "updated_since=2020-11-13T11:21:55Z"
          },
          {
            "name": "page",
            "in": "query",
            "schema": {
              "$ref": "#/components/schemas/Pagination"
            },
            "style": "deepObject",
            "explode": true,
            "required": false,
            "example": "page[page]=1&page[per_page]=5",
            "description": "Pagination options to navigate through the list of NPQ participants."
          }
        ],
        "responses": {
          "200": {
            "description": "A list of NPQ participants",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MultipleNPQParticipantsResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UnauthorisedResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/v3/participants/npq/{id}": {
      "get": {
        "summary": "Get a single NPQ participant",
        "operationId": "npq_participant",
        "tags": [
          "NPQ participants"
        ],
        "security": [
          {
            "bearerAuth": [

            ]
          }
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "example": "28c461ee-ffc0-4e56-96bd-788579a0ed75",
            "description": "The ID of the NPQ participant.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "A single NPQ participant",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/NPQParticipantResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UnauthorisedResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/v3/participants/npq/{id}/change-schedule": {
      "put": {
        "summary": "Notify that an NPQ participant is changing training schedule",
        "operationId": "npq_participant",
        "tags": [
          "NPQ Participant"
        ],
        "security": [
          {
            "bearerAuth": [

            ]
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/NPQParticipantChangeScheduleRequest"
              }
            }
          }
        },
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "example": "28c461ee-ffc0-4e56-96bd-788579a0ed75",
            "description": "The ID of the participant",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The NPQ participant changing schedule",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/NPQParticipantResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/v3/participants/npq/{id}/defer": {
      "put": {
        "summary": "Notify that an NPQ participant is taking a break from their course",
        "operationId": "npq_participant",
        "tags": [
          "NPQ Participant"
        ],
        "security": [
          {
            "bearerAuth": [

            ]
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/NPQParticipantDeferRequest"
              }
            }
          }
        },
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "example": "28c461ee-ffc0-4e56-96bd-788579a0ed75",
            "description": "The ID of the participant to defer",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The NPQ participant being deferred",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/NPQParticipantResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/v3/participants/npq/{id}/resume": {
      "put": {
        "summary": "Notify that an NPQ participant is resuming their course",
        "operationId": "npq_participant",
        "tags": [
          "NPQ Participant"
        ],
        "security": [
          {
            "bearerAuth": [

            ]
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/NPQParticipantResumeRequest"
              }
            }
          }
        },
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "example": "28c461ee-ffc0-4e56-96bd-788579a0ed75",
            "description": "The ID of the participant to resume",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The NPQ participant being resumed",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/NPQParticipantResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/v3/participants/npq/{id}/withdraw": {
      "put": {
        "summary": "Withdrawn a participant from a course",
        "operationId": "npq_participants",
        "tags": [
          "NPQ Participant"
        ],
        "security": [
          {
            "bearerAuth": [

            ]
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/NPQParticipantWithdrawRequest"
              }
            }
          }
        },
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "example": "28c461ee-ffc0-4e56-96bd-788579a0ed75",
            "description": "The ID of the participant to withdraw",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The NPQ participant being withdrawn",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/NPQParticipantResponse"
                }
              }
            }
          },
          "422": {
            "description": "Unprocessable entity",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/v3/participant-declarations": {
      "post": {
        "summary": "Declare a participant has reached a milestone. Idempotent endpoint - submitting exact copy of a request will return the same response body as submitting it the first time.",
        "operationId": "participant_declarations",
        "tags": [
          "Participant declarations"
        ],
        "security": [
          {
            "bearerAuth": [

            ]
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ParticipantDeclarationRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SingleParticipantDeclarationResponse"
                },
                "examples": {
                  "success_ecf": {
                    "value": {
                      "data": {
                        "id": "db3a7848-7308-4879-942a-c4a70ced400a",
                        "type": "ecf-participant-declaration",
                        "attributes": {
                          "participant_id": "08d78829-f864-417f-8a30-cb7655714e28",
                          "declaration_type": "started",
                          "declaration_date": "2020-11-13T11:21:55Z",
                          "course_identifier": "ecf-induction",
                          "state": "eligible",
                          "updated_at": "2020-11-13T11:21:55Z",
                          "created_at": "2020-11-13T11:21:55Z",
                          "delivery_partner_id": "99ca2223-8c1f-4ac8-985d-a0672e97694e",
                          "statement_id": "99ca2223-8c1f-4ac8-985d-a0672e97694e",
                          "clawback_statement_id": null,
                          "ineligible_for_funding_reason": null,
                          "mentor_id": "907f61ed-5770-4d38-b22c-1a4265939378",
                          "uplift_paid": true
                        }
                      }
                    }
                  },
                  "success_npq": {
                    "value": {
                      "data": {
                        "id": "db3a7848-7308-4879-942a-c4a70ced400a",
                        "type": "npq-participant-declaration",
                        "attributes": {
                          "participant_id": "bf3c6251-f2a0-4690-a859-0fbecc6ed151",
                          "declaration_type": "started",
                          "declaration_date": "2020-11-13T11:21:55Z",
                          "course_identifier": "npq-leading-teaching",
                          "state": "eligible",
                          "updated_at": "2020-11-13T11:21:55Z",
                          "created_at": "2020-11-13T11:21:55Z",
                          "statement_id": "1cceffd7-0efd-432a-aedc-7be2d6cc72a2",
                          "clawback_statement_id": null,
                          "ineligible_for_funding_reason": null,
                          "uplift_paid": true
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "422": {
            "description": "Bad or Missing parameter",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UnauthorisedResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BadRequestResponse"
                }
              }
            }
          }
        }
      },
      "get": {
        "summary": "List all participant declarations",
        "operationId": "participant_declarations",
        "tags": [
          "participants declarations"
        ],
        "security": [
          {
            "bearerAuth": [

            ]
          }
        ],
        "parameters": [
          {
            "name": "filter",
            "in": "query",
            "schema": {
              "$ref": "#/components/schemas/ParticipantDeclarationsFilter"
            },
            "style": "deepObject",
            "explode": true,
            "required": false,
            "description": "Refine participant declarations to return.",
            "example": "participant_id=ab3a7848-1208-7679-942a-b4a70eed400a&updated_since=2020-11-13T11:21:55Z"
          },
          {
            "name": "page",
            "in": "query",
            "schema": {
              "$ref": "#/components/schemas/Pagination"
            },
            "style": "deepObject",
            "explode": true,
            "required": false,
            "example": "page[page]=1&page[per_page]=5",
            "description": "Pagination options to navigate through the list of participant declarations."
          }
        ],
        "responses": {
          "200": {
            "description": "A list of participant declarations",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MultipleParticipantDeclarationsResponse"
                },
                "examples": {
                  "success": {
                    "value": {
                      "data": [
                        {
                          "id": "db3a7848-7308-4879-942a-c4a70ced400a",
                          "type": "ecf-participant-declaration",
                          "attributes": {
                            "participant_id": "08d78829-f864-417f-8a30-cb7655714e28",
                            "declaration_type": "started",
                            "declaration_date": "2020-11-13T11:21:55Z",
                            "course_identifier": "ecf-induction",
                            "state": "eligible",
                            "updated_at": "2020-11-13T11:21:55Z",
                            "created_at": "2020-11-13T11:21:55Z",
                            "delivery_partner_id": "99ca2223-8c1f-4ac8-985d-a0672e97694e",
                            "statement_id": "99ca2223-8c1f-4ac8-985d-a0672e97694e",
                            "clawback_statement_id": null,
                            "ineligible_for_funding_reason": null,
                            "mentor_id": "907f61ed-5770-4d38-b22c-1a4265939378",
                            "uplift_paid": true
                          }
                        },
                        {
                          "id": "db3a7848-7308-4879-942a-c4a70ced400a",
                          "type": "npq-participant-declaration",
                          "attributes": {
                            "participant_id": "bf3c6251-f2a0-4690-a859-0fbecc6ed151",
                            "declaration_type": "started",
                            "declaration_date": "2020-11-13T11:21:55Z",
                            "course_identifier": "npq-leading-teaching",
                            "state": "eligible",
                            "updated_at": "2020-11-13T11:21:55Z",
                            "created_at": "2020-11-13T11:21:55Z",
                            "statement_id": "1cceffd7-0efd-432a-aedc-7be2d6cc72a2",
                            "clawback_statement_id": null,
                            "ineligible_for_funding_reason": null,
                            "mentor_id": "907f61ed-5770-4d38-b22c-1a4265939378",
                            "uplift_paid": true
                          }
                        }
                      ]
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UnauthorisedResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/v3/participant-declarations/{id}": {
      "get": {
        "summary": "Get single participant declaration",
        "operationId": "participant_declarations",
        "tags": [
          "participants declaration"
        ],
        "security": [
          {
            "bearerAuth": [

            ]
          }
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "example": "9ed4612b-f8bd-44d9-b296-38ab103fadd2",
            "description": "The ID of the participant declaration ID",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "A single participant declaration",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SingleParticipantDeclarationResponse"
                },
                "examples": {
                  "success_ecf": {
                    "value": {
                      "data": {
                        "id": "db3a7848-7308-4879-942a-c4a70ced400a",
                        "type": "ecf-participant-declaration",
                        "attributes": {
                          "participant_id": "08d78829-f864-417f-8a30-cb7655714e28",
                          "declaration_type": "started",
                          "declaration_date": "2020-11-13T11:21:55Z",
                          "course_identifier": "ecf-induction",
                          "state": "eligible",
                          "updated_at": "2020-11-13T11:21:55Z",
                          "created_at": "2020-11-13T11:21:55Z",
                          "delivery_partner_id": "99ca2223-8c1f-4ac8-985d-a0672e97694e",
                          "statement_id": "99ca2223-8c1f-4ac8-985d-a0672e97694e",
                          "clawback_statement_id": null,
                          "ineligible_for_funding_reason": null,
                          "mentor_id": "907f61ed-5770-4d38-b22c-1a4265939378",
                          "uplift_paid": true
                        }
                      }
                    }
                  },
                  "success_npq": {
                    "value": {
                      "data": {
                        "id": "db3a7848-7308-4879-942a-c4a70ced400a",
                        "type": "npq-participant-declaration",
                        "attributes": {
                          "participant_id": "bf3c6251-f2a0-4690-a859-0fbecc6ed151",
                          "declaration_type": "started",
                          "declaration_date": "2020-11-13T11:21:55Z",
                          "course_identifier": "npq-leading-teaching",
                          "state": "eligible",
                          "updated_at": "2020-11-13T11:21:55Z",
                          "created_at": "2020-11-13T11:21:55Z",
                          "statement_id": "1cceffd7-0efd-432a-aedc-7be2d6cc72a2",
                          "clawback_statement_id": null,
                          "ineligible_for_funding_reason": null,
                          "mentor_id": "907f61ed-5770-4d38-b22c-1a4265939378",
                          "uplift_paid": true
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "Not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/NotFoundResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UnauthorisedResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/v3/participant-declarations/{id}/void": {
      "put": {
        "summary": "Void a declaration - it will not be soft-deleted",
        "operationId": "participant_declarations",
        "tags": [
          "Participant declarations"
        ],
        "security": [
          {
            "bearerAuth": [

            ]
          }
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "example": "28c461ee-ffc0-4e56-96bd-788579a0ed75",
            "description": "The ID of the declaration to void",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SingleParticipantDeclarationResponse"
                },
                "examples": {
                  "success_ecf": {
                    "value": {
                      "data": {
                        "id": "db3a7848-7308-4879-942a-c4a70ced400a",
                        "type": "ecf-participant-declaration",
                        "attributes": {
                          "participant_id": "08d78829-f864-417f-8a30-cb7655714e28",
                          "declaration_type": "started",
                          "declaration_date": "2020-11-13T11:21:55Z",
                          "course_identifier": "ecf-induction",
                          "state": "voided",
                          "updated_at": "2020-11-13T11:21:55Z",
                          "created_at": "2020-11-13T11:21:55Z",
                          "delivery_partner_id": "99ca2223-8c1f-4ac8-985d-a0672e97694e",
                          "statement_id": "99ca2223-8c1f-4ac8-985d-a0672e97694e",
                          "clawback_statement_id": null,
                          "ineligible_for_funding_reason": null,
                          "mentor_id": "907f61ed-5770-4d38-b22c-1a4265939378",
                          "uplift_paid": true
                        }
                      }
                    }
                  },
                  "success_npq": {
                    "value": {
                      "data": {
                        "id": "db3a7848-7308-4879-942a-c4a70ced400a",
                        "type": "npq-participant-declaration",
                        "attributes": {
                          "participant_id": "bf3c6251-f2a0-4690-a859-0fbecc6ed151",
                          "declaration_type": "started",
                          "declaration_date": "2020-11-13T11:21:55Z",
                          "course_identifier": "npq-leading-teaching",
                          "state": "voided",
                          "updated_at": "2020-11-13T11:21:55Z",
                          "created_at": "2020-11-13T11:21:55Z",
                          "statement_id": "1cceffd7-0efd-432a-aedc-7be2d6cc72a2",
                          "clawback_statement_id": null,
                          "ineligible_for_funding_reason": null,
                          "mentor_id": "907f61ed-5770-4d38-b22c-1a4265939378",
                          "uplift_paid": true
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/v3/participants/ecf": {
      "get": {
        "summary": "Retrieve multiple participants, replaces <code>/api/v3/participants</code>",
        "operationId": "participants",
        "tags": [
          "ECF participants"
        ],
        "security": [
          {
            "bearerAuth": [

            ]
          }
        ],
        "parameters": [
          {
            "name": "filter",
            "in": "query",
            "schema": {
              "$ref": "#/components/schemas/ListFilter"
            },
            "style": "deepObject",
            "explode": true,
            "required": false,
            "description": "Refine ECF participants to return.",
            "example": "filter[cohort]=2022&filter[updated_since]=2020-11-13T11:21:55Z"
          },
          {
            "name": "page",
            "in": "query",
            "schema": {
              "$ref": "#/components/schemas/Pagination"
            },
            "style": "deepObject",
            "explode": true,
            "required": false,
            "example": "page[page]=1&page[per_page]=5",
            "description": "Pagination options to navigate through the list of ECF participants."
          }
        ],
        "responses": {
          "200": {
            "description": "A list of ECF participants",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MultipleECFParticipantsResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UnauthorisedResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/v3/participants/ecf/{id}": {
      "get": {
        "summary": "Get a single ECF participant",
        "operationId": "ecf_participant",
        "tags": [
          "ECF participants"
        ],
        "security": [
          {
            "bearerAuth": [

            ]
          }
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "example": "28c461ee-ffc0-4e56-96bd-788579a0ed75",
            "description": "The ID of the ECF participant.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "A single ECF participant",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ECFParticipantResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UnauthorisedResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/v3/participants/ecf/{id}/defer": {
      "put": {
        "summary": "Notify that an ECF participant is taking a break from their course",
        "operationId": "ecf_participant_defer",
        "tags": [
          "ECF Participant"
        ],
        "security": [
          {
            "bearerAuth": [

            ]
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ECFParticipantDeferRequest"
              }
            }
          }
        },
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "example": "28c461ee-ffc0-4e56-96bd-788579a0ed75",
            "description": "The ID of the participant to defer",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The ECF participant being deferred",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ECFParticipantResponse"
                },
                "examples": {
                  "success": {
                    "value": {
                      "data": {
                        "id": "db3a7848-7308-4879-942a-c4a70ced400a",
                        "type": "participant",
                        "attributes": {
                          "email": "jane.smith@some-school.example.com",
                          "full_name": "Jane Smith",
                          "mentor_id": "bb36d74a-68a7-47b6-86b6-1fd0d141c590",
                          "school_urn": "106286",
                          "participant_type": "ect",
                          "cohort": "2021",
                          "teacher_reference_number": "1234567",
                          "teacher_reference_number_validated": true,
                          "eligible_for_funding": true,
                          "pupil_premium_uplift": true,
                          "sparsity_uplift": true,
                          "training_status": "deferred",
                          "schedule_identifier": "ecf-standard-january",
                          "updated_at": "2021-05-31T02:22:32.000Z",
                          "withdrawal_date": null,
                          "participant_status": "active",
                          "validation_status": "eligible_to_start",
                          "joining_date": "2022-05-09T16:07:10Z",
                          "leaving_date": "2022-11-09T16:07:38Z"
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/v3/participants/ecf/{id}/resume": {
      "put": {
        "summary": "Notify that an ECF participant is resuming their course",
        "operationId": "ecf_participant_resume",
        "tags": [
          "ECF Participant"
        ],
        "security": [
          {
            "bearerAuth": [

            ]
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ECFParticipantResumeRequest"
              }
            }
          }
        },
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "example": "28c461ee-ffc0-4e56-96bd-788579a0ed75",
            "description": "The ID of the participant to resume",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The ECF participant being resumed",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ECFParticipantResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/v3/participants/ecf/{id}/withdraw": {
      "put": {
        "summary": "Notify that an ECF participant has withdrawn from their course",
        "operationId": "participant",
        "tags": [
          "ECF Participant"
        ],
        "security": [
          {
            "bearerAuth": [

            ]
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ECFParticipantWithdrawRequest"
              }
            }
          }
        },
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "example": "28c461ee-ffc0-4e56-96bd-788579a0ed75",
            "description": "The ID of the participant to withdraw",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The ECF participant being withdrawn",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ECFParticipantResponse"
                },
                "examples": {
                  "success": {
                    "value": {
                      "data": {
                        "id": "db3a7848-7308-4879-942a-c4a70ced400a",
                        "type": "participant",
                        "attributes": {
                          "email": "jane.smith@some-school.example.com",
                          "full_name": "Jane Smith",
                          "mentor_id": "bb36d74a-68a7-47b6-86b6-1fd0d141c590",
                          "school_urn": "106286",
                          "participant_type": "ect",
                          "cohort": "2021",
                          "teacher_reference_number": "1234567",
                          "teacher_reference_number_validated": true,
                          "eligible_for_funding": true,
                          "pupil_premium_uplift": true,
                          "sparsity_uplift": true,
                          "training_status": "withdrawn",
                          "schedule_identifier": "ecf-standard-january",
                          "updated_at": "2021-05-31T02:22:32.000Z",
                          "withdrawal_date": null,
                          "participant_status": "withdrawn",
                          "validation_status": "eligible_to_start",
                          "joining_date": "2022-05-09T16:07:10Z",
                          "leaving_date": "2022-11-09T16:07:38Z"
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/v3/participants/ecf/{id}/change-schedule": {
      "put": {
        "summary": "Notify that an ECF Participant is changing training schedule",
        "operationId": "ecf_participant_change_schedule",
        "tags": [
          "ECF Participant"
        ],
        "security": [
          {
            "bearerAuth": [

            ]
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ECFParticipantChangeScheduleRequest"
              }
            }
          }
        },
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "example": "28c461ee-ffc0-4e56-96bd-788579a0ed75",
            "description": "The ID of the participant",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The ECF Participant changing schedule",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ECFParticipantResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/v3/statements": {
      "get": {
        "summary": "Retrieve financial statements",
        "operationId": "statements_get",
        "tags": [
          "statements"
        ],
        "security": [
          {
            "bearerAuth": [

            ]
          }
        ],
        "parameters": [
          {
            "name": "filter",
            "in": "query",
            "schema": {
              "$ref": "#/components/schemas/StatementsFilter"
            },
            "style": "deepObject",
            "explode": true,
            "required": false,
            "description": "Refine statements to return.",
            "example": "filter[cohort]=2021,2022&filter[type]=ecf"
          }
        ],
        "responses": {
          "200": {
            "description": "A list of statements as part of which the DfE will make output payments for ecf or npq participants",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/StatementsResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UnauthorisedResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/v3/statements/{id}": {
      "get": {
        "summary": "Retrieve specific financial statement",
        "operationId": "statement_get",
        "tags": [
          "statements"
        ],
        "security": [
          {
            "bearerAuth": [

            ]
          }
        ],
        "parameters": [
          {
            "name": "id",
            "description": "The unique ID of the statement",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            },
            "example": "fe82db5d-a7ff-42b4-9eb7-19a87bf0ce5f"
          }
        ],
        "responses": {
          "200": {
            "description": "A specific financial statement",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/StatementResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UnauthorisedResponse"
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "bearerAuth": {
        "bearerFormat": "string",
        "type": "http",
        "scheme": "bearer"
      }
    },
    "schemas": {
      "BadOrMissingParametersResponse": {
        "description": "Request was missing data or contained invalid data",
        "type": "object",
        "required": [
          "bad_or_missing_parameters"
        ],
        "properties": {
          "bad_or_missing_parameters": {
            "description": "An error message for each bad or missing attribute describing the problems",
            "type": "array",
            "minItems": 1,
            "items": {
              "type": "string"
            },
            "uniqueItems": true,
            "example": [
              "participant_id",
              "declaration_date",
              "declaration_type",
              "course_identifier"
            ]
          }
        }
      },
      "BadRequestResponse": {
        "description": "Bad Request",
        "type": "object",
        "example": {
          "errors": [
            {
              "title": "Bad request",
              "detail": "correct json data structure required. See API docs for reference"
            }
          ]
        },
        "properties": {
          "bad_request": {
            "description": "An error message for bad request",
            "type": "string"
          }
        }
      },
      "DeliveryPartner": {
        "description": "A delivery partner",
        "type": "object",
        "required": [
          "id",
          "type",
          "attributes"
        ],
        "properties": {
          "id": {
            "description": "The unique identifier of the delivery partner",
            "type": "string",
            "format": "uuid",
            "example": "cd3a12347-7308-4879-942a-c4a70ced400a"
          },
          "type": {
            "description": "The data type",
            "type": "string",
            "example": "delivery-partner"
          },
          "attributes": {
            "$ref": "#/components/schemas/DeliveryPartnerAttributes"
          }
        }
      },
      "DeliveryPartnerAttributes": {
        "description": "The data attributes associated with a delivery partner",
        "type": "object",
        "required": [
          "name"
        ],
        "properties": {
          "name": {
            "description": "The name of the delivery partner you are working with",
            "type": "string",
            "nullable": false,
            "example": "Awesome Delivery Partner Ltd"
          },
          "cohort": {
            "description": "The cohorts for which you may report school partnerships with this delivery partner",
            "type": "array",
            "items": {
              "type": "string"
            },
            "example": [
              "2021",
              "2022"
            ]
          }
        }
      },
      "DeliveryPartnerResponse": {
        "description": "A delivery partner",
        "type": "object",
        "required": [
          "data"
        ],
        "properties": {
          "data": {
            "$ref": "#/components/schemas/DeliveryPartner"
          }
        }
      },
      "DeliveryPartnersFilter": {
        "description": "Filter delivery partners to return more specific results",
        "type": "object",
        "properties": {
          "cohort": {
            "description": "Return delivery partners from the specified cohort or cohorts. This is a comma delimited string of years.",
            "type": "string",
            "example": [
              20212022
            ]
          }
        }
      },
      "DeliveryPartnersResponse": {
        "description": "A list of delivery partners",
        "type": "object",
        "required": [
          "data"
        ],
        "properties": {
          "data": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/DeliveryPartner"
            }
          }
        }
      },
      "ECFParticipant": {
        "description": "The details of a participant",
        "type": "object",
        "required": [
          "id",
          "type",
          "attributes"
        ],
        "properties": {
          "id": {
            "description": "The unique identifier of the participant record",
            "type": "string",
            "format": "uuid",
            "example": "db3a7848-7308-4879-942a-c4a70ced400a"
          },
          "type": {
            "description": "The data type",
            "type": "string",
            "example": "participant"
          },
          "attributes": {
            "$ref": "#/components/schemas/ECFParticipantAttributes"
          }
        }
      },
      "ECFParticipantAttributes": {
        "description": "The data attributes associated with an ECF participant",
        "type": "object",
        "required": [
          "email",
          "full_name",
          "school_urn",
          "participant_type",
          "cohort",
          "training_status",
          "schedule_identifier",
          "updated_at",
          "joining_date"
        ],
        "properties": {
          "email": {
            "description": "The email address registered for this ECF participant",
            "type": "string",
            "nullable": true,
            "example": "jane.smith@some-school.example.com"
          },
          "full_name": {
            "description": "The full name of this ECF participant",
            "type": "string",
            "example": "Jane Smith"
          },
          "mentor_id": {
            "description": "The unique identifier of this ECF participants mentor",
            "type": "string",
            "nullable": true,
            "example": "bb36d74a-68a7-47b6-86b6-1fd0d141c590",
            "format": "uuid"
          },
          "school_urn": {
            "description": "The Unique Reference Number (URN) of the school that submitted this ECF participant",
            "type": "string",
            "example": "106286"
          },
          "participant_type": {
            "description": "The type of ECF participant this record refers to",
            "type": "string",
            "example": "ect",
            "enum": [
              "ect",
              "mentor"
            ]
          },
          "cohort": {
            "description": "Which cohort this ECF participant is associated with",
            "type": "string",
            "example": "2021"
          },
          "teacher_reference_number": {
            "description": "The Teacher Reference Number (TRN) for this participant",
            "type": "string",
            "example": "1234567"
          },
          "teacher_reference_number_validated": {
            "description": "Indicates whether the Teacher Reference Number (TRN) has been validated",
            "type": "boolean",
            "example": true
          },
          "eligible_for_funding": {
            "description": "Indicates whether this participant is eligible to receive DfE funded induction",
            "type": "boolean",
            "nullable": true,
            "example": true
          },
          "pupil_premium_uplift": {
            "description": "Indicates whether this participant qualifies for an uplift payment due to pupil premium",
            "type": "boolean",
            "example": true
          },
          "sparsity_uplift": {
            "description": "Indicates whether this participant qualifies for an uplift payment due to sparsity",
            "type": "boolean",
            "example": true
          },
          "training_status": {
            "description": "The training status of the ECF participant",
            "type": "string",
            "example": "active",
            "enum": [
              "active",
              "deferred",
              "withdrawn"
            ]
          },
          "schedule_identifier": {
            "description": "The schedule of the ECF participant",
            "type": "string",
            "example": "ecf-standard-january",
            "enum": [
              "ecf-standard-september",
              "ecf-standard-january",
              "ecf-standard-april"
            ]
          },
          "updated_at": {
            "description": "The date the ECF participant was last updated",
            "type": "string",
            "format": "date-time",
            "example": "2021-05-31T02:22:32.000Z"
          },
          "withdrawal_date": {
            "description": "If the participant has been withdrawn by you, the date we have recorded for the withdrawal",
            "type": "string",
            "format": "date",
            "nullable": true,
            "example": "2021-06-13"
          },
          "participant_status": {
            "description": "Replaces the old status field. Indicates if a SIT has advised DfE of a transfer or a withdrawal of the participant from the school",
            "type": "string",
            "enum": [
              "joining",
              "leaving",
              "active",
              "withdrawn"
            ],
            "example": "active"
          },
          "validation_status": {
            "description": "Indicates where a participant is in the DfE’s validation and eligibility process. Same detail shown to SITs and Delivery Partners.",
            "type": "string",
            "enum": [
              "contacted_for_information",
              "dfe_checking_eligibility",
              "checking_qts",
              "not_eligible_for_funded_training",
              "eligible_to_start"
            ],
            "example": "eligible_to_start"
          },
          "joining_date": {
            "description": "The date the School Induction Tutor has told us the participant will begin their training with you",
            "type": "string",
            "example": "2022-05-09T16:07:10Z"
          },
          "leaving_date": {
            "description": "If a participant is transferring from you, the date the School Induction Tutor has told us the participant will end their training with you",
            "type": "string",
            "nullable": true,
            "example": "2022-11-09T16:07:38Z"
          },
          "delivery_partner_id": {
            "description": "Unique ID of the delivery partner associated with the participant",
            "type": "string",
            "format": "uuid",
            "example": "cd3a12347-7308-4879-942a-c4a70ced400a"
          }
        }
      },
      "ECFParticipantChangeSchedule": {
        "description": "An ECF participant change schedule action",
        "type": "object",
        "properties": {
          "type": {
            "description": "The data type",
            "type": "string",
            "enum": [
              "participant-change-schedule"
            ]
          },
          "attributes": {
            "$ref": "#/components/schemas/ECFParticipantChangeScheduleAttributes"
          }
        },
        "required": [
          "type",
          "attributes"
        ],
        "example": {
          "type": "participant-change-schedule",
          "attributes": {
            "schedule_identifier": "ecf-standard-january",
            "course_identifier": "ecf-mentor"
          }
        }
      },
      "ECFParticipantChangeScheduleAttributes": {
        "description": "An ECF participant change schedule action",
        "type": "object",
        "properties": {
          "schedule_identifier": {
            "description": "The new schedule of the participant",
            "type": "string",
            "enum": [
              "ecf-standard-september",
              "ecf-standard-january",
              "ecf-standard-april"
            ],
            "example": "ecf-standard-september"
          },
          "course_identifier": {
            "description": "The type of course the participant is enrolled in",
            "type": "string",
            "enum": [
              "ecf-induction",
              "ecf-mentor"
            ],
            "example": "ecf-induction"
          },
          "cohort": {
            "description": "The start year of the cohort the the participant is enrolled in. Defaults to 2021 if not specified",
            "type": "string",
            "example": "2021"
          }
        },
        "required": [
          "schedule_identifier",
          "course_identifier"
        ],
        "example": {
          "schedule_identifier": "ecf-standard-january",
          "course_identifier": "ecf-mentor",
          "cohort": "2021"
        }
      },
      "ECFParticipantChangeScheduleRequest": {
        "description": "The change schedule request for a participant",
        "type": "object",
        "required": [
          "data"
        ],
        "properties": {
          "data": {
            "$ref": "#/components/schemas/ECFParticipantChangeSchedule"
          }
        },
        "example": {
          "data": {
            "type": "participant-change-schedule",
            "attributes": {
              "schedule_identifier": "ecf-standard-january",
              "course_identifier": "ecf-mentor",
              "cohort": "2021"
            }
          }
        }
      },
      "ECFParticipantDeclarationAttributes": {
        "description": "The data attributes associated with a participant declaration response",
        "type": "object",
        "required": [
          "participant_id",
          "declaration_type",
          "declaration_date",
          "course_identifier",
          "state",
          "updated_at"
        ],
        "properties": {
          "participant_id": {
            "description": "The unique id of the participant",
            "type": "string",
            "format": "uuid",
            "example": "db3a7848-7308-4879-942a-c4a70ced400a"
          },
          "declaration_type": {
            "description": "The event declaration type",
            "type": "string",
            "enum": [
              "started",
              "completed",
              "retained-1",
              "retained-2",
              "retained-3",
              "retained-4"
            ],
            "example": "started"
          },
          "declaration_date": {
            "description": "The event declaration date",
            "type": "string",
            "format": "date-time",
            "example": "2021-05-31T02:21:32.000Z"
          },
          "course_identifier": {
            "description": "The type of course the participant is enrolled in",
            "type": "string",
            "enum": [
              "ecf-induction",
              "ecf-mentor"
            ],
            "example": "ecf-induction"
          },
          "state": {
            "description": "Indicates the state of this payment declaration",
            "type": "string",
            "enum": [
              "submitted",
              "eligible",
              "payable",
              "paid",
              "voided",
              "ineligible",
              "awaiting-clawback",
              "clawed-back"
            ],
            "example": "submitted"
          },
          "updated_at": {
            "description": "The date the declaration was last updated",
            "type": "string",
            "format": "date-time",
            "example": "2021-05-31T02:22:32.000Z"
          },
          "created_at": {
            "description": "The date the declaration was created",
            "type": "string",
            "format": "date-time",
            "example": "2021-05-31T02:22:32.000Z"
          },
          "delivery_partner_id": {
            "description": "Unique ID of the delivery partner associated with the participant at the time the declaration was created",
            "type": "string",
            "format": "uuid",
            "example": "cd3a12347-7308-4879-942a-c4a70ced400a"
          },
          "statement_id": {
            "description": "Unique ID of the statement the declaration will be paid as part of",
            "type": "string",
            "format": "uuid",
            "example": "cd3a12347-7308-4879-942a-c4a70ced400a"
          },
          "clawback_statement_id": {
            "description": "Unique id of the statement to which the declaration will be clawed back on, if any",
            "type": "string",
            "format": "uuid",
            "example": "cd3a12347-7308-4879-942a-c4a70ced400a"
          },
          "ineligible_for_funding_reason": {
            "description": "If the declaration is ineligible, the reason why",
            "type": "string",
            "enum": [
              "to",
              "be",
              "determined"
            ],
            "example": "unknown"
          },
          "mentor_id": {
            "description": "Unique ID of the ECT's mentor",
            "type": "string",
            "format": "uuid",
            "example": "cd3a12347-7308-4879-942a-c4a70ced400a"
          },
          "uplift_paid": {
            "description": "If participant is eligible for uplift, whether it has been paid as part of this declaration",
            "type": "boolean",
            "example": true
          }
        }
      },
      "ECFParticipantDeclarationCompletedAttributesRequest": {
        "description": "An ECF completed participant declaration",
        "type": "object",
        "required": [
          "participant_id",
          "declaration_type",
          "declaration_date",
          "course_identifier"
        ],
        "properties": {
          "participant_id": {
            "description": "The unique ID of the participant",
            "type": "string",
            "example": "3452b1a6-cbaa-422f-9ca9-40afa28583a2"
          },
          "declaration_type": {
            "description": "The event declaration type",
            "type": "string",
            "enum": [
              "completed"
            ],
            "example": "completed"
          },
          "declaration_date": {
            "description": "The event declaration date",
            "type": "string",
            "format": "date-time",
            "example": "2021-05-31T02:21:32.000Z"
          },
          "course_identifier": {
            "description": "The type of course the participant is enrolled in",
            "type": "string",
            "enum": [
              "ecf-induction",
              "ecf-mentor"
            ],
            "example": "ecf-induction"
          }
        }
      },
      "ECFParticipantDeclarationResponse": {
        "description": "An ECF participant declaration response",
        "type": "object",
        "required": [
          "id",
          "type",
          "attributes"
        ],
        "properties": {
          "id": {
            "description": "The unique identifier of the participant declaration record",
            "type": "string",
            "format": "uuid",
            "example": "cd3a12347-7308-4879-942a-c4a70ced400a"
          },
          "type": {
            "description": "The data type",
            "type": "string",
            "enum": [
              "ecf-participant-declaration"
            ],
            "example": "ecf-participant-declaration"
          },
          "attributes": {
            "$ref": "#/components/schemas/ECFParticipantDeclarationAttributes"
          }
        }
      },
      "ECFParticipantDeclarationRetainedAttributesRequest": {
        "description": "An ECF participant retained declaration",
        "type": "object",
        "required": [
          "participant_id",
          "declaration_type",
          "declaration_date",
          "course_identifier",
          "evidence_held"
        ],
        "additionalProperties": false,
        "properties": {
          "participant_id": {
            "description": "The unique ID of the participant",
            "type": "string",
            "format": "uuid",
            "example": "3452b1a6-cbaa-422f-9ca9-40afa28583a2"
          },
          "declaration_type": {
            "description": "The event declaration type",
            "type": "string",
            "enum": [
              "retained-1",
              "retained-2",
              "retained-3",
              "retained-4"
            ],
            "example": "retained-1"
          },
          "declaration_date": {
            "description": "The event declaration date",
            "type": "string",
            "format": "date-time",
            "example": "2021-05-31T02:21:32.000Z"
          },
          "course_identifier": {
            "description": "The type of course the participant is enrolled in",
            "type": "string",
            "enum": [
              "ecf-induction",
              "ecf-mentor"
            ],
            "example": "ecf-induction"
          },
          "evidence_held": {
            "description": "The type of evidence that the lead provider holds on their platform to demonstrate that the participant has met the retention criteria for the current milestone period",
            "type": "string",
            "enum": [
              "training-event-attended",
              "self-study-material-completed",
              "other"
            ]
          }
        }
      },
      "ECFParticipantDeclarationStartedAttributesRequest": {
        "description": "An ECF started participant declaration",
        "type": "object",
        "required": [
          "participant_id",
          "declaration_type",
          "declaration_date",
          "course_identifier"
        ],
        "properties": {
          "participant_id": {
            "description": "The unique ID of the participant",
            "type": "string",
            "example": "3452b1a6-cbaa-422f-9ca9-40afa28583a2"
          },
          "declaration_type": {
            "description": "The event declaration type",
            "type": "string",
            "enum": [
              "started"
            ],
            "example": "started"
          },
          "declaration_date": {
            "description": "The event declaration date",
            "type": "string",
            "format": "date-time",
            "example": "2021-05-31T02:21:32.000Z"
          },
          "course_identifier": {
            "description": "The type of course the participant is enrolled in",
            "type": "string",
            "enum": [
              "ecf-induction",
              "ecf-mentor"
            ],
            "example": "ecf-induction"
          }
        }
      },
      "ECFParticipantDefer": {
        "description": "The details of a participant deferral request",
        "type": "object",
        "required": [
          "type",
          "attributes"
        ],
        "properties": {
          "type": {
            "description": "The data type",
            "type": "string",
            "example": "participant-defer",
            "enum": [
              "participant-defer"
            ]
          },
          "attributes": {
            "$ref": "#/components/schemas/ECFParticipantDeferAttributes"
          }
        }
      },
      "ECFParticipantDeferAttributes": {
        "description": "An ECF participant deferral action",
        "type": "object",
        "required": [
          "reason",
          "course_identifier"
        ],
        "properties": {
          "reason": {
            "description": "The reason for the deferral",
            "type": "string",
            "enum": [
              "bereavement",
              "long-term-sickness",
              "parental-leave",
              "career-break",
              "other"
            ],
            "example": "career-break"
          },
          "course_identifier": {
            "description": "The type of course the participant is enrolled in",
            "type": "string",
            "enum": [
              "ecf-induction",
              "ecf-mentor"
            ],
            "example": "ecf-induction"
          }
        },
        "example": {
          "reason": "career-break",
          "course_identifier": "ecf-mentor"
        }
      },
      "ECFParticipantDeferRequest": {
        "description": "The deferral request for a participant",
        "type": "object",
        "required": [
          "data"
        ],
        "properties": {
          "data": {
            "$ref": "#/components/schemas/ECFParticipantDefer"
          }
        },
        "example": {
          "data": {
            "type": "participant-defer",
            "attributes": {
              "reason": "career-break",
              "course_identifier": "ecf-mentor"
            }
          }
        }
      },
      "ECFParticipantResponse": {
        "description": "An ECF Participant",
        "type": "object",
        "required": [
          "data"
        ],
        "properties": {
          "data": {
            "$ref": "#/components/schemas/ECFParticipant"
          }
        }
      },
      "ECFParticipantResume": {
        "description": "An ECF participant resume action",
        "type": "object",
        "properties": {
          "type": {
            "description": "The data type",
            "type": "string",
            "enum": [
              "participant-resume"
            ],
            "example": "participant-resume"
          },
          "attributes": {
            "$ref": "#/components/schemas/ECFParticipantResumeAttributes"
          }
        },
        "required": [
          "type",
          "attributes"
        ]
      },
      "ECFParticipantResumeAttributes": {
        "description": "An ECF participant resume action",
        "type": "object",
        "properties": {
          "course_identifier": {
            "description": "The type of course the participant is enrolled in",
            "type": "string",
            "enum": [
              "ecf-induction",
              "ecf-mentor"
            ],
            "example": "ecf-induction"
          }
        },
        "required": [
          "course_identifier"
        ],
        "example": {
          "course_identifier": "ecf-mentor"
        }
      },
      "ECFParticipantResumeRequest": {
        "description": "The resume request for a participant",
        "type": "object",
        "required": [
          "data"
        ],
        "properties": {
          "data": {
            "$ref": "#/components/schemas/ECFParticipantResume"
          }
        },
        "example": {
          "data": {
            "type": "participant-resume",
            "attributes": {
              "course_identifier": "ecf-mentor"
            }
          }
        }
      },
      "ECFParticipantWithdraw": {
        "description": "An ECF participant withdrawal action",
        "type": "object",
        "properties": {
          "type": {
            "description": "The data type",
            "type": "string",
            "example": "participant-withdraw",
            "enum": [
              "participant-withdraw"
            ]
          },
          "attributes": {
            "$ref": "#/components/schemas/ECFParticipantWithdrawAttributes"
          }
        }
      },
      "ECFParticipantWithdrawAttributes": {
        "description": "An ECF participant withdrawal action",
        "type": "object",
        "properties": {
          "reason": {
            "description": "The reason for the withdrawal",
            "type": "string",
            "enum": [
              "left-teaching-profession",
              "moved-school",
              "mentor-no-longer-being-mentor",
              "school-left-fip",
              "other"
            ],
            "example": "left-teaching-profession"
          },
          "course_identifier": {
            "description": "The type of course the participant is enrolled in",
            "type": "string",
            "enum": [
              "ecf-induction",
              "ecf-mentor"
            ],
            "example": "ecf-induction"
          }
        },
        "required": [
          "reason",
          "course_identifier"
        ],
        "example": {
          "reason": "left-teaching-profession",
          "course_identifier": "ecf-mentor"
        }
      },
      "ECFParticipantWithdrawRequest": {
        "description": "The withdrawal request for a participant",
        "type": "object",
        "required": [
          "data"
        ],
        "properties": {
          "data": {
            "$ref": "#/components/schemas/ECFParticipantWithdraw"
          }
        },
        "example": {
          "data": {
            "type": "participant-withdraw",
            "attributes": {
              "reason": "left-teaching-profession",
              "course_identifier": "ecf-mentor"
            }
          }
        }
      },
      "ECFPartnership": {
        "description": "An ECF partnership",
        "type": "object",
        "required": [
          "id",
          "type",
          "attributes"
        ],
        "properties": {
          "id": {
            "description": "The unique identifier of the partnership",
            "type": "string",
            "format": "uuid",
            "example": "cd3a12347-7308-4879-942a-c4a70ced400a"
          },
          "type": {
            "description": "The data type",
            "type": "string",
            "example": "partnership"
          },
          "attributes": {
            "$ref": "#/components/schemas/ECFPartnershipAttributes"
          }
        }
      },
      "ECFPartnershipAttibutesRequest": {
        "type": "object",
        "required": [
          "cohort",
          "delivery_partner_id",
          "urn"
        ],
        "properties": {
          "cohort": {
            "description": "The cohort for which you are reporting the partnership",
            "type": "string",
            "example": 2021
          },
          "delivery_partner_id": {
            "description": "The unique ID of the delivery partner you will work with for this school partnership",
            "type": "string"
          },
          "urn": {
            "description": "The Unique Reference Number (URN) of the school you are partnering with",
            "type": "string"
          }
        }
      },
      "ECFPartnershipAttributes": {
        "description": "The data attributes associated with an ECF partnership",
        "type": "object",
        "required": [
          "cohort",
          "urn",
          "delivery_partner_id",
          "status",
          "updated_at",
          "created_at"
        ],
        "properties": {
          "cohort": {
            "description": "The cohort for which you are reporting the partnership",
            "type": "string",
            "example": 2021
          },
          "urn": {
            "description": "The Unique Reference Number (URN) of the school you are partnered with",
            "type": "string",
            "example": "123456"
          },
          "delivery_partner_id": {
            "description": "The unique ID of the delivery partner you are working with for this partnership",
            "type": "string",
            "format": "uuid",
            "example": "cd3a12347-7308-4879-942a-c4a70ced400a"
          },
          "status": {
            "description": "The status of the partnership which includes active or challenged",
            "type": "string",
            "enum": [
              "active",
              "challenged"
            ],
            "example": "challenged"
          },
          "challenged_reason": {
            "description": "If the partnership has been challenged, the reason provided for the challenge by the SIT",
            "type": "string",
            "nullable": true,
            "enum": [
              "another_provider",
              "not_confirmed",
              "do_not_recognise",
              "no_ects",
              "mistake"
            ],
            "example": "mistake"
          },
          "induction_tutor_name": {
            "description": "The name of the induction tutor at the school you are in partnership with",
            "type": "string",
            "example": "John Doe"
          },
          "induction_tutor_email": {
            "description": "The email address of the induction tutor at the school you are in partnership with",
            "type": "string",
            "example": "john.doe@example.com"
          },
          "updated_at": {
            "description": "The date the partnership was reported by you",
            "type": "string",
            "format": "date-time",
            "example": "2021-05-31T02:22:32.000Z"
          },
          "created_at": {
            "description": "The date the partnership was last updated",
            "type": "string",
            "format": "date-time",
            "example": "2021-05-31T02:22:32.000Z"
          }
        }
      },
      "ECFPartnershipDataRequest": {
        "description": "An ECF partnership",
        "type": "object",
        "properties": {
          "type": {
            "type": "string",
            "enum": [
              "ecf-partnership"
            ]
          },
          "attributes": {
            "$ref": "#/components/schemas/ECFPartnershipAttibutesRequest"
          }
        }
      },
      "ECFPartnershipRequest": {
        "description": "An ECF partnership",
        "type": "object",
        "required": [
          "data"
        ],
        "properties": {
          "data": {
            "$ref": "#/components/schemas/ECFPartnershipDataRequest"
          }
        },
        "example": {
          "data": {
            "type": "ecf-partnership",
            "attributes": {
              "cohort": "2021",
              "urn": "123456",
              "delivery_partner_id": "db2fbf67-b7b7-454f-a1b7-0020411e2314"
            }
          }
        }
      },
      "ECFPartnershipRequestErrorResponse": {
        "description": "A list of errors",
        "type": "object",
        "properties": {
          "error": {
            "type": "array",
            "items": {
              "anyOf": [
                {
                  "$ref": "#/components/schemas/UrnInvalidError"
                },
                {
                  "$ref": "#/components/schemas/PartnershipExistsError"
                }
              ]
            }
          }
        }
      },
      "ECFPartnershipResponse": {
        "description": "A list of ECF partnerships",
        "type": "object",
        "required": [
          "data"
        ],
        "properties": {
          "data": {
            "$ref": "#/components/schemas/ECFPartnership"
          }
        }
      },
      "Error": {
        "description": "An single error element",
        "type": "object",
        "properties": {
          "title": {
            "description": "A title of the error",
            "type": "string"
          },
          "detail": {
            "description": "Additional details of the error",
            "type": "string"
          }
        }
      },
      "ErrorResponse": {
        "description": "A list of errors",
        "type": "object",
        "properties": {
          "error": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Error"
            }
          }
        }
      },
      "ListFilter": {
        "description": "Filter a list of records to return more specific results",
        "type": "object",
        "properties": {
          "updated_since": {
            "description": "Return only records that have been updated since this date and time (ISO 8601 date format)",
            "type": "string",
            "example": "2021-05-13T11:21:55Z"
          }
        }
      },
      "ListFilterDeclarations": {
        "description": "Filter a list of declarations records to return more specific results",
        "type": "object",
        "properties": {
          "updated_since": {
            "description": "Return only records that have been updated since this date and time (ISO 8601 date format)",
            "type": "string",
            "example": "2021-05-13T11:21:55Z"
          },
          "participant_id": {
            "description": "The unique id of the participant",
            "type": "string",
            "example": "ab3a7848-1208-7679-942a-b4a70eed400a"
          }
        }
      },
      "MultipleECFParticipantsResponse": {
        "description": "A list of ECF participants",
        "type": "object",
        "required": [
          "data"
        ],
        "properties": {
          "data": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/ECFParticipant"
            }
          }
        }
      },
      "MultipleECFPartnershipsResponse": {
        "description": "A list of ECF partnerships",
        "type": "object",
        "required": [
          "data"
        ],
        "properties": {
          "data": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/ECFPartnership"
            }
          }
        }
      },
      "MultipleNPQApplicationsResponse": {
        "description": "A list of NPQ applications",
        "type": "object",
        "required": [
          "data"
        ],
        "properties": {
          "data": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/NPQApplication"
            },
            "example": [
              {
                "id": "db3a7848-7308-4879-942a-c4a70ced400a",
                "type": "participant",
                "attributes": {
                  "participant_id": "7a8fef46-3c43-42c0-b3d5-1ba5904ba562",
                  "full_name": "Isabelle MacDonald",
                  "email": "isabelle.macdonald2@some-school.example.com",
                  "email_validated": true,
                  "teacher_reference_number": "1234567",
                  "teacher_reference_number_validated": true,
                  "school_urn": "106286",
                  "school_ukprn": "10079319",
                  "headteacher_status": "no",
                  "eligible_for_funding": true,
                  "funding_choice": "trust",
                  "course_identifier": "npq-leading-teaching"
                }
              }
            ]
          }
        }
      },
      "MultipleNPQParticipantsResponse": {
        "description": "A list of NPQ participants",
        "type": "object",
        "required": [
          "data"
        ],
        "properties": {
          "data": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/NPQParticipant"
            }
          }
        }
      },
      "MultipleParticipantDeclarationsResponse": {
        "description": "A list of participant declarations",
        "type": "object",
        "required": [
          "data"
        ],
        "properties": {
          "data": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/ParticipantDeclarationResponse"
            },
            "example": [
              {
                "id": "01017c12-354b-4b2d-b621-3531ab729c43",
                "type": "participant-declaration",
                "attributes": {
                  "participant_id": "db3a7848-7308-4879-942a-c4a70ced400a",
                  "declaration_type": "started",
                  "declaration_date": "2021-05-31T02:21:32.000Z",
                  "course_identifier": "ecf-mentor"
                }
              },
              {
                "id": "bb36d74a-68a7-47b6-86b6-1fd0d141c590",
                "type": "participant-declaration",
                "attributes": {
                  "participant_id": "ab3a7848-7308-4879-942a-c4a70ced400a",
                  "declaration_type": "started",
                  "declaration_date": "2021-05-31T02:21:32.000Z",
                  "course_identifier": "ecf-mentor"
                }
              }
            ]
          }
        }
      },
      "NPQApplication": {
        "description": "The details of an NPQ Application",
        "type": "object",
        "required": [
          "id",
          "type",
          "attributes"
        ],
        "properties": {
          "id": {
            "description": "The unique identifier of the NPQ Application record",
            "type": "string",
            "format": "uuid",
            "example": "db3a7848-7308-4879-942a-c4a70ced400a"
          },
          "type": {
            "description": "The data type",
            "type": "string",
            "example": "npq_application",
            "enum": [
              "npq_application"
            ]
          },
          "attributes": {
            "$ref": "#/components/schemas/NPQApplicationAttributes"
          }
        }
      },
      "NPQApplicationAttributes": {
        "description": "The data attributes associated with an NPQ application",
        "type": "object",
        "required": [
          "participant_id",
          "full_name",
          "email",
          "email_validated",
          "teacher_reference_number",
          "teacher_reference_number_validated",
          "eligible_for_funding",
          "course_identifier",
          "status",
          "created_at",
          "updated_at"
        ],
        "properties": {
          "participant_id": {
            "description": "The unique identifier of this NPQ participant",
            "type": "string",
            "example": "7a8fef46-3c43-42c0-b3d5-1ba5904ba562",
            "format": "uuid"
          },
          "full_name": {
            "description": "The full name of this NPQ participant",
            "type": "string",
            "example": "Isabelle MacDonald"
          },
          "email": {
            "description": "The email address registered for this NPQ participant",
            "type": "string",
            "example": "isabelle.macdonald2@some-school.example.com"
          },
          "email_validated": {
            "description": "Indicates whether the email address has been validated",
            "type": "boolean",
            "example": true
          },
          "teacher_reference_number": {
            "description": "The Teacher Reference Number (TRN) for this NPQ participant",
            "type": "string",
            "example": "1234567"
          },
          "teacher_reference_number_validated": {
            "description": "Indicates whether the Teacher Reference Number (TRN) has been validated",
            "type": "boolean",
            "example": true
          },
          "works_in_school": {
            "description": "Indicates whether the participant is currently employed by school",
            "type": "boolean",
            "example": true
          },
          "employer_name": {
            "description": "The name of current employer of the participant if not currently employed by school",
            "type": "string",
            "nullable": true,
            "example": "Some Company Ltd"
          },
          "employment_role": {
            "description": "Participant's current role in the company they are employed in if not currently employed by school",
            "type": "string",
            "nullable": true,
            "example": "Director"
          },
          "school_urn": {
            "description": "The Unique Reference Number (URN) of the school where this NPQ participant is employed",
            "type": "string",
            "example": "106286"
          },
          "private_childcare_provider_urn": {
            "description": "The Unique Reference Number (URN) of the private child care provider",
            "type": "string",
            "example": "EY944860",
            "nullable": true
          },
          "school_ukprn": {
            "description": "The UK Provider Reference Number (UK Provider Reference Number) of the school where this NPQ participant is employed",
            "type": "string",
            "example": "10079319"
          },
          "headteacher_status": {
            "description": "Indicates whether this NPQ participant is or will be a head teacher",
            "type": "string",
            "example": "no",
            "enum": [
              "no",
              "yes_when_course_starts",
              "yes_in_first_two_years",
              "yes_over_two_years",
              "yes_in_first_five_years",
              "yes_over_five_years"
            ]
          },
          "eligible_for_funding": {
            "description": "Indicates whether this NPQ participant would be eligible for funding from the DfE",
            "type": "boolean",
            "example": true
          },
          "funding_choice": {
            "description": "Indicates how this NPQ participant has said they will funded their training",
            "type": "string",
            "example": "trust",
            "enum": [
              "school",
              "trust",
              "self",
              "another",
              "employer"
            ]
          },
          "course_identifier": {
            "description": "The NPQ course this NPQ application relates to",
            "type": "string",
            "example": "npq-leading-teaching",
            "enum": [
              "npq-leading-teaching",
              "npq-leading-behaviour-culture",
              "npq-leading-teaching-development",
              "npq-leading-literacy",
              "npq-senior-leadership",
              "npq-headship",
              "npq-executive-leadership",
              "npq-early-years-leadership",
              "npq-additional-support-offer",
              "npq-early-headship-coaching-offer"
            ]
          },
          "status": {
            "description": "The current state of the NPQ application",
            "type": "string",
            "example": "pending",
            "enum": [
              "pending",
              "accepted",
              "rejected"
            ]
          },
          "created_at": {
            "description": "The date the application was created",
            "type": "string",
            "format": "date-time",
            "example": "2021-05-31T02:21:32.000Z"
          },
          "updated_at": {
            "description": "The date the application was last updated",
            "type": "string",
[...]
