# {{ title }}

{% set rootGroup = report.rootGroup %}
{% set allMetrics = rootGroup.metrics %}

|     | Total | Passed |
| --- | ----- | ------ |
| **total requests** | {% if allMetrics.http_reqs %}{{ allMetrics.http_reqs.values.count }}{% endif %}{% if allMetrics.grpc_reqs %}{{ allMetrics.grpc_reqs.values.count }}{% endif %} | |
| **Failed requests** | {{ allMetrics.http_req_failed.values.passes }} | {% if allMetrics.http_req_failed.values.passes > 0 %}:x:{% else %}:white_check_mark:{% endif %} |
| **Breached thresholds** | {{ rootGroup.thresholdFailures }} | {% if rootGroup.thresholdFailures > 0 %}:x:{% else %}:white_check_mark:{% endif %} |
| **Failed checks** | {{ rootGroup.checkFailures }} | {% if rootGroup.checkFailures > 0 %}:x:{% else %}:white_check_mark:{% endif %} |

{% if rootGroup.thresholdFailures %}## Failed thresholds
{% for group, breaches in rootGroup.breachedMetrics %}
### {{ group }}

| Metric | Cause |
| ------ | ----- |
{% for breach in breaches %}| {{ breach.metric }} | {{ breach.threshold }} |
{% endfor %}{% endfor %}
{% else %}## Standard request metrics

|     | Count | Rate | Average | Maximum | Median | Minimum | 90th Percentile | 95th Percentile |
| --- | ----- | ---- | ------- | ------- | ------ | ------- | --------------- | --------------- |
{% for row in rootGroup.standardMetricRows %}| {% for cell in row %}{{ cell.text }} | {% endfor %}
{% endfor %}

NOTE: All times are in milli-seconds.
{% endif %}

For a more detailed report see the artifacts attached to the latest workflow run.