<div class="govuk-grid-row govuk-!-margin-bottom-3">
  <div class="govuk-grid-column-one-half">
    <div class="dashboard-numbers key-number">
      <p class="govuk-heading-xl">300</p>
      <p class="govuk-heading-s">participant target</p>
    </div>
  </div>
  <div class="govuk-grid-column-one-half">
    <div class="dashboard-numbers">
      <p class="govuk-heading-xl">77</p>
      <p class="govuk-heading-s">participants added by schools</p>
    </div>
  </div>
</div>
