<% if ect_profiles.contacted_for_info.any? %>
  <h2 class="govuk-heading-m govuk-!-margin-bottom-1">Contacted for information</h2>
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <p class="govuk-body">We need this to check their eligibility with the Teaching Regulation Agency.</p>
    </div>
  </div>

  <table class="govuk-table govuk-!-margin-bottom-9" data-test="checked_ects">
    <%= render Schools::Participants::CocStatusTable.new(induction_records: ect_profiles.contacted_for_info) %>
  </table>
<% end %>

<% if ect_profiles.details_being_checked.any? %>
  <h2 class="govuk-heading-m govuk-!-margin-bottom-1">DfE checking eligibility</h2>
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <p class="govuk-body">We’re checking these people’s details with the Teaching Regulation Agency to make sure they’re eligible for funding. We’ll confirm this soon.</p>
      <p class="govuk-body">Your training provider is still able to begin training even if your appropriate body has not yet registered the early career teacher’s induction.</p>
    </div>
  </div>

  <table class="govuk-table govuk-!-margin-bottom-9" data-test="details_ects">
    <%= render Schools::Participants::CocStatusTable.new(induction_records: ect_profiles.details_being_checked) %>
  </table>
<% end %>

<% if ect_profiles.no_qts_participants.any? %>
  <h2 class="govuk-heading-m govuk-!-margin-bottom-1">Checking QTS</h2>
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <p class="govuk-body">These ECTs do not have qualified teacher status (QTS) yet. They need this to be eligible for funded training. We’ll keep checking their status and notify you if something changes.</p>
    </div>
  </div>

  <table class="govuk-table govuk-!-margin-bottom-9" data-test="no_qts">
    <%= render Schools::Participants::CocStatusTable.new(induction_records: ect_profiles.no_qts_participants) %>
  </table>
<% end %>

<% if ect_profiles.eligible.any? %>
  <h2 class="govuk-heading-m govuk-!-margin-bottom-1">Eligible to start</h2>
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
  <% if @school_cohort.core_induction_programme? %>
    <p class="govuk-body">We’ve confirmed these people are eligible for this programme. They have access to their materials.</p>
  <% elsif @school_cohort.delivery_partner.present? %>
    <p class="govuk-body">We’ve confirmed these people are eligible for this programme. Your training provider will contact them directly.</p>
  <% else %>
    <p class="govuk-body">We’ve confirmed these people are eligible for this programme. Once you choose a training provider, they’ll contact your ECTs and mentors directly.</p>
  <% end %>
    </div>
  </div>

  <table class="govuk-table govuk-!-margin-bottom-9" data-test="eligible_ects">
    <%= render Schools::Participants::CocStatusTable.new(induction_records: ect_profiles.eligible) %>
  </table>
<% end %>
