<h3 class="govuk-heading-s">Not mentoring or being mentored</h3>

<% if participants.not_mentoring_or_being_mentored.any? %>
  <%= govuk_summary_list(actions: false, borders: nil) do |list| %>
    <% participants.not_mentoring_or_being_mentored.sort_by(&:full_name).each do |participant| %>
      <% list.with_row do |row| %>
        <% row.with_key(text: govuk_link_to(participant.full_name,
                                       school_participant_path(id: participant.participant_profile_id,
                                                               school_id: school.slug),
                                       no_visited_state: true),
                   classes: ["govuk-!-font-weight-regular", "govuk-\!-padding-bottom-static-0"]) %>
        <% row.with_value(
               text: render(StatusTags::SchoolParticipantStatusTag.new(
                   participant_profile: participant.participant_profile,
                   induction_record: participant.induction_record,
                   display_description: false)),
               classes: ["govuk-\!-padding-bottom-static-0"]) %>
      <% end %>
    <% end %>
  <% end %>
<% end %>
