<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <%= govuk_panel title_text: "#{@profile.full_name}’s appropriate body has been updated", classes: "govuk-!-margin-bottom-8" %>

    <ul class="govuk-list">
      <li><%= govuk_link_to "Return to their details",
                            schools_participant_path(id: @profile),
                            class: "govuk-link--no-visited-state" %></li>
      <li>
        <% if FeatureFlag.active? :cohortless_dashboard  %>
          <%= govuk_link_to "Return to manage mentors and ECTs",
                            schools_participants_path,
                            class: "govuk-link--no-visited-state" %></li>
        <% else %>
          <%= govuk_link_to "Return to your ECTs and mentors",
                            schools_participants_path,
                            class: "govuk-link--no-visited-state" %>
        <% end %>
    </ul>
  </div>
</div>
