<% content_for :before_content, govuk_back_link( text: "Back", href: schools_participant_path(id: @profile)) %>
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-xl">Change <%= @profile.ect? ? "ECT’s" : "mentor’s" %> name</h1>
    <%= form_for @profile.user, url: schools_participant_update_name_path, method: :put do |f| %>
      <%= f.govuk_text_field :full_name, label: { text: "Full name" } %>
      <%= f.govuk_submit %>
    <% end %>
  </div>
</div>
