<% content_for :title, "Edit participant details" %>

<% content_for :before_content, govuk_back_link(
  text: "Back",
  href: schools_cohort_participant_path(@cohort.display_name, @participant))
%>

<h1 class="govuk-heading-xl">Change their personal details</h1>

<p>Work in progress - blocked</p>
