<% content_for :before_content, govuk_back_link( text: "Back", href: schools_participant_edit_email_path) %>
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-xl">That email address is already in use</h1>
    <p class="govuk-body">Check the address entered and try again.</p>
    <%= govuk_button_link_to "Try again", schools_participant_edit_email_path %>
  </div>
</div>
