<% content_for :title, t('page_titles.schools.participants.reason_to_edit_name', name: @profile.full_name) %>

<% content_for :before_content, govuk_back_link(text: "Back", href: school_participant_path(id: @profile)) %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <span class="govuk-caption-xl"><%= @school.name %></span>

    <%= form_with model: edit_name_reason(@selected_reason),
                  scope: '',
                  url: school_participant_edit_name_path(participant_id: @profile),
                  method: :get do |f| %>s
      <%= f.govuk_collection_radio_buttons(
            :reason,
            edit_name_reasons,
            :reason,
            :name,
            legend: -> { tag.h1(t('page_titles.schools.participants.reason_to_edit_name', name: @profile.full_name),
                                class: 'govuk-heading-xl') }
          ) %>
      <%= f.govuk_submit "Continue" %>
    <% end %>
  </div>
</div>
