<% content_for :title, t('participant.name_edited', old_name: @old_name, new_name: @profile.full_name) %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <div class="govuk-panel govuk-panel--confirmation govuk-!-margin-bottom-7">
      <h1 class="govuk-panel__title">
        <%= t('participant.name_edited', old_name: @old_name, new_name: @profile.full_name) %>
      </h1>
    </div>

    <ul class="govuk-list">
      <li><%= govuk_link_to "Return to their details",
                            school_participant_path(id: @profile),
                            class: "govuk-link--no-visited-state" %></li>
      <li><%= govuk_link_to "Return to manage mentors and ECTs",
                            school_participants_path,
                            class: "govuk-link--no-visited-state" %></li>
    </ul>
  </div>
</div>
