<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <% content_for :before_content, govuk_back_link(text: "Back", href: registrations_question_one_path) %>
    <h1 class="govuk-heading-l">You can register later</h1>
    <p>You only need to register if:</p>
    <ul class="govuk-list govuk-list--bullet govuk-!-margin-bottom-6">
      <li>you are expecting early career teachers</li>
      <li>you are ready to confirm details about your induction programme</li>
    </ul>
    <p>You must register by <span class="govuk-!-font-weight-bold">30 September</span>.</p>
    <p>In the meantime, check our guidance for <a href="#">schools choosing an induction programme</a>.</p>
  </div>
</div>



      
