DB_USERNAME=
DB_PASSWORD=
GOVUK_NOTIFY_API_KEY=
DOMAIN=http://localhost:3000
GOVUK_APP_DOMAIN=http://localhost:3000
GOVUK_WEBSITE_ROOT=http://localhost:3000
GIAS_API_SCHEMA=https://ea-edubase-api-prod.azurewebsites.net/edubase/schema/service.wsdl
GIAS_EXTRACT_ID=13904
GIAS_API_USER=ecftech
GIAS_API_PASSWORD=
DQT_CLIENT_API_KEY=apikey
DQT_CLIENT_HOST=http://dqt.com
DQT_CLIENT_PARAMS={"param": "value"}