version: "3.6"
services:
  db:
    image: postgres:9.6-alpine
    volumes:
      - db_data:/var/lib/postgresql/data
    environment:
      - POSTGRES_PASSWORD=developmentpassword
  redis:
    image: redis:alpine
  web:
    build:
      context: .
      dockerfile: Dockerfile
    image: engage-and-learn
    ports:
      - "3000:3000"
    depends_on:
      - db
      - redis
    environment:
      - SERVICE_TYPE=web
      - DB_HOSTNAME=db
      - DB_USERNAME=postgres
      - DB_PASSWORD=developmentpassword
      - DB_DATABASE=engage_and_learn_development
      - DB_PORT=5432
      - REDIS_URL=redis://redis:6379/1
    env_file:
      - .env
    command: /bin/sh -c "rm -f tmp/pids/server.pid && bundle exec rails server -b 0.0.0.0"
volumes:
  db_data:
