<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-l">The link provided is invalid</h1>

    <%= govuk_button_link_to "Resend email", choose_location_request_nomination_invite_path %>
  </div>
</div>
