<% content_for :title, "Nominate an induction tutor" %>
<% content_for :before_content, govuk_back_link(
  text: "Back",
  href: choose_how_to_continue_path(token: @nominate_induction_tutor_form.token))
%>
<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

        <span class="govuk-caption-xl"><%= @nominate_induction_tutor_form.school.name %></span>
        <h1 class="govuk-heading-xl">Nominate an induction tutor for your school</h1>

        <p class="govuk-body">Your induction tutor will be our single point of contact for ECF-based training at your school. They’ll use our service to:</p>
        <ul class="govuk-list govuk-list--bullet">
            <li>report how your school will run training for early career teachers (ECTs)</li>
            <li>register ECTs and their mentors</li>
            <li>tell us about any changes your school needs to make</li>
        </ul>

        <h2 class="govuk-heading-m">Who you can nominate</h2>

        <p class="govuk-body">
            <%= govuk_link_to "Read more about the induction tutor role in our guidance",
            page_path(page: 'what-each-person-does'),
            class: "govuk-link govuk-link--no-visited-state" %>.
        </p>
        <p class="govuk-body govuk-!-margin-bottom-7">If you’re supported by a MAT (multi-academy trust) or federation, you can choose someone who manages training for a number of schools.</p>

        <%= govuk_button_link_to "Continue", { action: :full_name  } %>

    </div>
</div>
