<% content_for :title, "Nominate an induction tutor" %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-xl">Nominate an induction tutor for <%= @nominate_induction_tutor_form.school.name %></h1>

    <p class="govuk-body">Your induction tutor will use our online service to:</p>
    <ul class="govuk-list govuk-list--bullet">
      <li>choose how your school wants to run an induction</li>
      <li>complete some steps to set up a programme</li>
      <li>receive any further updates</li>
    </ul>
    <h2 class="govuk-heading-m">Who you can nominate</h2>
    <p class="govuk-body">
      Schools need to choose the best person to do these tasks.
    </p>
    <p class="govuk-body">
      For example, you can nominate someone who:
    </p>
    <ul class="govuk-list govuk-list--bullet">
      <li>coordinates the training, support and assessment that early career teachers receive at your school</li>
    </ul>
    <p class="govuk-body">Or</p>
    <ul class="govuk-list govuk-list--bullet">
      <li>can confirm details for your programme, such as study materials or training providers and information about your ECTs and mentors</li>
    </ul>
    <p class="govuk-body">Or</p>
    <ul class="govuk-list govuk-list--bullet">
      <li>wants to manage a number of schools, for example, if you’re supported by a MAT (multi-academy trust) or federation</li>
    </ul>
    <p class="govuk-body">If you think this is your role, you can nominate yourself.</p>

    <%= govuk_link_to "Start", { action: :new }, button: true %>
  </div>
</div>
