<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-xl">Nominate an induction lead or tutor for <%= @nominate_induction_tutor_form.school.name %></h1>

    <p class="govuk-body">Your induction lead or tutor will use our online service to manage their statutory induction
      programme and receive any notifications.</p>

    <p class="govuk-body">You only need to nominate someone if your school wants to:</p>

    <ul class="govuk-list govuk-list--bullet">
      <li>use an approved training provider</li>
    </ul>
    <p class="govuk-body">Or</p>
    <ul class="govuk-list govuk-list--bullet">
      <li>use the DfE accredited materials</li>
    </ul>

    <%= govuk_link_to "Start", { action: :new }, class: 'govuk-button' %>
  </div>
</div>
