<% content_for :title, "Upload partnership csv" %>
<!-- do we need a back button here? -->
<% content_for :before_content, govuk_back_link( text: "Back", href: '#') %>
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-xl">Csv errors page</h1>
  </div>
</div>