<% content_for :title, "Delete admin user" %>
<h1>Do you want to delete this user?</h1>
<p class="govuk-!-font-weight-bold">Admin user: <span class="govuk-!-font-weight-regular"><%= @administrator.full_name %></span></p>
<%= form_for :confirmation, url: admin_administrator_path(@administrator), method: :delete do |f| %>
  <div class="govuk-button-group">
    <%= f.govuk_submit "Delete", classes: "govuk-button--warning", "data-test": "delete-button" %>
    <%= govuk_button_link_to "Back", edit_admin_administrator_path(@administrator), class: "govuk-button--secondary" %>
  </div>
<% end %>
