<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-xl">Administrators</h1>
    <%= govuk_link_to "Create a new administrator", new_admin_administrators_administrator_path, button: true %>
    <br/>
    <% @administrators.each do |administrator| %>
      <%= administrator.full_name %>
    <% end %>
  </div>
</div>
