<% content_for :title, "Admin users" %>
<h1 class="govuk-heading-l">Admin users</h1>
<%= govuk_link_to "Create a new admin user", new_admin_administrator_path, button: true, "data-test" => "create-admin-button" %>
<table class="govuk-table">
  <thead>
    <tr class="govuk-table__row">
      <th scope="col" class="govuk-table__header">Name</th>
      <th scope="col" class="govuk-table__header">Email</th>
    </tr>
  </thead>
  <tbody class="govuk-table__body">
    <% @administrators.each do |administrator| %>
      <tr class="govuk-table__row">
        <td class="govuk-table__cell" data-test="edit-admin-link"><%= govuk_link_to administrator.full_name, edit_admin_administrator_path(administrator) %></td>
        <td class="govuk-table__cell"><%= administrator.email %></td>
      </tr>
    <% end %>
  </tbody>
</table>
