<%= govuk_breadcrumbs breadcrumbs: course_lesson_breadcrumbs(@current_user, @course_lesson) %>
<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    <% if policy(@course_lesson).edit? %>
      <%= govuk_link_to "Edit lesson", edit_cip_year_module_lesson_path(id: @course_lesson.id), button: true %>
    <% end %>

    <% if @course_lesson.completion_time_in_minutes %>
      <h2 class="govuk-heading-m govuk-!-margin-bottom-8">
        Duration: <%= @course_lesson.duration_in_minutes_in_words %>
      </h2>
    <% end %>

    <h1 class="govuk-heading-xl"> <%= @course_lesson.title %></h1>
    <p>This lesson has no content!</p>
  </div>
</div>
