<%= govuk_summary_list do |summary_list| %>
  <% summary_list.row do |row| %>
    <% row.key { "Name" } %>
    <% row.value { form.full_name } %>
    <% unless form.found_participant_in_dqt? %>
      <% row.action(text: "Change",
                    visually_hidden_text: "name",
                    href: form.change_path_for(step: :name)) %>
    <% end %>
  <% end %>

  <% if form.trn %>
   <% summary_list.row do |row| %>
       <% row.key { "TRN" } %>
       <% row.value { form.trn } %>
       <% unless form.found_participant_in_dqt? %>
         <% row.action(text: "Change",
                       visually_hidden_text: "TRN",
                       href: form.change_path_for(step: :trn)) %>
       <% end %>
     <% end %>
   <% end %>

  <% if form.date_of_birth %>
    <% summary_list.row do |row| %>
      <% row.key { "Date of birth" } %>
      <% row.value { form.date_of_birth.to_date.to_s(:govuk) } %>
      <% unless form.found_participant_in_dqt? %>
        <% row.action(text: "Change",
                      visually_hidden_text: "date of birth",
                      href: form.change_path_for(step: :date_of_birth)) %>
      <% end %>
    <% end %>
  <% end %>

  <% summary_list.row do |row| %>
    <% row.key { "Email address" } %>
    <% row.value { form.email } %>
    <% row.action(text: "Change",
                 visually_hidden_text: "email address",
                 href: form.change_path_for(step: :email)) %>
  <% end %>

  <% if form.ect_participant? %>
    <% if form.show_start_term? %>
      <% summary_list.row do |row| %>
        <% row.key { "Start term" } %>
        <% row.value { form.start_term_description } %>
        <% row.action(text: "Change",
                      visually_hidden_text: "start term",
                      href: form.change_path_for(step: :start_term)) %>
      <% end %>
    <% end %>

    <% summary_list.row do |row| %>
      <% row.key { "Mentor" } %>
      <% row.value { form.mentor.present? ? form.mentor.full_name : "Add later" } %>
      <% if !form.sit_mentor? && form.mentor_options.any? %>
        <% row.action(text: "Change",
                      visually_hidden_text: "mentor",
                      href: form.change_path_for(step: :choose_mentor)) %>
      <% end %>
    <% end %>
  <% end %>

  <% if form.appropriate_body_selected.present? %>
    <% summary_list.row do |row| %>
      <% row.key { "Appropriate body" } %>
      <% row.value do %>
        <p class="govuk-body"><%= form.appropriate_body_selected.name %></p>
      <% end %>
      <% row.action(text: "Change",
                    visually_hidden_text: "mentor",
                    href: form.change_path_for(step: :confirm_appropriate_body)) %>
    <% end %>
  <% end %>

  <% if form.show_default_induction_programme_details? %>
    <% summary_list.row do |row| %>
      <% row.key { "Training with" } %>
      <% row.value do %>
        <p class="govuk-body"><%= form.lead_provider&.name %></p>
        <p class="govuk-body"><%= form.delivery_partner&.name %></p>
      <% end %>
    <% end %>
  <% end %>
<% end %>
