<%= govuk_summary_list do |summary_list| %>
  <% summary_list.with_row do |row| %>
    <% row.with_key { "Name" } %>
    <% row.with_value { form.full_name } %>
    <% unless form.found_participant_in_dqt? %>
      <% row.with_action(text: "Change",
                    visually_hidden_text: "name",
                    href: form.change_path_for(step: :name)) %>
    <% end %>
  <% end %>

  <% if form.trn %>
    <% summary_list.with_row do |row| %>
      <% row.with_key { "TRN" } %>
      <% row.with_value { form.trn } %>
      <% unless form.found_participant_in_dqt? %>
        <% row.with_action(text: "Change",
                      visually_hidden_text: "TRN",
                      href: form.change_path_for(step: :trn)) %>
      <% end %>
    <% end %>
  <% end %>

  <% if form.date_of_birth %>
    <% summary_list.with_row do |row| %>
      <% row.with_key { "Date of birth" } %>
      <% row.with_value { form.date_of_birth.to_date.to_fs(:govuk) } %>
      <% unless form.found_participant_in_dqt? %>
        <% row.with_action(text: "Change",
                      visually_hidden_text: "date of birth",
                      href: form.change_path_for(step: :date_of_birth)) %>
      <% end %>
    <% end %>
  <% end %>

  <% summary_list.with_row do |row| %>
    <% row.with_key { "Email address" } %>
    <% row.with_value { form.email } %>
    <% row.with_action(text: "Change",
                 visually_hidden_text: "email address",
                 href: form.change_path_for(step: :email)) %>
  <% end %>

  <% if form.show_start_term? %>
    <% summary_list.with_row do |row| %>
      <% row.with_key { "Start term" } %>
      <% row.with_value { form.start_term_description } %>
      <% row.with_action(text: "Change",
                    visually_hidden_text: "start term",
                    href: form.change_path_for(step: :start_term)) %>
    <% end %>
  <% end %>

  <% if form.ect_participant? %>
    <% summary_list.with_row do |row| %>
      <% row.with_key { "Mentor" } %>
      <% row.with_value { form.mentor.present? ? form.mentor.full_name : "Add later" } %>
      <% if !form.sit_mentor? && form.mentor_options.any? %>
        <% row.with_action(text: "Change",
                      visually_hidden_text: "mentor",
                      href: form.change_path_for(step: :choose_mentor)) %>
      <% end %>
    <% end %>
  <% end %>

  <% if form.appropriate_body_selected.present? %>
    <% summary_list.with_row do |row| %>
      <% row.with_key { "Appropriate body" } %>
      <% row.with_value do %>
        <p class="govuk-body"><%= form.appropriate_body_selected.name %></p>
      <% end %>
      <% row.with_action(text: "Change",
                    visually_hidden_text: "mentor",
                    href: form.change_path_for(step: :confirm_appropriate_body)) %>
    <% end %>
  <% end %>

  <% if form.chosen_lead_provider %>
    <% summary_list.with_row do |row| %>
      <% row.with_key { "Training with" } %>
      <% row.with_value do %>
        <%= tag.p(form.chosen_lead_provider.name, class: "govuk-body") %>
        <%= tag.p(form.chosen_delivery_partner.name, class: "govuk-body") %>
      <% end %>
    <% end %>
  <% end %>
<% end %>
