<% content_for :title, "Has this person already started mentoring ECTs at another school?" %>

<h1 class="govuk-heading-xl">Has this person already started mentoring ECTs at another school?</h1>
<p class="govuk-body">You can only add new mentors to this service at the moment.</p>
<p class="govuk-body govuk-!-font-weight-bold">Add a mentor who’s already started mentoring ECTs</p>
<p class="govuk-body">If a mentor is transferring from another school where they’ve already started mentoring ECTs, contact us for help:
<%= govuk_mail_to "continuing-professional-development@digital.education.gov.uk", "continuing-professional-development@digital.education.gov.uk" %></p>
<p class="govuk-body govuk-!-font-weight-bold">Add a mentor who has not started mentoring ECTs</p>
