<% title = "You cannot add yourself as an ECT" %>
<% content_for :title, title %>

<% content_for :before_content, govuk_back_link( text: "Back", href: wizard_back_link_path) %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <span class="govuk-caption-xl"><%= @school.name %></span>
    <h1 class="govuk-heading-xl"><%= title %></h1>

    <p class="govuk-body">If you are trying to add yourself as a mentor, follow the link below.</p>
    <%= govuk_link_to "Add yourself as a mentor", schools_who_to_add_start_path(@school), no_visited_state: true %>
  </div>
</div>
