<% title = "You cannot add #{@wizard.full_name} yet" %>
<% content_for :title, title %>

<% content_for :before_content, govuk_back_link( text: "Back", href: wizard_back_link_path) %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <span class="govuk-caption-xl"><%= @school.name %></span>
    <h1 class="govuk-heading-xl"><%= title %></h1>

    <p class="govuk-body">Our service is not open for registrations so you cannot add this participant yet.</p>
    <p class="govuk-body">We will contact you when registrations are open.</p>

    <%= govuk_button_link_to "Return to your ECTs and mentors", @wizard.dashboard_path, no_visited_state: true %>
  </div>
</div>
