<% content_for :title, "ECT or mentor added" %>

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

        <% if participant_profile.user == current_user %>
            <%= govuk_panel title_text: "You’ve been added as a mentor", text: nil, classes: "govuk-!-margin-bottom-7" %>

            <h2 class="govuk-heading-m">What happens next</h2>
            <p class="govuk-body">We’ll send you an email that explains what information we need from you.</p>

        <% else %>
            <% if participant_profile.ect? %>
                <%= govuk_panel title_text: "#{participant_profile.user.full_name} has been added as an ECT", text: nil, classes: "govuk-!-margin-bottom-7" %>
            <% else %>
                <%= govuk_panel title_text: "#{participant_profile.user.full_name} has been added as a mentor", text: nil, classes: "govuk-!-margin-bottom-7" %>
            <% end %>

            <h2 class="govuk-heading-m">What happens next</h2>

            <p class="govuk-body">We’ll contact them to ask for information needed to check they’re eligible for this training.</p>
            <p class="govuk-body">We’ll let you know if they’re not eligible, or if we need any further information.</p>
            <p class="govuk-body">You can track the status of these checks by viewing your ECTs and mentors.</p>
        <% end %>

        <%= govuk_link_to "View your ECTs and mentors", schools_participants_path, class: "govuk-link govuk-link--no-visited-state" %>
    </div>
</div>
