<% content_for :title, "Teacher or mentor added" %>

<% if participant_profile.user == current_user %>
  <%= govuk_panel title: "You have been added to the #{@cohort.display_name} cohort", body: nil, classes: "govuk-!-margin-bottom-8" %>

  <h2 class="govuk-heading-m">What happens next</h2>
  <ul class="govuk-list govuk-list--bullet">
    <li>we will contact you if we need anymore details and update you on your status</li>
  </ul>

<% else %>
  <%= govuk_panel title: "You have added #{participant_profile.user.full_name} to the #{@cohort.display_name} cohort", body: nil, classes: "govuk-!-margin-bottom-8" %>

  <h2 class="govuk-heading-m">What happens next</h2>
  <ul class="govuk-list govuk-list--bullet">
    <li>we will contact you if we need any more details from you such as their Teacher Reference Number (TRN)</li>
    <li>we will also update you on their status</li>
    <li>you can view your early career teachers (ECTs) and mentors to see their status</li>
  </ul>
<% end %>

<div class="govuk-button-group">
  <%= govuk_link_to "Add a new ECT or mentor", add_schools_participants_path, button: true %>
  <%= govuk_link_to "View your ECTs and mentors", schools_participants_path %>
</div>
