<% content_for :title, "This email has already been added" %>

<% content_for :before_content, govuk_back_link(text: "Back", href: wizard_back_link_path) %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <% if @wizard.email_used_in_the_same_school? %>
      <h1 class="govuk-heading-xl">This email has already been added</h1>
      <p class="govuk-body govuk-!-margin-bottom-7">
        This email address has already been used to add an early career teacher or mentor.
      </p>
    <% else %>
      <h1 class="govuk-heading-xl">This email is being used by someone at another school</h1>
      <p class="govuk-body govuk-!-margin-bottom-7">
        Contact them directly to check whether they need to be transferred to your school.
      </p>
    <% end %>
    <%= govuk_button_link_to "Add a new ECT or mentor", schools_who_to_add_start_path(school_id: @school.slug) %>
  </div>
</div>
