<% content_for :title, "Enter full name to confirm" %>

<% content_for :before_content, govuk_back_link(text: "Back", href: what_we_need_schools_add_participants_path) %>

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">


        <%
          full_name_label = if add_participant_form.type == :ect
            'What’s this person’s full name?'
          else
            'What’s the full name of this mentor?'
          end
        %>

        <%= form_for add_participant_form, url: { action: :update }, method: :patch do |f| %>
            <%= f.govuk_error_summary %>
            <%= f.govuk_text_field :full_name, width: "three-quarters",
                label: { text: full_name_label, tag: :h1, size: 'xl' },
                caption: { text: @school.name, size: 'xl' } %>
            <%= f.govuk_submit "Continue" %>
        <% end %>

    </div>
</div>
