<% title = "When will #{@wizard.full_name} start their induction?" %>

<% content_for :title, title %>

<% content_for :before_content, govuk_back_link(text: "Back", href: wizard_back_link_path) %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <%= form_with model: @wizard.form, url: url_for(action: :update), scope: @wizard.form_scope, method: :put do |f| %>
      <%= f.govuk_error_summary %>
      <%= f.govuk_collection_radio_buttons(
        :start_term,
        @wizard.form.start_term_options,
        :id, :name,
        legend: { text: title, tag: 'h1', size: 'xl' },
        caption: { text: @school.name, size: "xl" },
        hint: { text: "This is when #{@wizard.full_name} will start their induction and begin ECF-based training at your school." }) %>

      <%= f.govuk_submit "Continue" %>
    <% end %>
  </div>
</div>

