<% content_for :title, "What we need from you" %>

<% content_for :before_content, govuk_back_link(text: "Back", href: wizard_back_link_path) %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <span class="govuk-caption-xl"><%= @school.name %></span>
    <h1 class="govuk-heading-xl">What we need from you</h1>

    <p class="govuk-body">You must tell us their:</p>
    <ul class="govuk-list govuk-list--bullet">
      <li>full name</li>
      <li>teacher reference number (TRN)</li>
      <li>date of birth</li>
      <li>email address (personal or school)</li>
      <li><%= @wizard.ect_participant? ? "induction" : "mentoring" %> start date or, if moving from another school, their start date</li>
    </ul>
    <% if @wizard.ect_participant? %>
      <p class="govuk-body">
        We use this information to check their details in the Teaching Regulation Agency (TRA) records to make
        sure they’re eligible for DfE funding. When participants move school, we need to find their record so
        it can be transferred to your school.
      </p>
      <p class="govuk-body">
        If your school does not have this information, contact the person directly to ask for it.
      </p>
    <% else %>
      <p class="govuk-body">
        We use this information to check their details in the Teaching Regulation Agency (TRA) records.
        This is to make sure they’re eligible for DfE funding.
      </p>
    <% end %>

    <%= govuk_details(summary_text: "Tell your ECTs and mentors about this use of their data", classes: "govuk-!-margin-top-7 govuk-!-margin-bottom-7") do %>
      <p>You should let them know that we:</p>
      <ul class="govuk-list govuk-list--bullet">
        <li>use their personal data to arrange DfE funding</li>
        <li>need to share this data with training providers and other organisations involved in ECT induction and ECF-based training</li>
      </ul>
      <p class="govuk-body">
        <a class="govuk-link govuk-link--no-visited-state" href="/privacy-policy">Read our privacy policy</a></p>
    <% end %>

    <%= govuk_button_link_to "Continue", @wizard.next_step_path %>
  </div>
</div>
