apiVersion: apps/v1
kind: Deployment
metadata:
  name: cpd-ecf-maintenance
  labels:
    app: cpd-ecf-maintenance
spec:
  replicas: 2
  selector:
    matchLabels:
      app: cpd-ecf-maintenance
  template:
    metadata:
      labels:
        app: cpd-ecf-maintenance
    spec:
      nodeSelector:
        teacherservices.cloud/node_pool: applications
        kubernetes.io/os: linux
      containers:
      - name: cpd-ecf-maintenance
        image: ghcr.io/dfe-digital/cpd-ecf-maintenance:#MAINTENANCE_IMAGE_TAG#
        ports:
        - containerPort: 8080
        resources:
          requests:
            memory: 64M
            cpu: 0.1
          limits:
            memory: 64M
            cpu: 1
