<div class="primary-nav-container">
  <div class="govuk-width-container">
    <div class="primary-nav">
      <% nav_items.each do |item| %>
        <%= item %>
      <% end %>
    </div>
  </div>
</div>
