<div class="primary-nav-container <%= "primary-nav-container--reversed" if reversed %>">
  <div class="govuk-width-container <%= "govuk-width-container__wide" if wide %>">
    <nav class="primary-nav" aria-label="Manage your training">
      <% nav_items.each do |item| %>
        <%= item %>
      <% end %>
    </nav>
  </div>
</div>
