<!--<div class="page-tab-container">-->
  <%# tabs.each do |tab| %>
    <%#= tab %>
  <%# end %>
<!--</div>-->
<!--<hr class="govuk-!-margin-top-0"/>-->


<nav class="hmcts-sub-navigation" aria-label="Sub navigation">
  <ul class="hmcts-sub-navigation__list">
    <% tabs.each do |tab| %>
      <%= tab %>
    <% end %>
  </ul>
</nav>
