<% content_for :before_content,  govuk_breadcrumbs(breadcrumbs: @breadcrumbs) %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    <h1 class="govuk-heading-xl">Participant profiles with duplicates</h1>
  </div>
</div>
<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    <%= govuk_table do |table|
      table.head do |head|
        head.row do |row|
          row.cell(header: true, text: "Participant ID")
          row.cell(header: true, text: "Induction status")
          row.cell(header: true, text: "Training status")
          row.cell(header: true, text: "Provider")
          row.cell(header: true, text: "Duplicate count")
          row.cell(header: true, text: "Declaration count")
          row.cell(header: true, text: "Actions")
        end

        table.body do |body|
          @participant_profiles.each do |participant_profile|
            body.row do |row|
              row.cell do
                govuk_link_to participant_profile.participant_id, finance_participant_path(participant_profile.participant_id)
              end
              row.cell(text: participant_profile.induction_status)
              row.cell(text: participant_profile.training_status)
              row.cell(text: participant_profile.provider_name)
              row.cell(text: participant_profile.duplicate_profile_count)
              row.cell(text: participant_profile.declaration_count)
              row.cell do
                govuk_link_to "View duplicates", finance_ecf_duplicate_profile_path(participant_profile), { class: govuk_link_classes }
              end
            end
          end
        end
      end
    end
    %>
  </div>
</div>
