<h1 class="govuk-heading-l"><%= @npq_application.user.full_name %></h1>

<% content_for :before_content, govuk_back_link(text: "Back", href: admin_npq_applications_edge_cases_path) %>

<%=
  govuk_summary_list do |sl|
    sl.with_row do |row|
      row.with_key(text: "Participant ID")
      row.with_value(text: @npq_application.profile_id)
    end

    sl.with_row do |row|
      row.with_key(text: "Application ID")
      row.with_value(text: @npq_application.id)
    end

    sl.with_row do |row|
      row.with_key(text: "Email")
      row.with_value(text: @npq_application.user.email)
    end

    sl.with_row do |row|
      row.with_key(text: "NPQ course name")
      row.with_value(text: @npq_application.npq_course_name)
    end

    sl.with_row do |row|
      row.with_key(text: "Lead provider")
      row.with_value(text: @npq_application.npq_lead_provider.name)
    end

    sl.with_row do |row|
      row.with_key(text: "Lead provider approval status")
      row.with_value(text: @npq_application.lead_provider_approval_status)
    end

    sl.with_row do |row|
      row.with_key(text: "Employment type")
      row.with_value(text: @npq_application.employment_type&.humanize || "-")
    end

    sl.with_row do |row|
      row.with_key(text: "Employment name")
      row.with_value(text: @npq_application.employer_name&.humanize || "-")
    end

    sl.with_row do |row|
      row.with_key(text: "Employment role")
      row.with_value(text: @npq_application.employment_role&.humanize || "-")
    end

    sl.with_row do |row|
      row.with_key(text: "Application submitted date")
      row.with_value(text: @npq_application.created_at.to_fs(:govuk_short))
    end

    sl.with_row do |row|
      row.with_key(text: "Last updated date")
      row.with_value(text: @npq_application.updated_at.to_fs(:govuk_short))
      row.with_action(
        text: 'View change log',
        href:  admin_npq_applications_application_change_logs_path(@npq_application),
      ) if @npq_application.change_logs.any?
    end
  end
%>

<h1 class="govuk-heading-l govuk-!-margin-top-9">Scholarship funding</h1>

<%=
  govuk_summary_list do |sl|
    if (@npq_application.declared_as_billable? && @npq_application.eligible_for_funding)
      sl.with_row do |row|
        row.with_key(text: "Eligible for funding")
        row.with_value(text: boolean_red_green_tag(@npq_application.eligible_for_funding))
      end
    else
      sl.with_row do |row|
        row.with_key(text: "Eligible for funding")
        row.with_value(text: boolean_red_green_tag(@npq_application.eligible_for_funding))
        row.with_action(
          text: 'Edit',
          href: edit_admin_npq_applications_eligible_for_funding_path(@npq_application),
          visually_hidden_text: "NPQ application"
        )
      end
    end

    if FeatureFlag.active?(:npq_capping)
      sl.with_row do |row|
        row.with_key(text: "Funded place")
        row.with_value(text: boolean_to_yes_no_nil(@npq_application.funded_place))
      end
    end
    
    sl.with_row do |row|
      row.with_key(text: "Funding eligibility status code")
      if @npq_application.eligible_for_funding?
        row.with_value(text: @npq_application.funding_eligiblity_status_code&.humanize)
      else
        row.with_value(text: @npq_application.funding_eligiblity_status_code&.humanize)
        row.with_action(
          text: 'Edit',
          href: edit_admin_npq_applications_eligibility_status_path(@npq_application)
        )
      end
    end

    sl.with_row do |row|
      row.with_key(text: "Referred by return to teaching adviser")
      row.with_value(text: @npq_application.referred_by_return_to_teaching_adviser&.humanize || "-")
    end

    unless @npq_application.referred_by_return_to_teaching_adviser == "yes"
      sl.with_row do |row|
        row.with_key(text: "Employment type")
        row.with_value(text: @npq_application.employment_type&.humanize || "-")
      end

      sl.with_row do |row|
        row.with_key(text: "Employment name")
        row.with_value(text: @npq_application.employer_name&.humanize || "-")
      end

      sl.with_row do |row|
        row.with_key(text: "Employment role")
        row.with_value(text: @npq_application.employment_role&.humanize || "-")
      end
    end

    sl.with_row do |row|
      row.with_key(text: "Created at")
      row.with_value(text: @npq_application.created_at.to_fs(:govuk_short))
    end

    sl.with_row do |row|
      row.with_key(text: "Updated at")
      row.with_value(text: @npq_application.updated_at.to_fs(:govuk_short))
    end

    sl.with_row do |row|
      row.with_key(text: "Notes")

      notes_present = @npq_application.notes.present?
      row.with_value do
        if notes_present
          simple_format(@npq_application.notes, class: "govuk-body")
        else
          "No notes"
        end
      end

      user = @npq_application.user

      row.with_action(
        text: notes_present ? "Change notes" : "Add notes",
        href: edit_admin_npq_applications_note_path(@npq_application),
        visually_hidden_text: notes_present ? "on #{user.full_name}'s profile" : "to #{user.full_name}'s profile",
      )
    end

  end
%>
