<h1 class="govuk-heading-xl"><%= @npq_application.user.full_name %></h1>

<% content_for :before_content, govuk_back_link(text: "Back", href: admin_npq_applications_edge_cases_path) %>

<%=
  govuk_summary_list do |sl|
    sl.row do |row|
      row.key(text: "Participant ID")
      row.value(text: @npq_application.profile_id)
    end

    sl.row do |row|
      row.key(text: "Application ID")
      row.value(text: @npq_application.id)
    end

    sl.row do |row|
      row.key(text: "NPQ course name")
      row.value(text: @npq_application.npq_course_name)
    end

    sl.row do |row|
      row.key(text: "Lead provider")
      row.value(text: @npq_application.npq_lead_provider.name)
    end

    sl.row do |row|
      row.key(text: "Lead provider approval status")
      row.value(text: @npq_application.lead_provider_approval_status)
    end

    sl.row do |row|
      row.key(text: "Eligible for funding")
      row.value(text: boolean_red_green_tag(@npq_application.eligible_for_funding))
      row.action(
        text: 'edit',
        href: edit_admin_npq_applications_eligible_for_funding_path(@npq_application)
      )
    end

    sl.row do |row|
      row.key(text: "Funding eligibility status code")
      if @npq_application.eligible_for_funding?
        row.value(text: @npq_application.funding_eligiblity_status_code&.humanize)
      else
        row.value(text: @npq_application.funding_eligiblity_status_code&.humanize)
        row.action(
          text: 'edit',
          href: edit_admin_npq_applications_eligibility_status_path(@npq_application)
        )
      end
    end

    sl.row do |row|
      row.key(text: "Employment type")
      row.value(text: @npq_application.employment_type&.humanize || "-")
    end

    sl.row do |row|
      row.key(text: "Employment name")
      row.value(text: @npq_application.employer_name&.humanize || "-")
    end

    sl.row do |row|
      row.key(text: "Employment role")
      row.value(text: @npq_application.employment_role&.humanize || "-")
    end

    sl.row do |row|
      row.key(text: "Created at")
      row.value(text: @npq_application.created_at.to_s(:govuk_short))
    end

    sl.row do |row|
      row.key(text: "Updated at")
      row.value(text: @npq_application.updated_at.to_s(:govuk_short))
    end

    sl.row do |row|
      row.key(text: "Notes")

      notes_present = @npq_application.notes.present?
      row.value do
        if notes_present
          simple_format(@npq_application.notes, class: "govuk-body")
        else
          "No notes"
        end
      end

      user = @npq_application.user

      row.action(
        text: notes_present ? "Change notes" : "Add notes",
        href: edit_admin_npq_applications_note_path(@npq_application),
        visually_hidden_text: notes_present ? "on #{user.full_name}'s profile" : "to #{user.full_name}'s profile",
      )
    end
  end
%>
