.app-application__panel__summary {
  display: grid;
  padding: 20px;
  background-color: #f8f8f8;
  border: none;
  flex: 1 1 100%;
  margin-bottom: 0 !important;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
  grid-auto-flow: row;
  grid-row-gap: 1rem;
  grid-column-gap: 1rem;

  .duvet {
    border-top: 1px solid #b1b4b6;
    padding-top: 20px;
  }

  @media (min-width: 40.625em) {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, auto);
  }

  @media (min-width: 68.75em) {
    display: flex;
    justify-content: space-between;
  }

  div {
    .float {
      display: inline-block;
      float: left;
    }

    .number-group {
      display: block;
    }
  }

  ul {
    display: grid;
    grid-auto-flow: row;
    grid-gap: 0.5rem;
    padding: unset;
  }

  li {
    @media (min-width: 40.0625em) {
      font-size: 1.1875rem;
      line-height: 1.31579;
    }
  }

  p {
     display: flex;
     justify-content: space-between;
  }

  h4.govuk-heading-l {
    font-size: 1.9rem;
  }
}

.app-application__panel {
  display: grid;
  padding: 20px;
  background-color: #f8f8f8;
  border: none;
  flex: 1 1 100%;
  margin-bottom: 0 !important;
  grid-template-columns: repeat(1, 1fr);
  grid-template-rows: repeat(3, auto);
  grid-auto-flow: row;
  grid-row-gap: 1rem;
  grid-column-gap: 1rem;

  @media (min-width: 68.75em) {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr repeat(3, auto);
  }
}

.app-application__card {
  margin-bottom: 10px;
  border-bottom: 1px solid black;

  @media (min-width: 40.625em) {
    margin-bottom: 10px;
  }

  @media (max-width: 558px) {
    .table-responsive-max-width {
      display: block;
      width: 100%;
      overflow-x: auto;
      -webkit-overflow-scrolling: touch;
      -ms-overflow-style: -ms-autohiding-scrollbar;
    }
  }
}

.app-application-card__header {
  align-items: baseline;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.moj-filter-layout__content {
  overflow: hidden;
}

.finance-panel {
  padding: 20px 20px 10px 20px;
  background-color: #f8f8f8;
  overflow-x: auto;
  -webkit-overflow-scrolling: touch;
  -ms-overflow-style: -ms-autohiding-scrollbar;

  &.finance-panel__summary {
    display: grid;
    gap: 2rem;
    grid-template-columns: 1fr;

    @media (min-width: 40.625em) {
      grid-template-columns: auto 1fr;
    }
  }

  .finance-panel__summary__total-payment-breakdown {
    p {
      display: flex;
      justify-content: space-between;
    }
  }

  .finance-panel__summary__meta {
    flex-grow: 1;
  }

  .finance-panel__summary__meta__dates {
    display: grid;
    gap: 2rem;
    grid-template-columns: 1fr;

    @media (min-width: 40.625em) {
      grid-template-columns: auto 1fr;
    }
  }

  .finance-panel__summary__meta__counts {
    display: grid;
    gap: 2rem;
    grid-template-columns: 1fr;

    @media (min-width: 40.625em) {
      grid-template-columns: repeat(4, 1fr);
    }
  }

  .output-payments tbody tr:nth-of-type(2n - 1) {
    th,
    td {
      border-bottom: 0;
    }
  }
}

.finance-panel__summary__downloads {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  background: #f8f8f8;
  padding: 0 20px;
  .duvet {
    border-top: 1px solid #b1b4b6;
    padding-top: 20px;
  }
}
