<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h2 class="govuk-heading-l">You do not have an account</h2>
    <p>Your school may not be registered. </p>
    <%= govuk_link_to "Register your school", root_path %>
  </div>
</div>
