<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h2 class="govuk-heading-l">Your school has not registered</h2>
    <p>You must be responsible for running your induction programme to register your school.</p>
    <%= govuk_link_to "Register your school", users_information_path, button: true %>
  </div>
</div>
