<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h2 class="govuk-heading-l">Check your email</h2>
    <p>We have sent you an email to complete your sign in.</p>
    <p>If you do not get an email:</p>
    <ul class="govuk-list govuk-list--bullet">
      <li>first check your spam or junk folder</li>
      <li>contact us: <%= mail_to "ecf-support@digital.education.gov.uk" %></li>
    </ul>
  </div>
</div>
