<% content_for :title, "Check email" %>
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-xl">Check your email</h1>
    <p class="govuk-body">If you have an account, we’ve sent you a link to sign in.</p>
   
    <h2 class="govuk-heading-m">If you do not get an email</h2>
      		<ol class="govuk-list govuk-list--number">
            <li>Check your spam or junk folder.</li>
            <li>Try signing in again, making sure your email address is typed correctly and does not include any spaces.</li>
		      </ol>
            <p>If you’re not registered, <%= govuk_link_to "find out how to get an account", check_account_path %>.</p>
	    <p>If you still need help, contact us: <%= render MailToSupportComponent.new %></p>
  </div>
</div>
