<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-l">If your email address is in our database, we have sent you an email</h1>
    <h2 class="govuk-heading-m">If you do not get an email</h2>
    <ul class="govuk-list govuk-list--bullet">
      <li>first check your spam or junk folder</li>
      <li>you may not be able to create an account yet. Check again in a few weeks</li>
      <li>contact us: <%= render MailToSupportComponent.new %></li>
    </ul>
  </div>
</div>
