<h2>Log in</h2>

<%= form_tag('/sign_in_with_token') do %>
  <div class="field">
    <%= hidden_field_tag :login_token, @login_token %>
  </div>


  <div class="actions">
    <%= submit_tag "Log in" %>
  </div>
<% end %>

<%= render "users/shared/links" %>