<%= govuk_summary_list do |summary_list| %>
  <% summary_list.with_row do |row| %>
    <% row.with_key { "User ID / Participant ID" } %>
    <% row.with_value { @user.id } %>
    <% row.with_action(text: :none) %>
  <% end %>

  <% summary_list.with_row do |row| %>
    <% row.with_key { "Profile ID" } %>
    <% row.with_value { pp.id } %>
    <% row.with_action(text: :none) %>
  <% end %>

  <% summary_list.with_row do |row| %>
    <% row.with_key { "Eligible for funding" } %>
    <% row.with_value { pp.fundable?.to_s.upcase } %>
    <% row.with_action(text: :none) %>
  <% end %>

  <% summary_list.with_row do |row| %>
    <% row.with_key { "NPQ course" } %>
    <% row.with_value { pp.npq_course&.name } %>
    <% row.with_action(text: :none) %>
  <% end %>

  <% summary_list.with_row do |row| %>
    <% row.with_key { "Lead provider" } %>
    <% row.with_value { pp.npq_application&.npq_lead_provider&.name } %>
    <% if policy(FinanceProfile).change_lead_provider? && Finance::NPQ::ChangeLeadProviderForm.new(participant_profile: pp).change_lead_provider? %>
      <% row.with_action(
        text: "Change",
        visually_hidden_text: "lead provider",
        href: new_finance_participant_profile_npq_change_lead_provider_path(pp))
      %>
    <% else %>
      <% row.with_action(text: :none) %>
    <% end %>
  <% end %>

  <% summary_list.with_row do |row| %>
    <% row.with_key { "School URN" } %>
    <% row.with_value { pp.npq_application&.school_urn } %>
    <% row.with_action(text: :none) %>
  <% end %>

  <% summary_list.with_row do |row| %>
    <% row.with_key { "Status" } %>
    <% row.with_value { pp.status } %>
    <% row.with_action(text: :none) %>
  <% end %>

  <% summary_list.with_row do |row| %>
    <% row.with_key { "Training status" } %>
    <% row.with_value { pp.state } %>
    <% if policy(FinanceProfile).change_training_status? %>
      <% row.with_action(
        text: "Change",
        visually_hidden_text: "training status",
        href: new_finance_participant_profile_npq_change_training_status_path(pp))
      %>
    <% else %>
      <% row.with_action(text: :none) %>
    <% end %>
  <% end %>

  <% summary_list.with_row do |row| %>
    <% row.with_key { "Schedule identifier" } %>
    <% row.with_value { pp.schedule&.schedule_identifier } %>
    <% row.with_action(text: :none) %>
  <% end %>

  <% summary_list.with_row do |row| %>
    <% row.with_key { "Schedule cohort" } %>
    <% row.with_value { pp.schedule&.cohort&.start_year&.to_s } %>
    <% row.with_action(text: :none) %>
  <% end %>

  <% summary_list.with_row do |row| %>
    <% row.with_key { "Created at" } %>
    <% row.with_value { pp.created_at.to_fs(:govuk) } %>
    <% row.with_action(text: :none) %>
  <% end %>

  <% summary_list.with_row do |row| %>
    <% row.with_key { "Updated at" } %>
    <% row.with_value { pp.updated_at.to_fs(:govuk) } %>
    <% row.with_action(text: :none) %>
  <% end %>

  <% summary_list.with_row do |row| %>
    <% row.with_key { "Lead Provider API V3" } %>
    <% row.with_value do %>
      <%= govuk_details(summary_text: "See this participant as it appears over the Lead Provider API") do %>
        <%= npq_participant_api_response(pp) %>
      <% end %>
    <% end %>
    <% row.with_action(text: :none) %>
  <% end %>
<% end %>

<h4>Declarations</h4>

<% if pp.participant_declarations.blank? %>
  No declarations have been made
<% end %>

<% pp.participant_declarations.each do |declaration| %>
  <%= render partial: "finance/participants/declaration", locals: { declaration: declaration } %>
<% end %>
