<%= govuk_summary_list do |summary_list| %>
  <% summary_list.row do |row| %>
    <% row.key { "User ID / Participant ID" } %>
    <% row.value { @user.id } %>
    <% row.action(text: :none) %>
  <% end %>

  <% summary_list.row do |row| %>
    <% row.key { "Profile ID" } %>
    <% row.value { pp.id } %>
    <% row.action(text: :none) %>
  <% end %>

  <% summary_list.row do |row| %>
    <% row.key { "Eligible for funding" } %>
    <% row.value { pp.fundable?.to_s.upcase } %>
    <% row.action(text: :none) %>
  <% end %>

  <% summary_list.row do |row| %>
    <% row.key { "NPQ course" } %>
    <% row.value { pp.npq_course&.name } %>
    <% row.action(text: :none) %>
  <% end %>

  <% summary_list.row do |row| %>
    <% row.key { "Lead provider" } %>
    <% row.value { pp.npq_application&.npq_lead_provider&.name } %>
    <% row.action(text: :none) %>
  <% end %>

  <% summary_list.row do |row| %>
    <% row.key { "School URN" } %>
    <% row.value { pp.npq_application&.school_urn } %>
    <% row.action(text: :none) %>
  <% end %>

  <% summary_list.row do |row| %>
    <% row.key { "Status" } %>
    <% row.value { pp.status } %>
    <% row.action(text: :none) %>
  <% end %>

  <% summary_list.row do |row| %>
    <% row.key { "Training status" } %>
    <% row.value { pp.state } %>
    <% row.action(
      text: "Change",
      visually_hidden_text: "training status",
      href: new_finance_participant_profile_change_training_status_path(pp))
    %>
  <% end %>

  <% summary_list.row do |row| %>
    <% row.key { "Schedule identifier" } %>
    <% row.value { pp.schedule&.schedule_identifier } %>
    <% row.action(text: :none) %>
  <% end %>

  <% summary_list.row do |row| %>
    <% row.key { "Schedule cohort" } %>
    <% row.value { pp.schedule&.cohort&.start_year&.to_s } %>
    <% row.action(text: :none) %>
  <% end %>

  <% summary_list.row do |row| %>
    <% row.key { "Created at" } %>
    <% row.value { pp.created_at.to_s(:govuk) } %>
    <% row.action(text: :none) %>
  <% end %>

  <% summary_list.row do |row| %>
    <% row.key { "Updated at" } %>
    <% row.value { pp.updated_at.to_s(:govuk) } %>
    <% row.action(text: :none) %>
  <% end %>
<% end %>

<h4>Declarations</h4>

<% if pp.participant_declarations.blank? %>
  No declarations have been made
<% end %>

<% pp.participant_declarations.each do |declaration| %>
  <%= render partial: "finance/participants/declaration", locals: { declaration: declaration } %>
<% end %>
