<h3 id="<%= id = 'schema-' + title; id.parameterize %>"><%= title %></h3>

<p>
  This schema must conform to one of the following schemas:
</p>

<ul>
  <% schema["oneOf"].each do |schema| %>
    <li><%= get_schema_link(schema) %></li>
  <% end %>
</ul>
