<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h2 class="govuk-heading-l">Verify your email</h2>
    <p class="govuk-body govuk-!-margin-top-5">We have sent you a link to verify your email address.<p>
    <p>This will expire in 24 hours.</p>
    <p class="govuk-body govuk-!-margin-bottom-12">It may be in your spam or junk folder</p>
    <p class="govuk-body govuk-!-font-weight-bold">If you don't get an email</p>
    <p class="govuk-body">contact us: <%= mail_to "ecf-support@digital.education.gov.uk" %></p>
  </div>
</div>
