.statement-selector {
  margin-bottom: 30px;

  .govuk-form-group {
    display: inline-block;
    margin-right: 20px;
    margin-bottom: 0;
  }

  select {
    @extend .govuk-\!-width-full; // hack as form builder does not seem to support injecting of classes where needed

    @include govuk-media-query($until: tablet) {
      margin-bottom: 15px;
    }
  }

  input[type=submit] {
    margin-bottom: 0;
    vertical-align: bottom;
  }
}
