<% content_for :title, "Check your answers" %>
<% content_for(:before_content, govuk_back_link(href: @wizard.previous_step_path)) %>
<% relation_type = @wizard.change_request_type == "change-lead-provider" ? "lead provider" : "delivery partner" %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <%= form_with(model: @wizard.current_step, url: @wizard.current_step_path(default_path_arguments)) do |f| %>
      <%= f.hidden_field :complete, value: true %>

      <h1>Check your answers before you request the change</h1>

      <h2>Change request details</h2>

      <%= govuk_summary_list do |sl|
        if @wizard.participant_change_request?
          sl.with_row do |row|
            row.with_key(text: "Participant name")
            row.with_value(text: @participant.full_name)
          end
        else
          sl.with_row do |row|
            row.with_key(text: "Induction tutor name")
            row.with_value(text: @school.induction_coordinators.first.full_name)
          end
          sl.with_row do |row|
            row.with_key(text: "Induction tutor email address")
            row.with_value(text: @school.induction_coordinators.first.email)
          end
        end

        sl.with_row do |row|
          row.with_key(text: "School")
          row.with_value(text: @school.name)
        end
        sl.with_row do |row|
          row.with_key(text: "Academic year")
          row.with_value(text: academic_year)
        end

        sl.with_row do |row|
          row.with_key(text: "Participant email address")
          row.with_value(text: @wizard.preferred_email)
          row.with_action(
            text: "Change",
            visually_hidden_text: "email address",
            href: schools_change_request_support_query_email_path(default_path_arguments)
          )
        end if @wizard.participant_change_request?

        sl.with_row do |row|
          row.with_key(text: "Current #{relation_type}")
          row.with_value(text: @wizard.current_relation.name)
        end
        sl.with_row do |row|
          row.with_key(text: "New #{relation_type}")
          row.with_value(text: @wizard.new_relation.name)
          row.with_action(
            text: "Change",
            visually_hidden_text: relation_type,
            href: schools_change_request_support_query_relation_path(default_path_arguments)
          )
        end
      end %>

      <%= f.govuk_submit "Accept and send request" %>
    <% end %>
  </div>
</div>
