<% content_for :title, "#{@school.name} cohorts" %>

<h1 class="govuk-heading-xl"><%= @school.name %></h1>
<%= render partial: "admin/schools/shared/navigation" %>
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <% @cohorts.each do |cohort| %>
      <%= render Admin::Schools::CohortComponent.new(
        school: @school,
        school_cohort: @school_cohorts.find_by(cohort: cohort),
        cohort: cohort,
        partnerships_and_relationships: @partnerships_by_cohort[cohort.id],
        superuser: policy(Partnership).challenge?,
      ) %>
    <% end %>
  </div>
</div>
