<% content_for :title, "#{@school.name} cohorts" %>

<h1 class="govuk-heading-xl"><%= @school.name %></h1>
<%= render partial: "admin/schools/shared/navigation" %>
<h2 class="govuk-heading-l">Cohorts</h2>
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <% @cohorts.each do |cohort| %>
      <%= render Admin::Schools::Cohorts::Cohort.new(school_cohort: @school_cohorts.find_by(cohort: cohort), cohort: cohort) %>
    <% end %>
  </div>
</div>
