<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    <h1 class="govuk-heading-l">Admin dashboard</h1>
    <p class="govuk-body"> You are logged in</p>
    <%= govuk_link_to "Manage suppliers", admin_suppliers_path %>
    <%= govuk_link_to "Manage users", "#" %>
  </div>
</div>
