.app-task-list {
  list-style: none;
}

.app-task-list__items {
  padding-left: 30px;
  margin-bottom: 60px;
  list-style: none;
}

.app-task-list__item {
  border-bottom: 1px solid #b1b4b6;
  margin-bottom: 0;
  padding-top: 10px;
  padding-bottom: 10px;
  display: flex;
}

.app-task-list__tag {
  height: 1rem;
  margin-left: auto;
  margin-right: 0;
  white-space: nowrap;
}
