@function frontend-font-url($filename) {
  @return url("~assets/fonts/" + $filename);
}

@function frontend-image-url($filename) {
  @return url("~assets/images/" + $filename);
}

$govuk-font-url-function: frontend-font-url;
$govuk-image-url-function: frontend-image-url;

@import "~govuk-frontend/govuk/all";
@import "~accessible-autocomplete";

@import "notification_banner";
@import "app_task_list";
@import "header_overrides";
@import "lead_providers/dashboard_numbers";
@import "lead_providers/index_group";
@import "lead_providers/your_schools";
@import "pagination";
@import "subnav";
@import "primary-nav";
@import "school_search";
@import "admin/schools";

.govuk-tag {
  white-space: nowrap;
}

.error-message {
  color: $govuk-error-colour;
}
