.index-group-lead-provider {
  background: govuk-colour("light-grey");
  padding: 1.5em;
  margin-bottom: 1.5em;
}


.app-list--definition {
  dt {
    @include govuk-typography-weight-bold;
  }

  dd + dt {
    margin-top: govuk-spacing(4);
  }

  dd {
    margin-left: 0;
  }

  dd + dd {
    margin-top: govuk-spacing(2);
  }
}

.gem-c-contents-list__list, .gem-c-contents-list__nested-list {
  font-size: 16px;
  line-height: 1.25;
}

.gem-c-contents-list__list-item--dashed {
  position: relative;
  padding-left: 25px;
  padding-right: 25px;
}

.gem-c-contents-list__list-item {
  padding-top: 7.5px;
  line-height: 1.3;
  list-style-type: none;
}

.gem-c-contents-list__list-item--dashed:before {
  content: "—";
  position: absolute;
  left: 0;
  width: 20px;
  overflow: hidden;
}

a.signout {
  color: #FFF;
  font-weight: 700;
  position: absolute;
  right: calc(50% - 475px);
  top: 15px;
}


.search-filter {
  padding: 15px 10px 10px;
  background: #f5f5f5;
  margin-bottom: 20px;
}
.filter-group {
  position: relative;
}
.clear-filters {
  font-family: "GDS Transport",arial,sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-weight: 400;
  line-height: 1.1428571429;
  position: absolute;
  right: 0px;
  top: 5px;
  text-align: right;
}
.search-filter .govuk-checkboxes--small .govuk-checkboxes__label:before {
  background: #FFF;
}
.search-filter .govuk-checkboxes--small .govuk-checkboxes__label {
  font-size: 17px;
}
.search-filter .govuk-fieldset__legend--m {
  margin-bottom: 0;
}
.search-filter .govuk-label--s {
  font-size: 17px;
}
.search-filter .checkboxes-max-height {
  max-height: 200px;
  overflow: scroll;
  background: #FFF;
  padding: 10px
}
.search-filter .govuk-checkboxes--small.checkboxes-max-height .govuk-checkboxes__label:before {
  width: 19px;
  height: 19px;
}
.search-filter .govuk-checkboxes--small.checkboxes-max-height .govuk-checkboxes__label {
  padding: 9px 15px 3px 1px;
}
.search-filter .govuk-checkboxes--small.checkboxes-max-height .govuk-checkboxes__label:after {
  top: 13px;
  left: 4px;
  width: 10px;
  height: 5.5px;
  border-width: 0 0 3px 3px;
}
.search-filter .govuk-checkboxes--small.checkboxes-max-height .govuk-checkboxes__item {
  padding-left: 27px;
}
.search-filter .app-c-option-select__filter {
  background: #FFF;
  padding: 10px 10px 0;
}
.app-c-option-select__filter-input {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.25;
  padding-left: 33px;
  //background: url(../images/search-icon-black.svg) no-repeat -4px center;
}
.js-counter {
  font-size: 16px;
  font-weight: normal;
  margin: 1px 0 9px;
  display: block;
}

.search-results-table {
  font-size: 16px;
  line-height: 1.31579;
}
.search-results-table .govuk-table__header {
  padding: 10px 15px 10px 0;
}
.search-results-table .sub-row {
  display: block;
  color: #505a5f;
  font-weight: normal;
  font-size: 15px;
}
.search-results-table .govuk-table__cell {
  padding: 15px 20px 14px 0;
}
.search-results-table .govuk-tag {
  font-size: 12px;
}
.search-results-table tr td:last-of-type {
  padding-right: 0;
}
.search-results-table .govuk-checkboxes--small .govuk-checkboxes__item {
  padding-left: 24px;
}
.search-results-table .govuk-checkboxes--small .govuk-checkboxes__input {
  top: -10px;
}
.search-results-table .govuk-checkboxes--small .govuk-checkboxes__label {
  padding: 0;
}
.search-results-table .govuk-checkboxes--small .govuk-checkboxes__label:before {
  top: -1px;
}
.search-results-table .govuk-checkboxes--small .govuk-checkboxes__label:after {
  top: 6px;
}

.index-group {
  background: #f5f5f5;
  padding: 1.5em;
  margin-bottom: 1.5em;
}
.index-group p.govuk-body {
  margin-bottom: 0;
}
.index-group .govuk-heading-m {
  margin-bottom: 10px
}
.side-options {
  background: transparent;
  border: 1px solid #CCC;
}
.side-options .govuk-fieldset__legend--m {
  margin-bottom: 0;
  margin-top: 0;
}
.side-options .govuk-form-group {
  margin-bottom: 15px;
}
.side-options .govuk-button {
  margin-bottom: 10px;
}

.dashboard-numbers {
  background: #f3f2f1;
  padding: 1.5em;
  margin-bottom: 1.5em;
}
.dashboard-numbers p {
  margin-bottom: 0;
  padding: 0;
}
.dashboard-numbers.key-number {
  background: #1d70b8;
}
.dashboard-numbers.key-number p {
  color: #FFF;
}


.app-navigation {
  font-family: "GDS Transport",arial,sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-weight: 700;
  font-size: 16px;
  font-size: 1rem;
  line-height: 1.25;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 100%;
  background-color: #f8f8f8;
}
.app-navigation {
  font-size: 19px;
  font-size: 1.1875rem;
  line-height: 1.31579;
  margin-top: -1px;
  z-index: 10;
  background: #f3f2f1;
}
.app-navigation:before {
  position: absolute;
  width: 100%;
  background: #f3f2f1;
  top: 105px;
  left: 0;
  height: 50px;
  content: "";
}
.app-width-container {
  max-width: 1100px;
  margin: 0 auto;
  position: relative;
  z-index: 10;
}
.app-navigation__list {
  position: relative;
  left: -15px;
  margin: 0;
  padding: 0;
  list-style: none;
}
.app-navigation__list-item {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  display: block;
  position: relative;
  height: 50px;
  padding: 0 15px;
  float: left;
  line-height: 50px;
}

.app-navigation__link {
  font-weight: 700;
  text-decoration: none;
}
.govuk-link--no-visited-state:link {
  color: #1d70b8;
}
.app-navigation__link:after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
.app-navigation__list-item--current {
  border-bottom: 4px solid #1d70b8;
}

form.top-right {
  float: right;
}


@media (min-width: 48.0625em) {
  .hmcts-pagination {
    margin-left: -5px;
    margin-right: -5px;
    font-size: 0;
    text-align: justify;
  }
  .hmcts-pagination:after {
    content: '';
    display: inline-block;
    width: 100%;
  }
}

.hmcts-pagination__list {
  list-style: none;
  margin: 0;
  padding: 0;
}

@media (min-width: 48.0625em) {
  .hmcts-pagination__list {
    display: inline-block;
    margin-bottom: 0;
    vertical-align: middle;
  }
}

@media (min-width: 48.0625em) {
  .hmcts-pagination__results {
    display: inline-block;
    margin-bottom: 0;
    vertical-align: middle;
  }
}

.hmcts-pagination__item {
  font-family: "GDS Transport", Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-weight: 400;
  font-size: 16px;
  font-size: 1rem;
  line-height: 1.25;
  display: inline-block;
}

@media print {
  .hmcts-pagination__item {
    font-family: sans-serif;
  }
}

@media (min-width: 40.0625em) {
  .hmcts-pagination__item {
    font-size: 19px;
    font-size: 1.1875rem;
    line-height: 1.31579;
  }
}

@media print {
  .hmcts-pagination__item {
    font-size: 14pt;
    line-height: 1.15;
  }
}

.hmcts-pagination__item--active,
.hmcts-pagination__item--dots {
  font-weight: bold;
  height: 25px;
  padding: 5px 10px;
  text-align: center;
}

.hmcts-pagination__item--dots {
  padding-left: 0;
  padding-right: 0;
}

.hmcts-pagination__item--prev .hmcts-pagination__link:before, .hmcts-pagination__item--prev .hmcts-pagination__link:after,
.hmcts-pagination__item--next .hmcts-pagination__link:before,
.hmcts-pagination__item--next .hmcts-pagination__link:after {
  //background-image: url(../images/icon-pagination.svg);
  background-repeat: no-repeat;
  background-size: 22px 36px;
  background-position: 0 0;
  display: inline-block;
  height: 18px;
  vertical-align: middle;
  position: relative;
  top: -1px;
  width: 11px;
}

.hmcts-pagination__item--prev .hmcts-pagination__link:before {
  background-position: 0 0;
  content: "";
  margin-right: 10px;
}

.hmcts-pagination__item--next .hmcts-pagination__link:after {
  background-position: -11px -18px;
  content: "";
  margin-left: 10px;
}

.hmcts-pagination__link {
  display: block;
  padding: 5px;
  text-align: center;
  text-decoration: none;
  min-width: 25px;
}

.hmcts-pagination__link:link, .hmcts-pagination__link:visited {
  color: #1d70b8;
}

.hmcts-pagination__link:hover {
  color: #5694ca;
}

.hmcts-pagination__link:focus {
  color: #0b0c0c;
}

.hmcts-pagination__results {
  padding: 5px;
}


/* ==========================================================================
   #SECONDARY NAV
   ========================================================================== */
.hmcts-sub-navigation {
  margin-bottom: 40px;
}

.hmcts-sub-navigation__list {
  font-size: 0;
  list-style: none;
  margin: 0;
  padding: 0;
}

@media (min-width: 40.0625em) {
  .hmcts-sub-navigation__list {
    box-shadow: inset 0 -1px 0 #b1b4b6;
    width: 100%;
  }
}

.hmcts-sub-navigation__item {
  font-family: "GDS Transport", Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-weight: 400;
  font-size: 16px;
  font-size: 1rem;
  line-height: 1.25;
  box-shadow: inset 0 -1px 0 #b1b4b6;
  display: block;
  margin-top: -1px;
}

@media print {
  .hmcts-sub-navigation__item {
    font-family: sans-serif;
  }
}

@media (min-width: 40.0625em) {
  .hmcts-sub-navigation__item {
    font-size: 19px;
    font-size: 1.1875rem;
    line-height: 1.31579;
  }
}

@media print {
  .hmcts-sub-navigation__item {
    font-size: 14pt;
    line-height: 1.15;
  }
}

.hmcts-sub-navigation__item:last-child {
  box-shadow: none;
}

@media (min-width: 40.0625em) {
  .hmcts-sub-navigation__item {
    box-shadow: none;
    display: inline-block;
    margin-right: 20px;
    margin-top: 0;
  }
}

.hmcts-sub-navigation__link {
  display: block;
  padding-top: 12px;
  padding-bottom: 12px;
  padding-left: 15px;
  text-decoration: underline;
}

@media (min-width: 40.0625em) {
  .hmcts-sub-navigation__link {
    padding-left: 0;
  }
}

.hmcts-sub-navigation__link:focus {
  color: #0b0c0c;
  position: relative;
}

.hmcts-sub-navigation__link[aria-current="page"] {
  color: #0b0c0c;
  position: relative;
  text-decoration: none;
}

.hmcts-sub-navigation__link[aria-current="page"]:before {
  background-color: #1d70b8;
  content: "";
  display: block;
  height: 100%;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 5px;
}

@media (min-width: 40.0625em) {
  .hmcts-sub-navigation__link[aria-current="page"]:before {
    height: 5px;
    width: 100%;
  }
}

.hmcts-sub-navigation__link[aria-current="page"]:focus:before {
  background-color: #0b0c0c;
}
