.govuk-checkboxes__label:before {
  background: white;
}

.govuk-phase-banner__content__tag {
  background-color: #6f777b;
}

.card {
  margin-top: 8px;
}

.card p {
  margin: 0;
}

.card h3 {
  margin-bottom: 4px;
}

.tag-right {
  float: right;
}
