.govuk-checkboxes__label:before {
  background: govuk-colour("white");
}

.autocomplete__wrapper {
  background: govuk-colour("white");
  input {
    background: govuk-colour("white");
  }
}

.card {
  margin-top: 8px;
}

.card p {
  margin: 0;
}

.card h3 {
  margin-bottom: 4px;
}

.tag-right {
  float: right;
}
