.payment-breakdown-table {
  .govuk-table__cell {
    border-top: 1px solid $govuk-border-colour;
  }

  margin-bottom: govuk-spacing(9);
}

.app-table-td-bottom_border {
  td { border-bottom: 1px solid black; }
}

.admin-tabs {
  tr {
    th {
      width: 30%
    }
  }
}
