<% content_for :before_content,  govuk_breadcrumbs(breadcrumbs: @breadcrumbs) %>

<span class="govuk-caption-l"><%= @participant_profile.profile_type.titleize %></span>
<h1 class="govuk-heading-l"><%= @participant_profile.user.full_name %></h1>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    <%= govuk_table do |table|
      table.with_head(classes: ["govuk-body-s"]) do |head|
        head.with_row do |row|
          row.with_cell(header: true, text: "Profile type")
          row.with_cell(header: true, text: "User ID")
          row.with_cell(header: true, text: "External identifier")
          row.with_cell(header: true, text: "Profile ID")
          row.with_cell(header: true, text: "Cohort")
          row.with_cell(header: true, text: "Schedule")
          row.with_cell(header: true, text: "Induction status")
          row.with_cell(header: true, text: "Training status")
          row.with_cell(header: true, text: "Lead Provider")
          row.with_cell(header: true, text: "School")
          row.with_cell(header: true, text: "Starts on")
          row.with_cell(header: true, text: "Ends on")
          row.with_cell(header: true, text: "Declaration count")
          row.with_cell(header: true, text: "Actions")
        end

        table.with_body(classes: ["govuk-body-s"]) do |body|
          body.with_row do |row|
            row.with_cell { tag_for(@participant_profile) }
            row.with_cell(text: @participant_profile.user_id)
            row.with_cell(text: @participant_profile.external_identifier)
            row.with_cell(text: @participant_profile.id)
            row.with_cell(text: @participant_profile.cohort)
            row.with_cell(text: @participant_profile.schedule_identifier)
            row.with_cell(text: @participant_profile.induction_status)
            row.with_cell(text: @participant_profile.training_status)
            row.with_cell(text: @participant_profile.provider_name)
            row.with_cell(text: @participant_profile.school_name)
            row.with_cell(text: @participant_profile.start_date.to_date.to_fs(:govuk))
            row.with_cell(text: @participant_profile.end_date&.to_date&.to_fs(:govuk))
            row.with_cell(text: @participant_profile.declaration_count)
            row.with_cell {}
          end
          @participant_profile.duplicate_participant_profiles.each do |participant_profile|
            body.with_row do |row|
              row.with_cell { tag_for(participant_profile) }
              row.with_cell(text: participant_profile.user_id)
              row.with_cell(text: participant_profile.external_identifier)
              row.with_cell(text: participant_profile.id)
              row.with_cell(text: participant_profile.cohort)
              row.with_cell(text: participant_profile.schedule_identifier)
              row.with_cell(text: participant_profile.induction_status)
              row.with_cell(text: participant_profile.training_status)
              row.with_cell(text: participant_profile.provider_name)
              row.with_cell(text: participant_profile.school_name)
              row.with_cell(text: participant_profile.start_date&.to_date&.to_fs(:govuk))
              row.with_cell(text: participant_profile.end_date&.to_date&.to_fs(:govuk))
              row.with_cell(text: participant_profile.declaration_count)
              row.with_cell do
                govuk_link_to "View details", finance_ecf_duplicate_compare_path(participant_profile, @participant_profile)
              end
            end
          end
        end
      end
    end %>
  </div>
</div>
