<span class="govuk-caption-xl"><%= @school.name %></span>
<h1 class="govuk-heading-xl">You are going to form a new partnership with a lead provider</h1>

<p class="govuk-body">
  You must contact the new provider who will report the partnership to the DfE.
</p>
<p class="govuk-body govuk-!-margin-bottom-7">
    <%= govuk_link_to "Find out more about partnering with a lead provider (opens in new tab).",
                      "https://www.gov.uk/government/publications/early-career-framework-reforms-overview/early-career-framework-reforms-overview",
                      target: :_blank,
                      rel: "noopener noreferrer",
                      no_visited_state: true %>
</p>
