<h2 class="govuk-heading-m">What to do next</h2>
<p class="govuk-body">
  You need to <%= govuk_link_to "make your own arrangements with a training provider (opens in a new tab)",
                                "https://www.gov.uk/guidance/funding-and-eligibility-for-ecf-based-training",
                                rel: "noreferrer noopener",
                                target: "_blank",
                                no_visited_sted: true %>, approved by the DfE.
</p>

<p class="govuk-body">
  You do not need to add information about your ECTs and mentors to this service.
</p>

<p class="govuk-body">
  If you change your mind about how you want to run your training, email
  <%= govuk_mail_to("continuing-professional-development@digital.education.gov.uk") %>.
</p>
