<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
  <% content_for :before_content, govuk_back_link(
      text: "Back",
      href: registrations_school_profile_path)
    %>
    <h2 class="govuk-heading-l">Sorry, your school is not eligible for the ECF</h2>
    <p class="govuk-body">Only schools in England are eligible for the ECF.</p>
    <p class="govuk-body">The following institutions are also not eligible:</p>
    <ul class="govuk-list govuk-list--bullet">
      <li>secure training centres</li>
      <li>schools in special measures and further education institutions with any Grade 4 (inadequate) Ofsted ratings, except where Ofsted has said they can hire newly qualified teachers</li>
    </ul>
    <p><%= govuk_link_to "See our guidance on eligibility", "#"%></p>
  </div>
</div>
