<%= govuk_summary_list do |summary_list| %>
  <% summary_list.row do |row| %>
    <% row.key { "Declaration ID" } %>
    <% row.value { ecf.id } %>
  <% end %>

  <% summary_list.row do |row| %>
    <% row.key { "Declaration type" } %>
    <% row.value { ecf.declaration_type } %>
  <% end %>

  <% summary_list.row do |row| %>
    <% row.key { "Declaration date" } %>
    <% row.value { ecf.declaration_date.to_s(:govuk) } %>
  <% end %>

  <% summary_list.row do |row| %>
    <% row.key { "Course identifier" } %>
    <% row.value { ecf.course_identifier } %>
  <% end %>

  <% summary_list.row do |row| %>
    <% row.key { "Evidence held" } %>
    <% row.value { ecf.evidence_held } %>
  <% end %>

  <% summary_list.row do |row| %>
    <% row.key { "Lead provider" } %>
    <% row.value { ecf.cpd_lead_provider.name } %>
  <% end %>

  <% summary_list.row do |row| %>
    <% row.key { "State" } %>
    <% row.value { ecf.state } %>
  <% end %>

  <% summary_list.row do |row| %>
    <% row.key { "Created at" } %>
    <% row.value { ecf.created_at.to_s(:govuk) } %>
  <% end %>

  <% summary_list.row do |row| %>
    <% row.key { "Updated at" } %>
    <% row.value { ecf.updated_at.to_s(:govuk) } %>
  <% end %>
<% end %>

<h4>Declaration State History</h4>

<div class="nhsuk-table-container">
  <table data-test="admin-participants-table" class="govuk-table nhsuk-table-responsive">
    <thead  class="nhsuk-table__head">
      <tr class="govuk-table__row">
        <th scope="col" class="govuk-table__header">State</th>
        <th scope="col" class="govuk-table__header">Changed at</th>
        <th scope="col" class="govuk-table__header">Reason</th>
      </tr>
    </thead>
    <tbody class="govuk-table__body nhsuk-table__body">
      <%= render ecf.declaration_states %>
    </tbody>
  </table>
</div>
