<%= admin_participant_header_and_title(user: @participant_profile.user, section: "History") %>

<%= render partial: "admin/participants/nav" %>

<h2 class="govuk-heading-m">Key events</h2>

<%= govuk_summary_list(
  rows: [
    {
      key: { text: "Added to the service" },
      value: { text: @latest_induction_record.user.created_at.to_date.to_s(:govuk) }
    }
  ]
) %>

<%= govuk_table(
  caption: "School transfers",
  head: ["School name", "Induction programme", "Start date", "End date"],
  rows: @historical_induction_records.map do |r|
    [
      r.school_cohort.school.name,
      r.induction_programme.training_programme.humanize,
      r.start_date.to_date.to_s(:govuk),
      r.end_date&.to_date&.to_s(:govuk),
    ]
  end,
) %>
