<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <h1 class="govuk-heading-xl">Check data about early career teachers and mentors</h1>

    <p class="govuk-body">Use this service to find out what data the DfE has about participants and mentors that are doing an ECF-based training programme, including details provided by school induction tutors.</p>
    <p class="govuk-body">There may be differences between this data and what’s on your lead provider’s portal, including data that’s out of date.</p>

    <%= govuk_start_button text: "Start now", href: new_user_session_path %>

    <h2 class="govuk-heading-m">Before you start</h2>
    <p class="govuk-body">You need your registered email address (the one we send emails to).</p>
    <p class="govuk-body">Contact DfE at <%= mail_to Rails.application.config.support_email, Rails.application.config.support_email, class: "govuk-link--no-visited-state" %> if you do not have an account.</p>
  </div>
</div>
