<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-l">Early Career Framework</h1>
    <h2>Engage and Learn Start Page</h2>
    <%= govuk_link_to "Start", new_user_session_path, button: true %>
  </div>
</div>
