<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-xl">Manage training for early career teachers</h1>
    <p>Use this service to manage your school’s statutory induction programme for early career teachers.</p>

    <p>Only use this service if your school wants to:</p>
    <ul class="govuk-list govuk-list--bullet">
      <li>use an approved training provider</li>
    </ul>
    <p>Or</p>
    <ul class="govuk-list govuk-list--bullet">
      <li>use the DfE accredited materials</li>
    </ul>

    <p>Your school must complete these steps before your early career teachers (ECTs) start their statutory induction programme.
      For example, if your ECTs are starting in September, you need to complete these steps before then.</p>

    <%= govuk_link_to "Start", new_user_session_path, button: true %>
  </div>
</div>
