<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-xl">Manage training for early career teachers</h1>

    <p>Use this service to set up ECF-based training for your early career teachers (ECTs) or tell us about a change at your school.</p>

    <h2 class="govuk-heading-m">Set up and manage your training</h2>

    <p>Sign in to tell us:</p>

    <ul class="govuk-list govuk-list--bullet">
      <li>how you want to run your training</li>
      <li>which accredited materials or training provider you’ll use</li>
      <li>which ECTs and mentors will take part</li>
    </ul>

    <p>Your school must complete these steps before your ECTs can start their statutory induction programme.</p>

    <h2 class="govuk-heading-m">Tell us about changes at your school</h2>

    <p>Tell us about any changes, for example, nominating a new Induction tutor.</p>

    <%= govuk_start_button text: "Sign in", href: new_user_session_path %>
  </div>

  <div class="govuk-grid-column-one-third">
    <aside class="app-related-items" role="complementary">
      <h2 class="govuk-heading-m" id="subsection-title">Guidance</h2>

      <p>The following links open in a new tab.</p>

      <nav role="navigation" aria-labelledby="subsection-title">
        <ul class="govuk-list">
          <li>
            <%= govuk_link_to "https://www.gov.uk/guidance/how-to-set-up-training-for-early-career-teachers", target: :_blank, rel: "noopener noreferrer" do %>
              Find out how to set up training for early career teachers <span class="govuk-visually-hidden">(opens in new tab)</span>
            <% end %>
          </li>
          <li>
            <%= govuk_link_to "https://www.gov.uk/government/collections/induction-training-and-support-for-early-career-teachers-ects", target: :_blank, rel: "noopener noreferrer" do %>
              Read our guidance for early career teachers <span class="govuk-visually-hidden">(opens in new tab)</span>
            <% end %>
            for more information about the programme and your entitlements.
          </li>
          <li>
            <%= govuk_link_to "https://www.gov.uk/guidance/guidance-for-schools-how-to-manage-ecf-based-training", target: :_blank, rel: "noopener noreferrer" do %>
              Read our guidance for mentors <span class="govuk-visually-hidden">(opens in new tab)</span>
            <% end %>
            for more information about how to support early career teachers.
          </li>
        </ul>
      </nav>
    </aside>
  </div>
</div>
