<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-l">Manage training for early career teachers</h1>

    <p class="govuk-body">Set up and manage early career framework (ECF)-based training at your school.</p>

    <p class="govuk-body">Use this service to report:</p>

    <ul class="govuk-list govuk-list--bullet">
      <li>details about your early career teachers (ECTs) and mentors</li>
      <li>which appropriate body you've appointed</li>
      <li>who you've nominated as your induction tutor</li>
      <li>which training option you've chosen</li>
    </ul>

    <p class="govuk-body">Your school must complete these steps before your ECTs can start their statutory induction programme.</p>

    <p class="govuk-body">You can also use this service to report any changes, for example, nominating a new induction tutor for your school.</p>

    <p class="govuk-body">Sign in if you've been nominated as the induction tutor for your school.</p>

    <p class="govuk-body"><%= govuk_button_link_to "Sign in", new_user_session_path %></p>

    <p class="govuk-body"><%= govuk_link_to "Request access to the service", resend_email_request_nomination_invite_path, no_visited_state: true %> to set up training at your school for the first time.</p>
  </div>

  <div class="govuk-grid-column-one-third">
    <aside class="app-related-items" role="complementary">
      <h2 class="govuk-heading-m" id="subsection-title">Guidance</h2>

      <nav role="navigation" aria-labelledby="subsection-title">
        <ul class="govuk-list">
          <li>
            <%= govuk_link_to guidance_for_how_to_setup_training_url, target: :_blank, rel: "noopener noreferrer" do %>
              Find out how to set up training for early career teachers (opens in new tab)
            <% end %>
          </li>
        </ul>
      </nav>
    </aside>
  </div>
</div>
