<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-l">Manage training for early career teachers</h1>
    <p>Use this service to tell the Department for Education (DfE):</p>
    <ul class="govuk-list govuk-list--bullet">
      <li>which type of induction programme your early career teachers will do</li>
      <li>which early career teachers and mentors are starting a programme this year</li>
    </ul>

    <p>Your school must complete these steps before your early career teachers start the programme in the autumn.</p>
    <p>You’ll receive updates to start or complete your set up and our service will guide you through each step.</p>

    <%= govuk_link_to "Start", new_user_session_path, button: true %>
  </div>
</div>
