<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-l">Manage training for early career teachers</h1>

    <h2 class="govuk-heading-m"></h2>

    <p class="govuk-body">Use this service to report your ECF-based training information to DfE. Schools can:</p>

    <ul class="govuk-list govuk-list--bullet">
      <li>check if ECTs are eligible to serve statutory induction, and receive [DfE funding for training and support](https://www.gov.uk/guidance/funding-and-eligibility-for-ecf-based-training) based on the early career framework (ECF)</li>
      <li>check if mentors working with ECTs are eligible for DfE funding for ECF-based training and time off timetable</li>
      <li>get access to ECF-based training materials for ECTs and their mentors</li>
    </ul>

<p class="govuk-body">Eligible schools in England must use this service to:</p>

    <ul class="govuk-list govuk-list--bullet">
      <li>nominate one person as their registered user, known as the [induction tutor](https://www.gov.uk/guidance/how-to-set-up-training-for-early-career-teachers#nominate-an-induction-tutor)</li>
      <li>report how they'll [provide ECF-based training](https://www.gov.uk/guidance/how-to-set-up-training-for-early-career-teachers#choose-a-training-option) for ECTs each academic year</li>
      <li>register details about each ECT and their mentor</li>
      <li>report which mentor each ECT will work with (to ensure the correct funding is paid)</li>
      <li>report if a registered ECT or mentor [transfers to another school](https://www.gov.uk/guidance/how-to-manage-early-career-teacher-training#transfer-early-career-teachers) in England during their ECF-based induction or training</li> 
    </ul>

    <p class="govuk-body">Your school will need to provide some of this information to your [appropriate body](https://www.gov.uk/guidance/how-to-set-up-training-for-early-career-teachers#appoint-an-appropriate-body) and your training provider too, if you work with one.</p>

    
    <div class="govuk-button-group govuk-!-margin-top-7">
      <%= govuk_button_link_to "Sign in", new_user_session_path %>
      <span class="govuk-!-margin-right-2">or</span>
      <%= govuk_link_to "request access to the service", resend_email_request_nomination_invite_path, no_visited_state: true %>
    </div>
  </div>

  <div class="govuk-grid-column-one-third">
    <aside class="app-related-items" role="complementary">
      <h2 class="govuk-heading-m" id="subsection-title">Guidance</h2>

      <nav role="navigation" aria-labelledby="subsection-title">
        <ul class="govuk-list">
          <li>
            <%= govuk_link_to guidance_for_how_to_setup_training_url, target: :_blank, rel: "noopener noreferrer" do %>
              Find out how to set up training for early career teachers (opens in new tab)
            <% end %>
          </li>
        </ul>
      </nav>
    </aside>
  </div>
</div>
