<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-xl">Manage training for early career teachers</h1>

    <p class="govuk-body">Use this service to set up ECF-based training for your early career teachers (ECTs) or tell us about a change at your school.</p>

    <h2 class="govuk-heading-m">Set up and manage your training</h2>

    <p class="govuk-body">Tell us:</p>

    <ul class="govuk-list govuk-list--bullet">
      <li>how you want to run your training</li>
      <li>which accredited materials or training provider you’ll use</li>
      <li>which ECTs and mentors will take part</li>
    </ul>

    <p class="govuk-body">Your school must complete these steps before your ECTs can start their statutory induction programme.</p>

    <h2 class="govuk-heading-m">Tell us about changes at your school</h2>

    <p class="govuk-body">Tell us about any changes, for example, nominating a new Induction tutor.</p>

    <div class="govuk-button-group govuk-!-margin-top-7">
      <%= govuk_button_link_to "Sign in", new_user_session_path %>
      <span class="govuk-!-margin-right-2">or</span>
      <%= govuk_link_to "request access to the service", resend_email_request_nomination_invite_path, class: " govuk-link--no-visited-state" %>
    </div>
  </div>

  <div class="govuk-grid-column-one-third">
    <aside class="app-related-items" role="complementary">
      <h2 class="govuk-heading-m" id="subsection-title">Guidance</h2>

      <nav role="navigation" aria-labelledby="subsection-title">
        <ul class="govuk-list">
          <li>
            <%= govuk_link_to guidance_for_how_to_setup_training_url, target: :_blank, rel: "noopener noreferrer" do %>
              Find out how to set up training for early career teachers (opens in new tab)
            <% end %>
          </li>
        </ul>
      </nav>
    </aside>
  </div>
</div>
