<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1>Super user page</h1>

    <p>
      This page will contain some actions that are potentially destructive and should
      be used with care. Access will be restricted.
    </p>
  </div>
</div>
