<div class="nhsuk-table-container">
  <table data-test="admin-records-analysis-table" class="govuk-table nhsuk-table-responsive">
    <thead  class="nhsuk-table__head">
      <tr class="govuk-table__row">
        <th scope="col" class="govuk-table__header">Full name</th>
        <th scope="col" class="govuk-table__header">Participant type</th>
        <th scope="col" class="govuk-table__header">Induction Programme</th>
        <th scope="col" class="govuk-table__header">Lead provider</th>
        <th scope="col" class="govuk-table__header">Record state</th>
        <th scope="col" class="govuk-table__header">Date added</th>
      </tr>
    </thead>
    <tbody class="govuk-table__body nhsuk-table__body">
      <%= render Admin::RecordsAnalysis::ECFParticipantTableRow.with_collection(participant_profiles) %>
    </tbody>
  </table>
</div>

<%== govuk_pagination(pagy: @pagy) %>
