<div class="nhsuk-table-container">
  <table data-test="admin-records-analysis-table" class="govuk-table nhsuk-table-responsive">
    <thead  class="nhsuk-table__head">
      <tr class="govuk-table__row">
        <th scope="col" class="govuk-table__header">Full name</th>
        <th scope="col" class="govuk-table__header">Application status</th>
        <th scope="col" class="govuk-table__header">Course</th>
        <th scope="col" class="govuk-table__header">Lead provider</th>
        <th scope="col" class="govuk-table__header">Last declaration</th>
        <th scope="col" class="govuk-table__header">Current state</th>
        <th scope="col" class="govuk-table__header">Created date</th>
      </tr>
    </thead>
    <tbody class="govuk-table__body nhsuk-table__body">
      <%= render Admin::RecordsAnalysis::NPQApplicationTableRow.with_collection(applications) %>
    </tbody>
  </table>
</div>

<%== govuk_pagination(pagy: @pagy) %>
