<h1 class="govuk-heading-xl">Get a Teacher Reference Number (TRN)</h1>

<h2 class="govuk-heading-m">Why do I need this?</h2>

<p class="govuk-body">
  Mentors working with early career teachers (ECTs) need a <%= govuk_link_to "TRN (opens in a new tab)", "https://www.gov.uk/guidance/teacher-reference-number-trn", target: :_blank, rel: "noopener noreferrer" %>
  to access DfE-funded training and materials. You do not need to be a teacher to get a TRN.
</p>

<h2 class="govuk-heading-m">How to request a TRN</h2>

<p class="govuk-body">
  You need to apply to the Teaching Regulation Agency. They'll need some information about you, as well as proof of ID.
</p>

<p class="govuk-body">
  You can use a free email platform called Galaxkey to send your information securely.
</p>

<h2 class="govuk-heading-m">Register with Galaxkey to send your information securely</h2>

<p class="govuk-body">
  Visit the Galaxkey site:
  <%= govuk_link_to "https://manager.galaxkey.com/services/registerme (opens in a new tab)", "https://manager.galaxkey.com/services/registerme",  target: :_blank, rel: "noopener noreferrer" %>
</p>

<p class="govuk-body">
  Enter the email address you want to sign up with and complete the registration process.
</p>

<p class="govuk-body">
  You’ll get an email when your account is activated.
</p>

<h2 class="govuk-heading-m">How to send your ID documents</h2>

<p class="govuk-body">Follow these steps to send your documents to the Teaching Regulation Agency through Galaxkey:</p>

<ol class="govuk-list govuk-list--number">
  <li>
   Sign in to your Galaxkey account: <%= govuk_link_to "https://manager.galaxkey.com/Account/LogOn (opnes in a new tab)", "https://manager.galaxkey.com/Account/LogOn", target: :_blank, rel: "noopener noreferrer" %>
  </li>
  <li>Select ‘Compose’ to create a new secure email.</li>
  <li>Enter ’qts.enquiries@education.gov.uk’ as the recipient.</li>
  <li>Enter ‘Request a TRN for ECF induction training’ as the subject line.</li>
  <li>
    Provide your:
    <ul class="govuk-list govuk-list--bullet">
      <li>full legal name</li>
      <li>date of birth</li>
      <li>email address</li>
    </ul>
  </li>
  <li>Attach a scanned copy or photo of one of the following types of ID:
    <ul class="govuk-list govuk-list--bullet">
      <li>passport</li>
      <li>driving license (full or provisional)</li>
      <li>certificate of residence</li>
      <li>birth certificate</li>
    </ul>
  </li>
</ol>

<p class="govuk-body">Follow the guidance on screen to make sure you send the correct file size.</p>

<h2 class="govuk-heading-m">What happens next</h2>

<p class="govuk-body">The Teaching Regulation Agency will use the information you send to create your TRN.</p>

<p class="govuk-body">They aim to respond to valid email requests within 5 working days.</p>

<p class="govuk-body">Your ID documents will be deleted once your request is processed.</p>

<p class="govuk-body">
  Find out how the Teaching Regulation Agency processes your data on the
  <%= govuk_link_to "teacher self-service site (opens in a new tab)", "https://www.gov.uk/guidance/teacher-self-service-portal", target: :_blank, rel: "noopener noreferrer" %>.
</p>
