<% content_for :title, "What each person does" %>

<% content_for :before_content, govuk_back_link(text: "Back", href: :back) %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <% if @school&.name %>
      <span class="govuk-caption-xl"><%= @school&.name %></span>
    <% end %>

    <h1 class="govuk-heading-xl">Check what each person needs to do in the early career teacher training programme</h1>

    <p class="govuk-body">Teachers will need to do different things to prepare for and complete the early career teacher
      (ECT) training programme, depending on their role.</p>

    <p class="govuk-body">You can
      <%= govuk_link_to "read the full list of responsibilities for each role in section 5 of the statutory guidance (opens in a new tab)",
                        "https://www.gov.uk/government/publications/induction-for-early-career-teachers-england",
                        target: :_blank,
                        rel: "noopener noreferrer",
                        no_visited_state: true %>.
    </p>

    <h2 class="govuk-heading-m">Mentor</h2>

    <p class="govuk-body">This new role has been introduced as part of the
      <%= govuk_link_to "early career framework (ECF) reforms (opens in a new tab)",
                        "https://www.gov.uk/government/publications/early-career-framework-reforms-overview/early-career-framework-reforms-overview",
                        target: :_blank,
                        rel: "noopener noreferrer" %>.
    </p>

    <p class="govuk-body">Mentor responsibilities include:</p>

    <ul class="govuk-list govuk-list--bullet">
      <li>working with your school to make sure ECTs receive a high-quality induction programme</li>
      <li>meeting regularly with their ECTs to provide support and feedback</li>
      <li>providing or arranging mentoring and coaching around specific phases and subject areas</li>
    </ul>

    <h2 class="govuk-heading-m">Induction Tutor</h2>

    <p class="govuk-body">This role has different responsibilities to a mentor. These include:</p>

    <ul class="govuk-list govuk-list--bullet">
      <li>providing or coordinating the induction programme for your early career teachers (ECTs)</li>
      <li>carrying out assessments and regular progress reviews</li>
    </ul>

    <div class="govuk-inset-text">
      <p class="govuk-body">An induction tutor should only assign themself as a mentor in exceptional circumstances.</p>

      <p class="govuk-body">If your school needs you to do this, you should:</p>

      <ul class="govuk-list govuk-list--bullet">
        <li>make sure you can take on the full responsibilities of both roles</li>
        <li>put safeguards in place to separate mentoring from assessment sessions</li>
      </ul>
    </div>

    <p class="govuk-body">Use your judgement to apply the best and fairest process for your ECTs and your school. If you
      need more guidance, contact your appropriate body.</p>

    <h2 class="govuk-heading-m">Early career teacher (ECT)</h2>

    <p class="govuk-body">The ECT’s responsibilities include:</p>

    <ul class="govuk-list govuk-list--bullet">
      <li>providing evidence that they have QTS and are eligible to start induction</li>
      <li>meeting with their induction tutor to discuss, agree and review priorities for their induction programme</li>
    </ul>

  </div>
</div>
