{
  "openapi": "3.0.1",
  "info": {
    "version": "0.0.1",
    "title": "Manage teacher CPD - lead provider API",
    "contact": {
      "name": "DfE",
      "email": "continuing-professional-development@digital.education.gov.uk"
    },
    "description": "The lead provider API for DfE's manage teacher CPD service"
  },
  "servers": [
    {
      "url": "https://manage-training-for-early-career-teachers.education.gov.uk/api/{version}",
      "description": "Production url",
      "variables": {
        "version": {
          "enum": [
            "v1"
          ],
          "default": "v1"
        }
      }
    },
    {
      "url": "https://ecf-sandbox.london.cloudapps.digital/api/{version}",
      "description": "Sandbox url",
      "variables": {
        "version": {
          "enum": [
            "v1"
          ],
          "default": "v1"
        }
      }
    }
  ],
  "paths": {
    "/api/v1/participant-declarations": {
      "post": {
        "summary": "Create participant declarations",
        "operationId": "api_v1_create_ect_participant",
        "tags": [
          "participant_declarations"
        ],
        "security": [
          {
            "bearerAuth": [

            ]
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "participant_id": {
                    "type": "string"
                  }
                }
              }
            }
          }
        },
        "parameters": [

        ],
        "responses": {
          "200": {
            "description": "Successful",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ParticipantDeclarationRecordedResponse"
                }
              }
            }
          },
          "422": {
            "description": "Bad or Missing parameter",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BadOrMissingParametersResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UnauthorisedResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/participants": {
      "get": {
        "summary": "Returns all participants",
        "operationId": "api_v1_participants_index",
        "tags": [
          "participant"
        ],
        "security": [
          {
            "bearerAuth": [

            ]
          }
        ],
        "parameters": [
          {
            "name": "filter",
            "in": "query",
            "schema": {
              "type": "object",
              "example": "",
              "description": "This schema is used to search within collections to return more specific results.",
              "properties": {
                "updated_since": {
                  "description": "Return participants that have been updated since the date (ISO 8601 date format)",
                  "type": "string",
                  "example": "2021-05-13T11:21:55Z"
                }
              }
            },
            "style": "deepObject",
            "explode": true,
            "required": false,
            "description": "Refine participants to return.",
            "example": {
              "updated_since": "2020-11-13T11:21:55Z"
            }
          },
          {
            "name": "page",
            "in": "query",
            "schema": {
              "type": "object",
              "description": "This schema used to paginate through a collection.",
              "properties": {
                "page": {
                  "type": "integer",
                  "description": "The page number to paginate to in the collection. If no value is specified it defaults to the first page.",
                  "example": 3
                },
                "per_page": {
                  "type": "integer",
                  "description": "The number items to display on a page. Defaults to 100. Maximum is 500, if the value is greater that the maximum allowed it will fallback to 500.",
                  "example": 10
                }
              }
            },
            "style": "deepObject",
            "explode": true,
            "required": false,
            "example": {
              "page": 1,
              "per_page": 5
            },
            "description": "Pagination options to navigate through the collection."
          }
        ],
        "responses": {
          "200": {
            "description": "Collection of participants.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "data"
                  ],
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "required": [
                          "id",
                          "type",
                          "attributes"
                        ],
                        "properties": {
                          "id": {
                            "type": "string"
                          },
                          "type": {
                            "type": "string"
                          },
                          "attributes": {
                            "type": "object",
                            "required": [
                              "email",
                              "full_name",
                              "mentor_id",
                              "school_urn",
                              "participant_type",
                              "cohort"
                            ],
                            "properties": {
                              "email": {
                                "type": "string"
                              },
                              "full_name": {
                                "type": "string"
                              },
                              "mentor_id": {
                                "type": "string"
                              },
                              "school_urn": {
                                "type": "string"
                              },
                              "participant_type": {
                                "type": "string",
                                "enum": [
                                  "mentor",
                                  "ect"
                                ]
                              },
                              "cohort": {
                                "type": "string"
                              }
                            }
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UnauthorisedResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/participants.csv": {
      "get": {
        "summary": "Returns all participants",
        "operationId": "api_v1_participants_index",
        "tags": [
          "participant"
        ],
        "security": [
          {
            "bearerAuth": [

            ]
          }
        ],
        "parameters": [
          {
            "name": "filter",
            "in": "query",
            "schema": {
              "type": "object",
              "example": "",
              "description": "This schema is used to search within collections to return more specific results.",
              "properties": {
                "updated_since": {
                  "description": "Return participants that have been updated since the date (ISO 8601 date format)",
                  "type": "string",
                  "example": "2021-05-13T11:21:55Z"
                }
              }
            },
            "style": "deepObject",
            "explode": true,
            "required": false,
            "description": "Refine participants to return.",
            "example": {
              "updated_since": "2020-11-13T11:21:55Z"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Collection of participants.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UnauthorisedResponse"
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "bearerAuth": {
        "bearerFormat": "string",
        "type": "http",
        "scheme": "bearer"
      }
    },
    "schemas": {
      "BadOrMissingParametersResponse": {
        "description": "Request was missing data or contained invalid data",
        "type": "object",
        "required": [
          "bad_or_missing_parameters"
        ],
        "properties": {
          "bad_or_missing_parameters": {
            "description": "An error message for each bad or missing attribute describing the problems",
            "type": "array",
            "minItems": 1,
            "items": {
              "type": "string"
            },
            "uniqueItems": true,
            "example": [
              "participant_id",
              "declaration_date",
              "declaration_type"
            ]
          }
        }
      },
      "ParticipantDeclarationRecordedResponse": {
        "description": "The participant declaration has been recorded successfully",
        "type": "object",
        "required": [
          "id"
        ],
        "properties": {
          "id": {
            "description": "A unique identifier to reference the declaration in future actions",
            "type": "string",
            "format": "uuid",
            "example": "b0f657a7-9a81-4a89-a6b0-627c774ff753"
          }
        }
      },
      "UnauthorisedResponse": {
        "description": "Authorization information is missing or invalid",
        "type": "string",
        "example": "HTTP Token: Access denied."
      }
    }
  },
  "security": [
    {
      "bearerAuth": [

      ]
    }
  ]
}