<h2 id="notifying-of-deferral" class="govuk-heading-l">Notifying that an ECF participant is taking a break from their course</h2>

<p class="govuk-body-m">This operation allows the provider to tell the DfE that a participant has deferred from their ECF course.</p>
<p class="govuk-body-m">A participant is deemed to have deferred from an ECF course if he or she will be resuming it at a later date.</p>

<h3 class="govuk-heading-m" id="notifying-of-deferral">1. Provider defers a participant</h3>

<p class="govuk-body-m">Submit the deferral notification to the following endpoint</p>
<pre>
  <code>PUT /api/v1/participants/{id}/defer</code>
</pre>
<p class="govuk-body-m">
  This will return an <a href="/api-reference/reference-v1#schema-ecfparticipantresponse" class="govuk-link">ECF participant response</a> with the updates to the record included.
</p>
<p class="govuk-body-m">See <a href="/api-reference/reference-v1#api-v1-participants-ecf-id-defer-put" class="govuk-link">defer ECF participant</a> endpoint.</p>

<h2 id="notifying-of-resume" class="govuk-heading-l">Notifying that an ECF participant is resuming their course</h2>

<p class="govuk-body-m">This functionality allows the provider to inform the DfE that a participant has resumed an ECF course.</p>

<h3 class="govuk-heading-m" id="notifying-of-resume-provider-resumes-a-participant">1. Provider resumes a participant</h3>

<p class="govuk-body-m">Submit the resumed notification to the following endpoint</p>
<pre>
  <code>PUT /api/v1/participants/{id}/resume</code>
</pre>
<p class="govuk-body-m">This will return an <a href="/api-reference/reference-v1#schema-ecfparticipantresponse" class="govuk-link">ECF participant record</a> with the updates to the record included.</p>
<p class="govuk-body-m">See <a href="/api-reference/reference-v1#api-v1-participants-ecf-id-resume-put" class="govuk-link">resume ECF participant</a> endpoint.</p>

<h2 id="notifying-of-schedule-change" class="govuk-heading-l">Notifying that an ECF participant is changing training schedule</h2>

<p class="govuk-body-m">
This operation allows the provider to tell the DfE that a participant has changed training schedules on their ECF course.
</p>

<h3 class="govuk-heading-m" id="notifying-of-schedule-change-provider-changes-schedule-of-a-participant">1. Provider changes a participant's schedule</h3>

<p class="govuk-body-m">Submit the change of schedule notification to the following endpoint</p>
<pre>
  <code>PUT /api/v1/participants/ecf/{id}/change-schedule</code>
</pre>
<p class="govuk-body-m">This will return an <a href="/api-reference/reference-v1#schema-ecfparticipantresponse" class="govuk-link">ECF participant record</a> with the updates to the record included.</p>
<p class="govuk-body-m">See <a href="/api-reference/reference-v1#api-v1-participants-ecf-id-change-schedule-put" class="govuk-link">change schedule of ECF participant</a> endpoint.</p>
<p class="govuk-body-m">
  Where a schedule’s name does not include ‘standard’, we will not apply ‘milestone validation’ to any declarations.
</p>
<p class="govuk-body-m">
  Where milestone validation applies, the API will reject a declaration if it is not submitted during the correct
  milestone period. It will also reject declarations submitted after the milestone period and the declaration_date
  set in the milestone period. For example, if a participant is on the ecf-standard-september
  <a href="#notifying-of-schedule-change-standard-induction-september">schedule</a>,
  the API would reject a start declaration unless it is submitted during the period 19 November 2021 to
  30 November 2021, or submitted afterwards and backdated accordingly.
</p>
<p class="govuk-body-m">
  Providers will still be expected to evidence any declarations and why a participant is following a non-standard induction.
</p>


<h3 class="govuk-heading-m" id="notifying-of-schedule-change-standard-induction">Standard induction</h3>

<p class="govuk-body-m">
  A usual 2 year induction covers 6 terms (3 in each academic year). The payment model for those following a standard
  induction is therefore equal to 1 milestone payment for each of the 6 terms you are supporting a participant. We
  are allowing functionality for providers to switch participants onto the following standard schedules:
</p>

<ul class="govuk-list govuk-list--bullet">
  <li><code>ecf-standard-september</code></li>
  <li><code>ecf-standard-january</code></li>
  <li><code>ecf-standard-april</code></li>
</ul>

<p class="govuk-body-m">
  Standard schedules will be subject to milestone validation as outlined in the tables below.
</p>

<h3 class="govuk-heading-s" id="notifying-of-schedule-change-standard-induction-september">Standard induction starting in September</h3>

<p class="govuk-body-m">
  Participants should be tagged as <code>ecf-standard-september</code> if they are starting their course
  before the <b>30 November 2021</b> and are expected to complete their training over two academic years.
</p>

<table class="govuk-table">
  <thead class="nhsuk-table__head">
    <tr class="govuk-table__row">
      <th scope="col" class="govuk-table__header">Retention Point</th>
      <th scope="col" class="govuk-table__header">Milestone Date</th>
      <th scope="col" class="govuk-table__header">Payment Made</th>
    </tr>
  </thead>
  <tbody>
    <tr class="govuk-table__row">
      <td class="govuk-table__cell">Output 1 - Participant Start (20%)</td>
      <td class="govuk-table__cell">30th November 2021</td>
      <td class="govuk-table__cell">30th November 2021</td>
    </tr>
    <tr class="govuk-table__row">
      <td class="govuk-table__cell">Output 2 – Retention Point 1 (15%)</td>
      <td class="govuk-table__cell">31st January 2022</td>
      <td class="govuk-table__cell">28th February 2022</td>
    </tr>
    <tr class="govuk-table__row">
      <td class="govuk-table__cell">Output 3 – Retention Point 2 (15%)</td>
      <td class="govuk-table__cell">30th April 2022</td>
      <td class="govuk-table__cell">31st May 2022</td>
    </tr>
    <tr class="govuk-table__row">
      <td class="govuk-table__cell">Output 4 – Retention Point 3 (15%)</td>
      <td class="govuk-table__cell">30th September 2022</td>
      <td class="govuk-table__cell">31st October 2022</td>
    </tr>
    <tr class="govuk-table__row">
      <td class="govuk-table__cell">Output 5 – Retention Point 4 (15%)</td>
      <td class="govuk-table__cell">31st January 2023</td>
      <td class="govuk-table__cell">28th February 2023</td>
    </tr>
    <tr class="govuk-table__row">
      <td class="govuk-table__cell">Output 6 – Participant Completion (20%)</td>
      <td class="govuk-table__cell">30th April 2023</td>
      <td class="govuk-table__cell">31st May 2023</td>
    </tr>
  </tbody>
</table>

<h3 class="govuk-heading-s" id="notifying-of-schedule-change-standard-induction-september">Standard induction starting in January</h3>
<p class="govuk-body-m">
  Participants should be tagged as <code>ecf-standard-january</code> if they are starting their course on or after <b>1 December</b>
  and are expected to complete their training over 2 years.
</p>
<table class="govuk-table">
  <thead  class="nhsuk-table__head">
    <tr class="govuk-table__row">
      <th scope="col" class="govuk-table__header">Retention Point</th>
      <th scope="col" class="govuk-table__header">Milestone Date</th>
      <th scope="col" class="govuk-table__header">Payment Made</th>
    </tr>
  </thead>
  <tbody>
    <tr class="govuk-table__row">
      <td class="govuk-table__cell">Output 1 - Participant Start (20%)</td>
      <td class="govuk-table__cell">31st January 2022</td>
      <td class="govuk-table__cell">28th February 2022</td>
    </tr>
    <tr class="govuk-table__row">
      <td class="govuk-table__cell">Output 2 – Retention Point 1 (15%)</td>
      <td class="govuk-table__cell">30th April 2022</td>
      <td class="govuk-table__cell">31st May 2022</td>
    </tr>
    <tr class="govuk-table__row">
      <td class="govuk-table__cell">Output 3 – Retention Point 2 (15%)</td>
      <td class="govuk-table__cell">30th September 2022</td>
      <td class="govuk-table__cell">31st October 2022</td>
    </tr>
    <tr class="govuk-table__row">
      <td class="govuk-table__cell">Output 4 – Retention Point 3 (15%)</td>
      <td class="govuk-table__cell">31st January 2023</td>
      <td class="govuk-table__cell">28th February 2023</td>
    </tr>
    <tr class="govuk-table__row">
      <td class="govuk-table__cell">Output 5 – Retention Point 4 (15%)</td>
      <td class="govuk-table__cell">30th April 2023</td>
      <td class="govuk-table__cell">31st May 2023</td>
    </tr>
    <tr class="govuk-table__row">
      <td class="govuk-table__cell">Output 6 – Participant Completion (20%)</td>
      <td class="govuk-table__cell">31st October 2023</td>
      <td class="govuk-table__cell">30th November 2023</td>
    </tr>
  </tbody>
</table>

<h3 class="govuk-heading-s" id="notifying-of-schedule-change-standard-induction-april">Standard induction starting in April</h3>

<p class="govuk-body-m">
  Participants should be tagged as <code>ecf-standard-april</code> if they are starting their course on or after <b>1 February</b>
  and are expected to complete their training over 2 years.
</p>

<table class="govuk-table">
  <thead class="nhsuk-table__head">
    <tr class="govuk-table__row">
      <th scope="col" class="govuk-table__header">Retention Point</th>
      <th scope="col" class="govuk-table__header">Milestone Date</th>
      <th scope="col" class="govuk-table__header">Payment Made</th>
    </tr>
  </thead>
  <tbody>
    <tr class="govuk-table__row">
      <td class="govuk-table__cell">Output 1 - Participant Start (20%)</td>
      <td class="govuk-table__cell">30th April 2022</td>
      <td class="govuk-table__cell">31st May 2022</td>
    </tr>
    <tr class="govuk-table__row">
      <td class="govuk-table__cell">Output 2 – Retention Point 1 (15%)</td>
      <td class="govuk-table__cell">30th September 2022</td>
      <td class="govuk-table__cell">31st October 2022</td>
    </tr>
    <tr class="govuk-table__row">
      <td class="govuk-table__cell">Output 3 – Retention Point 2 (15%)</td>
      <td class="govuk-table__cell">31st January 2023</td>
      <td class="govuk-table__cell">28th February 2023</td>
    </tr>
    <tr class="govuk-table__row">
      <td class="govuk-table__cell">Output 4 – Retention Point 3 (15%)</td>
      <td class="govuk-table__cell">30th April 2023</td>
      <td class="govuk-table__cell">31st May 2023</td>
    </tr>
    <tr class="govuk-table__row">
      <td class="govuk-table__cell">Output 5 – Retention Point 4 (15%)</td>
      <td class="govuk-table__cell">31st October 2023</td>
      <td class="govuk-table__cell">30th November 2023</td>
    </tr>
    <tr class="govuk-table__row">
      <td class="govuk-table__cell">Output 6 – Participant Completion (20%)</td>
      <td class="govuk-table__cell">31st January 2024</td>
      <td class="govuk-table__cell">28th February 2024</td>
    </tr>
  </tbody>
</table>

<h3 class="govuk-heading-s" id="notifying-of-schedule-change-non-standard-induction">Non-standard induction</h3>
<p class="govuk-body-m">
  Following the same principles of those on a standard induction, providers will be paid the equivalent of
  one milestone payment for each of the terms they are supporting a participant. Non-standard schedules will
  not be subject to milestone validation.
</p>

<p class="govuk-body-m">
  Under a non-standard schedule, the API will accept any declarations once the first milestone period for
  the schedule has started. For example, if a participant is on an ecf-extended-september schedule, the API will
  accept any type of declaration, such as a start, retention-1 or completion, from 1 September 2021. Providers
  will still be expected to evidence any declarations and why a participant is following a non-standard induction.
</p>

<p class="govuk-body-m">
   We are allowing functionality for providers to switch participants onto the following non-standard schedules:
</p>

<ul class="govuk-list govuk-list--bullet">
  <li><code>ecf-extended-september</code></li>
  <li><code>ecf-extended-january</code></li>
  <li><code>ecf-extended-april</code></li>
</ul>
</br>
<ul class="govuk-list govuk-list--bullet">
  <li><code>ecf-reduced-september</code></li>
  <li><code>ecf-reduced-january</code></li>
  <li><code>ecf-reduced-april</code></li>
</ul>
</br>
<ul class="govuk-list govuk-list--bullet">
  <li><code>ecf-replacement-september</code></li>
  <li><code>ecf-replacement-january</code></li>
  <li><code>ecf-replacement-april</code></li>
</ul>

<p class="govuk-body-m">
   The non-standard induction schedules are detailed below.
</p>

<h3 class="govuk-heading-s" id="notifying-of-schedule-extended-schedule">Extended schedule</h3>
<p class="govuk-body-m">
  For participants that expect to complete their induction over a period greater than two years,
  with the schedule reflecting the month when the participant starts. For example, part time ECTs:
</p>

<ul class="govuk-list govuk-list--bullet">
  <li><code>ecf-extended-september</code></li>
  <li><code>ecf-extended-january</code></li>
  <li><code>ecf-extended-april</code></li>
</ul>

<h3 class="govuk-heading-s" id="notifying-of-schedule-reduced-schedule">Reduced schedule</h3>
<p class="govuk-body-m">
  For participants that expect to complete their induction over a period less than 2 years,
  with the schedule reflecting the month when the participant starts:
</p>

<ul class="govuk-list govuk-list--bullet">
  <li><code>ecf-reduced-september</code></li>
  <li><code>ecf-reduced-january</code></li>
  <li><code>ecf-reduced-april</code></li>
</ul>

<h3 class="govuk-heading-s" id="notifying-of-schedule-replacement-mentors">Replacement mentors</h3>
<p class="govuk-body-m">
  For mentors that are replacing a mentor for an ECT that is part way through their training with
  the schedule reflecting the month when the replacement starts:
</p>
<ul class="govuk-list govuk-list--bullet">
  <li><code>ecf-replacement-september</code></li>
  <li><code>ecf-replacement-january</code></li>
  <li><code>ecf-replacement-april</code></li>
</ul>

<p class="govuk-body-m">
Where a mentor is already mentoring an ECT and they replace a mentor for a second ECT, the first ECT
takes precedence. In this instance, the provider should not change the mentor’s schedule.
</p>

<p class="govuk-body-m">
  The DfE expects that a replacement mentor's training, and therefore any declarations a provider submits
  for them, will align with the ECT they are mentoring. Say a replacement mentor begins mentoring an ECT
  part way through the ECT’s induction. The provider has already submitted a start declaration for the
  previous mentor. Now, the provider makes a retention-1 declaration for the ECT. The department would
  expect that any declaration made for the replacement mentor in the same milestone period as that made for
  the ECT would also be a retention-1 declaration.
</p>

<h3 class="govuk-heading-m" id="notifying-of-schedule-ecf-cohort-attribute">ECF cohort attribute</h3>
<p class="govuk-body-m">
  The NPQ participant <a href="/api-reference/reference-v1.html#schema-ecfparticipantchangescheduleattributes">change schedule attributes</a> includes the attribute 'cohort'.
</p>
<p class="govuk-body-m">
  The DfE uses the attribute cohort to record the call-off contract which funds a participant's training. For example, a participant starting their training in the academic year 2021-22 will have a cohort of 2021, as their funding comes from the 2021-22 call off contract.
</p>
<p class="govuk-body-m">
  A provider may not change the cohort of an ECF participant. If providers require a cohort to change, then they should contact the Service directly.
</p>

<h2 id="notifying-of-withdrawal" class="govuk-heading-l">Notifying that an ECF participant has withdrawn from their course</h2>

<p class="govuk-body-m">This operation allows the provider to tell the DfE that a participant has withdrawn from their ECF course.</p>
<p class="govuk-body-m">A participant that withdraws in a given milestone period after the submission of a retained event for the same period, will be paid for that period.</p>
<p class="govuk-body-m">A participant that withdraws before the started milestone cut-off date will not be paid for by the department.</p>

<h3 class="govuk-heading-m" id="notifying-of-withdrawal-provider-withdraws-a-participant">1. Provider withdraws a participant</h3>

<p class="govuk-body-m">Submit the withdrawal notification to the following endpoint</p>
<pre>
  <code>PUT /api/v1/participants/ecf/{id}/withdraw</code>
</pre>
<p class="govuk-body-m">This will return an <a href="/api-reference/reference-v1#schema-ecfparticipantresponse" class="govuk-link">ECF participant record</a> with the updates to the record included.</p>
<p class="govuk-body-m">See <a href="/api-reference/reference-v1#api-v1-participants-ecf-id-withdraw-put" class="govuk-link">withdraw ECF participant</a> endpoint.</p>

<h2 id="declaring-that-an-ecf-participant-has-started-their-course" class="govuk-heading-l">Declaring that an ECF participant has started their course</h2>
<p class="govuk-body-m">This scenario begins after it has been confirmed that an ECF participant is ready to begin their induction training.</p>

<h3 class="govuk-heading-m" id="provider-confirms-ECF-participant-has-started">1. Provider confirms an ECF participant has started</h3>
<p class="govuk-body-m">Confirm an ECF participant has started their induction training before Milestone 1.</p>
<p class="govuk-body-m"><pre><code>POST /api/v1/participant-declarations</code></pre></p>

<p class="govuk-body-m">With a <a href="/api-reference/reference-v1#schema-ecfparticipantstarteddeclaration" class="govuk-link">request body containing an ECF participant declaration</a>.</p>
<p class="govuk-body-m">This returns <a href="/api-reference/reference-v1#schema-singleparticipantdeclarationresponse" class="govuk-link">participant declaration</a>.</p>

<p class="govuk-body-m">This endpoint is idempotent - submitting exact copy of a request will return the same response body as submitting it the first time.</p>
<p class="govuk-body-m">See <a href="/api-reference/reference-v1#api-v1-participant-declarations-post" class="govuk-link">confirm ECF participant declarations</a> endpoint.</p>

<h3 class="govuk-heading-m" id="provider-records-ECF-participant-declaration-id">2. Provider records the ECF participant declaration ID</h3>
<p class="govuk-body-m">Store the returned ECF participant declaration ID for future management tasks.</p>

<h2 id="declaring-that-an-ecf-participant-has-retained-their-course" class="govuk-heading-l">Declaring that an ECF participant has reached a retained milestone</h2>
<p class="govuk-body-m">This scenario begins after it has been confirmed that an ECF participant has completed enough of their course to meet a milestone.</p>

<h3 class="govuk-heading-m" id="provider-confirms-ECF-participant-has-been-retained">1. Provider confirms an ECF participant has been retained</h3>
<p class="govuk-body-m">Confirm an ECF participant has been retained by the appropriate number of months for this retained event on their ECF course.</p>
<p class="govuk-body-m">An explicit <code>retained-x</code> declaration is required to trigger output payments. You should declare this when a participant has reached a particular milestone in line with contractual reporting requirements.</p>
<p class="govuk-body-m"><pre><code>POST /api/v1/participant-declarations</code></pre></p>

<p class="govuk-body-m">With a <a href="/api-reference/reference-v1#schema-ecfparticipantretaineddeclaration" class="govuk-link">request body containing an ECF participant retained declaration</a>.</p>
<p class="govuk-body-m">This returns <a href="/api-reference/reference-v1#schema-singleparticipantdeclarationresponse" class="govuk-link">participant declaration</a>.</p>
<p class="govuk-body-m">See <a href="/api-reference/reference-v1#api-v1-participant-declarations-post" class="govuk-link">confirm ECF participant declarations</a> endpoint.</p>

<h3 class="govuk-heading-m" id="provider-records-ECF-participant-declaration-id-2">2. Provider records the ECF participant declaration ID</h3>
<p class="govuk-body-m">Store the returned ECF participant declaration ID for future management tasks.</p>

<h2 id="declaring-that-an-ecf-participant-has-completed-their-course" class="govuk-heading-l">Declaring that an ECF participant has completed their course</h2>
<p class="govuk-body-m">This scenario begins after it has been confirmed that an ECF participant has completed their course.</p>

<h3 class="govuk-heading-m" id="provider-confirms-ECF-participant-completed">1. Provider confirms an ECF participant has completed their course.</h3>
<p class="govuk-body-m">Confirm an ECF participant has completed their ECF course.</p>
<p class="govuk-body-m">An explicit <code>completed</code> declaration is required to trigger output payments. You should declare this when a participant has reached their final milestone and completed their ECF course.</p>
<p class="govuk-body-m"><pre><code>POST /api/v1/participant-declarations</code></pre></p>

<p class="govuk-body-m">With a <a href="/api-reference/reference-v1#schema-ecfparticipantstarteddeclaration" class="govuk-link">request body containing an ECF participant completed declaration</a>.</p>
<p class="govuk-body-m">This returns <a href="/api-reference/reference-v1#schema-singleparticipantdeclarationresponse" class="govuk-link">participant declaration</a>.</p>
<p class="govuk-body-m">See <a href="/api-reference/reference-v1#api-v1-participant-declarations-post" class="govuk-link">confirm ECF participant declarations</a> endpoint.</p>

<h3 class="govuk-heading-m" id="provider-records-ECF-participant-declaration-id-3">2. Provider records the ECF participant declaration ID</h3>
<p class="govuk-body-m">Store the returned ECF participant declaration ID for future management tasks.</p>

<h2 id="removing-participant-declaration" class="govuk-heading-l">Removing a declaration submitted in error</h2>
<p class="govuk-body-m">This operation allows the provider to void a participant declaration that has been previously submitted.</p>
<p class="govuk-body-m">This allows the provider to rectify incorrectly/inaccurately reported participant data that may have been submitted in error.</p>

<h3 class="govuk-heading-m" id="provider-voids-a-declaration">1. Provider voids a declaration</h3>
<p class="govuk-body-m">Submit the void to the following endpoint</p>
<p class="govuk-body-m"><pre><code>PUT /api/v1/participant-declarations/{id}/void</code></pre></p>
<p class="govuk-body-m">This will return a <a href="/api-reference/reference-v1#schema-singleparticipantdeclarationresponse" class="govuk-link">participant declaration record</a> with the updates to the record included.</p>
<p class="govuk-body-m">See <a href="/api-reference/reference-v1#api-v1-participant-declarations-id-void-put" class="govuk-link">void participant declaration</a> endpoint.</p>
