<h2 id="declaring-that-an-npq-participant-has-withdrawn-of-their-course" class="govuk-heading-l">Notifying that an NPQ participant has withdrawn from their course</h2>

<p class="govuk-body-m">This operation allows the provider to tell the DfE that a participant has withdrawn from their NPQ course.</p>
<p class="govuk-body-m">A participant that withdraws in a given milestone period after the submission of a retained event for the same period, will be paid for that period.</p>
<p class="govuk-body-m">A participant that withdraws before the started milestone cut-off date will not be paid for by the department.</p>

<h2 class="govuk-heading-m" id="notifying-of-withdrawal-provider-withdraws-an-npq-participant">Provider withdraws a participant</h2>

<p class="govuk-body-m">Submit the withdrawal notification to the following endpoint</p>
<pre>
  <code>PUT /api/v1/participants/npq/{id}/withdraw</code>
</pre>
<p class="govuk-body-m">This will return an <a href="/api-reference/reference.html#schema-npqparticipantresponse" class="govuk-link">NPQ participant record</a> with the updates to the record included.</p>
<p class="govuk-body-m">See <a href="/api-reference/reference.html#api-v1-participants-npq-id-withdraw-put" class="govuk-link">withdraw NPQ participant</a> endpoint.</p>

<h2 id="notifying-of-npq-deferral" class="govuk-heading-l">Notifying that an NPQ participant is taking a break from their course</h2>

<p class="govuk-body-m">This operation allows the provider to tell the DfE that a participant has deferred from their NPQ course.</p>
<p class="govuk-body-m">A participant is deemed to have deferred from an NPQ course if he or she will be resuming it at a later date.</p>

<h3 class="govuk-heading-m" id="notifying-of-deferral-provider-defers-an-npq-participant">1. Provider defers a participant</h3>

<p class="govuk-body-m">Submit the deferral notification to the following endpoint</p>
<pre>
  <code>PUT /api/v1/participants/npq/{id}/defer</code>
</pre>
<p class="govuk-body-m">This will return an <a href="/api-reference/reference-v1#schema-npqparticipantresponse" class="govuk-link">NPQ participant record</a> with the updates to the record included.</p>
<p class="govuk-body-m">See <a href="/api-reference/reference.html#api-v1-participants-npq-id-defer-put" class="govuk-link">defer an NPQ participant</a> endpoint.</p>

<h2 id="notifying-of-npq-resume" class="govuk-heading-l">Notifying that an NPQ participant is resuming their course</h2>

<p class="govuk-body-m">This functionality allows the provider to inform the DfE that a participant has resumed an NPQ course.</p>

<h3 class="govuk-heading-m" id="resuming-npq-participant">1. Provider resumes an NPQ participant</h3>

<p class="govuk-body-m">Submit the resumed notification to the following endpoint</p>
<pre>
  <code>PUT /api/v1/participants/npq/{id}/resume</code>
</pre>
<p class="govuk-body-m">This will return an <a href="/api-reference/reference-v1#schema-npqparticipantresponse" class="govuk-link">NPQ participant record</a> with the updates to the record included.</p>
<p class="govuk-body-m">See <a href="/api-reference/reference-v1.html#api-v1-participants-id-resume-put" class="govuk-link">resume NPQ participant</a> endpoint.</p>

<h2 id="notifying-of-npq-schedule-change" class="govuk-heading-l">Tell the DfE that a participant is changing training schedule on their NPQ course</h2>
<p class="govuk-body-m">
  Submit a change of schedule notification to the following endpoint
</p>
<pre>
  <code>PUT /api/v1/participants/npq/{id}/change-schedule</code>
</pre>
<p class="govuk-body-m">
  This will return an <a href="/api-reference/reference-v1.html#schema-npqparticipant">NPQ participant response</a> with the updates to the record included.
</p>
<p class="govuk-body-m">
  Read change schedule of <a href="/api-reference/reference-v1.html#api-v1-participants-npq-id-change-schedule-put">NPQ participant endpoint</a>.
</p>

<p class="govuk-body-m">
  The provider needs to show the DfE evidence of any declarations they submit and why a participant is following a particular schedule.
</p>

<h3 class="govuk-heading-m">NPQ schedules and dates</h3>
<p class="govuk-body-m">
  NPQ participants start their courses at different times throughout the school year. The DfE has developed schedules to account for these different start dates, which are sometimes called ‘cohorts’.
</p>
<p class="govuk-body-m">
  Currently, the DfE expects NPQ participants to start an NPQ course in ‘autumn’ or ‘spring’.
</p>
<p class="govuk-body-m">
  Participants that start their course in November/December 2021 should be on autumn schedules, while participants that start their course in January/February 2022 are on spring schedules.
</p>
<p class="govuk-body-m">
  The DfE automatically assigns an NPQ participant to a schedule when the participant registers. The schedule assigned depends on the date when the participant registers, with the following logic:
</p>
<p class="govuk-body-m">
  <ul>
    <li>assigned participants who registered and were accepted before  25 December 2021 to an autumn schedule</li>
    <li>assigned participants who registered and were accepted after 25 December 2021 to a spring schedule</li>
  </ul>
</p>
<h3 class="govuk-heading-m">NPQ cohort attribute</h3>
<p class="govuk-body-m">
  The NPQ participant <a href="/api-reference/reference-v1.html#schema-npqparticipantchangescheduleattributes">change schedule attributes</a> includes the attribute ‘cohort’.
</p>
<p class="govuk-body-m">
  The DfE uses the attribute cohort to record the academic year in which a teacher creates an application for an NPQ. Currently the only available cohort is 2021, representing any NPQ application made in the academic year 2021/22. The DfE will expand this in future years.
</p>
<h3 class="govuk-heading-m">NPQ schedules and courses</h3>
<p class="govuk-body-m">
  NPQ courses (for example. npq-leading-teaching) can vary in their length and the number of milestones they comprise. To account for this, and avoid schedules for each and every NPQ course, the DfE have developed schedule types that cover common courses.
</p>
<p class="govuk-body-m">
  For example, if a participant is starting their NPQ in Specialist Leadership in February 2022, the provider needs to make sure the participant’s schedule is npq-leadership-spring and the cohort is 2021.
</p>
<table>
  <thead>
    <tr>
      <th>NPQ Course</th>
      <th>Available schedules</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>NPQSL<br />NPQH<br />NPQEL</td>
      <td>npq-leadership-autumn<br />npq-leadership-spring</td>
    </tr>
    <tr>
      <td>NPQLTD<br />NPQLT<br />NPQLBC</td>
      <td>npq-specialist-autumn<br />npq-specialist-spring</td>
    </tr>
  </tbody>
</table>

<h3 class="govuk-heading-m">Additional Support Offer (ASO) schedule</h3>
<p class="govuk-body-m">
  The DfE has developed schedules for participants taking up the additional support offer.
</p>
<p class="govuk-body-m">
  The provider should make sure the ASO schedule aligns with when a participant starts their ASO. Unlike NPQs, ASO schedules include calendar months.
</p>
<p class="govuk-body-m">
  For example, for a participant starting their ASO in December 2021, the provider should make sure the participant is on the npq-aso-december schedule and the cohort is 2021.
</p>
<p class="govuk-body-m">
  The available ASO schedules are:

  <ul>
    <li>npq-aso-november</li>
    <li>npq-aso-december</li>
    <li>npq-aso-march</li>
    <li>npq-aso-june</li>
  </ul>
</p>

<h3 class="govuk-heading-m">Milestone validation</h3>
<p class="govuk-body-m">
  For NPQ schedules, the DfE does not apply any milestone validation. The API will accept any and all declarations once the first milestone period for the schedule has started.
</p>
<p class="govuk-body-m">
  For example, if a participant is on an npq-leadership-autumn schedule, the API will accept any type of declaration, such as a start, retention-1 or completion, from 1 November 2021.
</p>

<h2 id="declaring-that-an-npq-participant-has-completed-their-course" class="govuk-heading-l">Declaring that an NPQ participant has completed their course</h2>
<p class="govuk-body-m">This scenario begins after it has been confirmed that an NPQ participant has completed their course.</p>
<p class="govuk-body-m">Providers should declare this when a participant has reached their final milestone and completed their NPQ course with a pass or fail outcome.</p>
<p class="govuk-body-m">An explicit <code>completed</code> declaration is required to trigger output payments.</p>

<h3 class="govuk-heading-m" id="provider-confirms-NPQ-participant-completed">1. Provider confirms an NPQ participant has completed their course.</h3>
<p class="govuk-body-m">Confirm a participant has completed their NPQ course.</p>
<p class="govuk-body-m"><pre><code>POST /api/v1/participant-declarations</code></pre></p>

<p class="govuk-body-m">The request body must contain all attributes described in the <a href="/api-reference/reference-v3.html#schema-npqparticipantcompleteddeclarationattributes" class="govuk-link">NPQ participant completed declaration</a>, including a value in the <code>has_passed</code> attribute.</p>
<p class="govuk-body-m">This returns <a href="/api-reference/reference-v1#schema-singleparticipantdeclarationresponse" class="govuk-link">participant declaration</a>.</p>
<p class="govuk-body-m">See specifications for the <a href="/api-reference/reference-v1#api-v1-participant-declarations-post" class="govuk-link">confirm NPQ participant declarations</a> endpoint.</p>

<h3 class="govuk-heading-m" id="provider-records-NPQ-participant-declaration-id-3">2. Provider records the NPQ participant declaration ID</h3>
<p class="govuk-body-m">Store the returned NPQ participant declaration ID for future management tasks.</p>

<h2 id="removing-participant-declaration" class="govuk-heading-l">Removing a declaration submitted in error</h2>
<p class="govuk-body-m">This scenario begins when a provider needs to correct participant data that may have been submitted in error.</p>
<p class="govuk-body-m">This operation allows the provider to void a declaration that has been previously submitted.</p>

<h3 class="govuk-heading-m" id="provider-voids-a-declaration">1. Provider voids a declaration</h3>
<p class="govuk-body-m">Void an NPQ participant declaration</p>
<p class="govuk-body-m"><pre><code>PUT /api/v1/participant-declarations/{id}/void</code></pre></p>
<p class="govuk-body-m">This will return a <a href="/api-reference/reference-v1#schema-participantdeclarationresponse" class="govuk-link">participant declaration record</a> with the updates to the record included.</p>
<p class="govuk-body-m">If providers void <code>completed</code> declarations where a participant had passed the assessment (<code>"has_passed": true</code>), then this outcome will also be retracted and the participants will be notified.</p>
<p class="govuk-body-m">See specifications for the <a href="/api-reference/reference-v1#api-v1-participant-declarations-id-void-put" class="govuk-link">void participant declaration</a> endpoint.</p>

<h2 id="listing-npq-participant-outcomes" class="govuk-heading-l">Listing NPQ participant outcomes</h2>
<p class="govuk-body-m">This scenario begins after a provider has submitted a <code>completed</code> declaration for an NPQ participant and confirmed their outcome.</p>
<p class="govuk-body-m">This operation allows the provider to view pass, fail or voided outcomes for NPQ participants.</p>

<h3 class="govuk-heading-m">1. Provider views outcomes for an NPQ participant</h3>
<p class="govuk-body-m">View outcomes for a specific NPQ participant.</p>
<p class="govuk-body-m"><pre><code>GET /api/v1/participant/npq/{participant_id}/outcomes</code></pre></p>
<p class="govuk-body-m">This will return an <a href="/api-reference/reference-v3.html#schema-npqoutcomesresponse" class="govuk-link">NPQ outcomes response</a>, including a <code>state</code> value to show: </p>
<ul class="govuk-list govuk-list--bullet">
  <li><p class="govuk-body-m">outcomes submitted (<code>passed</code> or <code>failed</code>)</p></li>
  <li><p class="govuk-body-m">if the <code>completed</code> declaration has been voided and the outcome retracted (<code>voided</code>)</p></li>
</ul>
<p class="govuk-body-m">See specifications for the <a href="/api-reference/reference-v1.html#api-v1-participants-npq-participant_id-outcomes-get" class="govuk-link">participant outcome</a> endpoint.</p>

<h3 class="govuk-heading-m">2. Provider views outcomes for all NPQ participants</h3>
<p class="govuk-body-m">View outcomes for all NPQ participants.</p>
<p class="govuk-body-m"><pre><code>GET /api/v1/participant/npq/outcomes</code></pre></p>
<p class="govuk-body-m">This will return an <a href="/api-reference/reference-v3.html#schema-npqoutcomesresponse" class="govuk-link">NPQ outcomes response</a>, including <code>state</code> values to show: </p>
<ul class="govuk-list govuk-list--bullet">
  <li><p class="govuk-body-m">outcomes submitted (<code>passed</code> or <code>failed</code>)</p></li>
  <li><p class="govuk-body-m">if any <code>completed</code> declarations have been voided and the outcomes retracted (<code>voided</code>)</p></li>
</ul>
<p class="govuk-body-m">See specifications for the <a href="/api-reference/reference-v1.html#api-v1-participants-npq-outcomes-get" class="govuk-link">participant outcome</a> endpoint.</p>

<h2 id="updating-npq-participant-outcomes" class="govuk-heading-l">Updating NPQ participant outcomes</h2>
<p class="govuk-body-m">This scenario begins after a provider has submitted a <code>completed</code> declaration for a participant, including their course outcome.</p>
<p class="govuk-body-m">This operation allows providers to update an NPQ participant's outcome. Providers can also view a list of all <a href="/api-reference/npq-usage.html#checking-all-previously-submitted-declarations" class="govuk-link">previously submitted declarations</a>.</p>
<p class="govuk-body-m">Providers may need to update an outcome if the previously submitted data was inaccurate. For example, a provider should update the outcome if:</p>
<ul class="govuk-list govuk-list--bullet">
  <li><p class="govuk-body-m">the reported NPQ outcome was incorrect</p></li>
  <li><p class="govuk-body-m">the reported date the participant received their outcome was incorrect</p></li>
  <li><p class="govuk-body-m">a participant has retaken their NPQ assessment and their outcome has changed. </p></li>
</ul>
<h3 class="govuk-heading-m">1. Updating NPQ outcomes</h3>
<p class="govuk-body-m">Submit an updated NPQ outcome. </p>
<p class="govuk-body-m"><pre><code>GET /api/v1/participant/npq/{participant_id}/outcomes</code></pre></p>
<p class="govuk-body-m">The request body must contain all attributes described in the <a href="/api-reference/reference-v3.html#schema-npqoutcomerequest-example" class="govuk-link">NPQ participant outcome schema</a>, including updated values for the <code>completion_date</code> and <code>state</code> attributes.</p>
<p class="govuk-body-m">This returns an <a href="/api-reference/reference-v3.html#schema-npqoutcomeresponse" class="govuk-link">NPQ outcomes response</a> including updates to the record.</p>
<p class="govuk-body-m">See specifications for the <a href="/api-reference/reference-v1.html#api-v1-participants-npq-participant_id-outcomes-post" class="govuk-link">NPQ outcomes endpoint.</a></p>
