<h2 id="declaring-that-an-npq-participant-has-withdrawn-of-their-course" class="govuk-heading-l">Notifying that an NPQ participant has withdrawn from their course</h2>

<p class="govuk-body-m">This operation allows the provider to tell the DfE that a participant has withdrawn from their NPQ course.</p>
<p class="govuk-body-m">A participant that withdraws in a given milestone period after the submission of a retained event for the same period, will be paid for that period.</p>
<p class="govuk-body-m">A participant that withdraws before the started milestone cut-off date will not be paid for by the department.</p>

<h2 class="govuk-heading-m" id="notifying-of-withdrawal-provider-withdraws-an-npq-participant">Provider withdraws a participant</h2>

<p class="govuk-body-m">Submit the withdrawal notification to the following endpoint</p>
<pre>
  <code>PUT /api/v1/participants/npq/{id}/withdraw</code>
</pre>
<p class="govuk-body-m">This will return an <a href="/api-reference/reference.html#schema-npqparticipantresponse" class="govuk-link">NPQ participant record</a> with the updates to the record included.</p>
<p class="govuk-body-m">See <a href="/api-reference/reference.html#api-v1-participants-npq-id-withdraw-put" class="govuk-link">withdraw NPQ participant</a> endpoint.</p>

<h2 id="notifying-of-npq-deferral" class="govuk-heading-l">Notifying that an NPQ participant is taking a break from their course</h2>

<p class="govuk-body-m">This operation allows the provider to tell the DfE that a participant has deferred from their NPQ course.</p>
<p class="govuk-body-m">A participant is deemed to have deferred from an NPQ course if he or she will be resuming it at a later date.</p>

<h3 class="govuk-heading-m" id="notifying-of-deferral-provider-defers-an-npq-participant">1. Provider defers a participant</h3>

<p class="govuk-body-m">Submit the deferral notification to the following endpoint</p>
<pre>
  <code>PUT /api/v1/participants/npq/{id}/defer</code>
</pre>
<p class="govuk-body-m">This will return an <a href="/api-reference/reference-v1#schema-npqparticipantresponse" class="govuk-link">NPQ participant record</a> with the updates to the record included.</p>
<p class="govuk-body-m">See <a href="/api-reference/reference.html#api-v1-participants-npq-id-defer-put" class="govuk-link">defer an NPQ participant</a> endpoint.</p>

<h2 id="notifying-of-npq-resume" class="govuk-heading-l">Notifying that an NPQ participant is resuming their course</h2>

<p class="govuk-body-m">This functionality allows the provider to inform the DfE that a participant has resumed an NPQ course.</p>

<h3 class="govuk-heading-m" id="resuming-npq-participant">1. Provider resumes an NPQ participant</h3>

<p class="govuk-body-m">Submit the resumed notification to the following endpoint</p>
<pre>
  <code>PUT /api/v1/participants/npq/{id}/resume</code>
</pre>
<p class="govuk-body-m">This will return an <a href="/api-reference/reference-v1#schema-npqparticipantresponse" class="govuk-link">NPQ participant record</a> with the updates to the record included.</p>
<p class="govuk-body-m">See <a href="/api-reference/reference.html#api-v1-participants-id-resume-put" class="govuk-link">resume NPQ participant</a> endpoint.</p>
