---
title: Developing on the API
weight: 4
---

<h1 class="govuk-heading-l" id="developing">Developing on the API</h1>

<p class="govuk-body">
  The OpenAPI spec from which this documentation is generated is <a href="/lead-providers/api-docs/v1/api_spec.yml" class="govuk-link">available in YAML format</a>.
</p>

<h2 class="govuk-heading-m" id="reference-environments">Environments</h2>

<p class="govuk-body">
  We have a production environment and a sandbox environment.
</p>

<p class="govuk-body">
  The <strong>Lead Provider sandbox</strong> is for testing your integration. When we
  set you up with an API key, we’ll create a test provider as well.
</p>

<p class="govuk-body">
  <code>https://ecf-sandbox.london.cloudapps.digital/api/v1</code>
</p>

<p class="govuk-body">
  The <strong>Production</strong> environment is the real environment. Do not
  perform testing here.
</p>

<p class="govuk-body">
  <code>https://manage-training-for-early-career-teachers.education.gov.uk/api/v1</code>
</p>

<h2 class="govuk-heading-m" id="reference-rate-limits">Rate limits</h2>

<p class="govuk-body">
  You are limited to 1000 requests per 5 minutes.
</p>

<p class="govuk-body">
  This limit is calculated on a rolling basis, per API key.
  If you exceed the limit, you will see <code>429</code> HTTP status codes.
</p>

<h2 id="authentication" class="govuk-heading-m">Authentication</h2>

<p class="govuk-body">
  All requests must be accompanied by an <code>Authorization</code> request header (not as part of the URL) in the following format:
</p>

<p class="govuk-body">
  <code>
    Authorization: Bearer {token}
  </code>
</p>

<p class="govuk-body">
  Unauthenticated requests will receive an <a href="#unauthorizedresponse-object" class="govuk-link">UnauthorizedResponse</a>
  with a <code>401</code> status code.
</p>

<h2 id="custom-headers" class="govuk-heading-m">Custom API Headers for Sandbox testing</h2>

<p class="govuk-body">
  The sandbox environment supports the following custom header to enable testing:
  <code>
    X-With-Server-Date
  </code>
</p>

<h3 id="x-with-server-date">
  Using the X-With-Server-Date header
</h3>

<p class="govuk-body">
  Declaration submissions are made by providers in line with contractual milestones. These are required to fall into specific date periods.
</p>
<p class="govuk-body">
  To test the integration more thoroughly, a custom JSON header can be used when making declarations in the sandbox.
</p>
<p class="govuk-body">
  This header, X-With-Server-Date, is set as a standard JSON header to simulate declaration submissions against future milestone date periods.
</p>
<p class="govuk-body">
  It lets you see what would happen when submitting declarations for that time, which would not be valid for the current milestone period, for example, forward declarations, but simulated as current declarations for a later milestone.
</p>
<p class="govuk-body">
  This header is only valid on the sandbox system.
</p>
<p class="govuk-body">
  Trying to submit future declarations on production systems or without this header would be rejected as part of normal validation.
</p>
<p class="govuk-body">
  To set the header:
</p>
<ol class="govuk-list govuk-list--number">
  <li>
    Select header (in Postman)
  </li>
  <li>
    Key = X-With-Server-Date
  </li>
  <li>
    Value = date you choose in ISO8601 Date with time and Timezone (i.e. RFC3339 format) 2022-01-10T10:42:00Z
  </li>
</ol>
