---
title: Release notes
weight: 8
---

<h1 class="govuk-heading-l" id="release-notes">Release notes</h1>

<p class="govuk-body-m">
  If you have any questions or comments about these notes, please contact DfE via Slack or email.
</p>

<h2 class="govuk-heading-l" id="16-1-2023">16th January 2023</h2>
<p class="govuk-body-m">
  Providers are now able to submit, view and update NPQ participant outcomes in the sandbox environment. Note, providers will be notified ahead of this functionality becoming available in the production environment.
  </br>
  </br>
  When an NPQ participant completes their course, their final assessment will determine a pass or fail outcome. Providers are now required to notify DfE of outcomes as part of <code>completed</code> declaration submissions, and provide updated outcomes as required.
  </br>
  </br>
  DfE will then notify the TRA who will issue certificates to any participants who have passed their NPQ course.
  <h3 class="govuk-heading-m">Submitting NPQ outcomes in 'completed' declarations</h3>
  Providers must include participant outcomes as part of NPQ <code>completed</code> declaration submissions. The mandatory <code>has_passed</code> attribute must be included as part of the request body for the following endpoint:
  <pre><code>POST /api/v1/participant-declarations</pre></code>
  Providers can submit <code>has_passed</code> values as follows:
  </br>
  </br>
  <ul class="govuk-list govuk-list--bullet">
    <li><code>"has_passed": true</code> - This signifies a participant has passed their course.</li>
    <li><code>"has_passed": false</code> - This signifies a participant has failed their course.</li>
  </ul>
  <code>completed</code> declaration submissions which do not include outcomes will be rejected as invalid requests.
  </br>
  </br>
  If providers void <code>completed</code> declarations where a participant had passed assessment (<code>"has_passed"</code>: <code>true</code>), then this outcome will also be retracted and the participants will be notified.
  </br>
  </br>
  <h3 class="govuk-heading-m">Updating NPQ outcomes</h3>
  Providers can update participant outcomes (defined by the <code>state</code> attribute) if they made an error in the data originally submitted, or if the participant fails, retakes and goes on to pass their assessment.
  </br>
  </br>
  Providers should include updated values for the NPQ <code>state</code> and <code>completion_date</code>, as well as the explicit <code>course_identifier</code> for the new endpoint:
  <pre><code>POST /api/v1/participants/npq/{participant_id}/outcomes</pre></code>
  Providers can submit <code>state</code> values as follows:
  </br>
  </br>
  <ul class="govuk-list govuk-list--bullet">
    <li><code>"state": passed</code> - This will update the record to signify a participant has passed their course.</li>
    <li><code>"state": failed</code> - This will update the record to signify a participant has failed their course.</li>
  </ul>
  <h3 class="govuk-heading-m">Viewing NPQ outcomes for all participants</h3>
  Providers can view all outcomes submitted for NPQ participants by using the following endpoints. Outcomes will be defined in the responses by the state attribute with values including:
  </br>
  </br>
  <ul class="govuk-list govuk-list--bullet">
    <li><code>"state": passed</code> - This signifies a participant has passed their course.</li>
    <li><code>"state": failed</code> - This signifies a participant has failed their course.</li>
    <li><code>"state": voided</code> - This signifies a <code>completed</code> declaration has since been voided and therefore the associated outcome retracted.</li>
  </ul>
  Providers can view outcomes for all NPQ participants by using the new endpoint:
  <pre><code>POST /api/v1/participants/npq/outcomes</pre></code>
  Providers can view outcomes for a specific NPQ participant by using the new endpoint:
  <pre><code>POST /api/v1/participants/npq/{participant_id}/outcomes</pre></code>
</p>

<h2 class="govuk-heading-l" id="9-21-2022">21st September 2022</h2>
<p class="govuk-body-m">
  <div>Providers may need to consider funding and administrative implications of non-UK participants registering for NPQs. Providers can now identify non-UK registrations using three new participant data fields in the API:</div>
  </br>
  <ol class="govuk-list govuk-list--number">
    <li>
      <code>teacher_catchment</code> - This field will indicate whether or not the participant is UK-based.
      <ul class="govuk-list govuk-list--bullet">
        <li>If <code>true</code> then the registration relates to a participant who is UK-based.</li>
        <li>If <code>false</code> then the registration relates to a participant who is not UK-based.</li>
      </ul>
    </li>
    <li>
      <code>teacher_catchment_iso_country_code</code> - This field identifies which non-UK country the participant has registered from.
      The API uses <a href="https://www.iso.org/iso-3166-country-codes.html" class="govuk-link" rel="noreferrer noopener" target="_blank">ISO 3166 alpha-3 codes</a>, three-letter codes published by the International Organization for Standardization (ISO) to represent countries, dependent territories, and special areas of geographical interest.
    </li>
    <li>
      <code>teacher_catchment_country</code> - This field shows the text entered by the participant during their  NPQ online registration.
    </li>
  </ol>
  <div>Example: A teacher from a country outside the UK uses the DfE’s digital service to register for an NPQ. The provider wants to identify the country the participant is registering from, so checks the API and finds:</div>
  </br>
  <ul class="govuk-list govuk-list--bullet">
    <li><code>"teacher_catchment": false</code>  This means the participant is not UK-based.</li>
    <li><code>"teacher_catchment_iso_country_code": "FRA"</code>  The provider investigates the result and identifies the participant is based in France. </li>
    <li><code>"teacher_catchment_country": "France"</code> The provider views the text the participant has entered in their online registration.</li>
  </ul>
</p>

<h2 class="govuk-heading-l" id="9-14-2022">14th September 2022</h2>
<p class="govuk-body-m">
  The API will now return a helpful 422 error message to highlight invalid ECF or NPQ <code>course_identifier</code> entries.
  </br>
  </br>
  Invalid entries include: spelling errors, unrecognised values not included in the schema, or a value included in the schema but not associated with the participant.
  </br>
  </br>
  Example: When updating a participant record, an ECF provider enters an invalid <code>course_identifier</code>.
  </br>
  <ul class="govuk-list govuk-list--bullet">
    <li>A provider enters <code>"course_identifier": "ecf-induction"</code> when the participant is actually an <code>ecf-mentor</code></li>
    <li>The API will check the <code>course_identifier</code> is valid against the <code>participant_id</code></li>
    <li>This will identify whether or not the participant is registered for the given training</li>
    <li>The API will recognise that the <code>course_identifier</code> entered by the provider is invalid (as it should be <code>"course_identifier": "ecf-mentor"</code>) </li>
    <li>The API will return a 422 error message: <code>“The property '#/course_identifier' must be an available course to '#/participant_id'”</code></li>
    <li>The provider will know to update the <code>course_identifier</code> entered</li>
  </ul>
</p>

<h2 class="govuk-heading-l" id="9-8-2022">24th August 2022</h2>
<p class="govuk-body-m">
  ECF and NPQ lead providers can now trigger clawbacks of declarations which the DfE has paid to them.
  </br>
  </br>
  To do this, use the void endpoint. This can be done for both API versions (1.0.0 and 2.0.0).
  </br>
  <ul class="govuk-list govuk-list--bullet">
    <li>A provider uses the void endpoint to void a declaration that was in the paid state.</li>
    <li>The state of the declaration will then become awaiting_clawback.</li>
    <li>On the next statement the DfE will then clawback the value of the declaration, including any associated uplift fee.</li>
  </ul>
</p>

<h2 class="govuk-heading-l" id="17-8-2022">17th August 2022</h2>
<p class="govuk-body-m">
  <ul class="govuk-list govuk-list--bullet">
    <li>Added non-standard ECF schedules to 2022 cohort:</li>
    <li>
      <ul>
        <li>ecf-extended-september</li>
        <li>ecf-extended-january</li>
        <li>ecf-extended-april</li>
        <li>ecf-reduced-september</li>
        <li>ecf-reduced-january</li>
        <li>ecf-reduced-april</li>
        <li>ecf-replacement-september</li>
        <li>ecf-replacement-january</li>
        <li>ecf-replacement-april</li>
      </ul>
    </li>
    <li>These non-standard schedules start on the first day of the month of the given schedule name. For example ecf-extended-january starts on 1st January 2023</li>
  </ul>
</p>

<h2 class="govuk-heading-l" id="9-8-2022">9th August 2022</h2>
<p class="govuk-body-m">
  <ul class="govuk-list govuk-list--bullet">
    <li>Added <code>targeted_delivery_funding_eligibility</code> to NPQ applications</li>
  </ul>
</p>

<h2 class="govuk-heading-l" id="2-8-2022">2nd August 2022</h2>
<p class="govuk-body-m">
  <ul class="govuk-list govuk-list--bullet">
    <li>Removed the logic where the API would nullify the <code>email</code> field on the ECF and NPQ participant responses where the <code>status</code> is withdrawn. Now, where <code>status</code> is withdrawn, we will continue to display the participant’s <code>email</code>. Generally, the <code>status</code> will show withdrawn when a School Induction Tutor has withdrawn or “deleted” a participant in the schools user interface or “portal”. Where <code>email</code> was nullified, they will now be visible again.</li>
  </ul>
</p>

<h2 class="govuk-heading-l" id="24-6-2022">24th June 2022</h2>
<p class="govuk-body-m">
  <ul class="govuk-list govuk-list--bullet">
    <li>Added new declaration states <code>awaiting-clawback</code> and <code>clawed-back</code></li>
  </ul>
</p>

<h2 class="govuk-heading-l" id="6-6-2022">6th June 2022</h2>
<p class="govuk-body-m">
  <ul class="govuk-list govuk-list--bullet">
    <li>Added <code>cohort</code> to NPQ applications</li>
    <li>Added ability to filter by <code>cohort</code> on NPQ applications</li>
    <li>Added <code>ineligible_for_funding_reason</code> on NPQ applications</li>
    <li>Updated <code>eligible_for_funding</code> on NPQ applications to take previous accepted applications into consideration</li>
  </ul>
</p>

<h2 class="govuk-heading-l" id="11-5-2022">11th May 2022</h2>
<p class="govuk-body-m">
  <ul class="govuk-list govuk-list--bullet">
    <li>Added <code>yes_in_first_five_years</code> and <code>yes_over_five_years</code> to <code>headteacher_status</code> for NPQ applications</li>
  </ul>
</p>

<h2 class="govuk-heading-l" id="21-4-2022">21st April 2022</h2>
<p class="govuk-body-m">
<ul class="govuk-list govuk-list--bullet">
  <li>Added <code>works_in_school</code>, <code>employer_name</code>, and <code>employment_role</code> to <code>NPQApplicationAttributes</code> API entities. Definitions available at <code>/api-reference/reference-v1.html#schema-npqapplication</code></li>
</ul>
</p>

<h2 class="govuk-heading-l" id="12-4-2022">12th April 2022</h2>
<p class="govuk-body-m">
  <ul class="govuk-list govuk-list--bullet">
    <li>When fetching participant declarations it will now return any declarations made by previous providers. This will allow you to determine what declarations you should be posting next.</li>
  </ul>
</p>

<h2 class="govuk-heading-l" id="8-3-2022">8th March 2022</h2>
<p class="govuk-body-m">
  <ul class="govuk-list govuk-list--bullet">
    <li>In the documentation <code>/api-reference/reference.html</code> has been moved to <code>/api-reference/reference-v1.html</code></li>
  </ul>
</p>

<h2 class="govuk-heading-l" id="12-1-2022">12th January 2022</h2>
<p class="govuk-body-m">
  <ul class="govuk-list govuk-list--bullet">
    <li><code>change-schedule</code> API endpoints now accept a <code>cohort</code> attribute in the request body. This defaults to the current cohort if it is not specified.</li>
  </ul>
</p>

<h2 class="govuk-heading-l" id="11-1-2022">11th January 2022</h2>
<p class="govuk-body-m">
  <ul class="govuk-list govuk-list--bullet">
    <li>Added new API endpoint <code>/api/v1/participants/ecf/{participant_id}/change-schedule</code></li>
  </ul>
</p>

<h2 class="govuk-heading-l" id="7-1-2022">7th January 2022</h2>
<p class="govuk-body-m">
  <ul class="govuk-list govuk-list--bullet">
    <li>Added schedule with identifier <code>ecf-standard-april</code></li>
  </ul>
</p>

<h2 class="govuk-heading-l" id="6-1-2022">6th January 2022</h2>
<p class="govuk-body-m">
  <ul class="govuk-list govuk-list--bullet">
    <li>Schedule identifier has been renamed from <code>ecf-september-standard-2021</code> to <code>ecf-standard-september</code></li>
    <li>Schedule identifier has been renamed from <code>ecf-january-standard-2021</code> to <code>ecf-standard-january</code></li>
  </ul>
</p>

<h2 class="govuk-heading-l" id="3-12-2021">3rd December 2021</h2>
<p class="govuk-body-m">
Return JSON responses for 404 and 401 errors rather than <code>text/plain</code>
</p>

<h2 class="govuk-heading-l" id="4-11-2021">4th November 2021</h2>
<p class="govuk-body-m">
  <ul class="govuk-list govuk-list--bullet">
    <li>Add ability to defer an NPQ participant from a given course. <code>PUT /api/v1/participants/npq/{id}/defer</code></li>
    <li>
      <p class="govuk-body-m" >
        Added the new endpoint to defer an NPQ participant from a given course.
        <code>PUT /api/v1/participants/npq/{id}/defer</code>.
      </p>
    </li>

    <li>Add ability to resume an NPQ participant from a given course. <code>PUT /api/v1/participants/npq/{id}/resume</code></li>
    <li>
      <p class="govuk-body-m" >
        Added the new endpoint to resume an NPQ participant from a given course.
        <code>PUT /api/v1/participants/npq/{id}/resume</code>.
      </p>
    </li>
  </ul>
</p>
<p class="govuk-body-m">Added updated_at date to NPQ applications, NPQ participants, participants, and participant declarations (GET endpoints).</p>

<h2 class="govuk-heading-l" id="27-10-2021">27th October 2021</h2>
<p class="govuk-body-m">Added created_at date to NPQ applications (GET endpoints).</p>

<h2 class="govuk-heading-l" id="25-10-2021">25th October 2021</h2>
<p class="govuk-body-m">Add <code>employer</code> as possible option for NPQ <code>funding_choice</code>.</p>

<h2 class="govuk-heading-l" id="19-10-2021">19th October 2021</h2>
<p class="govuk-body-m">
  <ul class="govuk-list govuk-list--bullet">
    <li>Add ability to withdraw an NPQ participant from a given course. <code>PUT /api/v1/participants/npq/{id}/withdraw</code></li>
    <li>
      <p class="govuk-body-m" >
        Added the new endpoint to withdraw an NPQ participant from a given course.
        <code>PUT /api/v1/participants/npq/{id}/withdraw</code>.
      </p>
      The previous endpoint <code>PUT /api/v1/participants/npq/{id}/withdraw</code> is deprecated and will be remove in a later version of the API.
    </li>
  </ul>
</p>

<h2 class="govuk-heading-l" id="5-10-2021">5th October 2021</h2>
<p class="govuk-body-m">Update withdrawal and deferral reason codes.</p>
<p class="govuk-body-m">Added created_at date to NPQ applications (GET endpoints).</p>

<h2 class="govuk-heading-l" id="29-09-2021">29th September 2021</h2>
<p class="govuk-body-m">Add <code>GET /api/v1/participants/npq</code> endpoint.</p>

<h2 class="govuk-heading-l" id="22-09-2021">22nd September 2021</h2>
<p class="govuk-body-m">Prevent changing schedule if the new schedule makes existing pending declaration invalid.</p>

<h2 class="govuk-heading-l" id="17-09-2021">17th September 2021</h2>
<p class="govuk-body-m">Add <code>GET /api/v1/participants/ecf</code> endpoint.</p>

<h2 class="govuk-heading-l" id="16-09-2021">16th September 2021</h2>
<p class="govuk-body-m">Share <code>pupil_premium_uplift</code> and <code>sparsity_uplift</code> values for ECF participants.</p>

<h2 class="govuk-heading-l" id="15-09-2021">15th September 2021</h2>
<p class="govuk-body-m">Ability to void participant declarations.</p>

<h2 class="govuk-heading-l" id="10-09-2021">10th September 2021</h2>
<p class="govuk-body-m">Ability to resume participants on a course.</p>

<h2 class="govuk-heading-l" id="9-09-2021">9th September 2021</h2>
<p class="govuk-body-m">Added new action to retrieve a single participant declaration by ID</p>

<h2 class="govuk-heading-l" id="8-09-2021">8th September 2021</h2>
<p class="govuk-body-m">Ability to defer participants on a course.</p>

<h2 class="govuk-heading-l" id="7-09-2021">7th September 2021</h2>
<p class="govuk-body-m">Standardise date filtering parameters between different api endpoints.</p>

<h2 class="govuk-heading-l" id="19-07-2021">19th July 2021</h2>
<p class="govuk-body-m">Initial release of the NPQ usage guide.</p>

<h2 class="govuk-heading-l" id="1-07-2021">1st July 2021</h2>
<p class="govuk-body-m">Initial release of the API reference documentation.</p>
