---
title: Release notes
weight: 6
---

<h1 class="govuk-heading-l" id="release-notes">Release notes</h1>

<p class="govuk-body-m">
  If you have any questions or comments about these notes, please contact DfE via Slack or email.
</p>

<h2 class="govuk-heading-l" id="25-10-2021">25th October 2021</h2>
<p class="govuk-body-m">Add <code>employer</code> as possible option for NPQ <code>funding_choice</code>.</p>

<h2 class="govuk-heading-l" id="19-10-2021">19th October 2021</h2>
<p class="govuk-body-m">
   <ul class="govuk-list govuk-list--bullet">
     <li>Add ability to withdraw an NPQ participant from a given course. <code>PUT /api/v1/participants/npq/{id}/withdraw</code></li>
     <li>
       <p class="govuk-body-m" >
         Added the new endpoint to withdraw an NPQ participant from a given course.
         <code>PUT /api/v1/participants/npq/{id}/withdraw</code>.
       </p>
       The previous endpoint <code>PUT /api/v1/participants/npq/{id}/withdraw</code> is deprecated and will be remove in a later version of the API.
     </li>
   </ul>
 </p>

<h2 class="govuk-heading-l" id="5-10-2021">5th October 2021</h2>
<p class="govuk-body-m">Update withdrawal and deferral reason codes.</p>

<h2 class="govuk-heading-l" id="29-09-2021">29th September 2021</h2>
<p class="govuk-body-m">Add <code>GET /api/v1/participants/npq</code> endpoint.</p>

<h2 class="govuk-heading-l" id="22-09-2021">22nd September 2021</h2>
<p class="govuk-body-m">Prevent changing schedule if the new schedule makes existing pending declaration invalid.</p>

<h2 class="govuk-heading-l" id="17-09-2021">17th September 2021</h2>
<p class="govuk-body-m">Add <code>GET /api/v1/participants/ecf</code> endpoint.</p>

<h2 class="govuk-heading-l" id="16-09-2021">16th September 2021</h2>
<p class="govuk-body-m">Share <code>pupil_premium_uplift</code> and <code>sparsity_uplift</code> values for ECF participants.</p>

<h2 class="govuk-heading-l" id="15-09-2021">15th September 2021</h2>
<p class="govuk-body-m">Ability to void participant declarations.</p>

<h2 class="govuk-heading-l" id="10-09-2021">10th September 2021</h2>
<p class="govuk-body-m">Ability to resume participants on a course.</p>

<h2 class="govuk-heading-l" id="9-09-2021">9th September 2021</h2>
<p class="govuk-body-m">Added new action to retrieve a single participant declaration by ID</p>

<h2 class="govuk-heading-l" id="8-09-2021">8th September 2021</h2>
<p class="govuk-body-m">Ability to defer participants on a course.</p>

<h2 class="govuk-heading-l" id="7-09-2021">7th September 2021</h2>
<p class="govuk-body-m">Standardise date filtering parameters between different api endpoints.</p>

<h2 class="govuk-heading-l" id="19-07-2021">19th July 2021</h2>
<p class="govuk-body-m">Initial release of the NPQ usage guide.</p>

<h2 class="govuk-heading-l" id="1-07-2021">1st July 2021</h2>
<p class="govuk-body-m">Initial release of the API reference documentation.</p>
