<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-xl"><%= @year_2020_form.school.name %>'s 2020 to 2021 NQT cohort already have access to these materials'</h1>

    <p>Contact <%= render MailToSupportComponent.new %> if you think this is wrong.</p>
  </div>
</div>
