<% content_for :title, "Email used" %>

<% content_for :before_content, govuk_back_link(text: "Back", href: back_link_path) %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <% if email_used_in_the_same_school? %>
      <h1 class="govuk-heading-xl govuk-!-margin-bottom-7">This email has already been added</h1>

      <p class="govuk-body">This email address has already been used to add an early career teacher or mentor.</p>
    <% else %>
      <h1 class="govuk-heading-xl govuk-!-margin-bottom-7">This email is being used by someone at another school</h1>

      <p class="govuk-body govuk-!-margin-bottom-7">Contact them directly to check whether they need to be transferred to your school.</p>

    <% end %>
  </div>
</div>
