<% content_for :before_content, govuk_back_link(
  text: "Back",
  href: { action: :select_cip })
%>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-xl">Are you sure you want to delete <%= @year_2020_form.full_name %></h1>
    <p class="govuk-hint">
      You won't be able to undo this action and will have to input their details again
    </p>

    <%= form_for @year_2020_form, url: { action: :delete_teacher, index: params[:index] }, method: :put do |f| %>
      <div class="govuk-button-group">
        <%= f.govuk_submit "Confirm",  class: "govuk-button--warning" %>

        <%# govuk_link_to issue: https://github.com/DFE-Digital/govuk-components/issues/193 %>
        <%= govuk_link_to({ action: :check }, button: false) do %>
          Cancel
        <% end %>
      </div>
    <% end %>
  </div>
</div>
