<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds govuk-!-margin-top-8">
    <h1 class="govuk-heading-xl">Extra support for teachers who had their statutory induction disrupted by the pandemic</h1>
    <p class="govuk-body">
      Do you have NQTs from the 2020 to 2021 cohort who missed out on having a normal statutory induction because of the pandemic?
    </p>

    <p class="govuk-body">
      We are offering 2 things to help them during the next academic year:
    </p>

    <ul class="govuk-list govuk-list--bullet">
      <li>
        free online resources NQTs can use to develop their skills and knowledge
      </li>
      <li>
        a one-off payment to go towards giving NQTs extra development time
      </li>
    </ul>

    <h2 class="govuk-heading-l">Who is eligible</h2>
    <p class="govuk-body">
      This offer is for teachers at state-funded schools who either:
    </p>
    <ul class="govuk-list govuk-list--bullet">
      <li>
        completed their induction in the 2020 to 2021 academic year
      </li>
    </ul>
    <p class="govuk-body">Or</p>
    <ul class="govuk-list govuk-list--bullet">
      <li>
        had started but not yet completed their induction by 1 September 2021
      </li>
    </ul>

    <h2 class="govuk-heading-l">Optional resources</h2>
    <h3 class="govuk-heading-m">Help fill knowledge and skills gaps during the next academic year</h3>
    <p class="govuk-body">
      We are offering NQTs access to the same resources early career teachers (ECTs) use on the new induction programme.
    </p>
    <p class="govuk-body">
      These materials feature a wide range of theory and practical classroom techniques aligned to the teachers’ standards.
    </p>

    <div class="govuk-inset-text">
      <p class="govuk-body">
        Unlike ECTs, NQTs will only be able to use these resources for 3 terms. To get the best out of them they should:
      </p>
      <ul class="govuk-list govuk-list--bullet">
        <li>
          focus on development areas disrupted by the pandemic. There’s no need to try covering all the material
        </li>
        <li>
          dip in and out of them rather than following the prescribed week by week structure
        </li>
      </ul>
      <p class="govuk-body">
        Note that mentor meetings and associated practical exercises featured in the resources only apply to ECTs doing the new programme.
      </p>
    </div>

    <h3 class="govuk-heading-m">Choose resources and set up access for the NQTs</h3>

    <p class="govuk-body">
      You can choose resources from one of 4 DfE-accredited providers:
    </p>

    <ul class="govuk-list govuk-list--bullet">
      <li>Ambition Institute</li>
      <li>Education Development Trust</li>
      <li>Teach First</li>
      <li>UCL Career Teacher Consortium</li>
    </ul>

    <p class="govuk-body">
      If you would like your NQTs to use these resources during their second year of teaching, choose a provider and let us know the teachers’ details.
    </p>

    <%= govuk_button_link_to "Choose a provider", choose_core_induction_programme_schools_year_2020_path, button: true %>

    <h2 class="govuk-heading-l">Additional time to invest in teacher development</h2>
    <p class="govuk-body">
      We want to help NQTs focus on development areas they missed out on during their first year of teaching.
    </p>
    <p class="govuk-body">
      With this in mind, we will give schools a one-off payment equivalent to a 5% (roughly 44 hours) timetable reduction per teacher over the next academic year.
    </p>
    <p class="govuk-body">
      NQTs from the 2020 to 2021 cohort will each attract payments of £1,200 if they teach outside London, rising to £1,300 in the ‘fringe area’ around London, £1,400 in Outer London and £1,500 in Inner London.
    </p>
    <p class="govuk-body">
      We will make the payment in the summer term of 2022. We will let you know how it will be processed at a later date.
    </p>
    <p class="govuk-body">
      Your school will still be eligible if you employ NQTs who move following their induction.
    </p>
  </div>
</div>
