<div class="govuk-grid-row">
  <div class="govuk-grid-column-three-quarters">
    <h1 class="govuk-heading-xl">Access materials for last year's NQTs</h1>

    <%= govuk_start_now_button text: "Start now", href: choose_induction_programme_schools_year_2020_path %>

    <h2 class="govuk-heading-m">Before you start</h2>
    <p class="govuk-body">
      You should already know what DfE accredited materials you want to use. If you don't know you can
      <%= govuk_link_to "review this guidance", "/pages/core-materials-info" %>.
    </p>
  </div>
</div>
