<% content_for :title, "Teacher added" %>

<%= govuk_panel title_text: "2020 cohort information saved", text: nil, classes: "govuk-!-margin-bottom-8" %>

<h2 class="govuk-heading-m">What happens next</h2>

<div class="govuk-button-group">
  <%= govuk_link_to "Go to your dashboard", schools_dashboard_path %>
</div>
