<% content_for :title, "All schools removed" %>

<h1 class="govuk-heading-xl">You have removed all schools from the list</h1>

<% if @confirm_schools_form.source == "csv" %>
  <%# TODO: This should point to a csv upload once it is implemented %>
  <%= govuk_link_to "Re-upload CSV", dashboard_path, button: true %>
<% end %>
