<div class="govuk-grid-row">
  <div class="govuk-grid-column-three-quarters">
    <h1 class="govuk-heading-xl">All research sessions are currently booked</h1>
    <p class="govuk-body">Thank you for your interest in our research. All sessions have now been booked.</p>

    <p class="govuk-body">
      Please follow the guidance in the email we sent you. This explains how to use our service to provide the
      information
      we need before you begin your early career teacher training programme.
    </p>

    <p class="govuk-body">
      After you use our service, you can tell us what you think by selecting the ‘feedback’ link at the top of the
      screen.
    </p>
  </div>
</div>
