<% content_for :title, "Core induction materials" %>
<% content_for :before_content, govuk_back_link(text: "Back", href: :back) %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <h1 class="govuk-heading-xl">Support materials summary</h1>

    <p>You can choose resources from one of 4 DfE-accredited providers</p>

    <p>They are the same resources teachers doing the new early career training programme use.</p>

    <p>They all consist of modules featuring a range of theory and practical classroom techniques aligned to the teachers’ standards.</p>

    <p>Modules are broken down into topics where the teachers can:</p>
    <ul class="govuk-list govuk-list--bullet">
      <li>read research about the topic</li>
      <li>learn practical skills from case studies and videos</li>
      <li>reflect on what they’ve learnt</li>
    </ul>

    <div class="govuk-inset-text">
      Note that mentor meetings and associated practical exercises featured in the resources only apply to teachers doing the early career training programme programme.
    </div>

    <%= govuk_accordion do |accordion| %>
      <% accordion.section heading_text: "Ambition Institute" do %>
        <h3 class="govuk-heading-m">Modules</h3>

        <h4 class="govuk-heading-s">Behaviour:</h4>
        <ul class="govuk-list govuk-list--bullet">
          <li>how to establish an effective learning environment</li>
          <li>how to effectively manage behaviour</li>
          <li>the importance of holding and promoting high expectations for all pupils</li>
        </ul>

        <h4 class="govuk-heading-s">Instruction:</h4>
        <ul class="govuk-list govuk-list--bullet">
          <li>the link between effective instruction and pupil learning</li>
          <li>the elements of explicit instruction and the ‘I-we-you’ model as a useful way of approaching this</li>
          <li>how instruction can support more effective pupil thinking</li>
        </ul>

        <h4 class="govuk-heading-s">Subject:</h4>
        <ul class="govuk-list govuk-list--bullet">
          <li>the curriculum</li>
          <li>your mental model of the subject or phase you teach and its implications for your planning</li>
          <li>how to know what pupils have understood, the barriers you face in doing so and how to respond to their needs</li>
        </ul>
      <% end %>

      <% accordion.section heading_text: "Education Development Trust" do %>
        <h3 class="govuk-heading-m">Modules</h3>
        <h4 class="govuk-heading-s">Establishing a positive climate for learning</h4>
        <p>Teachers will learn about teaching pupils how to behave in the classroom, setting clear expectations and reinforcing these with consistent routines.</p>

        <h4 class="govuk-heading-s">How pupils learn: memory and cognition</h4>
        <p>Teachers will gain an understanding of how the brain works, and how they can then design more effective learning for their pupils.</p>

        <h4 class="govuk-heading-s">Developing effective classroom practice: teaching and adapting</h4>
        <p>Teachers will focus on the fundamental techniques they can use to become a more effective teacher.</p>

        <h4 class="govuk-heading-s">The importance of subject and curriculum knowledge</h4>
        <p>Teachers will learn practical ways to develop their subject and curriculum knowledge.</p>

        <h4 class="govuk-heading-s">Assessment, feedback and questioning</h4>
        <p>Teachers will work on developing effective assessment and feedback practices.</p>

        <h4 class="govuk-heading-s">A people profession</h4>
        <p>Teachers will focus on developing strong professional relationships to build the best outcomes for their pupils.</p>

        <h4 class="govuk-heading-s">Embedding a positive climate for learning</h4>
        <p>Teachers will look at what motivates pupils so they can develop a really purposeful learning environment.</p>

        <h4 class="govuk-heading-s">How pupils learn: memory and cognition</h4>
        <p>Teachers will consider how they can make new learning stick over time so pupils remember what they've been taught.</p>

        <h4 class="govuk-heading-s">Enhancing classroom practice: grouping and tailoring</h4>
        <p>Teachers will enhance their teaching effectiveness by learning advanced group and pair working skills.</p>

        <h4 class="govuk-heading-s">Revisiting the importance of subject and curriculum knowledge</h4>
        <p>Teachers will focus on how they can use their in-depth understanding of the subjects they teach to strengthen their pupils' knowledge.</p>

        <h4 class="govuk-heading-s">Deepening assessment, feedback and questioning</h4>
        <p>Teachers will build on their existing knowledge to develop further practical ways to hone their assessment, feedback and questioning techniques.</p>
      <% end %>

      <% accordion.section heading_text: "Teach First" do %>
        <h3 class="govuk-heading-m">Modules</h3>

        <h4 class="govuk-heading-s">How to create an effective learning environment</h4>
        <p>Teachers will explore what effective learning environments look like and strategies they can use to achieve them.</p>

        <h4 class="govuk-heading-s">How do pupils learn?</h4>
        <p>Teachers will explore the findings and evidence gathered during studies of how pupils learn, and the related implications for teaching.</p>

        <h4 class="govuk-heading-s">What makes classroom practice effective?</h4>
        <p>Teachers will hear an education expert talking about the features of effective classroom practice and why they are so important. They’ll then explore the features in detail and have time to plan them into their sequences of lessons.</p>

        <h4 class="govuk-heading-s">How to use assessment and feedback to greatest effect</h4>
        <p>Teachers will hear from education experts about why assessment should be at the heart of their teaching. They'll also explore ways to give purposeful feedback to their pupils and what they can learn from summative data sets.</p>

        <h4 class="govuk-heading-s">How to support all pupils to succeed</h4>
        <p>Teachers will hear a variety of educational specialists talk about ways to support all pupils to succeed across the curriculum, and why this is important.</p>

        <h4 class="govuk-heading-s">How to design a coherent curriculum</h4>
        <p>Teachers will learn how to design a carefully sequenced and coherent scheme of work and how this will improve learning for their pupils.</p>
      <% end %>

      <% accordion.section heading_text: "UCL Early Career Teacher Consortium" do %>
        <h3 class="govuk-heading-m">Modules</h3>

        <h4 class="govuk-heading-s">Enabling pupil learning, part 1</h4>
        <p>Teachers will focus on how they set up their classroom as a learning environment. They'll be able to reflect on the different ways they can influence their environment, and learn practical strategies that keep pupils safe, motivated and focused on learning.</p>

        <h4 class="govuk-heading-s">Engaging pupils in learning, part 1</h4>
        <p>Teachers will look at the impact of pupils’ prior knowledge on their learning and how knowledge changes through the cooperation of working and long-term memory.</p>

        <h4 class="govuk-heading-s">Developing quality pedagogy, part 1</h4>
        <p>Teachers will extend their knowledge of effective modelling that enables pupils to tackle difficult concepts.</p>

        <h4 class="govuk-heading-s">Making productive use of assessment, part 1</h4>
        <p>Teachers will build on their existing knowledge of assessment principles.</p>

        <h4 class="govuk-heading-s">Fulfilling professional responsibilities</h4>
        <p>Teachers will consider what it means to be professional, and approaches to managing their professional development.</p>

        <h4 class="govuk-heading-s">Enabling pupil learning, part 2</h4>
        <p>Teachers will focus on one particular part of their teaching to evaluate the impact their practices have on their pupils.</p>

        <h4 class="govuk-heading-s">Engaging pupils in learning, part 2</h4>
        <p>Teachers will focus on how to improve their teaching without adding to their workload.</p>

        <h4 class="govuk-heading-s">Developing quality pedagogy and making use of assessment, part 2</h4>
        <p>Teachers will look at how to gather evidence about the impact their teaching is having, followed by practical tips on altering their practices to get better results.</p>
      <% end %>
    <% end %>

    <p>If you’re still not sure, you can <%= govuk_link_to "contact us", "mailto:continuing-professional-development@digital.education.gov.uk" %> for more information</p>
  </div>
</div>

