<p class="govuk-body">ECTs cannot start their induction until you’ve <%= govuk_link_to("appointed an appropriate body", "https://www.gov.uk/government/publications/statutory-teacher-induction-appropriate-bodies/find-an-appropriate-body") %>.</p>
