<%= govuk_panel title_text: "#{profile.user.full_name} does not need to serve statutory induction for early career teachers", text: nil, classes: "govuk-!-margin-bottom-8" %>

<p>Their Teaching Regulation Agency record shows that they do not need to complete a statutory induction, or take part in ECF-based training.</p>

<p>This is likely to be because of the way in which DfE recognised their qualified teacher status (QTS).</p>

<p>Annex A of the Induction for early career teachers guidance explains who’s exempt:
<% govuk_link_to "https://www.gov.uk/government/publications/induction-for-early-career-teachers-england", "https://www.gov.uk/government/publications/induction-for-early-career-teachers-england", target: "_blank", rel: "noopener noreferrer" %></p>

<h2 class="govuk-heading-m">What happens next</h2>
<p>We’ll let <%= profile.user.full_name %> know.</p>
<p>We’ll email you a copy of this information for your records. You do not need to take any further action.</p>
