<h2 class="govuk-heading-m"><%= profile.user.full_name %> eligible for the early career teacher training programme</h2>

<h2 class="govuk-heading-m">Why?</h2>

<p>Please <%= govuk_link_to "contact our support team", "mailto:continuing-professional-development@digital.education.gov.uk" %> for more information.
