<p><%= profile.user.full_name %> does not have qualified teacher status (QTS) yet. They need this to be eligible for funded training.</p>
<p>We’ll keep checking their status and notify you if something changes.</p>
