<p>We’ll let this person know you’ve registered them for ECF-based training at your school.</p>
<p>We’ll ask them to use this service to tell us their:</p>
<ul class="govuk-list govuk-list--bullet">
  <li>full name</li>
  <li>date of birth</li>
  <li>teacher reference number (TRN) or National Insurance number</li>
</ul>
<p>We can then confirm if they’re eligible for funded ECF-based training.</p>
<p>We’ll also pass their information to your training provider.</p>
