<div class="govuk-panel govuk-panel--confirmation govuk-!-margin-bottom-7">
  <h1 class="govuk-panel__title"><%= profile.full_name %> has been added as an ECT</h1>
  <div class="govuk-panel__body">Please check they’re registered with your appropriate body</div>
</div>

<%= render 'schools/add_participants/eligibility_confirmation/appropriate_body_guidance' %>

<h2 class="govuk-heading-m">What happens next</h2>
<p class="govuk-body">We’ll let this person know you’ve registered them for ECF-based training at your school. They do not need to provide us with any further information.</p>
<p class="govuk-body">We’ll let them know their statutory induction requirement has changed too.</p>

<h2 class="govuk-heading-m">This person’s statutory induction requirement has changed from 1 year to 2 years</h2>
<p class="govuk-body">Our checks show this person began their statutory induction before 1 September 2021. They originally needed to complete a 1-year induction.</p>
<p class="govuk-body">ECTs now need to complete a 2-year induction if they started induction before September 2021 and did not complete it by 1 September 2023.</p>
<p class="govuk-body">This ECT:</p>
<ul class="govuk-list govuk-list--bullet">
  <li>does not need to start induction again</li>
  <li>must complete what remains of their 2-year induction</li>
  <li>should be given access to ECF-based training, mentor support and other statutory entitlements</li>
</ul>
<div class="govuk-inset-text">Contact your appropriate body for more information, including how much of this ECT’s induction remains to be served.</div>

<h2 class="govuk-heading-m">Eligibility for funding</h2>
<p class="govuk-body">Our checks have confirmed this person is eligible for funded training, and time off timetable for training and mentoring during the remainder of their 2-year induction.</p>
