<p class="govuk-body"><%= profile.user.full_name %> is not eligible for the early career teacher training programme</p>

<h2 class="govuk-heading-m">Why?</h2>
<p class="govuk-body">Our records show they started or completed their statutory induction before <%= Cohort::NATIONAL_ROLLOUT_START_DATE.strftime("%d %B %Y") %>. Teachers are only eligible for the new 2-year funded training if they started their induction after that date.</p>

<h2 class="govuk-heading-m">What to do if that start date is incorrect</h2>
<p class="govuk-body">Contact your appropriate body and ask them to update the TRA records with the correct date. This should be the date their induction training formally began, which may be different to their contract start date.</p>
<p class="govuk-body govuk-!-margin-bottom-7">Your appropriate body should let us know when the update has been made so that we can run our eligibility checks again.</p>
