<%= govuk_panel title_text: "#{profile.user.full_name} has already completed their statutory induction", text: nil, classes: "govuk-!-margin-bottom-8" %>

<p>Their Teaching Regulation Agency record shows they have completed their statutory induction.</p>

<p>You do not need to arrange ECF-based early career teacher training for them.</p>
