<%= govuk_summary_list do |summary_list| %>
  <% summary_list.row do |row| %>
    <% row.key { "Name" } %>
    <% row.value { add_participant_form.full_name } %>
    <% unless add_participant_form.dqt_record %>
      <% row.action text: "Change",
                    visually_hidden_text: "name",
                    href: url_for({ step: :name }
                    ) %>
    <% else %>
      <% row.action() %>
    <% end %>
  <% end %>

  <% if add_participant_form.trn %>
   <% summary_list.row do |row| %>
       <% row.key { "TRN" } %>
       <% row.value { add_participant_form.trn } %>
       <% unless add_participant_form.dqt_record.present? %>
         <% row.action(text: "Change",
                       visually_hidden_text: "TRN",
                       href: url_for({ step: :trn })) %>
       <% else %>
         <% row.action() %>
       <% end %>
     <% end %>
   <% end %>

  <% if add_participant_form.date_of_birth %>
    <% summary_list.row do |row| %>
      <% row.key { "Date of birth" } %>
      <% row.value { add_participant_form.date_of_birth.to_date.to_s(:govuk) } %>
      <% unless add_participant_form.dqt_record.present? %>
        <% row.action(text: "Change",
                      visually_hidden_text: "date of birth",
                      href: url_for({ step: :dob })) %>
      <% else %>
        <% row.action() %>
      <% end %>
    <% end %>
  <% end %>

  <% summary_list.row do |row| %>
    <% row.key { "Email address" } %>
    <% row.value { add_participant_form.email } %>
    <% row.action(text: "Change",
                 visually_hidden_text: "email address",
                 href: url_for({ step: :email })) %>
  <% end %>

  <% if add_participant_form.start_date %>
    <% summary_list.row do |row| %>
      <% row.key { "Induction start" } %>
      <% row.value { add_participant_form.start_date.to_date.to_s(:govuk) } %>
      <% row.action(text: "Change",
                    visually_hidden_text: "induction start date",
                    href: url_for({ step: "start\-date" })) %>
    <% end %>
  <% end %>

  <% if add_participant_form.type == :ect %>
    <% summary_list.row do |row| %>
      <% row.key { "Mentor" } %>
      <% row.value { add_participant_form.mentor.present? ? add_participant_form.mentor.full_name : "Add later" } %>
      <% if add_participant_form.type != :self && add_participant_form.mentor_options.any? %>
        <% row.action(text: "Change",
                      visually_hidden_text: "mentor",
                      href: url_for({ step: "choose\-mentor" })) %>
      <% else %>
        <% row.action() %>
      <% end %>
    <% end %>
  <% end %>

  <% if add_participant_form.appropriate_body_selected.present? %>
    <% summary_list.row do |row| %>
      <% row.key { "Appropriate body" } %>
      <% row.value do %>
        <p class="govuk-body"><%= add_participant_form.appropriate_body_selected.name %></p>
      <% end %>
      <% row.action(text: "Change",
                    visually_hidden_text: "mentor",
                    href: url_for({ action: :change_appropriate_body })) %>
    <% end %>
  <% end %>

  <% if @school_cohort.default_induction_programme %>
    <% summary_list.row do |row| %>
      <% row.key { "Training with" } %>
      <% row.value do %>
        <p class="govuk-body"><%= @school_cohort.default_induction_programme.lead_provider&.name %></p>
        <p class="govuk-body"><%= @school_cohort.default_induction_programme.delivery_partner&.name %></p>
      <% end %>
     <% row.action() %>
    <% end %>
  <% end %>
<% end %>

