<h2 class="govuk-heading-m">Funding eligibility</h2>
<%=
  govuk_summary_list do |sl|
    sl.with_row do |row|
      row.with_key(text: 'Funding eligibility')
      row.with_value(text: boolean_red_green_tag(application.eligible_for_funding))
    end

    sl.with_row do |row|
      row.with_key(text: 'Funding eligibility status code')
      row.with_value(text: application.funding_eligiblity_status_code || "-")
    end

    sl.with_row do |row|
      row.with_key(text: 'Primary establishment')
      row.with_value{ boolean_red_green_tag(application.primary_establishment) }
      row.with_action
    end

    sl.with_row do |row|
      row.with_key(text: 'Number of pupils')
      row.with_value(text: application.number_of_pupils.to_i)
      row.with_action
    end

    sl.with_row do |row|
      row.with_key(text: 'Targeted support funding primary plus eligibility')
      row.with_value{ boolean_red_green_tag(application.tsf_primary_plus_eligibility) }
      row.with_action
    end

    sl.with_row do |row|
      row.with_key(text: "Targeted delivery funding eligibility")
      row.with_value { boolean_red_green_tag(application.targeted_delivery_funding_eligibility) }
    end

    sl.with_row do |row|
      row.with_key(text: 'Funding choice')
      row.with_value(text: application.funding_choice&.capitalize || "-")
    end

    sl.with_row do |row|
      row.with_key(text: "Schedule Cohort")
      if application.cohort.present?
        row.with_value(text: application.cohort.try(:start_year).to_s)
      else
        row.with_value(text: "-" )
      end
    end

    sl.with_row do |row|
      row.with_key(text: 'Schedule identifier')
      if application.profile.present?
        row.with_value(text: application.profile.schedule.schedule_identifier)
      else
        row.with_value(text: '-')
      end
    end

    sl.with_row do |row|
      row.with_key(text: "Created at")
      row.with_value { l application.created_at, format: :admin }
    end

    sl.with_row do |row|
      row.with_key(text: "Updated at")
      row.with_value { l application.updated_at, format: :admin }
    end
  end
%>
