default: &default
  adapter: postgresql
  pool: <%= ENV.fetch("RAILS_MAX_THREADS") { 5 } %>
  variables:
    statement_timeout: 20000
    idle_in_transaction_session_timeout: 10000
  username: "<%= ENV['DB_USERNAME'] %>"
  password: "<%= ENV['DB_PASSWORD'] %>"
  host: "<%= ENV['DB_HOSTNAME'] %>"
  port: "<%= ENV['DB_PORT'] %>"
  database: "<%= ENV['DB_DATABASE'] %>"

development:
  <<: *default
  database: "early_careers_framework_development"

migration:
  <<: *default
  url: <%= ENV["DATABASE_URL"] %>

test:
  <<: *default
  database: early_careers_framework_test<%= ENV['TEST_ENV_NUMBER'] %>
  variables:
    idle_in_transaction_session_timeout: 0

review:
  <<: *default
  sslmode: <%= ENV.fetch("DB_SSLMODE") { "require" } %>

performance:
  <<: *default
  database: 'early_careers_framework_performance'

staging:
  <<: *default
  url: <%= ENV["DATABASE_URL"] %>
  pool: <%= ENV.fetch("RAILS_MAX_THREADS") { 5 } %>

sandbox:
  <<: *default
  url: <%= ENV["DATABASE_URL"] %>

separation:
  <<: *default
  url: <%= ENV["DATABASE_URL"] %>

production:
  <<: *default
  url: <%= ENV["DATABASE_URL"] %>
  pool: <%= ENV.fetch("RAILS_MAX_THREADS") { 5 } %>
