# These values can be overridden locally by creating an environment variable
# with a matching name prefixed by `SEED_`
#
# Add the following snippet to your .env file and adjust:
#
# SEED_LOCAL_AUTHORITIES=10
# SEED_NPQ_APPLICATIONS_PENDING=10
# SEED_NPQ_APPLICATION_WITH_DECLARATIONS=10
# SEED_NPQ_APPLICATIONS_REJECTED=10
# SEED_NPQ_APPLICATIONS_ASO=10
# SEED_NPQ_APPLICATIONS_EHCO=10
# SEED_NPQ_APPLICATIONS_SPECIALIST=10
# SEED_NPQ_APPLICATIONS_LEADERSHIP=10
# SEED_NPQ_APPLICATIONS_EDGE_CASES=10
# SEED_FIP_TO_FIP_TRANSFERS_KEEPING_ORIGINAL_PROVIDER=2
# SEED_FIP_TO_FIP_TRANSFERS_CHANGING_PROVIDER=2
# SEED_SCHOOL_INVITATIONS=10
# SEED_NPQ_APPLICATIONS_ELIGIBLE_FOR_TRANSFER=10
# SEED_ECTS_BECOMING_MENTORS=10
---
default: &default
  local_authorities: 10
  npq_applications_pending: 10
  npq_application_with_declarations: 10
  npq_applications_rejected: 10
  npq_applications_aso: 10
  npq_applications_ehco: 10
  npq_applications_specialist: 10
  npq_applications_leadership: 10
  fip_to_fip_transfers_keeping_original_provider: 2
  fip_to_fip_transfers_changing_provider: 2
  school_invitations: 10
  npq_applications_eligible_for_transfer: 10
  npq_applications_edge_cases: 25
  ects_becoming_mentors: 10

development:
  <<: *default

sandbox:
  <<: *default

test:
  <<: *default
  local_authorities: 1
  npq_applications_pending: 1
  npq_application_with_declarations: 1
  npq_applications_rejected: 1
  npq_applications_aso: 1
  npq_applications_ehco: 1
  npq_applications_specialist: 1
  npq_applications_leadership: 1
  school_invitations: 1
  npq_applications_eligible_for_transfer: 1
  npq_applications_edge_cases: 1

deployed_development:
  <<: *default
