session_trim:
  cron: "0 1 * * *"
  class: "SessionTrimJob"
  queue: default
stream_big_query_participant_declarations:
  cron: "0 * * * *"
  class: "StreamBigQueryParticipantDeclarationsJob"
  queue: default
import_gias_data:
  cron: "0 6 * * *"
  class: "ImportGiasDataJob"
  queue: default
school_analytics:
  cron: "10 * * * *"
  class: "SchoolAnalyticsJob"
  queue: default
check_no_induction_or_no_qts_participants:
  cron: "0 7 * * 1"
  class: "CheckParticipantsInductionAndQtsJob"
  queue: default
enrol_school_cohorts:
  cron: "0 3 * * *"
  class: "EnrolSchoolCohortsJob"
transition_statements_to_payable:
  cron: "@daily"
  class: "Finance::Statements::MarkAsPayable"
  queue: default
remove_school_mentor_job:
  cron: "45 4 * * *"
  class: "RemoveSchoolMentorJob"
  queue: default
training_record_states_refresh_job:
  cron: "* * * * *"
  class: "TrainingRecordStatesRefreshJob"
  queue: default
