<tr class="govuk-table__row">
  <th class="govuk-table__cell"><%=I18n.t("activemodel.attributes.finance.subtotal") %></th>
  <td class="govuk-table__cell govuk-table__cell--numeric"><%= @other_fees.participants %></td>
  <td class="govuk-table__cell govuk-table__cell--numeric"></td>
  <td class="govuk-table__cell govuk-table__cell--numeric"><%= number_to_pounds @other_fees.subtotal %></td>
</tr>
