<% content_for :title, "GIAS changes to schools" %>

<h1 class="govuk-heading-xl">GIAS changes to schools</h1>

<h2 class="govuk-heading-l">
  <%= govuk_link_to "Schools to add (#{@schools_to_add_count})", admin_gias_schools_to_add_index_path %>
</h2>
<p class="govuk-body">Use this section to:</p>
<ul class="govuk-list govuk-list--bullet">
  <li>view schools that have recently opened</li>
  <li>add new schools to the service</li>
</ul>

<h2 class="govuk-heading-l">
  <%= govuk_link_to "Schools to close (#{@schools_to_close_count})", admin_gias_schools_to_close_index_path %>
</h2>
<p class="govuk-body">Use this section to:</p>
<ul class="govuk-list govuk-list--bullet">
  <li>view schools that have recently closed</li>
  <li>action school closures</li>
</ul>

<h2 class="govuk-heading-l">
  <%= govuk_link_to "Schools with changes (#{@schools_with_changes_count})", admin_gias_school_changes_path %>
</h2>
<p class="govuk-body">Use this section to:</p>
<ul class="govuk-list govuk-list--bullet">
  <li>view schools that have changes to their information</li>
  <li>apply changes to school</li>
</ul>
