<% content_for :title, "Change training programme" %>

<% content_for :before_content, govuk_back_link(text: "Back", href: schools_dashboard_path) %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <span class="govuk-caption-xl"><%= @school.name %></span>
    <h1 class="govuk-heading-xl">Change how you run your programme</h1>

    <p class="govuk-body">
      <% if @school_cohort.design_our_own? %>
        Your school has chosen to design and deliver your own programme based on the Early Career Framework (ECF).
      <% elsif @school_cohort.no_early_career_teachers? %>
        Your school has told us you do not expect any early career teachers (ECTs) to join you in the <%= @cohort.display_name %> academic year.
      <% end %>
    </p>

    <p class="govuk-body">
      <%= govuk_link_to "Check the other options available", schools_choose_programme_path %> for your school if this changes.
    </p>

  </div>
</div>
