<% content_for :before_content, govuk_back_link(
  text: "Back",
  href: schools_cohort_path("2021"))
%>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <span class="govuk-caption-m">2021</span>
    <h1 class="govuk-heading-l">Read and accept our privacy policy</h1>

    <p class="govuk-body">...</p>
  </div>
</div>
