<% content_for :title, "Your induction programme" %>
<% content_for :before_content, govuk_back_link(text: "Back", href: schools_dashboard_path) %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <span class="govuk-caption-l"><%= @cohort.academic_year %> cohort</span>
    <h1 class="govuk-heading-xl govuk-!-margin-top-2">You're not expecting any early career teachers this year</h1>
    <p class="govuk-body">
      If you employ early career teachers later this year, please contact us at <%= mail_to Rails.application.config.support_email, Rails.application.config.support_email, class: "govuk-footer__link govuk-link--no-visited-state" %> to set up your programme.
    </p>
  </div>
</div>
