<% content_for :title, "Your induction programme" %>

<% content_for :before_content, govuk_back_link(text: "Back", href: schools_dashboard_path) %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <span class="govuk-caption-l"><%= @cohort.academic_year %> cohort</span>
    <h1 class="govuk-heading-xl govuk-!-margin-top-2">Choose your training programme</h1>
    <p class="govuk-body-l">
      <strong>You've chosen to:</strong> design and deliver your own programme based on the Early Career Framework (ECF)
    </p>
    <%= render partial: "shared/diy_what_you_can_do_now_info" %>
    <h2 class="govuk-heading-m">How to change your programme</h2>
    <p class="govuk-body">
      If your school decides to:
      <ul class="govuk-list govuk-list--bullet">
        <li>use a training provider, funded by the DfE</li>
      </ul>
      Or
      <ul class="govuk-list govuk-list--bullet govuk-!-margin-top-4">
        <li>deliver your own programme using DfE accredited materials</li>
      </ul>
      Contact: <%= render MailToSupportComponent.new %>
    </p>
  </div>
</div>
