<% content_for :title, "Your induction programme" %>
<% content_for :before_content, govuk_breadcrumbs(breadcrumbs: breadcrumbs(@school, @cohort)) %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <span class="govuk-caption-l"><%= @cohort.academic_year %> cohort</span>
    <h1 class="govuk-heading-xl govuk-!-margin-top-2">You are not expecting any early career teachers this year</h1>
    <p class="govuk-body">
      If you employ early career teachers later this year, you can <%= govuk_link_to "nominate an induction tutor", resend_email_request_nomination_invite_path %> to set up your programme.
    </p>
  </div>
</div>
