<% content_for :title, "Report provider error" %>

<% content_for :before_content, govuk_back_link(text: "Back", href: back_link_path) if current_user %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-three-quarters">
    <h1 class="govuk-heading-xl">
      Are you sure you want to remove this training provider?
    </h1>

    <% if challenge_partnership_form.challenge_reason == 'no_ects' %>
      <p class="govuk-body">We’ll delete information you’ve added about any ECTs or mentors.</p>
    <% end %>

    <p class="govuk-body">
      <%= challenge_partnership_form.partnership.lead_provider.name %> and <%= challenge_partnership_form.partnership.delivery_partner.name %> will not be able to run training for your school.
    </p>

    <%= govuk_button_to 'Confirm and remove', { action: :complete }  %>
  </div>
</div>
