<%= govuk_table do |table| %>
  <% table.caption(size: "s", text: "Additional adjustments") %>

  <% table.head do |head| %>
    <% head.row do |row| %>
      <% row.cell(header: true, text: "Payment type") %>
      <% row.cell(header: true, text: "Payments", numeric: true) %>
    <% end %>

    <% table.body do |body| %>
      <% adjustments.each do |adjustment| %>
        <% body.row do |row| %>
          <% row.cell(text: adjustment.payment_type) %>
          <% row.cell(text: number_to_pounds(adjustment.amount), numeric: true) %>
        <% end %>
      <% end %>

      <% if adjustments.empty? %>
        <% body.row do |row| %>
          <% row.cell(text: "") %>
          <% row.cell(text: number_to_pounds(0), numeric: true) %>
        <% end %>
      <% end %>
    <% end %>
  <% end %>
<% end %>

<div class="govuk-!-text-align-right govuk-heading-s govuk-!-margin-bottom-0">
  Total
</div>

<div class="govuk-!-text-align-right govuk-heading-s">
  <%= number_to_pounds(total_amount) %>
</div>
