<%= govuk_table do |table| %>
  <% table.caption(size: "s", text: "Additional adjustments") %>

  <% table.head do |head| %>
    <% head.row do |row| %>
      <% row.cell(header: true, text: "Payment type") %>
      <% row.cell(header: true, text: "Payments", numeric: true) %>
    <% end %>

    <% table.body do |body| %>
      <% adjustments.each do |adjustment| %>
        <% body.row do |row| %>
          <% row.cell(text: adjustment.payment_type) %>
          <% row.cell(text: number_to_pounds(adjustment.amount), numeric: true) %>
        <% end %>
      <% end %>

      <% if adjustments.empty? %>
        <% body.row do |row| %>
          <% row.cell(text: "") %>
          <% row.cell(text: number_to_pounds(0), numeric: true) %>
        <% end %>
      <% end %>
    <% end %>
  <% end %>
<% end %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-one-half">
    <% if adjustment_editable? %>
      <%= govuk_link_to new_finance_statement_adjustment_path(statement) do %>
        Add <span class="govuk-visually-hidden"> adjustment</span>
      <% end %>

      <% if adjustments.any? %>
        <%= govuk_link_to '#', class: "govuk-!-margin-left-4" do %>
          Change or remove <span class="govuk-visually-hidden"> adjustment</span>
        <% end %>
      <% end %>
    <% end %>
    &nbsp;
  </div>

  <div class="govuk-grid-column-one-half govuk-!-text-align-right govuk-heading-s">
    Total
    <br/>
    <%= number_to_pounds(total_amount) %>
  </div>
</div>
