<% content_for :title, "Check your answers" %>

<% content_for :before_content, govuk_back_link(text: "Back", href: { action: :teacher_end_date }) %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <span class="govuk-caption-xl"><%= @school.name %></span>
    <h1 class="govuk-heading-xl">Check your answers</h1>

    <%= govuk_summary_list do |summary_list| %>
      <% summary_list.row do |row| %>
        <% row.key { "Name" } %>
        <% row.value { @profile.user.full_name } %>
        <% row.action(text: :none) %>
      <% end %>

      <% summary_list.row do |row| %>
        <% row.key { "Leaving date" } %>
        <% row.value { @transfer_out_form.end_date.to_date.to_fs(:govuk) } %>
        <% row.action(text: "Change",
                      visually_hidden_text: "end date",
                      href: url_for({ action: :teacher_end_date})) %>
      <% end %>
    <% end %>

    <%= form_for @transfer_out_form, url: url_for(action: :check_answers), method: :put do |f| %>
      <%= f.govuk_submit "Confirm and continue" %>
    <% end %>
  </div>
</div>
