<% title = "Is #{@profile.user.full_name} transferring to another school to continue training?" %>

<% content_for :title, title %>

<% content_for :before_content, govuk_back_link(text: "Back", href: school_participant_path(id: @profile)) %>
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <span class="govuk-caption-xl"><%= @school.name %></span>
    <h1 class="govuk-heading-xl"><%= title %></h1>

    <p class="govuk-body">Confirm if this participant is moving to another school to continue their ECF-based training.</p>

    <div class="govuk-inset-text">
      <p class="govuk-body">
        If they are leaving your school for any other reason, do not confirm.<br/>
        Contact your training provider instead.
      </p>
    </div>

    <%= govuk_button_link_to "Confirm",  teacher_end_date_school_participant_transfer_out_path %>
  </div>
</div>
