<% content_for :title, "transfer added" %>
<% participant_name = @profile.user.full_name.titleize %>

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

        <%= govuk_panel title_text: "#{participant_name}'s leaving date has been submitted", text: nil, classes: "govuk-!-margin-bottom-7" %>

        <h2 class="govuk-heading-m">What happens next</h2>
        <p class="govuk-body">We’ll tell <%= participant_name %> that you’ve reported their transfer. They’ll appear in the ’moving schools’
        section of your dashboard until their leaving date.</p>

        <p class="govuk-body">You need to let their training provider know that they’re transferring to another school.</p>
        <p class="govuk-body">They should continue with their current training programme until their leaving date.
        Their new school will arrange how they’ll continue their training after that.</p>

        <%= govuk_link_to "View your ECTs and mentors", schools_participants_path, class: "govuk-link govuk-link--no-visited-state" %>

    </div>
</div>
