<div class="govuk-grid-column-full">
  <details class="govuk-details" data-module="govuk-details">
    <summary class="govuk-details__summary">
      <span class="govuk-details__summary-text"><%= t("finance.calculation_rounding_error.title") %></span>
    </summary>
    <div class="govuk-details__text">
      <%= t("finance.calculation_rounding_error.message") %>
    </div>
  </details>
</div>
