<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-xl">Sorry, there is a problem with the service</h1>
    <p class="govuk-body">Try again later.</p>
    <p class="govuk-body">If you need to do something urgently, contact: <%= render MailToSupportComponent.new %></p>
  </div>
</div>
