<% content_for :title, "Choose delivery partner" %>
<% content_for :before_content, govuk_back_link( text: "Back", href: lead_providers_report_schools_start_path) %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <%= form_with model: report_schools_form, url: { action: :create }, method: :post do |f| %>
      <%= f.govuk_collection_radio_buttons(
        :delivery_partner_id,
        delivery_partners,
        :id,
        :name,
        legend: { text: "Choose the delivery partner", size: "xl", tag: "h1" },
        hint: { text: "Select the delivery partner that these schools have confirmed an agreement with." }) %>
      <%= f.govuk_submit "Continue" %>
    <% end %>
  </div>
</div>
