<p class="govuk-body-m">In addition to the API, an online service is available for training providers to:</p>

<ul class="govuk-list govuk-list--bullet">
  <li>upload CSV files of the schools they have recruited</li>
  <li>check which schools have added their ECTs and mentors</li>
</ul>

<h2 class="govuk-heading-l">Contents</h2>

<ul class="govuk-list govuk-list--bullet">
  <li><a href="#how-to-sign-in-to-your-account" class="govuk-link">How to sign into your account</a></li>
  <li><a href="#how-to-confirm-partnerships-with-schools-using-csvs" class="govuk-link">How to confirm partnerships with schools using CSVs</a></li>
  <li><a href="#how-to-check-csv-upload-errors" class="govuk-link">How to check CSV upload errors</a></li>
  <li><a href="#how-school-induction-tutors-repirt-incorrect-partnerships" class="govuk-link">How school induction tutors report incorrect partnerships</a></li>
  <li><a href="#view-ect-mentor-and-induction-tutor-details" class="govuk-link">View ECT, mentor and induction tutor details</a></li>
</ul>

<h2 id="how-to-sign-in-to-your-account" class="govuk-heading-l">How to sign in to your account</h2>
<ol class="govuk-list govuk-list--number">
  <li>Your organisation will nominate you to receive access to the Manage CDP service</li>
  <li>We will send an email notification with confirmation that your account has been created </li>
  <li>Use your email address to login. You do not need a password. Enter your email to be sent an automatic email with a link to complete your login </li>
</ol>

<p class="govuk-body-m">Login to the service: <a href="https://manage-training-for-early-career-teachers.education.gov.uk/users/sign_in" class="govuk-link">https://manage-training-for-early-career-teachers.education.gov.uk/users/sign_in</a></li>


<h2 id="how-to-confirm-partnerships-with-schools-using-csvs" class="govuk-heading-l">How to confirm partnerships with schools using CSVs</h2>

<p class="govuk-body-m">Note, providers integrated with <a class="govuk-link" href="/api-reference/reference-v3.html">API v3.0.0</a> can confirm partnerships using the dedicated partnership endpoint.</p>

<ul class="govuk-list govuk-list--bullet">
  <li>Once you have agreed partnerships with schools, you can notify the DfE by uploading a CSV file. This partnership data will enable DfE to process the appropriate provider payments</li>
  <li>When you have login you will see this page (with your organisation’s name)</li>
</ul>

<p class="govuk-body-m"><img src="/lead-provider/start-page.png" alt="Example of a Lead Provider start page"></p>

<ul class="govuk-list govuk-list--bullet">
  <li>Select ‘Confirm your schools’</li>
  <li>Follow instructions to confirm partnerships for the correct cohort</li>
  <li>Choose the delivery partner that these schools will be working with and press ‘Continue’</li>
</ul>

<p class="govuk-body-m"><img src="/lead-provider/choose-delivery-partner-page.png" alt="Example of a Choose the delivery partner page"></p>

<ul class="govuk-list govuk-list--bullet">
  <li>Upload a CSV list for each delivery partner of the schools they will be working with</li>
</ul>

<p class="govuk-body-m">Make sure that your CSV follows the correct format:</p>

    <ul class="govuk-list govuk-list--bullet">
      <li>one column with the school URNs only (Column A)</li>
      <li>every school on a new row, no empty rows in between</li>
      <li>no other delivery partners</li>
      <li>no other data</li>
    </ul>

<p class="govuk-body-m"><img src="/lead-provider/example-csv.png" alt="Example CSV containing a list of school URNs"></p>

<h2 id="how-to-check-csv-upload-errors" class="govuk-heading-l">How to check CSV upload errors</h2>

<p class="govuk-body-m">Error messages may appear when you upload CSVs. You can choose to continue with the schools that do not have any errors, or update the CSV and upload it again.</p>

<p class="govuk-body-m">When you have confirmed partnerships, the schools will be sent a confirmation email. This includes a link to report if they have been confirmed incorrectly.</p>

<%= render GovukComponent::SummaryListComponent.new(actions: false) do |component|
  component.row do |row|
    row.key { "Recruited by other provider" }
    row.value { "Another training provider has confirmed this school" }
  end
  component.row do |row|
    row.key { "URN is not valid" }
    row.value { "The unique reference number (URN) does not match this school" }
  end
  component.row do |row|
    row.key { "Your school - already confirmed" }
    row.value { "You have already confirmed this school and it’s on your list" }
  end
  component.row do |row|
    row.key { "School not eligible for inductions" }
    row.value { "School is not an eligible establishment type and/or isn’t in England and/or isn’t open as per our GIAS snapshot" }
  end
  component.row do |row|
    row.key { "School not eligible for funding" }
    row.value { "This school is not eligible to receive funding from the DfE. (Other independent special schools, Welsh establishments, British schools overseas etc.)<br/><br/>They can only use the accredited materials (core induction programme).".html_safe }
  end
    component.row do |row|
    row.key { "School programme not yet confirmed" }
    row.value { "The school induction tutor has not yet logged into the service to confirm if they will deliver training using a DfE-funded training provider this year and/or will continue with their current provider".html_safe }
  end
end %>


<h2 id="how-school-induction-tutors-repirt-incorrect-partnerships" class="govuk-heading-l">How school induction tutors report incorrect partnerships </h2>

<ul class="govuk-list govuk-list--bullet">
  <li>When induction tutors at the schools included in the uploaded CSVs login to the service, they will see a partnership confirmation notification</li>
  <li>As well as being reminded to nominate their induction tutor and/or add their ECTs and mentors, they will also be given a link to report if the partnership is incorrect</li>
  <li>A confirmation email will also be sent to schools:</li>
</ul>

<%= render GovukComponent::InsetTextComponent.new(text: "Hello,<br/>
    <br/>
    <code>&lt;Delivery partner name&gt;</code>, with <code>&lt;Lead provider name&gt;</code>, has confirmed they will be delivering an induction programme to early career teachers at <code>&lt;School name&gt;</code>, starting in #{Cohort::NATIONAL_ROLLOUT_FIRST_YEAR}.<br/>

    <h3>If this is a mistake</h3>

    If you have not confirmed an agreement with this provider or you have signed up with someone else, report this now:<br/>
    <br/>
    <code>&lt;URL&gt;</code><br/>
    <br/>
    This link will expire in 14 days".html_safe)
%>


<h3 class="govuk-heading-m">When they report incorrect partnerships</h3>

<p class="govuk-body-m">Note, providers will not receive payment for schools that have reported incorrect partnerships. These issues should be resolved and CSVs re-uploaded.</p>

<ul class="govuk-list govuk-list--bullet">
  <li>Induction tutors will submit the form, selecting one of the following reasons:
    <ul class="govuk-list govuk-list--bullet">
      <li>I have already confirmed an agreement with another provider</li>
      <li>We have not confirmed an agreement</li>
      <li>I do not recognise this training provider</li>
      <li>We do not have any early career teachers this year</li>
      <li>This looks like a mistake</li>
    </ul>
  <li>Providers will see a notification when logged into the service, and will receive an email notification:</li></li>
</ul>

<p class="govuk-body-m"><img src="/lead-provider/email-notification.png" alt="Example email notification of a school rejecting a partnership"></p>

<ul class="govuk-list govuk-list--bullet">
  <li>Select ‘Check your schools’ to see a ‘Reported error’ label next to schools that have reported incorrect partnerships.</li>
</ul>

<p class="govuk-body-m"><img src="/lead-provider/schools-page-with-error.png" alt="Example school listing page showing a partnership error"></p>

<ul class="govuk-list govuk-list--bullet">
  <li>Click on that school to see a banner at the top of the page, including the reason they reported this as a mistake.</li>
</ul>

<p class="govuk-body-m"><img src="/lead-provider/reported-reason.png" alt="Example of a reson being reported"></p>

<h3 class="govuk-heading-m">If you think the school made a mistake in reporting this</h3>

<ul class="govuk-list govuk-list--bullet">
  <li>You should contact the school directly. You do not need to contact the DfE</li>
  <li>If the matter is resolved, upload the school in a CSV again</li>
</ul>

<h2 id="view-ect-mentor-and-induction-tutor-details" class="govuk-heading-l">View ECT, mentor and induction tutor details </h2>

<ul class="govuk-list govuk-list--bullet">
  <li>Login to the service to view schools you have confirmed partnership with, see their details and induction tutor contact information</li>
</ul>

<p class="govuk-body-m"><img src="/lead-provider/schools-page.png" alt="Example showing the page of your schools"></p>

<ul class="govuk-list govuk-list--bullet">
  <li>Click on any school to see more details. ECT and mentor numbers will be zero (0) until data is entered by schools. DfE will update providers before schools start adding them to the service</li>
</ul>

<p class="govuk-body-m"><img src="/lead-provider/school-page.png" alt="Example showing the details known about a school"></p>

<%= render GovukComponent::WarningTextComponent.new(text: "ECT and mentor numbers will be zero (0) until we gather this data from schools. We will update all providers before schools start adding them to the service.") %>

<h2 id="help-support-and-feedback" class="govuk-heading-l">Help, support and feedback</h2>

<h3 class="govuk-heading-m">Contact us for support</h3>

<p class="govuk-body-m">To get help or report a problem, email us on <a href="mailto:continuing-professional-development@digital.education.gov.uk" class="govuk-link">continuing-professional-development@digital.education.gov.uk</a>.</p>

<h3 class="govuk-heading-m">Take part in user research</h3>

<p class="govuk-body-m">We welcome feedback on all aspects of the service. Participate in user research to help shape current and future service features.</p>

<p class="govuk-body-m">Please <%= govuk_link_to "complete this 30-second form", feedback_form_url, target: "_blank", rel: "noopener noreferrer" %> and we’ll be in touch. Or, simply give us your feedback over email at <a href="mailto:continuing-professional-development@digital.education.gov.uk" class="govuk-link">continuing-professional-development@digital.education.gov.uk</a>.</p>
