<%= content_for :title, t("page_titles.lead_providers.content.#{@page_name}") %>

<h1 class="govuk-heading-xl"><%= t("page_titles.lead_providers.content.#{@page_name}") %></h1>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds lead-provider-content">

    <%= @converted_markdown %>
  </div>
</div>
