<% content_for :title, "You cannot add #{@transferring_participant_form.full_name}" %>

<% content_for :before_content, govuk_back_link( text: "Back", href: { action: @transferring_participant_form.previous_step }) %>

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        
        <span class="govuk-caption-xl"><%= @school.name %></span>
        <h1 class="govuk-heading-xl"> You cannot add <%= @transferring_participant_form.full_name %></h1>

        <p class="govuk-body">We cannot find this person’s training record based on the information you’ve entered.</p>
        <p class="govuk-body">This could be because:</p>
        <ul class="govuk-list govuk-list--bullet">
            <li>the information does not match their Teaching Regulation Agency record</li>
            <li>they’re not registered on an ECF-based training programme yet</li>
        </ul>


        <p class="govuk-body">Contact us for help to register this person at your school:
        <%= govuk_mail_to "continuing-professional-development@digital.education.gov.uk", "continuing-professional-development@digital.education.gov.uk" %></p>
        <p class="govuk-body"><%= govuk_link_to "View your ECTs and mentors", schools_participants_path, class: "govuk-link govuk-link--no-visited-state" %></p>
    
    </div>
</div>
