.hmcts-sub-navigation {
  margin-bottom: 40px;
}

.hmcts-sub-navigation__list {
  font-size: 0;
  list-style: none;
  margin: 0;
  padding: 0;
}

@media (min-width: 40.0625em) {
  .hmcts-sub-navigation__list {
    box-shadow: inset 0 -1px 0 #b1b4b6;
    width: 100%;
  }
}

.hmcts-sub-navigation__item {
  font-family: "GDS Transport", Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-weight: 400;
  font-size: 16px;
  font-size: 1rem;
  line-height: 1.25;
  box-shadow: inset 0 -1px 0 #b1b4b6;
  display: block;
  margin-top: -1px;
}

@media print {
  .hmcts-sub-navigation__item {
    font-family: sans-serif;
  }
}

@media (min-width: 40.0625em) {
  .hmcts-sub-navigation__item {
    font-size: 19px;
    font-size: 1.1875rem;
    line-height: 1.31579;
  }
}

@media print {
  .hmcts-sub-navigation__item {
    font-size: 14pt;
    line-height: 1.15;
  }
}

.hmcts-sub-navigation__item:last-child {
  box-shadow: none;
}

@media (min-width: 40.0625em) {
  .hmcts-sub-navigation__item {
    box-shadow: none;
    display: inline-block;
    margin-right: 20px;
    margin-top: 0;
  }
}

.hmcts-sub-navigation__link {
  display: block;
  padding-top: 12px;
  padding-bottom: 12px;
  padding-left: 15px;
  text-decoration: underline;
}

@media (min-width: 40.0625em) {
  .hmcts-sub-navigation__link {
    padding-left: 0;
  }
}

.hmcts-sub-navigation__link:focus {
  color: #0b0c0c;
  position: relative;
}

.hmcts-sub-navigation__link[aria-current="page"] {
  color: #0b0c0c;
  position: relative;
  text-decoration: none;
}

.hmcts-sub-navigation__link[aria-current="page"]:before {
  background-color: #1d70b8;
  content: "";
  display: block;
  height: 100%;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 5px;
}

@media (min-width: 40.0625em) {
  .hmcts-sub-navigation__link[aria-current="page"]:before {
    height: 5px;
    width: 100%;
  }
}

.hmcts-sub-navigation__link[aria-current="page"]:focus:before {
  background-color: #0b0c0c;
}
