.app-application__panel {
  display: grid;
  padding: 20px;
  background-color: #f8f8f8;
  border: 1px #f3f2f1 solid;
  flex: 1 1 100%;
  margin-bottom: 0 !important;
  grid-auto-flow: row;
  grid-row-gap: 1rem;
  grid-column-gap: 1rem;
}

.app-application__card {
  margin-bottom: 10px;
  border-bottom: 1px solid black;
}

.app-application-card__header {
  align-items: baseline;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.moj-filter-layout__content {
  overflow: hidden;
}

