.lead-provider-your-schools-table {
  .school-name-cell {
    display: flex;
    flex-direction: column;
    align-items: start;

    @include govuk-media-query($from: desktop) {
      flex-direction: row;
      align-items: center;

      .govuk-tag {
        margin-top: 0;
      }
    }

    a {
      flex: 1;
    }

    .govuk-tag {
      margin-top: 0.2em;
    }
  }
}
