<p>Our checks show they’re already receiving funded mentor training as part of the early roll-out of the early career framework (ECF) reforms.</p>
<p>Your school’s training provider may contact them with more information.</p>
