<% content_for :title, "Check your answers" %>
<% content_for(:before_content, govuk_back_link(href: @wizard.previous_step_path)) %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <%= form_with(model: @wizard.current_step, url: @wizard.current_step_path(default_path_params)) do |f| %>
      <%= f.hidden_field :complete, value: true %>

      <h1>Check your answers before you request the change</h1>

      <h2>Change request details</h2>

      <%= govuk_summary_list do |sl|
        sl.with_row do |row|
          row.with_key(text: "Participant name")
          row.with_value(text: @participant.full_name)
        end
        sl.with_row do |row|
          row.with_key(text: "School")
          row.with_value(text: @school.name)
        end
        sl.with_row do |row|
          row.with_key(text: "Academic year")
          row.with_value(text: @start_year)
        end
        sl.with_row do |row|
          row.with_key(text: "Participant email address")
          row.with_value(text: @wizard.preferred_email)
          row.with_action(
            text: "Change",
            visually_hidden_text: "email address",
            href: schools_early_career_teachers_change_lead_provider_email_path(default_path_params)
          )
        end
        sl.with_row do |row|
          row.with_key(text: "Current lead provider")
          row.with_value(text: @wizard.current_lead_provider.name)
        end
        sl.with_row do |row|
          row.with_key(text: "New lead provider")
          row.with_value(text: @wizard.new_lead_provider.name)
          row.with_action(
            text: "Change",
            visually_hidden_text: "lead provider",
            href: schools_early_career_teachers_change_lead_provider_lead_provider_path(default_path_params)
          )
        end
      end %>

      <%= f.govuk_submit "Accept and send request" %>
    <% end %>
  </div>
</div>
