<% content_for :title, "Your change request has been submitted" %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds-from-desktop">
    <div class="govuk-panel govuk-panel--confirmation">
      <h1 class="govuk-panel__title">
        Your change request has been submitted
      </h1>
    </div>

    <h2 class="govuk-heading-m">What happens next</h2>

    <p class="govuk-body">Our support team will reply by email as soon as possible. They may need more information from you.</p>

    <p class="govuk-body"><%= govuk_link_to "Return to manage your training", schools_dashboard_path(school_id: @school_id) %>
  </div>
</div>
