<% content_for :before_content, govuk_back_link(text: "Back", href: back_link_path) %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-three-quarters">
    <h1 class="govuk-heading-xl">
      You are choosing to change course report and remove: <%= challenge_partnership_form.lead_provider_name %>
    </h1>

    <%= govuk_button_to 'Continue', { action: :complete }  %>
  </div>
</div>
