<%= render partial: "admin/performance/nav" %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-three-quarters">
    <h1 class="govuk-heading-l"><%= params[:form] %></h1>
    <h2 class="govuk-heading-m">Validation errors</h2>

    <% @validation_errors.each do |error| %>
      <%= render Admin::Performance::ValidationErrorComponent.new(error: error)%>
    <% end %>
    <%= govuk_pagination(pagy: @pagy) %>
  </div>
</div>
