<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h2 class="govuk-heading-l">Schools choosing an induction programme</h2>
    <p>Here's what you'll be doing:</p>
    <ol class="govuk-list govuk-list--number">
      <li>Find out about how induction is changing.</li>
      <li>See a quick overview of the areas covered by the Early Career Framework - which will form your induction programme.%></li>
      <li>See what different types of induction you can run.</li>
      <li>Understand the requirements/roles of the school, mentors and early career teachers</li>
      <li>Explore the different training materials or training providers you can choose from.</li>
      <li>When you are confident about this guidance and what induction programme you'd like to run in September, you can...</li>
    </ol>
    <%= govuk_link_to "Register your school", users_information_path, button: true %><br>
    <%= govuk_link_to "Sign in", new_user_session_path %>
  </div>
</div>

