<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h2 class="govuk-heading-l">Choose an induction programme for your early career teachers</h2>
    <p>This service is staff at schools who are responsible for running induction programmes.</p>
    <p>Use this service to:</p>
    <ul class="govuk-list govuk-list--bullet">
      <li>register your school before <strong>30th September 2021</strong></li>
      <li>confirm details about your induction programme, starting in September</li>
    </ul>
    <h2 class="govuk-heading-m">Before you start</h2>
    <p>You will need to know:</p>
    <ul>
      <li>the programme you want to run i.e using materials, a training provider or designing your own</li>
      <li>which early career teachers will be starting the programme</li>
    </ul>
    <%= govuk_link_to "Start now", new_user_session_path, button: true %>
  </div>
</div>

