<div class="govuk-grid-row">
  <div class="govuk-grid-column-one-half">
    <h2 class="govuk-headding-s">Primary profile induction records</h2>
    <% if primary_profile.induction_records.any? %>
      <% primary_profile.induction_records.includes(:cpd_lead_provider).order(created_at: :desc).each do |induction_record| %>
        <%= govuk_details(summary_text: "View induction record created at #{induction_record.created_at.to_fs(:govuk)}") do
          render "induction_record_summary_list", induction_record: induction_record
        end %>
      <% end %>
    <% else %>
      No induction records
    <% end %>
  </div>
  <div class="govuk-grid-column-one-half">
    <h2 class="govuk-headding-s">Duplicate profile induction records</h2>
    <% if duplicate_profile.induction_records.any? %>
      <% duplicate_profile.induction_records.includes(:cpd_lead_provider).order(created_at: :desc).each do |induction_record| %>
        <%= govuk_details(summary_text: "View induction record created at #{induction_record.created_at.to_fs(:govuk)}") do
          render "induction_record_summary_list", induction_record: induction_record
        end %>
      <% end %>
    <% else %>
      No induction records
    <% end %>
  </div>
</div>
