<% content_for :before_content,  govuk_breadcrumbs(breadcrumbs: @breadcrumbs) %>

<h2 class="govuk-heading-m">Master profile</h2>
<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    <%= render 'finance/ecf/duplicates/compare/details', participant_profile: @participant_profile %>
  </div>
</div>
<h2 class="govuk-heading-m">Duplicate profile</h2>
<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    <%= render 'finance/ecf/duplicates/compare/details', participant_profile: @duplicate %>
  </div>
</div>
