<% content_for :title, "Schools confirmed" %>

<%= govuk_panel(
  title: "#{report_schools_form.school_ids.count} #{"school".pluralize(report_schools_form.school_ids.count)} confirmed for #{report_schools_form.delivery_partner.name}",
  body: nil,
) %>

<h2 class="govuk-heading-m">What happens next</h2>
<ul class="govuk-list govuk-list--bullet">
  <li>school will be notified</li>
  <li>each school needs to add their early career teachers and mentors</li>
</ul>

<%= govuk_link_to("Confirm more schools", { action: :start }, button: true)  %>
