<span class="govuk-caption-xl"><%= @school.name %></span>
<h1 class="govuk-heading-xl">Confirm your training programme</h1>

<p class="govuk-body">You‘ve chosen to deliver your own programme using DfE accredited materials.</p>

<p class="govuk-body">You’ll need to:</p>
<ul class="govuk-list govuk-list--bullet govuk-!-margin-bottom-7">
  <li>choose your training materials</li>
  <li>add your ECTs and mentors</li>
</ul>
