<span class="govuk-caption-xl"><%= @school.name %></span>
<h1 class="govuk-heading-xl">Are you sure you want to make this change?</h1>

<p class="govuk-body">
  Ambition Institute and Kings College London will not be able to deliver training for ECTs and mentors starting
  in the 2022 to 2023 academic year.
</p>
<p class="govuk-body govuk-!-margin-bottom-7">
  They can continue delivering training to ECTs and mentors who started in the 2021 to 2022 academic year however.
</p>
