<h2 class="govuk-heading-m">What happens next</h2>
<p>We’ll let <%= @delivery_partner_name %> know that your school wants to make a change for ECTs and mentors starting in the 2022
  to 2023 academic year.</p>
<p>They may contact you to confirm this.</p>
<p>It’s important to confirm with the delivery partner you do want to work with as soon as possible.</p>

<h2 class="govuk-heading-m">You can now add ECTs and mentors when you’re ready</h2>
<p>You must tell us their:</p>
<ul class="govuk-list govuk-list--bullet">
  <li>full name</li>
  <li>email address</li>
</ul>
<p>You can now choose to enter their teacher reference number (TRN) and date of birth too.</p>
<p>If you can tell us this extra information:</p>
<ul class="govuk-list govuk-list--bullet">
  <li>ECTs and mentors will not be asked to provide this information themselves</li>
  <li>we can confirm if they’re eligible for funding more quickly</li>
</ul>
