<h2 class="govuk-heading-m">Key events</h2>

<%= govuk_summary_list(
  rows: [
    {
      key: { text: "Participant added to the service" },
      value: { text: presenter.user_start_date }
    }
  ]
) %>

<%= govuk_table(
  caption: "School transfers",
  head: ["School name", "Induction programme", "Start date", "End date"],
  rows: presenter.old_induction_records.map do |r|
    [
      r.school_cohort.school.name,
      r.induction_programme.training_programme.humanize,
      r.start_date.to_date.to_s(:govuk),
      r.end_date&.to_date&.to_s(:govuk),
    ]
  end,
) %>
