<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <%= govuk_panel(title_text: "#{@participant_profile.user.full_name} has been deleted", text: nil) %>
    <%= govuk_link_to "View participant listing", admin_participants_path %>
  </div>
</div>
