<% content_for :title, "Participant detail" %>
<% content_for :before_content, govuk_back_link(text: "Back", href: :back) %>

<% unless @presenter.npq? %>
  <span class="govuk-caption-l"><%= @latest_induction_record&.user&.user_description %></span>
<% end %>
<h1 class="govuk-heading-xl">
  <%= @presenter.full_name %>
</h1>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    <% if @presenter.npq? %>
      <% render Admin::Participants::Details.new(profile: @presenter.participant_profile) %>
      <%# render Admin::Participants::ValidationTasks.new(profile: @participant_profile) %>
    <% else %>
      <%= govuk_tabs(title: 'Contents') do |component| %>
        <% component.tab(label: 'Details') do %>
          <% render partial: 'details', locals: { presenter: @presenter } %>
        <% end %>
        <% component.tab(label: 'School') do %>
          <% render partial: 'school', locals: { presenter: @presenter } %>
        <% end %>
        <% component.tab(label: 'History') do %>
          <% render partial: 'history', locals: { presenter: @presenter } %>
        <% end %>
        <% component.tab(label: 'Induction records') do %>
          <% render partial: 'induction_records', locals: { presenter: @presenter } %>
        <% end %>
      <% end %>
    <% end %>

    <% if @presenter.allow_withdrawal?(current_user) %>
      <%= govuk_link_to "Delete participant", remove_admin_participant_path %>
    <% end %>
  </div>
</div>
