<%= govuk_summary_list do |summary_list| %>
  <% summary_list.row do |row| %>
    <% row.key { "Name" } %>
    <% row.value { form.full_name } %>
    <% unless form.found_participant_in_dqt? %>
      <% row.action(text: "Change",
                    visually_hidden_text: "name",
                    href: add_participant_wizard_show_change_schools_participants_path(step: :name)) %>
    <% else %>
      <% row.action() %>
    <% end %>
  <% end %>

  <% if form.trn %>
   <% summary_list.row do |row| %>
       <% row.key { "TRN" } %>
       <% row.value { form.trn } %>
       <% unless form.found_participant_in_dqt? %>
         <% row.action(text: "Change",
                       visually_hidden_text: "TRN",
                       href: add_participant_wizard_show_change_schools_participants_path(step: :trn)) %>
       <% else %>
         <% row.action() %>
       <% end %>
     <% end %>
   <% end %>

  <% if form.date_of_birth %>
    <% summary_list.row do |row| %>
      <% row.key { "Date of birth" } %>
      <% row.value { form.date_of_birth.to_date.to_s(:govuk) } %>
      <% unless form.found_participant_in_dqt? %>
        <% row.action(text: "Change",
                      visually_hidden_text: "date of birth",
                      href: add_participant_wizard_show_change_schools_participants_path(step: :date_of_birth)) %>
      <% else %>
        <% row.action() %>
      <% end %>
    <% end %>
  <% end %>

  <% summary_list.row do |row| %>
    <% row.key { "Email address" } %>
    <% row.value { form.email } %>
    <% row.action(text: "Change",
                 visually_hidden_text: "email address",
                 href: add_participant_wizard_show_change_schools_participants_path(step: :email)) %>
  <% end %>

  <% if form.start_date %>
    <% summary_list.row do |row| %>
      <% row.key { "Induction start" } %>
      <% row.value { form.start_date.to_date.to_s(:govuk) } %>
      <% row.action(text: "Change",
                    visually_hidden_text: "induction start date",
                    href: add_participant_wizard_show_change_schools_participants_path(step: :"start-date")) %>
    <% end %>
  <% end %>

  <% if form.ect_participant? %>
    <% summary_list.row do |row| %>
      <% row.key { "Mentor" } %>
      <% row.value { form.mentor.present? ? form.mentor.full_name : "Add later" } %>
      <% if !form.sit_mentor? && form.mentor_options.any? %>
        <% row.action(text: "Change",
                      visually_hidden_text: "mentor",
                      href: add_participant_wizard_show_change_schools_participants_path(step: :"choose-mentor")) %>
      <% else %>
        <% row.action() %>
      <% end %>
    <% end %>
  <% end %>

  <% if form.appropriate_body_selected.present? %>
    <% summary_list.row do |row| %>
      <% row.key { "Appropriate body" } %>
      <% row.value do %>
        <p class="govuk-body"><%= form.appropriate_body_selected.name %></p>
      <% end %>
      <% row.action(text: "Change",
                    visually_hidden_text: "mentor",
                    href: add_participant_wizard_show_change_schools_participants_path(step: :"appropriate-body")) %>
    <% end %>
  <% end %>

  <% if @school_cohort.default_induction_programme %>
    <% summary_list.row do |row| %>
      <% row.key { "Training with" } %>
      <% row.value do %>
        <p class="govuk-body"><%= @school_cohort.default_induction_programme.lead_provider&.name %></p>
        <p class="govuk-body"><%= @school_cohort.default_induction_programme.delivery_partner&.name %></p>
      <% end %>
     <% row.action() %>
    <% end %>
  <% end %>
<% end %>
