<%= admin_participant_header_and_title(full_name: @participant_profile.full_name, role: admin_participant_role_name(@participant_profile.class.name), section: "Event history") %>

<%= render partial: "admin/participants/nav" %>

<% if @event_list.present? %>
  <%= govuk_table(
    caption: "Event history",
    head: %w[Description Value Reporter Date],
    rows: @event_list.map do |r|
      [
        r.predicate,
        r.value,
        r.reporter,
        r.date&.to_s(:govuk),
      ]
    end,
  ) %>
<% else %>
  <p>No event history for <%= @participant_profile.full_name %>.</p>
<% end %>
