<h1 class="govuk-heading-xl">Overview</h1>

<table class="govuk-table" style="width: auto;">
  <caption class="govuk-table__caption govuk-table__caption--m">Schools registered for 2023 to 2024</caption>
  <thead class="govuk-table__head">
    <tr class="govuk-table__row">
      <th scope="col" class="govuk-table__header">Training programme</th>
      <th scope="col" class="govuk-table__header govuk-table__header--numeric">Schools</th>
    </tr>
  </thead>
  <tbody class="govuk-table__body">
    <tr class="govuk-table__row">
      <th scope="row" class="govuk-table__header govuk-!-font-weight-regular">Delivering their training using DfE materials</th>
      <td class="govuk-table__cell govuk-table__cell--numeric">2</td>
    </tr>
    <tr class="govuk-table__row">
      <th scope="row" class="govuk-table__header govuk-!-font-weight-regular">Designing their own programme</th>
      <td class="govuk-table__cell govuk-table__cell--numeric">0</td>
    </tr>
    <tr class="govuk-table__row">
      <th scope="row" class="govuk-table__header govuk-!-font-weight-regular">Using a training provider (full induction programme)</th>
      <td class="govuk-table__cell govuk-table__cell--numeric govuk-!-font-weight-regular">115</td>
    </tr>
    <tr class="govuk-table__row">
      <th scope="row" class="govuk-table__header govuk-!-font-weight-regular govuk-!-padding-left-5">Ambition</th>
      <td class="govuk-table__cell govuk-table__cell--numeric">28</td>
    </tr>
    <tr class="govuk-table__row">
      <th scope="row" class="govuk-table__header govuk-!-font-weight-regular govuk-!-padding-left-5">Best Practice Network</th>
      <td class="govuk-table__cell govuk-table__cell--numeric">15</td>
    </tr>
    <tr class="govuk-table__row">
      <th scope="row" class="govuk-table__header govuk-!-font-weight-regular govuk-!-padding-left-5">Education Development Trust</th>
      <td class="govuk-table__cell govuk-table__cell--numeric">21</td>
    </tr>
    <tr class="govuk-table__row">
      <th scope="row" class="govuk-table__header govuk-!-font-weight-regular govuk-!-padding-left-5">National Institute of Teaching</th>
      <td class="govuk-table__cell govuk-table__cell--numeric">0</td>
    </tr>
    <tr class="govuk-table__row">
      <th scope="row" class="govuk-table__header govuk-!-font-weight-regular govuk-!-padding-left-5">Teach First</th>
      <td class="govuk-table__cell govuk-table__cell--numeric">15</td>
    </tr>
    <tr class="govuk-table__row">
      <th scope="row" class="govuk-table__header govuk-!-font-weight-regular govuk-!-padding-left-5">UCL Institute of Education</th>
      <td class="govuk-table__cell govuk-table__cell--numeric">15</td>
    </tr>
    <tr class="govuk-table__row">
      <th scope="row" class="govuk-table__header govuk-!-font-weight-regular">Not expecting any early career teachers</th>
      <td class="govuk-table__cell  govuk-table__cell--numeric">60</td>
    </tr>
  </tbody>
  <tfoot>
    <tr class="govuk-table__row">
      <th scope="row" class="govuk-table__header">Total</th>
      <td class="govuk-table__cell govuk-table__cell--numeric govuk-!-font-weight-bold">177</td>
    </tr>

  </tfoot>
</table>
