<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    <% if @current_user&.admin? %>
      <%= govuk_link_to "Download export", download_export_path, button: true%>
    <% end %>
    <h1 class="govuk-heading-xl">What is the early career framework?</h1>
    <p>The early career framework (ECF) was designed to make sure early career teachers focus on learning the things that make the most difference in the classroom and their professional practice.</p>
    <p>The core induction programmes include high-quality development materials, underpinned by the ECF, which will support early career teachers to develop the essential knowledge and skills to set them up for a successful and fulfilling career in teaching.</p>
    <p>Schools have an opportunity to take advantage of the benefits of the ECF early by using the core induction programmes published here, in whichever way that best suits them and their early career teachers.</p>
    <h2 class="govuk-heading-l">ECF core induction programme suppliers</h2>
    <p>The Department for Education has selected four expert teacher training providers who have each developed their own core induction programme based on the ECF:</p>
    <ul>
      <li>Ambition Institute</li>
      <li>Education Development Trust</li>
      <li>Teach First</li>
      <li>UCL Early Career Teacher Consortium</li>
    </ul>
    <p>Each set of materials cover the five core areas of the ECF:</p>
    <ul>
      <li>behaviour management</li>
      <li>pedagogy</li>
      <li>curriculum</li>
      <li>assessment</li>
      <li>professional behaviours</li>
    </ul>
    <p>Although structured differently, each programme contains approximately the same amount of self-study material in terms of hours covered.</p>
    <p>Schools can use or draw upon any of four core induction programmes published here in whichever way is most beneficial to them and their early career teachers.</p>
    <p>You can read more about these suppliers on their own websites or in the course descriptions below.</p>

    <h2 class="govuk-heading-l">Courses</h2>
    <% if @core_induction_programmes.any? %>
      <% @core_induction_programmes.each do |core_induction_programme| %>
        <p><%= govuk_link_to core_induction_programme.name, cip_path(id: core_induction_programme.id) %></p>
      <% end %>
    <% else %>
      <p>No courses were found!</p>
    <% end %>
  </div>
</div>
