<p>We’re checking this person’s details with the Teaching Regulation Agency.</p>

<p>We may need to contact <%= profile.user.full_name %> for more information to complete their registration.</p>

<p>We’ll pass <%= profile.user.full_name %>’s details to your training provider.</p>
