<% content_for :before_content, govuk_back_link(text: "Back", href: registrations_question_two_path) %>
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-l">You can register later</h1>
    <!-- TODO: Update external link for guidance -->
    <p>See our guidance for <a href="#">schools choosing an induction programme</a>.</p>
    <p>You can register when you are ready to confirm details about your induction programme.</p>
    <p>You must register by <span class="govuk-!-font-weight-bold">30 September</span> to start your induction programme.</p>
  </div>
</div>
