<% content_for :title, "API sandbox" %>

<div class="govuk-width-container">
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
            <h1 class="govuk-heading-xl">Use our sandbox to test the Teacher CPD Service </h1>
            <p>This is an API test environment which lets you simulate the Manage Induction for Early Career Teachers service as a training provider.</p>
            <p>You can:</p>
            <ul class="govuk-list govuk-list--bullet">
                <li>authenticate as a training provider and confirm the start of an applicant's course</li>
            </ul>
            <p>You can give us feedback at any time to help us improve the service.</p>
            <h2 class="govuk-heading-m">Get started</h2>
            <p>The Manage CPD service for learning providers allows you to integrate your software with ours and test it. This is an initial version of the API for you to provide feedback on, and is subject to change. We will provide confirmation of final API specifications to support your own development in the coming weeks/months.</p>
            <p>In the sandbox, to avoid testers having to use real users, we’ve enabled fake users with ID references that have been provided to you. You can confirm the start of an applicant’s course using these IDs.</p>

            <h2 class="govuk-heading-m">Getting started with the API</h2>
         
            <p>You should have received an authentication token by email.</p>
            <p><a href="https://ecf-sandbox.london.cloudapps.digital/api-docs/index.html">Review our API documentation. </a></p>

            <h2 class="govuk-heading-m">Help and support</h2>
            <p>Email us at <a href="mailto:becomingateacher@digital.education.gov.uk">becomingateacher@digital.education.gov</a> for support using this sandbox.</p>
        </div>
    </div>
</div>
