<% content_for :title, "API sandbox" %>

<div class="govuk-width-container">
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
            <h1 class="govuk-heading-xl">Use our sandbox to test Early Career Framework</h1>
            <p>This is an API test environment which lets you simulate the Early Career Framework service as a training provider.</p>
            <p>You can:</p>
            <ul class="govuk-list govuk-list--bullet">
                <li>sign in as a training provider and confirm the start of an applicant's course</li>
             <!--    <li>sign in as a training provider and process an applicant</li>
                <li>test the system’s API capabilities</li> -->
            </ul>
            <p>You can give us feedback at any time to help us improve the service</p>
            <h2 class="govuk-heading-m">Get started</h2>
            <p> The ECF service allows you to integrate your software with ours and test it.</p>
            <p>In the sandbox, to avoid testers having to use real users, we’ve enabled fake users with ID references that have been provided to you. You can confirm the start of an applicant’s course using these IDs.  </p>

            <h2 class="govuk-heading-m">Getting started with the API</h2>
         
            <p>You should have received an authentication token by email.</p>
            <p><a href="https://ecf-sandbox.london.cloudapps.digital/api-docs/index.html">Review our API documentation </a></p>



            <h2 class="govuk-heading-m">Help and support</h2>
                <p>Email us at <a href="mailto:becomingateacher@digital.education.gov.uk">becomingateacher@digital.education.gov.</a> for support using this sandbox.</p>

    <!--         <p>When Apply receives an application, it can then be seen by others</p>
            <p>Providers can then use it to:</p>
            <ul class="govuk-list govuk-list--bullet">
                <li>retrieve applications</li>
                <li>make a candidate an offer</li>
                <li>Confirm a candidate’s suitability</li>
                <li> reject an application </li>
            </ul>
            <h2 class="govuk-heading-m">How do I connect to Apply</h2>
            <p>Any request needs validating by an authentication token.</p>
            <p>A token is created by a provider. It grants access to applications made by that provider.
            </p>
            <p>Get a token by emailing <a href="mailto:becomingateacher@digital.education.gov.uk">becomingateacher@digital.education.gov.</a></p>
            <p>To activate a token, see the <a href="#">Apply reference.</a></p> -->
        </div>
    </div>
</div>
