<% content_for :before_content, govuk_back_link(text: "Back", href: choices_path) %>
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-l">Learn more about your options</h1>
    <!-- TODO: Add guidance page and link to it -->
    <p>See our guidance for <a href="#">schools choosing an induction programme</a>.</p>
    <p>You can sign in again when you are ready to confirm details about your induction programme</p>
    <p>You must confirm your school details by by <span class="govuk-!-font-weight-bold">30 September</span> to start your induction programme.</p>
  </div>
</div>
