<% content_for :title, "Get an account" %>
<% content_for :before_content, govuk_back_link(text: "Back", href: new_user_session_path) %>
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-xl">How to get an account for this service</h1>
    <h2 class="govuk-heading-m">Schools</h2>
    <p class="govuk-body">Your school has been sent an email to nominate someone who manages statutory inductions at your school.</p>
    <p class="govuk-body">It has been sent to the email address your school has listed on our register, <%= govuk_link_to "Get information about schools", "https://www.get-information-schools.service.gov.uk/" %>  </p>
    <p><%= govuk_link_to "Resend email", choose_location_request_nomination_invite_path %></p>
    <h2 class="govuk-heading-m">New teachers or mentors</h2>
    <p class="govuk-body">You only need to sign in if you’re using our accredited training materials. We will send you sign in details before you start your programme.</p>
    <h2 class="govuk-heading-m">Training providers</h2>
    <p class="govuk-body">The Department for Education creates your account.<br>Contact: <%= render MailToSupportComponent.new %></p>
  </div>
</div>
