<% content_for :title, "Access this service" %>
<% content_for :before_content, govuk_back_link(text: "Back", href: new_user_session_path) %>

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

        <h1 class="govuk-heading-xl">How to access this service</h1>

        <h2 class="govuk-heading-m">Schools</h2>
        <p class="govuk-body"><%= govuk_link_to "Send your school a link", resend_email_request_nomination_invite_path, class: "govuk-link govuk-link--no-visited-state" %> this service. You’ll be asked to nominate someone to set up your training programme.</p>

        <h2 class="govuk-heading-m">School induction tutors</h2>
        <p class="govuk-body">If you cannot sign in with your email address, make sure your school has nominated you to set up their training programme.</p>

        <h2 class="govuk-heading-m">Early career teachers and mentors</h2>
        <p class="govuk-body">Have you received an email to provide your information? <%= govuk_link_to "Register for your early career teacher training now", participants_start_registrations_path, class: "govuk-link govuk-link--no-visited-state"%></p>

        <h2 class="govuk-heading-m">Training providers</h2>
        <p class="govuk-body">The Department for Education creates your account.<br>Contact: <%= render MailToSupportComponent.new %></p>

    </div>
</div>
