<% content_for :title, "Get an account" %>
<% content_for :before_content, govuk_back_link(text: "Back", href: new_user_session_path) %>
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-xl">How to get an account for this service</h1>
    
    <h2 class="govuk-heading-m">Schools</h2>
    <p class="govuk-body">You can <%= govuk_link_to "send your school a link", resend_email_request_nomination_invite_path %> to use this service.</p>
    
    <h2 class="govuk-heading-m">School induction tutors</h2>
    <p class="govuk-body">If you’ve been asked to manage your early career teacher training programme, check your school has used our service to tell us your name and email address.</p>
      
    <h2 class="govuk-heading-m">Early career teachers and mentors</h2>
    <p class="govuk-body">We'll email you directly if you need to use this service. Contact your school for more information.</p>
    
    <h2 class="govuk-heading-m">Training providers</h2>
    <p class="govuk-body">The Department for Education creates your account.<br>Contact: <%= render MailToSupportComponent.new %></p>
  </div>
</div>
