<% content_for :javascript_pack_tags, javascript_pack_tag("admin/supplier-users", defer: true) %>

<% content_for :before_content, govuk_back_link(
  text: "Back",
  href: admin_supplier_users_path)
%>

<h1 class="govuk-heading-l">What supplier does this user belong to?</h1>

<%= form_with model: @supplier_user_form, url: new_admin_supplier_user_path, method: :post do |f| %>
  <%= f.govuk_collection_select(
        :supplier,
        @suppliers,
        :id,
        :name,
        label: { text: "Supplier name" },
        options: { include_blank: true }
      )
  %>

  <%= f.govuk_submit "Continue" %>
<% end %>
