<% content_for :before_content, govuk_back_link(text: "Back", href: new_user_session_path) %>
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-l">Check if you have an account</h1>
    <h2 class="govuk-heading-m">Schools</h2>
    <p class="govuk-!-margin-top-25">Your school will be sent an email to nominate an induction tutor in the next few weeks.</p>
    <h2 class="govuk-heading-m">New teachers or mentors</h2>
    <p class="govuk-!-margin-top-25">You only need to sign in if you’re using our accredited training materials. Check with your induction tutor.</p>
    <h2 class="govuk-heading-m">Training providers</h2>
    <p class="govuk-!-margin-top-25">The Department for Education creates your account.<br>Contact: <%= render MailToSupportComponent.new %></p>
  </div>
</div>
