<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-xl">Register for early career training and support</h1>

    <p class="govuk-body">This service is for early career teachers and mentors who are about to begin their induction training programme.</p>
    <p class="govuk-body">We need to check your details on the Teaching Regulation Agency records. This is to make sure you qualify for this programme.</p>
    <p class="govuk-body">You must only use this service if:</p>

    <ul class="govuk-list govuk-list--bullet">
      <li>your school asked you to</li>
      <li>you’re a teacher working (or due to start work) in England</li>
    </ul>

    <%= govuk_link_to "Continue", new_user_session_path, button: true %>
  </div>
</div>
