<% content_for :title, "Get a Teacher Reference Number (TRN)" %>
<% content_for :before_content, govuk_back_link(text: "Back", href: participants_start_registrations_path) %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

  <%= render partial: "shared/trn_guidance" %>

  </div>
</div>
