<% title = "Which type of appropriate body have you appointed?" %>
<% content_for :title, title %>

<% content_for :before_content, govuk_back_link(text: "Back", href: wizard_back_link_path) %>

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <%= form_with model: @wizard.form, url: url_for(action: :update), scope: @wizard.to_key, method: :put do |f| %>
            <%= f.govuk_error_summary %>
            <%= f.govuk_collection_radio_buttons(
                :appropriate_body_type,
                @wizard.form.choices,
                :id,
                :name,
                legend: { text: title, tag: :h1, size: 'xl' },
                caption: { text: @school.name, size: 'xl' }) do %>

                <p class="govuk-body">If any of your ECTs will work with a different appropriate body, you can tell us that when you register them later.</p>
            <% end %>

            <%= f.govuk_submit "Continue" %>
        <% end %>
    </div>
</div>
