<% content_for :title, "Possible incorrectly paid or payable declarations" %>

<h1 class="govuk-heading-l">Possible incorrectly paid or payable declarations</h1>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    <p class="govuk-body-l">Paid or Payable declarations made against a rejected or pending NPQ Application which could indicate that they should not have been paid or that the training record needs updating.</p>

    <%= render Admin::RecordsAnalysis::NPQApplicationTable.new(applications: @invalid_payments_analysis, page: params.fetch(:page, 1)) %>
  </div>
</div>
