<% content_for :title, "Resend nomination: search school" %>
<% content_for :before_content, govuk_back_link(text: "Back", href: root_path) %>

<%= form_with model: @nomination_form, url: choose_school_nominations_path, method: :post do |f| %>
  <div class="govuk-input--width-20">
    <%= f.govuk_error_summary %>
    <%= f.govuk_collection_select(
          :school_id,
          @nomination_form.available_schools,
          :id,
          :name,
          label: { text: "Find your school", class: "govuk-label govuk-label--l" },
          hint: { text: "Enter name, URN, LAESTAB or UKPRN"}, #TODO: make it work with those
          options: { include_blank: true }) %>
  </div>
  <%= f.govuk_submit "Continue" %>
<% end %>
