<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <div class="govuk-!-margin-bottom-8">
      <div class="govuk-panel govuk-panel--confirmation">
        <h1 class="govuk-panel__title">
          Induction tutor nominated
        </h1>
      </div>
    </div>

    <h3 class="govuk-heading-m">What happens next</h3>
    <ul class="govuk-list govuk-list--bullet">
      <li>the person you nominated will be notified</li>
      <li>they can sign in and complete tasks for your induction programme</li>
      <li>they will receive any future notifications about the service</li>
    </ul>
  </div>
</div>
