<% content_for :title, "Resend nomination: school is not eligible" %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-header-l">
      Your school is not eligible for ECF
    </h1>
    <!-- TODO: Add copy -->
  </div>
</div>
