<% content_for :title, "Success: nomination instructions were sent to school" %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <div class="govuk-!-margin-bottom-8">
      <div class="govuk-panel govuk-panel--confirmation">
        <h1 class="govuk-panel__title">
          Your school has been sent a link
        </h1>
      </div>
    </div>

    <h2 class="govuk-heading-m">What happens next</h2>
    <ul class="govuk-list govuk-list--bullet">
      <li>your school will receive an email with a link to nominate an induction tutor</li>
      <li>this link will expire in 7 days</li>
      <li>if your school does not receive this email, ensure your schools email address is correct on our register, <a href="https://www.get-information-schools.service.gov.uk/">Get information about schools</a></li>
      <li>if your school does not receive this email, contact: <%= render MailToSupportComponent.new %></li>
    </ul>
  </div>
</div>
