$govuk-images-path: "";
$govuk-fonts-path: "";
$govuk-new-link-styles: true;

@import "govuk-frontend/dist/govuk/base";
@import "govuk-frontend/dist/govuk/core/index";
@import "govuk-frontend/dist/govuk/objects/index";
@import "govuk-frontend/dist/govuk/components/index";
@import "govuk-frontend/dist/govuk/utilities/index";
@import "govuk-frontend/dist/govuk/overrides/index";

@import "accessible-autocomplete/src/autocomplete";

@import "notification_banner";
@import "app_task_list";
@import "header_overrides";
@import "lead_providers/dashboard_numbers";
@import "lead_providers/index_group";
@import "lead_providers/your_schools";
@import "lead_providers/masthead";
@import "lead_providers/app_button_inverted";
@import "lead_providers/app_section";
@import "lead_providers/code";
@import "lead_providers/contents_list";
@import "lead_providers/syntax_highlighting";
@import "lead_providers/statements";
@import "pagination";
@import "schools/dashboard";
@import "schools/filter";
@import "subnav";
@import "primary-nav";
@import "search_box";
@import "aside";
@import "vendor/nhs_tables";
@import "table";
@import "components/statement_selector";
@import "tabs";

.error-message {
  color: $govuk-error-colour;
}

.lead-provider-content img {
  max-width: 629px;
}

.bold-label {
  font-weight: 700;
}

.govuk-width-container__wide {
  @media (min-width: 1280px) {
    max-width: 1250px;
    margin-left: auto;
    margin-right: auto;
  }
}

.govuk-notification-banner__content--full-width > * {
  max-width: 100%;
}

.govuk-summary-list__key--align-top {
  vertical-align: top;
}
