$primaryNavHeight: 2.5rem;

.primary-nav-container {
  background-color: govuk-colour("light-grey");
  border-bottom: 1px $govuk-border-colour solid;

  &.primary-nav-container--reversed {
    background-color: govuk-colour("blue");

    .govuk-link {
      color: govuk-colour("white");
    }

    .nav-item {
      text-decoration: none;

      &:not(.nav-item__selected) .govuk-link:hover {
        text-decoration: underline;
        text-decoration-color: govuk-colour("white");
        text-decoration-thickness: max(3px, .1875rem, .12em);
        text-decoration-skip-ink: none;
      }

      .govuk-link:focus {
        box-shadow: none;
        color: $govuk-focus-text-colour;
      }
    }

    .nav-item__selected {
      border-bottom: solid govuk-colour("white") 4px;

      &:focus-within {
        border-bottom: solid $govuk-focus-text-colour 4px;
      }
    }
  }
}

.primary-nav {
  display: flex;
  flex-direction: row;
  height: $primaryNavHeight;
  font-weight: 700;
}

.nav-item {
  @include govuk-typography-responsive($size: 19);

  &:not(:last-child) {
    margin-right: govuk-spacing(8);
  }

  &.nav-item__selected {
    border-bottom: solid govuk-colour("blue") 4px;
  }

  a {
    text-decoration: none;
    line-height: $primaryNavHeight;
  }
}
