/**
 * This stylesheet needs to be explicitly included on pages:
 *
 * <% content_for :stylesheets do %>
 *   <%= stylesheet_link_tag 'print', media: 'print' %>
 * <% end %>
 */
@media print {
  // header
  body > header,
  .govuk-phase-banner,
  .govuk-back-link {
    display: none;
  }

  // footer
  body > footer {
    display: none;
  }

  // global
  a {
    display: none;
  }

  // statements
  .statement-selector,
  .app-application__standalone-course {
    display: none;
  }
}
