<% content_for :title, "Applications Analysis" %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    <h1 class="govuk-header-xl">NPQ Application analysis</h1>

    <p class="govuk-body-l">Paid or Payable declarations made against a rejected or pending NPQ Application</p>

    <%= render Admin::NPQ::Applications::Analysis::Table.new(applications: @applications) %>
  </div>
</div>
