.wrapper-dashboard-v2 {
  @include govuk-media-query($from: tablet) {
    .govuk-summary-list__key {
      padding-right: 10px;
      width: 31%;
    }
    .govuk-summary-list__actions {
      width: 13%;
    }
  }

  .manage-mentors-ects {
    .govuk-warning-text {
      margin-bottom: 15px;
    }

    .alert {
      padding-left: 10px;
      border-left: 5px solid #d4351c;
    }
  }

  h3 {
    margin-bottom: 0.3em;
  }

  .group-card {
    border: 1px solid $govuk-border-colour;
    padding: 10px;

    dl + h3 {
      margin-top: 1em;
    }

    @include govuk-media-query($from: tablet) {
      padding: 20px;
    }

    .govuk-summary-list {
      margin-bottom: 0;

      .govuk-summary-list__actions {
        width: 40%;
        text-align: left;
      }

      &--no-border {
        .govuk-summary-list__row {
          margin-bottom: 0;
        }

        .govuk-summary-list__key,
        .govuk-summary-list__value,
        .govuk-summary-list__actions {
          padding-block: 0.3em;
        }
      }
    }
  }

  .govuk-tabs__panel {
    margin-bottom: 0;
    padding: 0;
    border: none;
    padding-top: 10px;
  }
}
