<dl class="govuk-summary-list">
  <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key">
      Induction programme
    </dt>
    <dd class="govuk-summary-list__value">
      Not using service - no ECTs this year
    </dd>
  </div>
</dl>
