<dl class="govuk-summary-list">
  <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key">
      Training programme
    </dt>
    <dd class="govuk-summary-list__value">
      <%= message %>
    </dd>
    <dd class="govuk-summary-list__actions">
      <%= govuk_link_to "Change", admin_school_change_programme_path(id: cohort.start_year, school_id: school.slug) %>
      <span class="govuk-visually-hidden"> induction programme</span>
    </dd>
  </div>

  <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key">
      Appropriate body
    </dt>
    <dd class="govuk-summary-list__value">
      <%= school_cohort&.appropriate_body&.name %>
    </dd>
  </div>

  <%= content %>
</dl>
