<div class="govuk-grid-row">
  <div class="govuk-grid-column-three-quarters">
    <h1 class="govuk-heading-xl">School Search Autocomplete Demo Page</h1>
    <p>This is an example of school search functionality using accessible autocomplete</p>

    <div class="govuk-form-group">
      <label for="autocomplete-school-name-field" class="govuk-label govuk-label--s school-search-label">School name or group</label>
      <div id="school-autocomplete" class="autocomplete-wrapper" data-input-name="school_search_form[school_name]"></div>
    </div>
  </div>
</div>
