.gem-c-govspeak blockquote {
  p:before {
    margin-left: 0;
  }
  p:after {
    content: "";
  }
  p:last-child:after {
    content: "";
  }
  p {
    border-left: 10px solid #b1b4b6;
    padding: 15px;
    clear: both;
  }
}
