<%=
  admin_participant_header_and_title(
    profile: @participant_profile,
    section: "Identities"
  )
%>

<%= render partial: "admin/participants/nav" %>

<% if @participant_presenter.participant_identities.none? %>
  <p><%= @participant_presenter.full_name %> has no identities.</p>
<% else %>
  <%= render Admin::Participants::Identities.new(identities: @participant_presenter.participant_identities) %>
<% end %>
