<div class="page-tab govuk-!-margin-right-8 <%= "page-tab__selected" if current_page?(path) %>">
  <%= govuk_link_to path do %>
    <%= content %> <%= "<span class='govuk-visually-hidden'>Current page</span>".html_safe if current_page?(path) %>
  <% end %>
</div>
