<h1 class="govuk-heading-xl">Have you signed up with a training provider?</h1>
<p class="govuk-body">The easiest way to sign up to this programme is to contact your local Teaching School Hub.</p>
<p class="govuk-body">They will talk you through how to access this support for your early career teachers and
  mentors.</p>
<p class="govuk-body"><%= govuk_link_to "Find your local Teaching School Hub", "https://www.gov.uk/guidance/teaching-school-hubs#find-a-teaching-school-hub" %></p>
<p class="govuk-body">Training providers are also recruiting schools across the country so you may hear from them.</p>

<h2 class="govuk-heading-l">Getting confirmation</h2>
<ul class="govuk-list govuk-list--bullet">
  <li>when you have confirmed an agreement directly with your training provider, they will update the DfE (this may take
    a few weeks)
  </li>
  <li>this page will be automatically updated</li>
</ul>
