<h1 class="govuk-heading-xl">Your training provider</h1>
<p class="govuk-body-l"><%= @partnership.delivery_partner.name %> with <%= @partnership.lead_provider.name %></p>

<p><!-- TODO: Add link to challenge partnership -->
  If this doesn't look right, <%= govuk_link_to "report that your school has been confirmed incorrectly", "#" %>.
</p>
