<h1 class="govuk-heading-xl">Confirmed your training provider</h1>
<h2 class="govuk-heading-m">Your provider details</h2>
<dl class="govuk-summary-list">
  <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key">
      Delivery partner
    </dt>
    <dd class="govuk-summary-list__value">
      <%= @partnership.delivery_partner.name %>
    </dd>
  </div>
  <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key">
      Lead provider
    </dt>
    <dd class="govuk-summary-list__value">
      <%= @partnership.lead_provider.name %>
    </dd>
  </div>
</dl>

<p><!-- TODO: Add link to challenge partnership -->
  If this doesn't look right, <%= govuk_link_to "report that your school has been confirmed incorrectly", "#" %>.
</p>