<% if @partnership %>
<% content_for :title, "Signed up with provider" %>
<% else %>
<% content_for :title, "Confirm with provider" %>
<% end %>

<% content_for :before_content, govuk_breadcrumbs(breadcrumbs: breadcrumbs(:school, :cohort)) %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <span class="govuk-caption-l"><%= @cohort.display_name %> cohort</span>
    <% if @partnership %>
    <%= render partial: "signed_up_with_provider" %>
    <% else %>
    <%= render partial: "confirm_with_provider" %>
    <% end %>
  </div>
</div>
