<% content_for :title, "Error: email address used" %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-header-xl">
      The email you entered is used by another school
    </h1>

    <p>You need to use a different email address.</p>
    <%= govuk_link_to "Change email address",  new_admin_school_induction_coordinator_path(@school), button: true %>
  </div>
</div>