<% content_for :before_content, govuk_back_link(text: "Back", href: admin_dashboard_path) %>

<table class="govuk-table">
  <thead>
    <tr class="govuk-table__row">
      <th scope="col" class="govuk-table__header">Supplier</th>
      <th scope="col" class="govuk-table__header">Supplier type</th>
      <th scope="col" class="govuk-table__header"></th>
    </tr>
  </thead>
  <tbody class="govuk-table__body">
    <% @suppliers.each do |supplier| %>
      <tr class="govuk-table__row">
        <td class="govuk-table__cell"><%= supplier.name %></td>
        <td class="govuk-table__cell"><%= supplier.model_name.human %></td>
        <td class="govuk-table__cell"><%= link_to "edit", edit_admin_supplier_path(supplier) %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= govuk_link_to "Add", new_admin_supplier_path, button: true %>
