<% title = "Check if your name is updated" %>
<% content_for :title, title %>
<% content_for :before_content, govuk_back_link(text: "Back", href: { action: :confirm_updated_record }) %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-xl"><%= title %></h1>
    <p class="govuk-body">If you’re not sure if you updated your name with the Teaching Regulation Agency, you can view your record.</p>
    <p class="govuk-body"><%= govuk_link_to "Check your record using the Teacher Self-Service Portal", "https://teacherservices.education.gov.uk/SelfService/Login" %></p>
  </div>
</div>
