<% content_for :title, "Registration complete" %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <%= govuk_panel title: title, body: nil, classes: "govuk-!-margin-bottom-8" %>
    <h2 class="govuk-heading-m">What happens next</h2>
    <% if @participant_profile.ect? %>
      <p class="govuk-body">Your training materials will be available by the end of August. We’ll email you with a link to access them.</p>
    <% else %>
      <p class="govuk-body">If you need access to training materials, we’ll email you a link in the next 48 hours.</p>
    <% end %>
    <% if current_user.induction_coordinator? %>
      <%= govuk_link_to "Manage induction for your school", induction_coordinator_dashboard_path(current_user) %>
    <% end %>
  </div>
</div>
