<% content_for :title, "Registration complete" %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <%= govuk_panel title: "Registration complete", body: nil, classes: "govuk-!-margin-bottom-8" %>
    <h2 class="govuk-headming-m">What happens next</h2>
    <p class="govuk-body">You will not need to use this service again during your training.</p>
    <p class="govuk-body"><%= @school.name %> has been asked to choose a training provider to deliver your programme. The provider will contact you directly.</p>
  </div>
</div>
