<% title = "You do not need to serve statutory induction for early career teachers" %>
<% content_for :title, title %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <div class="govuk-panel govuk-panel--confirmation">
      <h1 class="govuk-panel__title">
        You do not need to serve statutory induction for early career teachers
      </h1>
    </div>

    <p class="govuk-body">
      Your Teaching Regulation Agency record shows that you do not need to complete a statutory induction, or take part in ECF-based training.
    </p>

    <p>
      This is likely to be because of the way in which DfE recognised your qualified
      teacher status (QTS).
    </p>

    <p>
      Annex A of the Induction for early career teachers guidance explains who’s
      exempt:  https://www.gov.uk/government/publications/induction-for-early-career-
      teachers-england
    </p>

    <h2 class="govuk-heading-m">What happens next</h2>

    <p class="govuk-body">
    We’ll let your school know. You do not need to take any further action.
    </p>
    <p class="govuk-body">
    We’ll email you a copy of this information for your records. </p>
  </div>
</div>

