<% title = "You’re not eligible for the early career teacher training programme" %>
<% content_for :title, title %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <%= govuk_panel title_text: title, text: nil, classes: "govuk-!-margin-bottom-8" %>
    <h2 class="govuk-heading-m">Why?</h2>
    <p class="govuk-body">This is because you started or completed your statutory induction before 1 September 2021.</p>
  </div>
</div>
