<% title = "We’re checking your details" %>
<% content_for :title, title %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <%= govuk_panel title: title, body: nil, classes: "govuk-!-margin-bottom-8" %>
    <h2 class="govuk-heading-m">What happens next</h2>
    <p class="govuk-body">We may need to contact you for more information to complete your registration.</p>
    <p class="govuk-body">Your training materials will be available in August. We’ll email you with a link to access them.</p>
  </div>
</div>
