<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-xl">You do not have access to this service</h1>

    <p>This may be because:</p>
    <ul class="govuk-list govuk-list--bullet">
      <li>your school has not registered you on our service</li>
      <li>your school has removed you from this training programme</li>
    </ul>

    <p>If you are not sure, please contact the person at your school who is looking after your training or induction.</p>
  </div>
</div>
