<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-m govuk-!-margin-bottom-2">
      School information
    </h1>

    <dl class="govuk-summary-list">
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          URN
        </dt>
        <dd class="govuk-summary-list__value">
          <%= @school.urn %>
        </dd>
      </div>

      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Local authority
        </dt>
        <dd class="govuk-summary-list__value">
          <% if @school.local_authority %>
            <%= @school.local_authority.name %>
          <% else %>
            No local authority assigned
          <% end %>
        </dd>
      </div>

      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          School contact
        </dt>
        <dd class="govuk-summary-list__value">
<!--         TODO: This will need to be updated after talks with Ethan and Michal-->
          <%= mail_to 'induction_coordinator@school.com' %>
        </dd>
      </div>

    </dl>
  </div>
</div>
