<% content_for :title, "Core induction materials" %>

<% content_for :before_content, govuk_back_link(text: "Back", href: schools_dashboard_path) %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    
    <span class="govuk-caption-xl"><%= @school.name %></span>
    <h1 class="govuk-heading-xl">Do you know which accredited materials you want to use?</h1>

    <p class="govuk-body">You’ll be choosing materials for any new ECTs.</p>
    <p class="govuk-body govuk-!-margin-bottom-7">They’ll access these materials on our service, and usually complete their training programme over 2 years.</p>
        
    <%= govuk_link_to "Continue", { action: :edit }, class: "govuk-button" %>
  </div>
</div>
