<% content_for :title, "Core induction materials" %>
<% content_for :before_content, govuk_back_link( text: "Back", href: schools_cohort_path) %>

<span class="govuk-caption-l"><%= @cohort.start_year %> cohort</span>
<h1 class="govuk-heading-xl">Your accredited materials</h1>

<p class="govuk-body-l"><%= @school_cohort.core_induction_programme.name %></p>

<h2 class="govuk-heading-m">Changing your materials</h2>
<p>Each set of accredited materials is different. Before you change your materials:</p>
<ul class='govuk-list govuk-list--bullet'>
  <li>make sure the materials you want to change to are right for your school</li>
  <li>if your early career teachers and mentors have started their programme, they will lose any progress on the service</li>
</ul>

<p class="govuk-body">If you want to change the materials you are using, contact: <%= render MailToSupportComponent.new %></p>
