<tr class="gov-table__row">
  <td scope="row" class="govuk-table__cell govuk-body-s">Output payment</td>
  <td scope="row" class="govuk-table__cell govuk-body-s"><%= 'XX' %></td>
  <td scope="row" class="govuk-table__cell govuk-body-s"></td>
  <td scope="row" class="govuk-table__cell govuk-body-s"></td>
</tr>
