<tr class="govuk-table__row">
  <td class="govuk-table__cell">
    <%= link_to t(course_identifier, scope: %i[courses npq]), finance_npq_lead_provider_statement_course_path(npq_lead_provider, statement.name, id: course_identifier) %>
  </td>

  <td class="govuk-table__cell govuk-table__cell--numeric">
    <%= number_to_pounds(total) %>
  </td>
</tr>
