<table class="govuk-table payment-breakdown-table">
  <tbody>
    <tr class="govuk-table__row">
      <td class="govuk-table__cell"><%= t("finance.submission_deadline") %></td>
      <td class="govuk-table__cell"><%= submission_deadline %></td>
    </tr>
  </tbody>
</table>
