<tr class="gov-table__row">
  <td scope="row" class="govuk-table__cell govuk-body-s">Service fee</td>
  <td scope="row" class="govuk-table__cell govuk-body-s"><%= trainees %></td>
  <td scope="row" class="govuk-table__cell govuk-body-s"><%= number_to_pounds payment_per_trainee %></td>
  <td scope="row" class="govuk-table__cell govuk-body-s"><%= number_to_pounds total %></td>
</tr>
