<tr class="govuk-table__row">
  <td class="govuk-table__cell govuk-!-font-weight-bold">
    <%= t("finance.total_payment") %>
  </td>

  <td class="govuk-table__cell govuk-!-font-weight-bold govuk-table__cell--numeric">
    <%= number_to_pounds aggregated_payment(@breakdowns) + aggregated_vat(@breakdowns, @npq_lead_provider) %>
  </td>
</tr>
