<% content_for :title, "Upload partnership csv" %>
<% content_for :before_content, govuk_back_link( text: "Back", href: lead_providers_report_schools_delivery_partner_path ) %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-xl">Upload a CSV of school URNs</h1>
    <p class="govuk-body">Your CSV must have:</p>
    <ul class="govuk-list govuk-list--bullet">
      <li>one column with the school URNs only (Column A)</li>
      <li>every school on a new row, no empty rows in between</li>
      <li>no other delivery partners</li>
      <li>no other data</li>
    </ul>
    <p class="govuk-body"><strong>Maximum file size:</strong> 2MB</p>

    <%= form_with model: @partnership_csv_upload, url: { action: :create } do |f| %>
      <% if !@partnership_csv_upload.errors[:base].empty? %>
        <div class="govuk-error-summary" aria-labelledby="error-summary-title" role="alert" tabindex="-1" data-module="govuk-error-summary">
          <h2 class="govuk-error-summary__title" id="error-summary-title">
            There is a problem
          </h2>
          <div class="govuk-error-summary__body">
            <ul class="govuk-list govuk-error-summary__list">
            <% @partnership_csv_upload.errors[:base].each do |error| %>
              <li>
                <a href="#csv-error"><%= error %></a>
              </li>
            <% end %>
            </ul>
          </div>
        </div>
      <% end %>

      <%= f.govuk_file_field :csv, label: { text: 'CSV file' }, accept: 'text/csv' %>
      <%= f.govuk_submit "Continue" %>
    <% end %>
  </div>
</div>
