<% content_for :title, "Your support request has been submitted" %>
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-l">Your support request has been submitted</h1>

    <p class="govuk-body">Our support team will reply by email as soon as possible. They may need more information from you.</p>

    <p class="govuk-body">
      <%= govuk_link_to "Return to dashboard", choose_role_path %>
    </p>
  </div>
</div>
