<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-xl">Manage CPD contracts</h1>
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-one-half">
        <h2 class="govuk-heading-m"><%= govuk_link_to "Payment Breakdown", finance_payment_breakdowns_url %></h2>
        <p>Review upcoming payments to providers</p>
      </div>
      <div class="govuk-grid-column-one-half">
        <h2 class="govuk-heading-m"><%= govuk_link_to "Contract Summary", "#" %></h2>
        <p>View all current contract details  </p>
      </div>
    </div>
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-one-half">
        <h2 class="govuk-heading-m"><%= govuk_link_to "Provider dashboard", "#" %></h2>
        <p>Overview of all course providers </p>
      </div>
      <div class="govuk-grid-column-one-half ">
        <h2 class="govuk-heading-m"><%= govuk_link_to "Programme dashboard", "#" %></h2>
        <p>Overview of all programme participants</p>
      </div>
    </div>
  </div>
</div>
