<% content_for :before_content, govuk_back_link(text: "Back", href: registrations_question_two_path) %>
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <%= form_with(model: @school_profile_form, url: registrations_school_profile_path) do |f| %>
      <%= f.govuk_error_summary %>
      <%= f.govuk_text_field(
            :urn,
            width: 20,
            label: { text: "What is your school Unique Reference Number (URN)?", tag: "h1", size: "l" },
            hint: -> { tag.p do
              concat("This is a 6 digit number. Not sure? ")
              concat(govuk_link_to("Search for your school", "https://www.get-information-schools.service.gov.uk/", target: "_blank"))
              concat(" on our register.")
            end
            },
            link_errors: true) %>
      <%= f.govuk_submit "Continue" %>
    <% end %>
  </div>
</div>
