<%=
  admin_participant_header_and_title(
    profile: @participant_profile,
    section: "Change log"
  )
%>

<%= render partial: "admin/participants/nav" %>

<% if @event_list.present? %>
  <%= govuk_table(
    caption: "Change log",
    head: %w[Description Value Reporter Date],
    rows: @event_list.map do |r|
      [
        r.predicate,
        r.value,
        r.reporter,
        r.date&.to_s(:govuk),
      ]
    end,
  ) %>
<% else %>
  <p>No event history for <%= @participant_profile.full_name %>.</p>
<% end %>
