<%=
  admin_participant_header_and_title(
    profile: @participant_profile,
    section: "Audit trail"
  )
%>

<%= render partial: "admin/participants/nav" %>

<% if @event_list.present? %>
  <%= render Admin::Participants::AuditTrailComponent.new(audited_thing: @event_list) %>
<% else %>
  <p>No audit trail available for <%= @participant_profile.full_name %>.</p>
<% end %>
