<% content_for :title, "Check guidance" %>
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <span class="govuk-caption-l"><%= @school.name %></span>
    <h1 class="govuk-heading-xl">Do you know how you want to run <%= @cohort.academic_year %> induction for early career teachers?</h1>
    <p class="govuk-body">You are choosing how you want to run your programme over 2 years.</p>
    <p class="govuk-body">If you want to change your decision, you may need to contact the Department for Education (DfE).</p>
    <h2 class="govuk-heading-m">The 3 approaches you can choose from</h2>
    <p class="govuk-body">Use a training provider, funded by the DfE (sometimes referred to as a ‘full induction programme’).</p>
    <p class="govuk-body">Deliver your own programme using the DfE accredited materials (sometimes referred to as a ‘core induction programme’).</p>
    <p class="govuk-body">Design and deliver your own programme based on the Early Career Framework (ECF).</p>
    <h2 class="govuk-heading-m">If you’re not sure what you want to choose</h2>
    <p class="govuk-body">We have published guidance on:</p>
    <ul class="govuk-list govuk-list--bullet">
      <li>the changes to statutory induction</li>
      <li>the 3 approaches schools can take to run their induction</li>
      <li>how programmes are funded and more</li>
    </ul>

    <p class="govuk-body">See our guidance on <%= govuk_link_to "induction programmes for early career teachers.", "https://www.gov.uk/government/publications/early-career-framework-reforms-overview/early-career-framework-reforms-overview" %>.</p>
    <p class="govuk-body">Schools can also contact their local Teaching School Hub or appropriate body. They can give you more information on the different approaches.</p>
    <p class="govuk-body">If you are part of a MAT (multi academy trust), you may also want to consult them.</p>
    <%= govuk_link_to("Continue", schools_choose_programme_path, button: true)  %>
  </div>
</div>
