<% content_for :pre_form do %>
  <p class="govuk-body">If your school works with more than one, first tell us about the appropriate body appointed for the majority of your ECTs. You can add the others later.</p>
<% end %>
<%= render template: "/appropriate_body_selection/body_type" %>
