<% content_for :title, "Choice saved" %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <%= govuk_panel(
      title: "Your choice has been saved for #{@cohort.academic_year}",
          body: nil,
          classes: "govuk-!-margin-bottom-8",
          html_attributes: { "data-test": "success-panel" }
        ) %>

    <h2 class="govuk-heading-m">What happens next</h2>
    <p class="govuk-body">We will contact <%= @school.name %> in the next academic year.</p>
    <p class="govuk-body">If you do employ early career teachers later this year, you can <%= govuk_link_to "nominate someone to set up your programme", choose_location_request_nomination_invite_path %>.
    </p>
  </div>
</div>
