<% content_for :title, "Programme confirmed" %>
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <%= govuk_panel(
      title: "Induction programme confirmed",
      body: "You can now view the next steps for your programme.",
      classes: "govuk-!-margin-bottom-8") %>

    <%= govuk_link_to("Continue", schools_dashboard_path, button: true)  %>
  </div>
</div>
