<% content_for :title, "Programme confirmed" %>
<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <% title = "You’ve submitted your training information" %>
      <% title += " and reported your appropriate body" if appropriate_body_form.body_appointed? %>

      <%= govuk_panel title_text: title, classes: "govuk-!-margin-bottom-7" do %>
          Academic year<br/>
          <strong><%= @cohort.description %></strong>
      <% end %>

      <h2 class="govuk-heading-m">What to do next</h2>

      <p class="govuk-body">As soon as possible:</p>
      <ul class="govuk-list govuk-!-margin-bottom-7t govuk-list--bullet govuk-list--spaced">
        <% unless appropriate_body_form.body_appointed? %>
          <li>tell us which appropriate body you’ve appointed for your ECTs</li>
        <% end %>
        <li>add the new ECTs and mentors to this service so we can check their eligibility for DfE funding</li>
        <li>use this service to tell us which mentor has been assigned to each ECT</li>
      </ul>

      <% if continue %>
        <%= govuk_link_to("Continue to transfer ECT/Mentor", what_we_need_schools_transferring_participant_path)  %>
      <% else %>
        <%= govuk_link_to("Continue to manage your training", schools_dashboard_path)  %>
      <% end %>
    </div>
</div>
