name: Deploy to Staging

on:
  workflow_dispatch:
    inputs:
      version:
        description: Which version are you creating? ("vx.x.x")
        required: true
      ref:
        description: Git ref to deploy
        required: true
        default: develop
jobs:
  deploy-to-staging:
    runs-on: ubuntu-20.04
    steps:
      - uses: softprops/turnstyle@v1
        name: Check workflow concurrency
        with:
          poll-interval-seconds: 20
          same-branch-only: true
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

      - name: Check tag format
        run: |
          echo ${{ github.event.inputs.version }} | grep -E '^v[0-9]+\.[0-9]+\.[0-9]+$'

      - name: Pin Terraform version
        uses: hashicorp/setup-terraform@v1.4.0
        with:
          terraform_version: 0.14.0

      - uses: actions/checkout@v2
        name: Checkout Code
        with:
          ref: ${{ github.event.inputs.ref }}

      - name: Tag deployment
        run: |
          git tag --force ${{ github.event.inputs.version }}
          git push --force origin refs/tags/${{ github.event.inputs.version }}
          echo "HEAD=$(git rev-parse ${{ github.event.inputs.version }})" >> $GITHUB_ENV

      - name: Login to DockerHub
        uses: docker/login-action@v1
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_DEV_PASSWORD }}

      - name: retag docker image
        run: |
          docker pull dfedigital/early-careers-framework-prod:${{ env.HEAD }}
          docker tag dfedigital/early-careers-framework-prod:${{ env.HEAD }} dfedigital/early-careers-framework-prod:${{ github.event.inputs.version }}
          docker push dfedigital/early-careers-framework-prod:${{ github.event.inputs.version }}

      - name: Deploy to staging
        env:
          AWS_ACCESS_KEY_ID: ${{ secrets.AWS_ACCESS_KEY_ID_STAGING }}
          AWS_SECRET_ACCESS_KEY: ${{ secrets.AWS_SECRET_ACCESS_KEY_STAGING }}
          TF_VAR_paas_user: ${{ secrets.GOVPAAS_STAG_USERNAME }}
          TF_VAR_paas_password: ${{ secrets.GOVPAAS_STAG_PASSWORD }}
          TF_VAR_statuscake_apikey: ${{ secrets.STATUSCAKE_APIKEY }}
        run: |
          export TF_VAR_paas_app_docker_image=dfedigital/early-careers-framework-prod:${{ github.event.inputs.version }}
          cd terraform/app
          terraform init -reconfigure -input=false -backend-config="bucket=paas-s3-broker-prod-lon-e2123d0b-d394-4594-8056-315300e7d8a8"
          terraform apply -input=false -auto-approve -var-file ../workspace-variables/staging.tfvars -var='secret_paas_app_env_values={"RAILS_MASTER_KEY":"${{secrets.RAILS_MASTER_KEY_STAGING}}", "RELEASE_VERSION":"${{github.event.inputs.version}}"}' -var 'logstash_url=${{secrets.SYSLOG_DRAIN_URL}}' -var 'docker_username=${{ secrets.DOCKER_USERNAME }}' -var 'docker_password=${{ secrets.DOCKER_DEV_PASSWORD }}'

      - name: Set release notes
        run: |
          git fetch --tags
          echo "RELEASE_NOTES<<EOF" >> $GITHUB_ENV
          echo "$(git log --first-parent --pretty='format: %b (%an)' $(git tag -l | sort -V | tail -2 | head -1)..${{ github.event.inputs.version }})" >> $GITHUB_ENV
          echo "EOF" >> $GITHUB_ENV

      - name: Post release notes on cpd-dev-alerts
        uses: rtCamp/action-slack-notify@v2.2.0
        env:
          SLACK_CHANNEL: cpd-dev-alerts
          SLACK_USERNAME: Release notes bot
          SLACK_TITLE: Version ${{ github.event.inputs.version }} release notes
          SLACK_MESSAGE: ${{ env.RELEASE_NOTES }}
          MSG_MINIMAL: true
          SLACK_WEBHOOK: ${{ secrets.ALERTMANAGER_SLACK_URL }}
