<h1 class="govuk-heading-l">Delivery partners</h1>

<%= render SubnavComponent.new do |component| %>
  <%= component.nav_item(path: admin_delivery_partner_profiles_path) do %>
    All users
  <% end %>
<% end %>
