<h1 class="govuk-heading-l">Delivery partners</h1>

<%= render SubnavComponent.new do |component| %>
  <%= component.with_nav_item(path: admin_delivery_partners_users_path) do %>
    All users
  <% end %>
<% end %>
