<h2 id="notifying-of-withdrawal" class="govuk-heading-l">Notify that an ECF participant has withdrawn from their course</h2>

<p class="govuk-body-m">This operation allows the provider to tell the DfE that a participant has withdrawn from their ECF course.</p>
<p class="govuk-body-m">A participant that withdraws in a given milestone period after the submission of a retained event for the same period, will be paid for that period.</p>
<p class="govuk-body-m">A participant that withdraws before the started milestone cut-off date will not be paid for by the department.</p>

<h3 class="govuk-heading-m">1. Provider withdraws a participant</h3>

<p class="govuk-body-m">Submit the withdrawal notification to the following endpoint</p>
<p class="govuk-body-m"><code>PUT /api/v1/participants/{id}/withdraw</code></p>
<p class="govuk-body-m">This will return an <a href="/lead-providers/guidance/reference#ecfparticipant-object" class="govuk-link">ECF participant record</a> with the updates to the record included.</p>
<p class="govuk-body-m">See <a href="/lead-providers/guidance/reference#put-api-v1-participants-id-withdraw" class="govuk-link">withdraw ECF participant</a> endpoint.</p>


<h2 id="notifying-of-deferral" class="govuk-heading-l">Notifying that an ECF participant is taking a break from their course</h2>

<p class="govuk-body-m">This operation allows the provider to tell the DfE that a participant has deferred from their ECF course.</p>
<p class="govuk-body-m">A participant is deemed to have deferred from an ECF course if he or she will be resuming it at a later date.</p>

<h3 class="govuk-heading-m">1. Provider defers a participant</h3>

<p class="govuk-body-m">Submit the deferral notification to the following endpoint</p>
<p class="govuk-body-m"><code>PUT /api/v1/participants/{id}/defer</code></p>
<p class="govuk-body-m">This will return an <a href="/lead-providers/guidance/reference#ecfparticipant-object" class="govuk-link">ECF participant record</a> with the updates to the record included.</p>
<p class="govuk-body-m">See <a href="/lead-providers/guidance/reference#put-api-v1-participants-id-defer" class="govuk-link">deferred ECF participant</a> endpoint.</p>


<h2 id="notifying-of-deferral" class="govuk-heading-l">Notify that an ECF participant is changing training schedule</h2>

<p class="govuk-body-m">This operation allows the provider to tell the DfE that a participant has changed training schedules on their ECF course.</p>

<h3 class="govuk-heading-m">1. Provider changes a participants schedule</h3>

<p class="govuk-body-m">Submit the change of schedule notification to the following endpoint</p>
<p class="govuk-body-m"><code>PUT /api/v1/participants/{id}/change-schedule</code></p>
<p class="govuk-body-m">This will return an <a href="/lead-providers/guidance/reference#ecfparticipant-object" class="govuk-link">ECF participant record</a> with the updates to the record included.</p>
<p class="govuk-body-m">See <a href="/lead-providers/guidance/reference#put-api-v1-participants-id-change-schedule" class="govuk-link">deferred ECF participant</a> endpoint.</p>
