<h2 class="govuk-heading-l">Contents</h2>

<ul class="govuk-list govuk-list--bullet">
  <li><a href="#continuing-the-ecf-registration-process" class="govuk-link">Continuing the ECF registration process</a></li>
  <li><a href="#make-a-declaration" class="govuk-link">Making a declaration for an ECF participant</a></li>
  <li><a href="#declaring-that-an-ecf-participant-has-started-their-course" class="govuk-link">Declaring that an ECF participant has started their course</a></li>
  <li><a href="#declaring-that-an-ecf-participant-has-retained-their-course" class="govuk-link">Declaring that an ECF participant has reached a retained milestone</a></li>
  <li><a href="#declaring-that-an-ecf-participant-has-completed-their-course" class="govuk-link">Declaring that an ECF participant has completed their course</a></li>
</ul>

<hr class="govuk-section-break govuk-section-break--visible govuk-!-margin-top-6 govuk-!-margin-bottom-6">

<p class="govuk-body-m">The scenarios on this page show example request URLs and payloads clients can use to take
  actions via this API. The examples are only concerned with business logic and are missing details necessary for
  real-world usage. For example, authentication is completely left out.</p>

<h2 id="continuing-the-ecf-registration-process" class="govuk-heading-l">Continuing the ECF registration process</h2>
<p class="govuk-body-m">This scenario begins when an ECF participant has been added to the service by a school induction
  tutor via the manage training for early career teachers service.</p>

<h3 class="govuk-heading-m">1. Provider retrieves ECF participant records</h3>
<p class="govuk-body-m">Get the ECF participant records.</p>

<p class="govuk-body-m"><pre><code>GET /api/v1/participants</code></pre></p>

<p class="govuk-body-m">This will return <a href="/lead-providers/guidance/reference#multipleecfparticipantsresponse-object" class="govuk-link">multiple ECF participant records</a>.</p>

<p class="govuk-body-m">See <a href="/lead-providers/guidance/reference#get-api-v1-participants" class="govuk-link">retrieve multiple ECF participants</a> endpoint.</p>

<h3 class="govuk-heading-m">2. ECF Participant enters registration details on register for early career framework service</h3>
<p class="govuk-body-m">Participant is invited to continue their registration by validating their TRN and contact details.</p>

<p class="govuk-body-m">When the participant has completed this step the ECF participant record will show;</p>

<ul class="govuk-list govuk-list--bullet">
  <li>whether the email address has been validated</li>
  <li>whether the TRN is valid</li>
  <li>whether the participant has achieved QTS status</li>
  <li>whether the participant is eligible for funding</li>
</ul>

<h3 class="govuk-heading-m">3. Provider refreshes ECF participant records</h3>
<p class="govuk-body-m">Get updated ECF participant records.</p>

<p class="govuk-body-m"><pre><code>GET /api/v1/participants?filter[updated_since]=2021-05-13T11:21:55Z</code></pre></p>

<p class="govuk-body-m">This will return <a href="/lead-providers/guidance/reference#multipleecfparticipantsresponse-object" class="govuk-link">multiple ECF participant records</a> with the updates to the record included.</p>

<p class="govuk-body-m">See <a href="/lead-providers/guidance/reference#get-api-v1-participants" class="govuk-link">retrieve multiple participants</a> endpoint.</p>

<h2 id="make-a-declaration" class="govuk-heading-l">Making a declaration for an ECF participant</h2>

<h3 class="govuk-heading-m">
  What is a declaration?
</h3>
<p class="govuk-body-m">
  A declaration is a message in JSON format sent to the participant-declarations API.
</p>

<p class="govuk-body-m">
  This will allow providers’ own software systems to integrate with our DfE service - these declarations will not need to be made manually by provider data teams.
</p>

<p class="govuk-body-m">
A participant on the ECF programme is defined as either an Early Careers Teacher (ECT) or a mentor.
</p>

<p class="govuk-body-m">
For a participant on a course, a declaration is the formal communication from a lead provider to the department that a training event for a specific participant has happened and can be evidenced on the providers’ platform.
</p>

<p class="govuk-body-m">
  For example, participant Joe Bloggs who started their induction/course on a lead provider platform requires the lead provider to submit a <code>started</code> declaration for Joe Bloggs to the department.
</p>


<h3 class="govuk-heading-m">
Declaration submission?
</h3>

<p class="govuk-body-m">
Declarations provide contractual MI reporting requirements for lead providers.
</p>

<p class="govuk-body-m">
They are the sole means for triggering a milestone payment to a lead provider for a participant.
</p>

<p class="govuk-body-m">
They are submitted in line with the contractual milestones set-out by the DfE.
</p>

<p class="govuk-body-m">
The participant-declarations API will accept the declarations required to trigger payments.
</p>

<p class="govuk-body-m">
The validations process means declarations make sense in relation to the relevant milestone dates and the declarations previously submitted for the participant (available to test link maybe)
</p>

<p class="govuk-body-m">
Invalid declarations will be excluded from the payment calculation. They will be rejected with a specific reason with most rejections being asynchronous initially.
</p>

<p class="govuk-body-m">
In exceptional circumstances where declarations cannot be evidenced on time and thus cannot be submitted on time; the API will accept backdated declarations.The late declaration will need to be backdated appropriately to fall within the relevant milestone period.
</p>

<p class="govuk-body-m">
Only declarations that occured between the appropriate milestone points (inline with contractual milestones) but were retrospectively identified are eligible for backdating.
</p>

<p class="govuk-body-m">
Where declarations have been submitted in error, there will be a support process in place (TBD).
</p>

<h2 id="declaring-that-an-ecf-participant-has-started-their-course" class="govuk-heading-l">Declaring that an ECF participant has started their course</h2>

<p class="govuk-body-m">This scenario begins after it has been confirmed that an ECF participant is ready to begin their induction training.</p>


<h3 class="govuk-heading-m">1. Provider confirms an ECF participant has started</h3>
<p class="govuk-body-m">Confirm an ECF participant has started their induction training before Milestone 1.</p>

<p class="govuk-body-m"><pre><code>POST /api/v1/participant-declarations</code></pre></p>

<p class="govuk-body-m">With a <a href="/lead-providers/guidance/reference#ecfparticipantstarteddeclaration-object" class="govuk-link">request body containing an ECF participant declaration</a>.</p>

<p class="govuk-body-m">This returns <a href="/lead-providers/guidance/reference#participantdeclarationrecordedresponse-object" class="govuk-link">participant declaration recorded</a>.</p>

<p class="govuk-body-m">See <a href="/lead-providers/guidance/reference#post-api-v1-participant-declarations" class="govuk-link">confirm ECF participant declarations</a> endpoint.</p>

<h3 class="govuk-heading-m">2. Provider records the ECF participant declaration id</h3>
<p class="govuk-body-m">Store the returned ECF participant declaration id for future management tasks.</p>

<h2 id="declaring-that-an-ecf-participant-has-retained-their-course" class="govuk-heading-l">Declaring that an ECF participant has been retained</h2>

<p class="govuk-body-m">This scenario begins after it has been confirmed that an ECF participant has completed enough of their course to meet a milestone.</p>
<h3 class="govuk-heading-m">1. Provider confirms an ECF participant has been retained</h3>
<p class="govuk-body-m">
1. Confirm an ECF participant has been retained by the appropriate number of months for this retained event on their ECF course.
</p>

<p class="govuk-body-m">
  An explicit retained-x declaration is required to trigger output payments - this happens when a participant has reached a particular milestone in line with contractual reporting requirements.
</p>

<p class="govuk-body-m"><pre><code>POST /api/v1/participant-declarations</code></pre></p>

<p class="govuk-body-m">With a <a href="/lead-providers/guidance/reference#ecfparticipantretaineddeclaration-object" class="govuk-link">request body containing an ECF participant retained declaration</a>.</p>

<p class="govuk-body-m">This returns <a href="/lead-providers/guidance/reference#participantdeclarationrecordedresponse-object" class="govuk-link">participant declaration recorded</a>.</p>

<p class="govuk-body-m">See <a href="/lead-providers/guidance/reference#post-api-v1-participant-declarations" class="govuk-link">confirm ECF participant declarations</a> endpoint.</p>

<h3 class="govuk-heading-m">2. Provider records the ECF participant declaration id</h3>
<p class="govuk-body-m">Store the returned ECF participant declaration id for future management tasks.</p>


<h2 id="declaring-that-an-ecf-participant-has-completed-their-course" class="govuk-heading-l">Declaring that an ECF participant has completed their course</h2>
<p class="govuk-body-m">This scenario begins after it has been confirmed that an ECF participant has completed their course.</p>
<h3 class="govuk-heading-m">1. Provider confirms an ECF participant has completed their course.</h3>

<p class="govuk-body-m">
  Confirm an ECF participant has completed their ECF course.
</p>
<p class="govuk-body-m">
  An explicit completed declaration is required to trigger output payments - this happens when a participant has reached their final milestone and completed their ECF course.
</p>

<p class="govuk-body-m"><pre><code>POST /api/v1/participant-declarations</code></pre></p>

<p class="govuk-body-m">With a <a href="/lead-providers/guidance/reference#ecfparticipantstarteddeclaration-object" class="govuk-link">request body containing an ECF participant completed declaration</a>.</p>

<p class="govuk-body-m">This returns <a href="/lead-providers/guidance/reference#participantdeclarationrecordedresponse-object" class="govuk-link">participant declaration recorded</a>.</p>

<p class="govuk-body-m">See <a href="/lead-providers/guidance/reference#post-api-v1-participant-declarations" class="govuk-link">confirm ECF participant declarations</a> endpoint.</p>

<h3 class="govuk-heading-m">2. Provider records the ECF participant declaration id</h3>
<p class="govuk-body-m">Store the returned ECF participant declaration id for future management tasks.</p>


