<h2 class="govuk-heading-l">Contents</h2>

<ul class="govuk-list govuk-list--bullet">
  <li><a href="#continuing-the-ecf-registration-process" class="govuk-link">Continuing the ECF registration process</a></li>
  <li><a href="#notifying-of-deferral" class="govuk-link">Notifying that an ECF participant is taking a break from their course</a></li>
  <li><a href="#notifying-of-resume" class="govuk-link">Notifying that an ECF participant is resuming their course</a></li>
  <li><a href="#notifying-of-schedule-change" class="govuk-link">Notifying that an ECF participant is changing training schedule</a></li>
  <li><a href="#notifying-of-withdrawal" class="govuk-link">Notifying that an ECF participant has withdrawn from their course</a></li>
  <li><a href="#declaring-that-an-ecf-participant-has-started-their-course" class="govuk-link">Declaring that an ECF participant has started their course</a></li>
  <li><a href="#declaring-that-an-ecf-participant-has-retained-their-course" class="govuk-link">Declaring that an ECF participant has reached a retained milestone</a></li>
  <li><a href="#declaring-that-an-ecf-participant-has-completed-their-course" class="govuk-link">Declaring that an ECF participant has completed their course</a></li>
  <li><a href="#listing-participant-declaration-submissions" class="govuk-link">Listing participant declaration submissions</a></li>
</ul>

<hr class="govuk-section-break govuk-section-break--visible govuk-!-margin-top-6 govuk-!-margin-bottom-6">

<p class="govuk-body-m">The scenarios on this page show example request URLs and payloads clients can use to take
  actions via this API. The examples are only concerned with business logic and are missing details necessary for
  real-world usage. For example, authentication is completely left out.</p>

<h2 id="continuing-the-ecf-registration-process" class="govuk-heading-l">Continuing the ECF registration process</h2>
<p class="govuk-body-m">This scenario begins when an ECF participant has been added to the service by a school induction
  tutor via the manage training for early career teachers service.</p>

<h3 class="govuk-heading-m">1. Provider retrieves ECF participant records</h3>
<p class="govuk-body-m">Get the ECF participant records.</p>

<p class="govuk-body-m"><pre><code>GET /api/v1/participants</code></pre></p>

<p class="govuk-body-m">This will return <a href="/lead-providers/guidance/reference#multipleecfparticipantsresponse-object" class="govuk-link">multiple ECF participant records</a>.</p>

<p class="govuk-body-m">See <a href="/lead-providers/guidance/reference#get-api-v1-participants" class="govuk-link">retrieve multiple ECF participants</a> endpoint.</p>

<h3 class="govuk-heading-m">2. ECF Participant enters registration details on register for early career framework service</h3>
<p class="govuk-body-m">A participant is invited to continue their registration by validating their TRN and contact details.</p>

<p class="govuk-body-m">When the participant has completed this step the ECF participant record will show;</p>

<ul class="govuk-list govuk-list--bullet">
  <li>whether the email address has been validated</li>
  <li>whether the TRN is valid</li>
  <li>whether the participant has achieved QTS status</li>
  <li>whether the participant is eligible for funding</li>
</ul>

<h3 class="govuk-heading-m">3. Provider refreshes ECF participant records</h3>
<p class="govuk-body-m">Get updated ECF participant records.</p>

<p class="govuk-body-m"><pre><code>GET /api/v1/participants?filter[updated_since]=2021-05-13T11:21:55Z</code></pre></p>

<p class="govuk-body-m">This will return <a href="/lead-providers/guidance/reference#multipleecfparticipantsresponse-object" class="govuk-link">multiple ECF participant records</a> with the updates to the record included.</p>

<p class="govuk-body-m">See <a href="/lead-providers/guidance/reference#get-api-v1-participants" class="govuk-link">retrieve multiple participants</a> endpoint.</p>

<%= render "ecf_usage_participant_actions" %>

<h2 id="declaring-that-an-ecf-participant-has-started-their-course" class="govuk-heading-l">Declaring that an ECF participant has started their course</h2>

<p class="govuk-body-m">This scenario begins after it has been confirmed that an ECF participant is ready to begin their induction training.</p>

<h3 class="govuk-heading-m">1. Provider confirms an ECF participant has started</h3>
<p class="govuk-body-m">Confirm an ECF participant has started their induction training before Milestone 1.</p>

<p class="govuk-body-m"><pre><code>POST /api/v1/participant-declarations</code></pre></p>

<p class="govuk-body-m">With a <a href="/lead-providers/guidance/reference#ecfparticipantstarteddeclaration-object" class="govuk-link">request body containing an ECF participant declaration</a>.</p>

<p class="govuk-body-m">This returns <a href="/lead-providers/guidance/reference#singleparticipantdeclarationresponse-object" class="govuk-link">participant declaration</a>.</p>
<p class="govuk-body-m">This endpoint is idempotent - submitting exact copy of a request will return the same response body as submitting it the first time.</p>

<p class="govuk-body-m">See <a href="/lead-providers/guidance/reference#post-api-v1-participant-declarations" class="govuk-link">confirm ECF participant declarations</a> endpoint.</p>

<h3 class="govuk-heading-m">2. Provider records the ECF participant declaration ID</h3>
<p class="govuk-body-m">Store the returned ECF participant declaration ID for future management tasks.</p>


<h2 id="declaring-that-an-ecf-participant-has-retained-their-course" class="govuk-heading-l">Declaring that an ECF participant has been retained</h2>

<p class="govuk-body-m">This scenario begins after it has been confirmed that an ECF participant has completed enough of their course to meet a milestone.</p>
<h3 class="govuk-heading-m">1. Provider confirms an ECF participant has been retained</h3>
<p class="govuk-body-m">
  1. Confirm an ECF participant has been retained by the appropriate number of months for this retained event on their ECF course.
</p>

<p class="govuk-body-m">
  An explicit <code>retained-x</code> declaration is required to trigger output payments. You should declare this when a participant has reached a particular milestone in line with contractual reporting requirements.
</p>

<p class="govuk-body-m"><pre><code>POST /api/v1/participant-declarations</code></pre></p>

<p class="govuk-body-m">With a <a href="/lead-providers/guidance/reference#ecfparticipantretaineddeclaration-object" class="govuk-link">request body containing an ECF participant retained declaration</a>.</p>

<p class="govuk-body-m">This returns <a href="/lead-providers/guidance/reference#singleparticipantdeclarationresponse-object" class="govuk-link">participant declaration</a>.</p>

<p class="govuk-body-m">See <a href="/lead-providers/guidance/reference#post-api-v1-participant-declarations" class="govuk-link">confirm ECF participant declarations</a> endpoint.</p>

<h3 class="govuk-heading-m">2. Provider records the ECF participant declaration ID</h3>
<p class="govuk-body-m">Store the returned ECF participant declaration ID for future management tasks.</p>


<h2 id="declaring-that-an-ecf-participant-has-completed-their-course" class="govuk-heading-l">Declaring that an ECF participant has completed their course</h2>
<p class="govuk-body-m">This scenario begins after it has been confirmed that an ECF participant has completed their course.</p>
<h3 class="govuk-heading-m">1. Provider confirms an ECF participant has completed their course.</h3>

<p class="govuk-body-m">
  Confirm an ECF participant has completed their ECF course.
</p>
<p class="govuk-body-m">
  An explicit <code>completed</code> declaration is required to trigger output payments. You should declare this when a participant has reached their final milestone and completed their ECF course.
</p>

<p class="govuk-body-m"><pre><code>POST /api/v1/participant-declarations</code></pre></p>

<p class="govuk-body-m">With a <a href="/lead-providers/guidance/reference#ecfparticipantstarteddeclaration-object" class="govuk-link">request body containing an ECF participant completed declaration</a>.</p>

<p class="govuk-body-m">This returns <a href="/lead-providers/guidance/reference#singleparticipantdeclarationresponse-object" class="govuk-link">participant declaration</a>.</p>

<p class="govuk-body-m">See <a href="/lead-providers/guidance/reference#post-api-v1-participant-declarations" class="govuk-link">confirm ECF participant declarations</a> endpoint.</p>

<h3 class="govuk-heading-m">2. Provider records the ECF participant declaration ID</h3>
<p class="govuk-body-m">Store the returned ECF participant declaration ID for future management tasks.</p>

<h2 id="listing-participant-declaration-submissions" class="govuk-heading-l">Listing participant declaration submissions</h2>

<p class="govuk-body-m">This is how you see all the declarations you have made. This functionality allows the provider to check declaration submissions and identify any that are missing.</p>
<p class="govuk-body-m">If declarations are missing, following other guidance by going to <a href="#declaring-that-an-ecf-participant-has-started-their-course" class="govuk-link">Declaring that an ECF participant started their course</a>
</p>

<h3 class="govuk-heading-m">1. Checking all previously submitted declarations</h3>

<p class="govuk-body-m">
  This section lets you review all of the declarations you have made.
</p>

<p class="govuk-body-m">All of your submitted declarations are listed.</p>

<p class="govuk-body-m"><pre><code>GET /api/v1/participant-declarations</code></pre></p>

<p class="govuk-body-m">This returns <a href="/lead-providers/guidance/reference#singleparticipantdeclarationresponse-object" class="govuk-link">participant declarations</a>.</a>

<h3 class="govuk-heading-m">2. Checking a single previously submitted declaration</h3>

<p class="govuk-body-m">
  This section lets you review a single declaration you have made
</p>

<p class="govuk-body-m"><pre><code>GET /api/v1/participant-declarations/{id}</code></pre></p>

<p class="govuk-body-m">This returns <a href="/lead-providers/guidance/reference#singleparticipantdeclarationresponse-object" class="govuk-link">participant declaration</a>.</a>
