<p class="govuk-body-m">If you have any questions or suggestions <%= govuk_link_to "contact us", "mailto:continuing-professional-development@digital.education.gov.uk" %> at <%= govuk_link_to "continuing-professional-development@digital.education.gov.uk", "mailto:continuing-professional-development@digital.education.gov.uk" %>.</p>

<p class="govuk-body-m">We’ll try to get back to you within two working days.</p>
