<h2 class="govuk-heading-l">Contents</h2>

<ul class="govuk-list govuk-list--bullet">
  <li><a href="#continuing-the-npq-registration-process" class="govuk-link">Continuing the NPQ registration process</a></li>
  <li><a href="#about-accept-reject-npq-application" class="govuk-link">About accepting or rejecting an NPQ application</a></li>
  <li><a href="#accept-npq-application" class="govuk-link">Accepting an NPQ application</a></li>
  <li><a href="#reject-npq-application" class="govuk-link">Rejecting an NPQ application</a></li>
  <li><a href="#handling-deferrals" class="govuk-link">Handling deferrals</a></li>
  <li><a href="#handling-changes-circumstances" class="govuk-link">Handling applications with changes in circumstances</a></li>
  <li><a href="#declaring-that-an-npq-participant-has-started-their-course" class="govuk-link">Declaring that an NPQ participant has started their course</a></li>
  <li><a href="#declaring-that-an-npq-participant-has-been-retained" class="govuk-link">Declaring that an NPQ participant has reached a retained milestone</a></li>
  <li><a href="#declaring-that-an-npq-participant-has-completed-their-course" class="govuk-link">Declaring that an NPQ participant has completed their course</a></li>
</ul>

<hr class="govuk-section-break govuk-section-break--visible govuk-!-margin-top-6 govuk-!-margin-bottom-6">

<p class="govuk-body-m">The scenarios on this page show example request URLs and payloads clients can use to take actions
  via this API. The examples are only concerned with business logic and are missing details necessary for real-world
  usage. For example, authentication is completely left out.</p>

<h2 id="continuing-the-npq-registration-process" class="govuk-heading-l">Continuing the NPQ registration process</h2>

<p class="govuk-body-m">This scenario begins when a participant has been added to the service by registering for an NPQ
  course via the register for a national professional qualification (NPQ) service.</p>

<p class="govuk-body-m">When the participant has completed the registration process the NPQ application record will show;</p>

<ul class="govuk-list govuk-list--bullet">
  <li>whether the email address has been validated</li>
  <li>whether the TRN is valid</li>
  <li>whether the participant is eligible for funding</li>
</ul>

<p class="govuk-body-m">
  Once someone has progressed through the GOV.UK registration process, providers are then able to pull this information and initiate their own suitability and application processes.
</p>

<h3 class="govuk-heading-m">1. Provider retrieves NPQ application records</h3>

<p class="govuk-body-m">Get the NPQ application records.</p>

<p class="govuk-body-m"><pre><code>GET /api/v1/npq-applications</code></pre></p>

<p class="govuk-body-m">This will return <a href="/lead-providers/guidance/reference#multiplenpqapplicationsresponse-object" class="govuk-link">multiple NPQ application records</a>.</p>

<p class="govuk-body-m">See <a href="/lead-providers/guidance/reference#get-api-v1-npq-applications" class="govuk-link">retrieve multiple NPQ applications</a> endpoint.</p>

<h3 class="govuk-heading-m">2. Provider refreshes NPQ application records</h3>

<p class="govuk-body-m">Get updated NPQ application records.</p>

<p class="govuk-body-m"><pre><code>GET /api/v1/npq-applications?filter[updated_since]=2021-05-13T11:21:55Z</code></pre></p>

<p class="govuk-body-m">This will return <a href="/lead-providers/guidance/reference#multiplenpqapplicationsresponse-object" class="govuk-link">multiple NPQ application records</a> with the updates to the record included.</p>

<p class="govuk-body-m">See <a href="/lead-providers/guidance/reference#get-api-v1-npq-applications" class="govuk-link">retrieve multiple NPQ applications</a> endpoint.</p>

<h2 id="about-accept-reject-npq-application" class="govuk-heading-l">
  About accepting or rejecting an NPQ application
</h2>

<p class="govuk-body-m">
  In order for DfE to understand if a person has been successful throughout these processes, we require you to submit an acceptance or rejection status. This will need to be submitted for each participant you wish to train before starting their NPQ course.
</p>

<p class="govuk-body-m">
  Accepting or rejecting a participant is separate and distinct from a “started declaration”, which will be collected as part of the tracking and payment process. More <a href="#declaring-that-an-npq-participant-has-started-their-course" class="govuk-link">information about declarations</a> can be found further down this page. We will only be able to make payments for participants who are in an “application accepted” state.
</p>

<p class="govuk-body-m">
  Providers should accept a participant if they have been successful in their NPQ application and you wish to enroll them on their chosen NPQ course. Reasons may include but not limited to:
</p>

<ul class="govuk-list govuk-list--bullet">
  <li>participant has had their funding confirmed</li>
  <li>participant is suitable for their chosen NPQ course</li>
  <li>participant has the relevant support from their school</li>
</ul>

<p class="govuk-body-m">
  Providers should reject a participant if they have not been successful in their NPQ application. Reasons may include but not limited to:
</p>

<ul class="govuk-list govuk-list--bullet">
  <li>participant wishes to go with another provider</li>
  <li>participant wishes to take on another course</li>
  <li>participant no longer wishes to take the course</li>
  <li>participant was not successful in their application process</li>
</ul>

<p class="govuk-body-m">
  Regardless of the outcome of the application you must inform the participant of the outcome of their NPQ application. You may wish to provide them with feedback or ideas about next steps.
</p>

<h3 id="accept-npq-application" class="govuk-heading-m">
  Accept an NPQ application
</h3>

<p class="govuk-body-m">
  This scenario begins after a participant has been added to the service by registering for an NPQ course
</p>

<h4 class="govuk-heading-s">
  1. Provider accepts an NPQ application
</h4>

<p class="govuk-body-m">You can accept someone if they have successfully completed all application steps ahead of starting their course.</p>

<p class="govuk-body-m">
  <code>POST /api/v1/npq-applications/{id}/accept</code>
</p>

<p class="govuk-body-m">This returns an
  <a href="/lead-providers/guidance/reference#npqapplicationresponse-object" class="govuk-link">NPQ application record</a>.
</p>

<h3 id="reject-npq-application" class="govuk-heading-m">
  Reject an NPQ application
</h3>

<p class="govuk-body-m">
  This scenario begins after a participant has been added to the service by registering for an NPQ course
</p>

<h4 class="govuk-heading-s">
  1. Provider rejects an NPQ application
</h4>

<p class="govuk-body-m">You will need to reject someone if you will be unable to train them. For example they have failed the rest of their application, have decided against studying an NPQ or are unable to secure funding.</p>

<p class="govuk-body-m">
  <code>POST /api/v1/npq-applications/{id}/reject</code>
</p>

<p class="govuk-body-m">This returns an
  <a href="/lead-providers/guidance/reference#npqapplicationresponse-object" class="govuk-link">NPQ application record</a>.
</p>

<h3 id="handling-deferrals" class="govuk-heading-m">
  Handling deferrals
</h3>

<p class="govuk-body-m">
  If a participant wishes to defer you can accept the participant to show they are enrolled. You should only send the started declaration once the participant has started the course.
</p>

<h3 id="handling-changes-circumstances" class="govuk-heading-m">
  Handling applications with changes in circumstances
</h3>

<p class="govuk-body-m">
  There are many possible reasons why there might be a change in circumstances of an application. These may include:
</p>

<ul class="govuk-list govuk-list--bullet">
  <li>participant selected incorrect course during their application</li>
  <li>participant made a mistake during their application</li>
  <li>participant now wishes to take another course instead</li>
  <li>participant now wishes to fund their NPQ differently</li>
</ul>

<p class="govuk-body-m">
  If there is a mistake in the application for example where a participant registers for a one NPQ programme but wishes to change to another programme after registration. The provider should reject that participant and ask them to re-register on the NPQ registration service and enter the correct details. Once the new application is available you can then accept.
</p>

<h2 id="declaring-that-an-npq-participant-has-started-their-course" class="govuk-heading-l">
  Declaring that an NPQ participant has started their course
</h2>
<p class="govuk-body-m">
  This scenario begins after it has been confirmed that an NPQ participant is ready to begin their induction training.
</p>

<h3 class="govuk-heading-m">1. Provider confirms an NPQ participant has started</h3>
<p class="govuk-body-m">Confirm an NPQ participant has started their induction training before Milestone 1.</p>
<p class="govuk-body-m">
  <code>POST /api/v1/participant-declarations</code>
</p>
<p class="govuk-body-m">With a request body containing an
  <a href="/lead-providers/guidance/reference#npqparticipantstarteddeclaration-object" class="govuk-link">
    NPQ participant declaration
  </a>.
</p>
<p class="govuk-body-m">This returns
  <a href="/lead-providers/guidance/reference#participantdeclarationrecordedresponse-object" class="govuk-link">
    participant declaration recorded
  </a>.
</p>
<p class="govuk-body-m">See
  <a href="/lead-providers/guidance/reference#post-api-v1-participant-declarations" class="govuk-link">
    confirm NPQ participant declarations
  </a>
  endpoint.
</p>

<h3 class="govuk-heading-m">2. Provider records the NPQ participant declaration ID</h3>
<p class="govuk-body-m">Store the returned NPQ participant declaration ID for future management tasks.</p>

<h2 id="declaring-that-an-npq-participant-has-been-retained" class="govuk-heading-l">
  Declaring that an NPQ participant has reached a retained milestone
</h2>
<p class="govuk-body-m">
  This scenario begins after it has been confirmed that an NPQ participant has completed enough of their course to reach a milestone
</p>

<h3 class="govuk-heading-m">1. Provider confirms an NPQ participant has been retained</h3>
<p class="govuk-body-m">
  Confirm an NPQ participant has been retained by the appropriate number of months for this retained event on their NPQ course.
</p>

<p class="govuk-body-m">
  An explicit <code>retained-x</code> declaration is required to trigger output payments once a participant has reached a particular milestone. You should declare this when a participant has reached a particular milestone in line with contractual reporting requirements.
</p>

<p class="govuk-body-m">
  <code>POST /api/v1/participant-declarations</code>
</p>
<p class="govuk-body-m">With a request body containing an
  <a href="/lead-providers/guidance/reference#npqparticipantretaineddeclaration-object" class="govuk-link">
    NPQ participant declaration
  </a>.
</p>
<p class="govuk-body-m">This returns
  <a href="/lead-providers/guidance/reference#participantdeclarationrecordedresponse-object" class="govuk-link">
    participant declaration recorded
  </a>.
</p>
<p class="govuk-body-m">See
  <a href="/lead-providers/guidance/reference#post-api-v1-participant-declarations" class="govuk-link">
    confirm NPQ participant declarations
  </a>
  endpoint.
</p>

<h3 class="govuk-heading-m">2. Provider records the NPQ participant declaration ID</h3>
<p class="govuk-body-m">Store the returned NPQ participant declaration ID for future management tasks.</p>

<h2 id="declaring-that-an-npq-participant-has-completed-their-course" class="govuk-heading-l">
  Declaring that an NPQ participant has completed their course
</h2>
<p class="govuk-body-m">
  This scenario begins after it has been confirmed that an NPQ participant has completed their course.
</p>

<h3 class="govuk-heading-m">1. Provider confirms an NPQ participant has completed their course.</h3>
<p class="govuk-body-m">
  Confirm an NPQ participant has completed their NPQ course.
</p>

<p class="govuk-body-m">
  An explicit <code>completed</code> declaration is required to trigger output payments. You should declare this once a participant has reached their final milestone and finished their NPQ course.
</p>

<p class="govuk-body-m">
  <code>POST /api/v1/participant-declarations</code>
</p>
<p class="govuk-body-m">With a request body containing an
  <a href="/lead-providers/guidance/reference#npqparticipantstarteddeclaration-object" class="govuk-link">
    NPQ participant declaration
  </a>.
</p>
<p class="govuk-body-m">This returns
  <a href="/lead-providers/guidance/reference#participantdeclarationrecordedresponse-object" class="govuk-link">
    participant declaration recorded
  </a>.
</p>
<p class="govuk-body-m">See
  <a href="/lead-providers/guidance/reference#post-api-v1-participant-declarations" class="govuk-link">
    confirm NPQ participant declarations
  </a>
  endpoint.
</p>

<h3 class="govuk-heading-m">2. Provider records the NPQ participant declaration ID</h3>
<p class="govuk-body-m">Store the returned NPQ participant declaration ID for future management tasks.</p>
