<p class="govuk-body-m">
  If you have any questions or comments about these notes, please contact DfE via Slack or email.
</p>

<h2 class="govuk-heading-l">10th September 2021</h2>
<p class="govuk-body-m">Ability to resume participants on a course.</p>

<h2 class="govuk-heading-l">9th September 2021</h2>
<p class="govuk-body-m">Added new action to retrieve a single participant declaration by ID</p>

<h2 class="govuk-heading-l">8th September 2021</h2>
<p class="govuk-body-m">Ability to defer participants on a course.</p>

<h2 class="govuk-heading-l">7th September 2021</h2>
<p class="govuk-body-m">Standardise date filtering parameters between different api endpoints.</p>

<h2 class="govuk-heading-l">19th July 2021</h2>
<p class="govuk-body-m">Initial release of the NPQ usage guide.</p>

<h2 class="govuk-heading-l">1st July 2021</h2>
<p class="govuk-body-m">Initial release of the API reference documentation.</p>
