<p class="govuk-body-m">
  The dates in this file tend to correspond to the time the code was written - which might be slightly before it was released.
  This is to minimise the overhead during deployments.

  If the notes are unclear or incomplete, contact DfE via Slack (preferably) or ia email.
</p>


<h2 class="govuk-heading-l">6th September 2021</h2>
<p class="govuk-body-m">Rebooting changelog - planning to use this page much more consistently from now on.</p>

<h2 class="govuk-heading-l">19th July 2021</h2>
<p class="govuk-body-m">Initial release of the NPQ usage guide.</p>

<h2 class="govuk-heading-l">1st July 2021</h2>
<p class="govuk-body-m">Initial release of the API reference documentation.</p>
