<h2 class="govuk-visually-hidden">Support links</h2>
<ul class="govuk-footer__inline-list">
  <li class="govuk-footer__inline-list-item">
    <%= link_to "Privacy", privacy_policy_path, class: "govuk-footer__link" %>
  </li>
  <li class="govuk-footer__inline-list-item">
    <%= link_to "Cookies", cookies_path, class: "govuk-footer__link" %>
  </li>
  <li class="govuk-footer__inline-list-item">
    <%= link_to "Accessibility", accessibility_statement_path, class: "govuk-footer__link" %>
  </li>
</ul>