<h2 class="govuk-heading-m">Support and guidance</h2>
<p class="govuk-body-s">
  If you have a question, or you've had a problem using this service, please contact us at
  <a href="mailto:continuing-professional-development@digital.education.gov.uk" class="govuk-footer__link">
    continuing-professional-development@digital.education.gov.uk
  </a>
</p>
<ul class="govuk-footer__inline-list">
  <li class="govuk-footer__inline-list-item">
    <%= link_to "Privacy", privacy_policy_path, class: "govuk-footer__link" %>
  </li>
  <li class="govuk-footer__inline-list-item">
    <%= link_to "Cookies", cookies_path, class: "govuk-footer__link" %>
  </li>
  <li class="govuk-footer__inline-list-item">
    <%= link_to "Accessibility", accessibility_statement_path, class: "govuk-footer__link" %>
  </li>
</ul>
