<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h2 class="govuk-heading-l">Your need to verify your email</h2>
    <ul class="govuk-list govuk-list--bullet">
      <li>check your email for our verification link (it may be in your spam or junk folder)</li>
      <li>or <%= govuk_link_to "register again", users_new_path %> in 24 hours</li>
    </ul>
  </div>
</div>
