<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h2 class="govuk-heading-l">Your school has already registered.</h2>
    <p>If you registered your school, <%= govuk_link_to "Sign in", new_session_path(resource_name) %></p>
    <p>Check with your colleagues if it was not you.</p>
  </div>
</div>
