<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h2 class="govuk-heading-l">Sign up</h2>

    <%= form_for(:induction_coordinator_profile, url: "/check_registration_email") do |f| %>

      <%= f.govuk_email_field :email, autocomplete: "email" %>

      <%= f.govuk_submit "Sign up" %>
    <% end %>

  </div>
</div>
