<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h2 class="govuk-heading-l">Register as the induction coordinator for your school</h2>
    <p>In order to register, we need your email address</p>

    <%= form_for(:induction_coordinator_profile, url: users_check_email_path) do |f| %>

      <%= f.govuk_email_field(
            :email,
            label: { text: "Email address" },
            hint: { text: "This should be the email address provided by your school" },
            autocomplete: "email")
      %>

      <%= f.govuk_submit "Sign up" %>
    <% end %>

  </div>
</div>
