<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h2 class="govuk-heading-m">You have already registered with this email address.</h2>
    <%= govuk_link_to "Sign in", user_session_path, button: true %>
  </div>
</div>
