<div class="govuk-grid-row">
  <div class="confirmed-banner govuk-grid-column-full-width">
    <%= govuk_panel title: "Verify your email", body: nil %>
  </div>
  <div class="govuk-grid-column-two-thirds">
    <p class="govuk-body govuk-!-margin-top-5">We have sent you a link to verify your email. This will expire in 24 hours.</p>
    <p class="govuk-body govuk-!-margin-bottom-2">It may be in your spam or junk folder</p>
    <p class="govuk-body govuk-!-font-weight-bold">If you don't get an email</p>
    <p class="govuk-body">contact us: <%= mail_to "ecf-support@digital.education.gov.uk" %></p>
  </div>
</div>
